﻿    @model JaguaEntityModel.producto
    @{
        ViewBag.Title = "Nuevo Servicio";
    }
    <head>
        <script>

        </script>
    </head>
    <body>
        <div class="container-fluid">
            <div class="card strpied-tabled-with-hover">
                <div class="card-header">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                    <div class="form-horizontal">
                        <h4><i class="fa fa-bath" style="color:mediumpurple"></i><i class="fa fa-fa-shower" style="color:mediumpurple"></i><i class="fa fa-fa-scissors" style="color:mediumpurple"></i> &nbsp;<b>Servicios</b></h4>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.id_producto)
                        @Html.HiddenFor(model => model.id_tipo_producto)
                        <div class="form-group">
                            <div class="col-md-3">
                                <label>Descripcion de Servicio</label>
                                @Html.TextBox("descripcion", null, new { @class = "form-control", required = "required", @maxlength = "50" })
                                @Html.ValidationMessageFor(model => model.descripcion, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <label>Precio</label>
                                @Html.TextBox("precio", null, new { @class = "form-control", required = "required" })
                                @Html.ValidationMessageFor(model => model.precio, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <label>Duracion</label>
                                @Html.TextBox("duracion", null, new { @class = "form-control", @type = "time", required = "required" })
                                @Html.ValidationMessageFor(model => model.duracion, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <label>Estado</label>
                                @Html.DropDownList("estado", new SelectList(new List<object>
                                        {
                                        new { value = "", text = "--Seleccionar--"},
                                        new { value = "A", text = "ACTIVO"},
                                        new { value = "I", text = "INACTIVO"},
                                        },
                                 "value",
                                 "text"), new { @class = "form-control", required = "required" })
                            </div>
                        </div>
                    </div>
                        <hr />
                        <div class="pull-right">
                            <button type="submit" title="Guardar" class="btn btn-wd btn-facebook">
                                <i class="fa fa-check-square-o"></i>
                                Guardar
                            </button>
                            <a href="@Url.Action("Index", "Servicios")" title="" class="btn btn-wd btn-info btn-outline" style="" data-original-title="Atras">
                                Cancelar
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </body>