﻿@using PagedList.Mvc;
@model PagedList.IPagedList<JaguaEntityModel.permiso>

@{
    ViewBag.Title = "Index";
    var permisos = Jagua.Clases.SessionManager.ValidarPermisos("usuarios");
    var Insert = (permisos != null ? permisos.insertar : false);
    var Editar = (permisos != null ? permisos.modificar : false);
    var Eliminar = (permisos != null ? permisos.eliminar : false);
    var Ejecutar = (permisos != null ? permisos.ejecutar : false);
}

<head>
    <script type="text/javascript">
        $(document).ready(function () {
            $("[name=btnBuscar]").click(function () {
                $("#frmList").attr("action", "/Usuarios/Index/");
                $("#frmList").submit();

            });
        });
    </script>

    <!--En esta parte se define el estilo del botón de búsqueda-->
    <style>
        button {
            background: none; /*no tiene color de fondo*/
            border: 0; /*no tiene borde*/
        }
    </style>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">

    <meta name="viewport" content="width=device-width" />
    <!--Bootstrap css cdn--->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!---Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!--Bootstrap js cdn-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="card table-with-links table-responsive">
        <div class="card-header">
            @if (!Ejecutar)
            {
                <script>
                    alert("Usted no tiene permisos para ver esta página consulte con el Administrador!");
                    location.href = "/Home"
                </script>
            }
            @using (Html.BeginForm("Index", "Permiso", FormMethod.Post, new { id = "frmList" }))
            {
                <div class="pull-right">
                    @if (Insert)
                    {
                        <a href="@Url.Action("Create") " rel="tooltip" title="" class="fa fa-user-plus" style="font-size: 22px; margin-top:60px; padding-right:40px" data-original-title="Nuevo Usuario"></a>
                    }
                    </div>
                <h2>Permisos</h2>
                <div class="row">
                    <div class="col-sm-3">
                        @Html.TextBox("searchString", (String)ViewBag.searchString, new { @class = "form-control", @placeholder = "Buscar..." })
                    </div>
                    <button type="submit" name="btnBuscar" title="Buscar registros" class="btn btn-simple btn-success btn-outline" style="">
                        <i class="nc-icon nc-zoom-split icon-bold" style="font-size: 20px" aria-hidden="true"></i>
                    </button>
                </div>
            }
        </div>
    </div>

    <div class="card table-responsive">
        <div class="card-body table-responsive">
            <table class="table">
                <tr>
                    <th>
                        Nombre
                    </th>
                    <th>
                       Descripción
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    using (Html.BeginForm("Delete", "Permiso", new { id = item.id_permiso }))
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.descripcion)
                        </td>
                        <td class="td-actions text-right">
                            @if (Editar)
                            {
                                <a href="@Url.Action("Edit", new { id = item.id_permiso })" rel="tooltip" title="" class="btn btn-success btn-link btn-xs" data-original-title="Editar">
                                    <i class="fa fa-edit"></i>
                                </a>
                            }
                            @if (Eliminar)
                            {
                                <button type="submit" value="Delete" onclick="return confirm('Está seguro de eliminar?') " rel="tooltip" title="" class="btn btn-danger btn-link btn-xs" data-original-title="Eliminar" />
                                <i class="fa fa-times"></i>
                            }
                            </td>
                    </tr>
                    }
                }

            </table>

            <div class="pull-right">
                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

                @Html.PagedListPager(Model, page => Url.Action("Index",
                   new { page, currentFilter = ViewBag.CurrentFilter }))
            </div>
        </div>
    </div>
</body>