﻿@model IEnumerable<JaguaEntityModel.ficha>
@{
	Layout = "~/Views/Shared/_LayoutModal.cshtml";
	ViewBag.Title = "Index";

	JaguaEntityModel.JaguaEntities db = new JaguaEntityModel.JaguaEntities();
	var laboratorio = db.laboratorio.ToList();
}
<head>
	<script>
        function selLab(id_lab, nombre) {
            $("#examen").val("" + nombre + "").change();
            $("#id_laboratorio").val("" + id_lab + "");
			 $("#modalLaboratorio").modal('hide');
        }
	</script>
</head>


<table class="table">
	<thead>
		<tr>
			<th>Id</th>
			<th style="width:200px;">Nombre</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var m in laboratorio)
		{
			<tr>
				<td><span id=@m.id_laboratorio>@m.id_laboratorio </span></td>
				<td><span id='no@sc.id'>@m.nombre</span></td>
				<td><a href='javascript:selLab(@m.id_laboratorio ,"@m.nombre")' class='btn btn-primary'>Seleccionar</a></td>
			</tr>
		}
	</tbody>
</table>
