﻿@model IEnumerable<JaguaEntityModel.ficha>
@{
	Layout = "~/Views/Shared/_LayoutModal.cshtml";
	ViewBag.Title = "Index";

	JaguaEntityModel.JaguaEntities db = new JaguaEntityModel.JaguaEntities();
	var listaVacunas = db.vacuna.ToList();
}
<head>
	<script>
		function Sel_Vacuna(id_vacuna, nombre) {
            $("#vacuna").val("" + nombre + "").change();
            $("#id_vacuna").val("" + id_vacuna + "");
			 $("#vacunasList").modal('hide');
        }
	</script>
</head>


<table class="table">
	<thead>
		<tr>
			<th>Id</th>
			<th style="width:200px;">Nombre</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var m in listaVacunas)
		{
			<tr>
				<td><span id=@m.id_vacuna>@m.id_vacuna </span></td>
				<td><span id='no@sc.id'>@m.nombre</span></td>
				<td><a href='javascript:Sel_Vacuna(@m.id_vacuna ,"@m.nombre")' class='btn btn-primary'>Seleccionar</a></td>
			</tr>
		}
	</tbody>
</table>
