﻿@model JaguaEntityModel.paciente

@{
    ViewBag.Title = "Delete";
}

<h3>Está seguro de eliminar el registro?</h3>
<div>
    <h4>Paciente</h4>
    <hr />
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card strpied-tabled-with-hover">
                        <div class="card-header ">
                            <dl class="dl-horizontal">

                                <dt>Nombre</dt>
                                <dd>@Html.DisplayFor(model => model.nombre)</dd>

                                <dt>Fecha de Nacimiento</dt>
                                <dd>@Html.DisplayFor(model => model.fecha_nac)</dd>

                                <dt>Raza</dt>
                                <dd>@Html.DisplayFor(model => model.raza.descripcion)</dd>

                                <dt>Sexo</dt>
                                <dd>@Html.DisplayFor(model => model.sexo)</dd>

                                <dt>Color</dt>
                                <dd>@Html.DisplayFor(model => model.color)</dd>

                                <dt>Cliente</dt>
                                <dd>@Html.DisplayFor(model => model.cliente.nombre)</dd>

                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Cancelar", "Index")
        </div>
    }
</div>
