﻿﻿@model JaguaEntityModel.paciente
@{
    ViewBag.Title = "Detalle";
    //var permisos = Jagua.Clases.SessionManager.ValidarPermisos("Pacientes");
    //var Ejecutar = (permisos != null ? permisos.ejecutar : false);
}
<head>
    <script src="~/Content/assets/js/plugins/bootstrap-datepicker.js"></script>
    <script src="~/Content/assets/js/plugins/bootstrap-datetimepicker.js"></script>

</head>
<body>
    <div class="card strpied-tabled-with-hover">
        <div class="card-header ">
            @*@if (!Ejecutar)
                {
                    <script>
                        $(document).ready(function () {
                            SinAcceso();
                        });
                    </script>
                }*@
            @using (Html.BeginForm())
            {
                <fieldset disabled="disabled">
                    <div class="pull-right">
                        @*<a href="@Url.Action("Index", "Pacientes")" title="Atrás" class="fa fa-mail-reply" style="font-size:30px; padding-right:100px"></a>*@
                    </div>
                    <div class="form-horizontal">
                        <h4><i class="fa fa-eye" style="color:coral; margin-right:10px;"></i><b>Paciente</b></h4>
                        @Html.HiddenFor(model => model.id_paciente)
                        <label style="color:black;">Datos Básicos</label>
                        <hr />
                        <div class="row">
                            <div class="col-md-6">
                                <label>Nombre</label>
                                @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control", required = "required", placeholder = "Nombre", @maxlength = "50" } })
                            </div>
                            <div class="col-md-6">
                                <label>Dueño</label>
                                @Html.TextBox("cliente", null, new { @class = "form-control" })
                                @Html.HiddenFor(model => model.id_cliente)
                            </div>
                        </div>
                        <label style="color:black;">
                            Características
                        </label>
                        <hr />
                        <div class="row">
                            <div class="col-sm-6">
                                <label>Fecha de Nacimiento</label>
                                <input type="text" value="@Model.fecha_nac.Value.ToString("dd/MM/yyyy")" class="form-control" />
                            </div>
                            <div class="col-sm-6">
                                <label>Sexo</label>
                                @Html.DropDownList("sexo", new SelectList(new List<object>
                                            {
                                            new { value = "", text = "--Seleccionar--"},
                                            new { value = "M", text = "MACHO"},
                                            new { value = "H", text = "HEMBRA"},
                                            },
                                   "value",
                                   "text", (String)ViewBag.sexo), new { @class = "form-control", required = "required" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <label>Especie</label>
                                @Html.DropDownList("id_especie", null, "--Seleccionar--", new { @class = "form-control", required = "required" })
                                @Html.ValidationMessageFor(model => model.id_especie, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-sm-6">
                                <label>Raza</label>
                                @Html.DropDownList("id_raza", null, "--Seleccionar--", new { @class = "form-control", required = "required" })
                                @Html.ValidationMessageFor(model => model.id_raza, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Color</label>
                                @Html.EditorFor(model => model.color, new { htmlAttributes = new { @class = "form-control", required = "required", placeholder = "Color", @maxlength = "50" } })
                                @Html.ValidationMessageFor(model => model.color, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-sm-6">
                                <label>Tamaño</label>
                                @Html.DropDownList("tamaño", new SelectList(new List<object>
                                        {
                                        new { value = "", text = "--Seleccionar--"},
                                        new { value = "PEQUEÑO", text = "PEQUEÑO"},
                                        new { value = "MEDIANO", text = "MEDIANO"},
                                        new { value = "GRANDE", text = "GRANDE"},
                                        },
                                 "value",
                                 "text"), new { @class = "form-control", required = "required" })
                                @Html.ValidationMessageFor(model => model.tamaño, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="pull-right">
                        </div>
                    </div>
                </fieldset>
            }
        </div>
    </div>

</body>



