﻿@model JaguaEntityModel.paciente

@{
    ViewBag.Title = "Editar";
    var permisos = Jagua.Clases.SessionManager.ValidarPermisos("Pacientes");
    var Ejecutar = (permisos != null ? permisos.ejecutar : false);
    var Insert = (permisos != null ? permisos.insertar : false);
}
<head>
    <script src="~/Content/assets/js/plugins/bootstrap-datepicker.js"></script>
    <script src="~/Content/assets/js/plugins/bootstrap-datetimepicker.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#btnNuevoCliente").click(function () {
                $("#modalNuevoCliente").modal();
                $("#modalNuevoCliente").modal('show');
            });

            $("#btnGuardarNuevoCliente").click(function () {
				if ($("#id_tipo_documento_nuevo").val() == "" || $("#nro_documento_nuevo").val() == "" || $("#nombre_nuevo").val() == "" || $("#apellido_nuevo").val() == "") {
					swal({
						text: "Campos de cliente requeridos!",
						type: "warning"
					});
				}
				else {
				var id_tipo_documento = parseInt($("#id_tipo_documento_nuevo").val());
				var nro_documento = $("#nro_documento_nuevo").val();
				var nombre = $("#nombre_nuevo").val();
				var apellido = $("#apellido_nuevo").val();

				$.ajax({
					type: 'POST',
					url: '@Url.Action("guardarNuevoCliente","Pacientes")',
					data: ({ id_tipo_documento: id_tipo_documento, nro_documento: nro_documento, nombre: nombre, apellido: apellido  }),
					dataType: 'JSON',
                    success: function (data) {
						if (data == "0") { //si el controlador retorno 0 es porque la ci ya esta agregada
							swal({
								text: "El cliente ya existe!",
								type: "warning"
							});
							$("#modalNuevoCliente").modal('hide');
							$("#cedula").focus();
						} else {
							var nombre_cliente = nombre + ' ' + apellido;
                            $("#cliente").val(nombre_cliente);
                            $("#id_cliente").val(data);

							swal({
								text: "Cliente Agregado Correctamente!",
								type: "success"
							});
							$("#modalNuevoCliente").modal('hide');
						}
					},
					error: function () {
						alert("Error al Guardar Cliente!")
					}
					});
				}
            });

            $("#cli").click(function () {
                $("#listaClientes").modal();
                $("#listaClientes").modal('show');
            });

        });

    </script>
</head>
<body>
    <div class="container-fluid">
        <div class="card strpied-tabled-with-hover">
            <div class="card-header ">
                @if (!Ejecutar)
                {
                    <script>
                        $(document).ready(function () {
                            SinAcceso();
                        });
                    </script>
                }
                @using (Html.BeginForm())
                {
                    <fieldset>
                        @Html.AntiForgeryToken()
                        <div class="form-horizontal">
                            <h4><i class="fa fa-paw" style="color:mediumpurple"></i> &nbsp;<b>Editar Paciente</b></h4>
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.id_paciente)
                            <h6 style="font-size:12px">Datos Básicos</h6>
                            <div class="row">
                                <div class="col-md-4">
                                    <label>Nombre</label>
                                    @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control", required = "required", placeholder = "Nombre", @maxlength = "50" } })
                                    @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-4">
                                    <label>Dueño</label>
                                    @Html.TextBox("cliente", null, new { @class = "form-control", required = "required" })
                                    @Html.Hidden("id_cliente")
                                </div>
                                @if (Insert)
                                {
                                    <button type="button" style="margin-top:20px; color:black; margin-right:10px;" class="btn btn-outline btn-info" id="btnNuevoCliente">
                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                        Nuevo Cliente
                                    </button>
                                }
                            </div>
                            <h6 style="font-size:12px">Características</h6>
                            <div class="row">
                                <div class="col-md-2">
                                    <label>Fecha de Nacimiento</label>
                                    @Html.EditorFor(model => model.fecha_nac, new { htmlAttributes = new { @class = "form-control", type = "datetime", required = "required" } })
                                    @Html.ValidationMessageFor(model => model.fecha_nac, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-2">
                                    <label>Sexo</label>
                                    @Html.DropDownList("sexo", new SelectList(new List<object>
                                                {
                                                new { value = "", text = "--Seleccionar--"},
                                                new { value = "M", text = "MACHO"},
                                                new { value = "H", text = "HEMBRA"},
                                                },
                                       "value",
                                       "text", (String)ViewBag.sexo), new { @class = "form-control", required = "required" })
                                </div>
                                <div class="col-md-2">
                                    <label>Especie</label>
                                    @Html.DropDownList("id_especie", null, "--Seleccionar--", new { @class = "form-control", required = "required" })
                                    @Html.ValidationMessageFor(model => model.id_especie, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-2">
                                    <label>Raza</label>
                                    @Html.DropDownList("id_raza", null, "--Seleccionar--", new { @class = "form-control", required = "required" })
                                    @Html.ValidationMessageFor(model => model.id_raza, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label>Color</label>
                                    @Html.EditorFor(model => model.color, new { htmlAttributes = new { @class = "form-control", required = "required", placeholder = "Color", @maxlength = "50" } })
                                    @Html.ValidationMessageFor(model => model.color, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-2">
                                    <label>Tamaño</label>
                                    @Html.DropDownList("tamaño", new SelectList(new List<object>
                                            {
                                            new { value = "", text = "--Seleccionar--"},
                                            new { value = "PEQUEÑO", text = "PEQUEÑO"},
                                            new { value = "MEDIANO", text = "MEDIANO"},
                                            new { value = "GRANDE", text = "GRANDE"},
                                            },
                                     "value",
                                     "text"), new { @class = "form-control", required = "required" })
                                    @Html.ValidationMessageFor(model => model.tamaño, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="pull-right">
                            <button type="submit" title="Guardar" class="btn btn-wd btn-facebook">
                                <i class="fa fa-check-square-o"></i>
                                Guardar
                            </button>
                            <a href="@Url.Action("Index", "Pacientes")" title="" class="btn btn-wd btn-info btn-outline" style="" data-original-title="Atras">
                                Cancelar
                            </a>
                        </div>
                    </fieldset>
                }

            </div>
        </div>
    </div>

        <div id="modalNuevoCliente" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Nuevo Cliente</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <hr />
                    <div class="modal-body">
                        <div class=row>
                            <div class="col-sm-3">
                                <label>Tipo Doc</label>
                                @Html.DropDownList("id_tipo_documento_nuevo", (SelectList)ViewBag.id_tipo_documento, new { @class = "form-control", required = "required" })
                            </div>
                            <div class="col-sm-3">
                                <label>Nro. Documento</label>
                                @Html.TextBox("nro_documento_nuevo", null, new { @class = "form-control", required = "required" })

                            </div>
                            <div class="col-sm-3">
                                <label>Nombre</label>
                                @Html.TextBox("nombre_nuevo", null, new { @class = "form-control", required = "required" })
                            </div>
                            <div class="col-sm-3">
                                <label> Apellido</label>
                                @Html.TextBox("apellido_nuevo", null, new { @class = "form-control", required = "required" })
                            </div>
                        </div>
                        <div class="row pull-right">
                            <div class="col-sm-3" style="margin-top:38px;">
                                <button id="btnGuardarNuevoCliente" class="btn btn-wd btn-primary "><i class="fa fa-add-user"></i>GUARDAR</button>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">

                    </div>
                </div>
            </div>
        </div>
</body>
<script type="text/javascript">
    $(document).ready(function () {
        $("#cliente").autocomplete({
            source: function (request, response) {
                    $.ajax({
                        url: '@Url.Action("ClienteSearch", "Pacientes")',
                        dataType: "json",
                        data: { search: request.term },
                        success: function (data) {
							response($.map(data, function (item) {

                                var AC = new Object();

                                //autocomplete default values REQUIRED
                                AC.label = item.nro_documento + ' ' + item.nombre + ' ' + item.apellido;
                                AC.value = item.nombre + ' ' + item.apellido;

                                //extend values
                                AC.id_cliente = item.id_cliente;
                                AC.nombre = item.nombre;
                                AC.apellido = item.apellido;

                                return AC
                                //return { label: item.nro_documento + ' ' + item.nombre + ' ' + item.apellido, value: item.nro_documento};
                            }
                            ));
                        },
                        error: function (xhr, status, error) {
                            alert("Error");
                        }
                   });
                },
            minLength: 2,
            select: function (event, ui) {
                $('#cliente').val(ui.item.nombre + ' ' + ui.item.apellido);
                $('#id_cliente').val(ui.item.id_cliente);
                $("#paciente").focus();
            }
        });/*Fin Cliente*/

    });
</script>

