﻿@model JaguaEntityModel.paciente

@{
    ViewBag.Title = "Edit";
}

<head>
</head>

<body>
    <div class="card strpied-tabled-with-hover">
        <div class="card-header ">
            <div class="pull-right">
                <a href="@Url.Action("Index", "Pacientes")" title="Atrás" class="btn btn-primary"><i class="fa fa-arrow-left"></i> Atrás</a>
            </div>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <h4>Modificar Paciente</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.id_paciente)

                    <div class="row">
                        <div class="col-md-6">
                            <label>Nombre</label>
                            @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control", required = "required", placeholder = "Nombre", @maxlength = "50" } })
                            @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-md-3">
                            <label>Dueño</label>
                            @Html.DropDownList("id_cliente", null, "--Seleccionar--", new { @class = "form-control", required = "required" })
                            @Html.ValidationMessageFor(model => model.id_cliente, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    
                     <div class="row">
                        <div class="col-md-3">
                            <label>Fecha de Nacimiento</label>
                            @Html.EditorFor(model => model.fecha_nac, new { htmlAttributes = new { @class = "form-control", type = "date", required = "required" } })
                            @Html.ValidationMessageFor(model => model.fecha_nac, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-md-3">
                            <label>Sexo</label>
                            @Html.DropDownList("sexo", new SelectList(new List<object>
                                        {
                                        new { value = "", text = "--Seleccionar--"},
                                        new { value = "M", text = "MACHO"},
                                        new { value = "H", text = "HEMBRA"},
                                        },
                               "value",
                               "text", (String)ViewBag.sexo), new { @class = "form-control", required = "required" })
                        </div>

                        <div class="col-md-3">
                            <label>Raza</label>
                            @Html.DropDownList("id_raza", null, "--Seleccionar--", new { @class = "form-control", required = "required" })
                            @Html.ValidationMessageFor(model => model.id_raza, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-md-3">
                            <label>Color</label>
                            @Html.EditorFor(model => model.color, new { htmlAttributes = new { @class = "form-control", required = "required", placeholder = "Color", @maxlength = "50" } })
                            @Html.ValidationMessageFor(model => model.color, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    

                    <button type="submit" class="btn btn-wd btn-success btn-outline">
                        <span class="btn-label"><i class="fa fa-check"></i></span>
                        Guardar
                    </button>
                </div>
            }

        </div>
    </div>
</body>
