﻿﻿@model JaguaEntityModel.ficha
@{
    ViewBag.Title = "Index";
    var permisos = Jagua.Clases.SessionManager.ValidarPermisos("Pacientes");
    var Ejecutar = (permisos != null ? permisos.ejecutar : false);
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ficha</title>
    <script>
        $(document).ready(function () {
            function validarCabecera() {
                if ($("#id_cliente").val() == "") {
                    swal({
                        text: "Debe cargar el cliente!",
                        type: "warning"
                    });
                    $("#id_cliente").focus();
                }
                else if ($("#id_paciente").val() == "") {
                    swal({
                        text: "Debe cargar el paciente!",
                        type: "warning"
                    });
                    $("#id_paciente").focus();
                }
                else if ($("#fecha").val() == "") {
                    swal({
                        text: "Debe cargar la fecha!",
                        type: "warning"
                    });
                    $("#fecha").focus();
                }
                else if ($("#id_medico").val() == "") {
                    swal({
                        text: "Debe cargar el medico!",
                        type: "warning"
                    });
                    $("#id_medico").focus();
                }
                else if ($("#resultado").val() == "") {
                    swal({
                        text: "Debe cargar el resultado!",
                        type: "warning"
                    });
                    $("#resultado").focus();
                }
                else {
                    return true
                }
            }
        $("#btnAgregarLab").click(function (e) {
            if (validarCabecera() == true) {
                if (($("#id_laboratorio").val() != "") == true) {
                    var bodydetalles = $("#bodyTabla tbody");
                    var detalle = '<tr><td>' + $("#id_laboratorio").val() + '</td><td>' + $("#id_laboratorio option:selected").text() + '</td><td><a data-itemId="0" href="#" class="deleteItem"><i class="fa fa-times" style="color:red; font-size:20px" aria-hidden="true"></i></a></td></tr>';
                    bodydetalles.append(detalle);
                    $("#bodyTabla").show();
                }
                else {
                    swal({ text: "Debe seleccionar un analisis!", type: "warning" });
                }
            }
        });

        $(document).on('click', 'a.deleteItem', function (e) {
            e.preventDefault();
            var $self = $(this);
            if ($(this).attr('data-itemId') == "0") {
                $(this).parents('tr').css("background-color", "#ff6347").fadeOut(800, function () {
                    $(this).remove();
                });
            }
            var rowCount = $('#bodyTabla tr').length;
            if (rowCount == 2) { //Es igual a 2 porque esta eliminando el ultimo
                $('#bodyTabla').hide();
            }
        });

        $('#archivo').change(function () {
            var archivo = $('#archivo').val();
            var pdf = archivo.substr(archivo.lastIndexOf(".") + 1, archivo.lastIndexOf(".") + 3);
            if (pdf.toLowerCase() != "pdf") {
                swal({
                    text: "El archivo debe ser pdf!",
                    type: "warning"
                });
                $('#archivo').val("");
            }
        });
        });
    </script>

</head>
<body>
    <div class="container-fluid" style="margin-top:-25px;">
        <div class="card strpied-tabled-with-hover">
            <div class="card-header">
                @if (!Ejecutar)
                {
                    <script>
                        $(document).ready(function () {
                            SinAcceso();
                        });
                    </script>
                }
                <div class="row" style="align-items:center;">
                    <img src="~/Content/assets/img/vets_icon/ficha.png" style="height:50px;width:50px;" />
                    <label style="font-size:16px; color:black;">PACIENTE:</label>
                    <div class="col-md-2">
                        @Html.TextBox("paciente", null, new { @class = "form-control", @readonly = "true" })
                        @Html.Hidden("id_paciente")
                    </div>
                    <label style="font-size:16px; color:black;">DUEÑO:</label>
                    <div class="col-md-4">
                        @Html.TextBox("cliente", null, new { @class = "form-control", @readonly = "true" })
                    </div>
                    <label style="font-size:16px; color:black;">ULT. VISITA:</label>
                    <div class="col-md-2">
                        @Html.TextBox("visita", null, new { @class = "form-control", @readonly = "true" })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="card strpied-tabled-with-hover">
            <div class="card-header">
                @if (!Ejecutar)
                {
                    <script>
                        $(document).ready(function () {
                            SinAcceso();
                        });
                    </script>
                }
                @using (Html.BeginForm("Create", "Fichas", FormMethod.Post, new { id = "formConsulta" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.Hidden("id_paciente")
                    @Html.Hidden("id_ficha")
                    <div class="card-body content-full-width">
                        <ul role="tablist" class="nav nav-tabs">
                            <li role="presentation" class="nav-item" aria-expanded="false">
                                <a class="nav-link active" id="info-tab" href="#Consulta" data-toggle="tab" aria-expanded="true"><i class="fa fa-info"></i> Consulta </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="account-tab" href="#Vacuna" data-toggle="tab" aria-expanded="false"><i class="fa fa-sy"></i> Vacuna </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="style-tab" href="#Laboratorio" data-toggle="tab" aria-expanded="false"><i class="fa fa-microscope"></i> Laboratorio </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="settings-tab" href="#Patologia" data-toggle="tab" aria-expanded="false"><i class="fa fa-hubspot"></i> Patologia </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="settings-tab" href="#Tratamientos" data-toggle="tab" aria-expanded="false"><i class="fa fa-hubspot"></i> Tratamientos </a>
                            </li>
                        </ul>
                        <div class="tab-content" style="height:300px;">
                            <div id="Consulta" class="tab-pane fade active show" role="tabpanel" aria-labelledby="info-tab" aria-expanded="true">
                                <div class="row">
                                    <div class="col-md-2">
                                        <label>fecha</label>
                                        @Html.TextBox("fecha", DateTime.Now.ToShortDateString(), new { @class = "form-control", @type = "date", required = "required" })
                                    </div>
                                    <div class="col-md-4">
                                        <label>Doctor</label>
                                        @Html.DropDownList("id_medico", null, "--Seleccionar--", new { @class = "form-control", required = "required" })
                                    </div>
                                    <div class="col-md-2">
                                        <label>Peso</label>
                                        @Html.TextBox("peso", null, new { @class = "form-control", required = "required" })
                                    </div>
                                    <div class="col-md-2">
                                        <label>Temperatura</label>
                                        @Html.TextBox("temperatura", null, new { @class = "form-control", required = "required" })
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <label>Sintomas</label>
                                        @Html.TextArea("sintomas", new { cols = 25, @rows = 3, required = "required" })
                                    </div>
                                    <div class="col-md-3">
                                        <label>Diagnostico</label>
                                        @Html.TextArea("diagnostico", new { cols = 25, @rows = 3, required = "required" })
                                    </div>
                                    <div class="col-md-3">
                                        <label>Indicaciones</label>
                                        @Html.TextArea("indicaciones", new { cols = 25, @rows = 3, required = "required" })
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-md-3 control-label">Fecha de proxima consulta</label>
                                    <div class="col-md-3">
                                        @Html.TextBox("prox_consulta", null, new { @class = "form-control", @type = "date" })
                                    </div>
                                </div>
                                <hr />
                            </div>
                            <div id="Vacuna" class="tab-pane fade" role="tabpanel" aria-labelledby="account-tab" aria-expanded="false">
                                <div class="row">
                                    <div class="col-md-2">
                                        <label>Fecha</label>
                                        @Html.TextBox("fecha_aplicacion", DateTime.Now.ToShortDateString(), new { @class = "form-control", @type = "date" })
                                    </div>
                                    <div class="col-md-4">
                                        <label>Doctor</label>
                                        @Html.DropDownList("id_medico", null, "--Seleccionar--", new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <label>Vacuna</label>
                                        @Html.DropDownList("id_vacuna", null, "--Seleccionar--", new { @class = "form-control" })
                                    </div>
                                    <div class="col-md-2">
                                        <label>Nro dosis</label>
                                        @Html.TextBox("nro_dosis_restantes", null, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <label>Proxima Aplicacion</label>
                                        @Html.TextBox("prox_aplicacion", null, new { @class = "form-control", @type = "date" })
                                    </div>
                                </div>
                            </div>
                            <div id="Laboratorio" class="tab-pane fade" role="tabpanel" aria-labelledby="style-tab" aria-expanded="false">
                                <div class="row">
                                    <div class="col-md-2">
                                        <label>Fecha</label>
                                        @Html.TextBox("fecha", DateTime.Now.ToShortDateString(), new { @class = "form-control", @type = "date" })
                                    </div>
                                    <div class="col-md-4">
                                        <label>Doctor Solicitante</label>
                                        @Html.TextBox("doctor_solicitante", null, new { @class = "form-control" })
                                    </div>
                                    @*<div class="col-md-3">
                                        <label>Análisis</label>
                                        @Html.TextBox("examen", null, "--Seleccionar--", new { @class = "form-control" })
                                        @Html.Hidden("id_laboratorio")
                                    </div>
                                    <button type="button" id="btnLaboratorio" class="btn btn-warning btn-outline" style="margin-top:25px;"><i class="fa fa-plus"></i>Nuevo Análisis</button>*@
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <label>Doctor Lectura</label>
                                        @Html.DropDownList("id_medico", null, "--Seleccionar--", new { @class = "form-control" })
                                    </div>
                                    <div class="col-md-8">
                                        <label>Adjuntar Archivo</label>
                                        @Html.TextBox("archivo", null, new { @class = "form-control-file", @type = "file" })
                                    </div>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="col-md-4">
                                        <label>Resultado</label>
                                        <div class="row" style="margin-left:4px;">
                                            @Html.TextArea("resultado", new { cols = 25, @rows = 3, })
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Laboratorio</label>
                                                @Html.DropDownList("id_laboratorio", null, "--Seleccionar--", new { @class = "form-control" })
                                            </div>
                                            <button type="submit" id="btnAgregarLab" title="Buscar registros" class="btn btn-simple btn-success btn-outline" style="margin-top:25px;height:30px">
                                                <i class="nc-icon nc-simple-add icon-bold" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                        <div class="row">
                                            <div class="container-fluid" id="bodyTabla" style="display:none;">
                                                <div class="card strpied-tabled-with-hover">
                                                    <div class="card-body table-full-width table-responsive">
                                                        <table class="table table-hover table-striped">
                                                            <thead>
                                                                <tr>
                                                                    <th>Id</th>
                                                                    <th>Descripcion</th>
                                                                    <th></th>
                                                                </tr>
                                                            </thead>
                                                            <tbody id="bodyLab"></tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="Patologia" class="tab-pane fade" role="tabpanel" aria-labelledby="settings-tab" aria-expanded="false">
                                <div class="row">
                                    <div class="col-md-3">
                                        <label>Enfermedad</label>
                                        @Html.DropDownList("id_patologia", null, "--Seleccionar--", new { @class = "form-control" })
                                    </div>
                                    @*<button id="btnPatologia" class="btn btn-warning btn-outline" style="margin-top:25px;"><i class="fa fa-plus"></i>Agregar Enfermedad</button>*@
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <label>Fecha Diagnostico</label>
                                        @Html.TextBox("fecha_diagnostico", null, new { @class = "form-control", @type = "date" })
                                    </div>
                                    <div class="col-md-4">
                                        <label>Estado Enfermedad</label>
                                        @Html.TextBox("estado_patologia", null, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div id="Tratamientos" class="tab-pane fade" role="tabpanel" aria-labelledby="settings-tab" aria-expanded="false">
                                <div class="row">
                                    <div class="col-md-3">
                                        <label>Nombre del Tratamiento</label>
                                        @Html.TextBox("nombre_tratamiento", null, new { @class = "form-control" })
                                    </div>
                                    <div class="col-md-3">
                                        <label>Detalles del tratamiento</label>
                                        @Html.TextBox("detalles", null, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <label>Inicio del tratamiento</label>
                                        @Html.TextBox("fecha_inicio", null, new { @class = "form-control", @type = "date" })
                                    </div>
                                    <div class="col-md-3">
                                        <label>Fin del tratamiento</label>
                                        @Html.TextBox("fecha_fin", null, new { @class = "form-control", @type = "date" })
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="pull-right">
                        <button type="button" id="btnSubmit" title="Guardar" class="btn btn-wd btn-facebook"><i class="fa fa-check-square-o"></i>Guardar</button>
                        <a href="@Url.Action("Index","Pacientes")" title="" class="btn btn-wd btn-info btn-outline" style="" data-original-title="Atras">Cancelar</a>
                    </div>
                }
            </div>
        </div>
    </div>
    <div id="vacunasList" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close; pull-right" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" style="text-align:center">Plan de Vacunación</h4>
                </div>
                <div class="modal-body">
                    @Html.Partial("~/Views/Pacientes/_VacunasHechas.cshtml")
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger pull-right" data-dismiss="modal">Cancelar</button>
                </div>
            </div><!-- /.modal-content -->
        </div>
    </div>
    <div id="vacunasList" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Lista de Vacunas</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <hr />
                <div class="modal-body">
                    @Html.Partial("~/Views/Pacientes/_VacunasHechas.cshtml")
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
    <div id="modalLaboratorio" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Lista de Analisis Medicos</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <hr />
                <div class="modal-body">
                    @Html.Partial("~/Views/Pacientes/_Laboratorio.cshtml")
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
    <div id="modalProcedimientos" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Nuevo Cliente</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <hr />
                <div class="modal-body">
                    <div class=row>
                        <div class="col-sm-3">
                            <label>Tipo Doc</label>
                            @*@Html.DropDownList("id_tipo_documento_nuevo", (SelectList)ViewBag.id_tipo_documento, new { @class = "form-control", required = "required" })*@
                        </div>
                        <div class="col-sm-3">
                            <label>Nro. Documento</label>
                            @Html.TextBox("nro_documento_nuevo", null, new { @class = "form-control", required = "required" })
                        </div>
                        <div class="col-sm-3">
                            <label>Nombre</label>
                            @Html.TextBox("nombre_nuevo", null, new { @class = "form-control", required = "required" })
                        </div>
                        <div class="col-sm-3">
                            <label> Apellido</label>
                            @Html.TextBox("apellido_nuevo", null, new { @class = "form-control", required = "required" })
                        </div>
                    </div>
                    <div class="row pull-right">
                        <div class="col-sm-3" style="margin-top:38px;">
                            <button id="btnGuardarNuevoCliente" class="btn btn-wd btn-primary "><i class="fa fa-add-user"></i>GUARDAR</button>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
</body>

</html>
<script>
        $(document).ready(function () {
            $("fecha").val("@DateTime.Now.ToString("dd/MM/yyyy")");
        });
</script>
<script type="text/javascript">
    $(function () {
        $('#datetimepicker1').datetimepicker({
            format: 'DD/MM/YYYY'
        });
    });
</script>
<script type="text/javascript">

    $(document).ready(function () {

        //Modal Vacunas
        $("#btnVacunas").click(function () {
            debugger
            $("#vacunasList").modal();
            $("#vacunasList").modal('show');
        });
        //Modal Procedimientos
        $("#idProcedimientos").click(function () {
            $("#modalProcedimientos").modal();
            $("#modalProcedimientos").modal('show');
        });
        //Modal de Laboratorio
        $("#btnLaboratorio").click(function () {
            $("#modalLaboratorio").modal();
            $("#modalLaboratorio").modal('show');
        });

        $("#btnSubmit").click(function () {
            if ($("#id_medico").val() == "") {
                swal({
                    text: "Debe cargar el medico!",
                    icon: "warning"
                });
                $("#id_medico").focus();
            }
            else if ($("#sintomas").val() == "") {
                swal({
                    text: "Debe cargar los sintomas del paciente!",
                    icon: "warning"
                });
                $("#sintomas").focus();
            }
            else if ($("#diagnostico").val() == "") {
                swal({
                    text: "Debe cargar el diagnostico del doctor!",
                    icon: "warning"
                });
                $("#diagnostico").focus();
            }
            else if ($("#indicaciones").val() == "") {
                swal({
                    text: "Debe cargar las indicaciones del doctor!",
                    icon: "warning"
                });
                $("#indicaciones").focus();
            }
            else {
                document.getElementById("formConsulta").submit();
            }

        });

    });
</script>
