﻿@using PagedList.Mvc;
@model PagedList.IPagedList<Jagua.Models.Historial>
@{
    ViewBag.Title = "Index";
    var permisos = Jagua.Clases.SessionManager.ValidarPermisos("Historial");
    var Insert = (permisos != null ? permisos.insertar : false);
    var Editar = (permisos != null ? permisos.modificar : false);
    var Eliminar = (permisos != null ? permisos.eliminar : false);
    var Ejecutar = (permisos != null ? permisos.ejecutar : false);
}

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Index</title>
	<script type="text/javascript">
		$(document).ready(function () {
			//Modal Vacunas
			$("#btnVacunas").click(function () {
				$("#vacunasList").modal();
				$("#vacunasList").modal('show');
			});
			//Modal Procedimientos
			$("#btnAddFicha").click(function () {
				var id = $("#id_paciente").val();
				window.location.href = '@Url.Action("Ficha", "Pacientes")'+'/'+id;
			});
			
		});
	</script>
</head>
<body>
    <div class="container-fluid">
        <div class="card strpied-tabled-with-hover">
            <div class="card-header">
                @if (!Ejecutar)
                {
                    <script>
                        $(document).ready(function () {
                            SinAcceso();
                        });
                    </script>
                }
                <div class="row" style="align-items:center;">
                    <img src="~/Content/assets/img/vets_icon/ficha.png" style="height:50px;width:50px;" />
                    <label style="font-size:16px; color:black;">PACIENTE:</label>
                    <div class="col-md-2">
                        @Html.TextBox("paciente", null, new { @class = "form-control", @readonly = "true" })
                        @Html.Hidden("id_paciente")
                    </div>
                    <label style="font-size:16px; color:black;">DUEÑO:</label>
                    <div class="col-md-4">
                        @Html.TextBox("cliente", null, new { @class = "form-control", @readonly = "true" })
                    </div>
                    <label style="font-size:16px; color:black;">ULT. VISITA:</label>
                    <div class="col-md-2">
                        @Html.TextBox("visita", null, new { @class = "form-control", @readonly = "true" })
                    </div>
                </div>
            </div>
        </div>
    </div>

    @using (Html.BeginForm("Historial", "Pacientes", FormMethod.Post, new { id = "frmList" }))
    {
    <div class="container-fluid">
        <div class="card strpied-tabled-with-hover">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-4">
                        <label>Descripción Procedimiento</label>
                        <input type="hidden" id="idPaciente_" name="idPaciente_" value="@ViewBag.idPaciente_" />
                        @Html.TextBox("txtProcedimiento", null, new { @class = "form-control" })
                    </div>
                    <div class="col-sm-4">
                        <label>Procedimiento</label>
                        @Html.DropDownList("ddlProcedimiento", null, "--Seleccionar--", new { @class = "form-control" })

                    </div>
                    <button type="submit" name="btnBuscar" title="Buscar registros" class="btn btn-simple btn-success btn-outline" style="margin-top:20px; margin-right:10px;">
                        <i class="nc-icon nc-zoom-split icon-bold" style="font-size: 20px" aria-hidden="true"></i>
                    </button>
                    @if (Insert)
                    {
                        <img style="margin-top:19px;height:40px;width:40px;" src="~/Content/assets/img/vets_icon/programar.png" />

                        <button id="btnAddFicha" type="button" class="btn btn-outline" style="margin-top: 20px; background-color:mediumpurple; color:white;"><i class="fa fa-plus" aria-hidden="true"></i>Agregar Ficha</button>
                    }
                </div>
            </div>
        </div>
    </div>
    }
    <div class="container-fluid">
        <div class="card strpied-tabled-with-hover">
            <div class="card-body table-full-width table-responsive">
                <table class="table table-hover table-striped">
                    @if (Model.Count() == 0 || Model == null)
                    {
                        <tr>
                            <td>No existen registros</td>
                        </tr>
                    }
                    else
                    {
                        <thead>
                            <tr>
                                <th style="display:none;">ID</th>
                                <th>Procedimiento</th>
                                <th>Fecha</th>
                                <th>Descripción</th>
                                <th>Resultado</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td style="display:none;">@Html.DisplayFor(modelItem => item.id)</td>
                                    <td>@Html.DisplayFor(modelItem => item.procedimiento)</td>
                                    <td>@Html.Raw(item.fecha != null ? item.fecha.Value.ToString("dd/MM/yyyy") : "")</td>
                                    <td>@Html.DisplayFor(modelItem => item.descripcion)</td>
                                    <td>@Html.DisplayFor(modelItem => item.resultado)</td>
                                    <td> </td>
                                </tr>
                            }
                        </tbody>
                    }
                </table>
                <hr />
                <div class="pull-right">
                    @Html.PagedListPager(Model, page => Url.Action("Historial", new { page, currentFilter = ViewBag.CurrentFilter }))
                </div>
            </div>
        </div>
    </div>
    @*//modal
        <div id="vacunasList" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close; pull-right" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" style="text-align:center">Plan de Vacunación</h4>
                    </div>
                    <div class="modal-body">
                        @Html.Partial("~/Views/Pacientes/_VacunasHechas.cshtml")
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger pull-right" data-dismiss="modal">Cancelar</button>
                    </div>
                </div><!-- /.modal-content -->
            </div>
        </div>*@
</body>
</html>
