﻿﻿@using PagedList.Mvc;
@model PagedList.IPagedList<JaguaEntityModel.paciente>
@{
    ViewBag.Title = "Index";
    var permisos = Jagua.Clases.SessionManager.ValidarPermisos("Pacientes");
    var Insert = (permisos != null ? permisos.insertar : false);
    var Editar = (permisos != null ? permisos.modificar : false);
    var Eliminar = (permisos != null ? permisos.eliminar : false);
    var Ejecutar = (permisos != null ? permisos.ejecutar : false);
}
<html>
<head>
    <script type="text/javascript">
        $(document).ready(function () {
            $("[name=btnBuscar]").click(function () {
                $("#frmList").attr("action", "/Pacientes/Index/");
                $("#frmList").submit();

            });
        });
        function CargarShowModal(id) {
            if (id > 0) {
                $.ajax({
                    url: '@Url.Action("Details", "Pacientes")',
                    data: { id: id },
                    success: function (msg) {
                        $("#PartialPopup").html(msg);
                        $("#listPopup").modal();
                        $("#listPopup").modal('show');
                    }
                });
            }
        }
    </script>
</head>
<body>
    <div class="container-fluid" style="margin-top:-25px;">
        <div class="card strpied-tabled-with-hover">
            <div class="card-header ">
                @if (!Ejecutar)
                {
                    <script>
                        $(document).ready(function () {
                            SinAcceso();
                        });
                    </script>
                }
                @using (Html.BeginForm("Index", "Clientes", FormMethod.Post, new { id = "frmList" }))
                {
                    <div class="pull-right">
                        @if (Insert)
                        {
                            <a href="@Url.Action("Create", "Pacientes")" title="" rel="tooltip" class="btn btn-wd btn-info btn-outline" data-original-title="Agregar Registro">
                                <i class="fa fa-paw" aria-hidden="true"></i>Agregar Paciente
                            </a>
                        }
                    </div>
                    <h4><i class="fa fa-paw" style="color:mediumpurple"></i> &nbsp;<b>Pacientes</b></h4>
                    <hr />
                    <div class="row">
                        <div class="col-sm-2">
                            <label>Id Paciente</label>
                            @Html.TextBox("txtPaciente", (String)ViewBag.txtPaciente, new { @class = "form-control" })
                        </div>
                        <div class="col-sm-2">
                            <label>Nombre</label>
                            @Html.TextBox("txtNombre", (String)ViewBag.txtNombre, new { @class = "form-control" })
                        </div>
                        <div class="col-sm-2">
                            <label>Dueño</label>
                            @Html.TextBox("txtCliente", (String)ViewBag.txtCliente, new { @class = "form-control" })
                        </div>
                        <div class="col-sm-2">
                            <label>Raza</label>
                            @Html.DropDownList("ddlRaza", null, "--Seleccionar--", new { @class = "form-control" })
                        </div>
                        <button type="submit" name="btnBuscar" title="Buscar registros" class="btn btn-simple btn-success btn-outline" style="margin-top: 25px;">
                            <i class="nc-icon nc-zoom-split icon-bold" style="font-size: 20px" aria-hidden="true"></i>
                        </button>
                    </div>


                }
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="card strpied-tabled-with-hover">
            <div class="card-body table-full-width table-responsive">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Cliente</th>
                            <th>Raza</th>
                            <th>Ultima Visita</th>
                            <th>Procedimiento</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Count() == 0)
                        {
                            <tr>
                                <td>No existen registros</td>
                            </tr>
                        }
                        else
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.id_paciente)</td>
                                    <td>@Html.DisplayFor(modelItem => item.nombre)</td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.cliente.persona.nombre)
                                        @Html.DisplayFor(modelItem => item.cliente.persona.apellido)
                                    </td>
                                    <td>@Html.DisplayFor(modelItem => item.raza.descripcion)</td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        @if (Editar)
                                        {
                                            <a href="@Url.Action("Editar", "Pacientes", new { id = item.id_paciente })" title="" rel="tooltip" data-original-title="Editar Paciente" style="color:deepskyblue;font-size:15px;"><i class="fa fa-edit" aria-hidden="true"></i></a>
                                        }
                                        @if (Ejecutar)
                                        {
                                            <a href="#" onclick="CargarShowModal(@item.id_paciente); return false;" title="Datos Paciente" rel="tooltip" data-original-title="Detalles" style="color:forestgreen; font-size:15px;"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                            <a href="@Url.Action("Historial", "Pacientes", new { id = item.id_paciente })" title="" rel="tooltip" data-original-title="Agregar Registro" style="font-size:30px; padding-right:100px"><img src="~/Content/assets/img/vets_icon/ficha.png" style="height:25px;width:25px;" /></a>
                                        }
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
                <hr />
                <div class="pull-right">
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, currentFilter = ViewBag.CurrentFilter }))
                </div>
            </div>
        </div>
        @*//modal de popup*@
        <div id="listPopup" class="modal fade" tabindex="-1" role="dialog" ria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Datos</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body" id="PartialPopup">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger pull-right" data-dismiss="modal">Cerrar</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>
    </div>
    <script type="text/javascript">
    $(document).ready(function () {
        $("#txtNombre").autocomplete({
            source: function (request, response) {
                    $.ajax({
                        url: '@Url.Action("PacienteSearch", "Pacientes")',
                        dataType: "json",
                        data: { search: request.term },
                        success: function (data) {
							response($.map(data, function (item) {
								label = item.nombre;
								value = item.nombre;
                                return { label: item.nombre};
                            }
                            ));
                        },
                        error: function (xhr, status, error) {
                            alert("Error");
                        }
                   });
                },
            minLength: 2,
            select: function (event, ui) {
                $('#txtNombre').val(ui.item.value);
            }
        });/*Fin Cedula*/
        @*$("#txtCliente").autocomplete({
            source: function (request, response) {
                    $.ajax({
                        url: '@Url.Action("ClienteSearch", "Pacientes")',
                        dataType: "json",
                        data: { search: request.term },
                        success: function (data) {
							response($.map(data, function (item) {
                                return { label: item.nro_documento + ' ' + item.nombre + ' ' + item.apellido, value: item.nro_documento};
                            }
                            ));
                        },
                        error: function (xhr, status, error) {
                            alert("Error");
                        }
                   });
                },
            minLength: 2,
            select: function (event, ui) {
                $('#txtCliente').val(ui.item.value);
            }
		});*@/*Fin Cedula*/
    });
    </script>
</body>
</html>
