﻿@{
    ViewBag.Title = "Agregar Permisos";
    var Listado = (List<Jagua.Controllers.DatosPermisos>)ViewBag.Listado;
}

<head>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>

        button {
            background: none;
            border: 0;
            color: #23CCEF;
        }
    </style>
</head>
<body>
    <script type="text/javascript">
        $(document).ready(function () {
            $("[name=btnBuscar]").click(function () {
                $("#frmList").attr("action", "/Usuarios/Index/");
                $("#frmList").submit();

            });
            $("#div_permisos").on('click', ':checkbox', function () {
                var $row = $(this).closest("tr");
                var id_permiso = parseInt($row.find("td:nth-child(6)").text());
                //var id_rolpermiso = parseInt($row.find("td:nth-child(3)").text());
                var id_rol = parseInt($("#id_rol").val());
                var acciones = "";
                var insertar = "N";
                var modificar = "N";
                var eliminar = "N";
                var ejecutar = "N";
                var ins = false;
                var mod = false;
                var del = false;
                var eje = false;
                var $g = $row.find("td:nth-child(2)");
                var $u = $row.find("td:nth-child(3)");
                var $d = $row.find("td:nth-child(4)");
                var $e = $row.find("td:nth-child(5)");
                $.each($g, function () {
                    ins = $g[0].children[0].checked;
                });
                $.each($u, function () {
                    mod = $u[0].children[0].checked;
                });
                $.each($d, function () {
                    del = $d[0].children[0].checked;
                });
                $.each($e, function () {
                    eje = $e[0].children[0].checked;
                });
                if (ins) {
                    acciones = "INS";
                    insertar = "S";
                } else {
                    acciones = "DEL";
                    insertar = "N";
                }
                if (mod) {
                    modificar = "S";
                }
                if (del) {
                    eliminar = "S";
                }
                if (eje) {
                    ejecutar = "S";
                }
                if (id_permiso > 0 && id_rol > 0) {
                    $.ajax({
                        url: "/Roles/AgregarPermisos/",
                        type: "POST",
                        data: {
                            id: 0,
                            idPermiso: id_permiso,
                            idRol: id_rol,
                            accion: acciones,
                            insertar: insertar,
                            actualizar: modificar,
                            eliminar: eliminar,
                            ejecutar: ejecutar
                        }
                    }).done(function (data) {
                        if (data.success) {
                            //$("#tblPermisos_ > tbody ").append(response.row);
                            swal("Agregar Permiso", data.mensaje, "success");
                        } else {
                            swal("Alerta!", data.mensaje, "warning");
                        }
                    });
                }
            });
            $("#btnGuardar").click(function () {
                //if ($("#ChkTodos").is(":checked")) {
                var agregar = false;
                $('#tblPermisos_ tr').each(function () {
                    var $row = $(this);//$(this).closest("tr");
                    var id_permiso = parseInt($row.find("td:nth-child(6)").text());
                    var id_rol = parseInt($("#id_rol").val());
                    var insertar = "N";
                    var modificar = "N";
                    var eliminar = "N";
                    var ejecutar = "N";
                    var ins = false;
                    var mod = false;
                    var del = false;
                    var eje = false;
                    var $g = $row.find("td:nth-child(2)");
                    var $u = $row.find("td:nth-child(3)");
                    var $d = $row.find("td:nth-child(4)");
                    var $e = $row.find("td:nth-child(5)");
                    $.each($g, function () {
                        ins = $g[0].children[0].checked;
                    });
                    $.each($u, function () {
                        mod = $u[0].children[0].checked;
                    });
                    $.each($d, function () {
                        del = $d[0].children[0].checked;
                    });
                    $.each($e, function () {
                        eje = $e[0].children[0].checked;
                    });
                    //if (ins == true || mod == true || del == true || eje == true) {
                    if (ins) {
                        acciones = "INS";
                        insertar = "S";
                    } else {
                        acciones = "DEL";
                        insertar = "N";
                    }
                    if (mod) {
                        modificar = "S";
                    }
                    if (del) {
                        eliminar = "S";
                    }
                    if (eje) {
                        ejecutar = "S";
                    }
                    if (id_permiso > 0 && id_rol > 0) {
                        $.ajax({
                            url: "/Roles/AllAgregarPermisos/",
                            type: "POST",
                            data: {
                                id: 0,
                                idPermiso: id_permiso,
                                idRol: id_rol,
                                insertar: insertar,
                                actualizar: modificar,
                                eliminar: eliminar,
                                ejecutar: ejecutar
                            }
                        }).done(function (data) {
                            if (data.success) {
                                agregar = true;
                            }
                            else {
                                agregar = false;
                                swal("Alerta!", data.mensaje, "warning");
                            }

                        });
                    }
                    //}
                });
                swal("Agregar Permiso", "Permisos Agregados con exito!", "success");
                //}
            });
            $("#ChkTodos").click(function () {
                $('input[type=checkbox]').each(function () {
                    if ($("#ChkTodos").is(":checked")) {
                        this.checked = true;
                    } else {
                        this.checked = false;
                    }
                });
            });
        });
    </script>
    <div class="card table-with-links table-responsive">
        <div class="card-header">
            <h2>Agregar Permisos</h2>
            <div class="card table-with-links table-responsive">
                <div class="card-header">
                    <div class="row">
                        <div class="col-sm-6">
                            <label>Rol</label>
                            @Html.DropDownList("id_rol", null, "Seleccionar...", new { @class = "form-control", @disabled = "disabled" })
                        </div>
                    </div>
                    <div class="pull-right">
                        <input type="checkbox" id="ChkTodos" name="ChkTodos" /> Marcar Todos                   
                    </div>

                </div>
            </div>

            <div class="card table-responsive">
                <div id="div_permisos" class="card-body table-responsive">
                    <table id="tblPermisos_" class="table">
                        <thead>
                            <tr>
                                <th>
                                    Paginas
                                </th>
                                <th>
                                    Insertar
                                </th>
                                <th>
                                    Modificar
                                </th>
                                <th>
                                    Eliminar
                                </th>
                                <th>
                                    Ejecutar
                                </th>
                                <th style="display:none;">
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Listado.Count() == 0)
                            {
                                <tr>
                                    <td>No existen registros</td>
                                </tr>
                            }
                            else
                            {
                                foreach (var item in Listado)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.nombre)
                                        </td>
                                        <td>
                                            <input type="checkbox" value="INS@item.id_pagina" id="idIns_@item.id_pagina" @(item.insert ? "checked='checked'" : "") />
                                        </td>
                                        <td>
                                            <input type="checkbox" value="UPD@item.id_pagina" id="idUpd_@item.id_pagina" @(item.update ? "checked='checked'" : "") />
                                        </td>
                                        <td>
                                            <input type="checkbox" value="DEL@item.id_pagina" id="idDel_@item.id_pagina" @(item.delete ? "checked='checked'" : "") />
                                        </td>
                                        <td>
                                            <input type="checkbox" value="EJE@item.id_pagina" id="idEje_@item.id_pagina" @(item.ejecutar ? "checked='checked'" : "") />
                                        </td>
                                        <td style="display:none;">
                                            @Html.DisplayFor(modelItem => item.id_pagina)
                                        </td>
                                    </tr>

                                }
                            }
                        </tbody>
                    </table>
                    <div class="pull-right">
                        <button type="submit" title="Guardar" class="btn btn-wd btn-facebook">
                            <i class="fa fa-check-square-o"></i>
                            Guardar
                        </button>
                        <a href="@Url.Action("Index", "Roles")" title="" class="btn btn-wd btn-info btn-outline" style="" data-original-title="Atras">
                            Cancelar
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
