﻿﻿@model JaguaEntityModel.rol
@{
    ViewBag.Title = "Rol";
}
<head>
    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <style>
            button {
                background: none;
                border: 0;
                color: #23CCEF;
            }
        </style>*@
</head>
<div class="card table-with-links table-responsive">
    <div class="card-header">
        <fieldset disabled>
            @using (Html.BeginForm())
            {
                <div class="form-horizontal">
                    <h4>Rol</h4>
                    <div class="pull-right">
                    </div>
                    @Html.HiddenFor(model => model.id_rol)
                    <div class="form-group">
                        @Html.LabelFor(model => model.nombre, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.descripcion, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.descripcion, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                </div>
            }
        </fieldset>
    </div>
</div>
