﻿@using PagedList.Mvc;
@model PagedList.IPagedList<JaguaEntityModel.rol>
@{
    ViewBag.Title = "Roles";
    var permisos = Jagua.Clases.SessionManager.ValidarPermisos("roles");
    var Insert = (permisos != null ? permisos.insertar : false);
    var Editar = (permisos != null ? permisos.modificar : false);
    var Eliminar = (permisos != null ? permisos.eliminar : false);
    var Ejecutar = (permisos != null ? permisos.ejecutar : false);
}
<head>
    <script type="text/javascript">
        $(document).ready(function () {
            $("[name=btnBuscar]").click(function () {
                $("#frmList").attr("action", "/Roles/Index/");
                $("#frmList").submit();

            });
        });
        function CargarShowModal(id) {
            if (id > 0) {
                $.ajax({
                    url: '@Url.Action("Details", "Roles")',
                    data: { id: id },
                    success: function (msg) {
                        $("#PartialPopup").html(msg);
                        $("#listPopup").modal();
                        $("#listPopup").modal('show');
                    }
                });
            }
        }
    </script>

</head>
<body>
    <div class="card table-with-links table-responsive">
        <div class="card-header">
            @if (!Ejecutar)
            {
                <script>
                    $(document).ready(function () {
                        SinAcceso();
                    });
                </script>
            }
            @using (Html.BeginForm("Index", "Roles", FormMethod.Post, new { id = "frmList" }))
            {
                <div class="pull-right">
                    <a href="@Url.Action("Create", "Roles")" class="btn btn-wd btn-info btn-outline" title="" rel="tooltip" data-original-title="Agregar Registro">
                        <i class="fa fa-plus" aria-hidden="true"></i>Crear Rol
                    </a>
                </div>
                <h2>Roles</h2>
                <div class="row">
                    <div class="col-sm-3">
                        @Html.TextBox("searchString", (String)ViewBag.searchString, new { @class = "form-control", @placeholder = "Buscar..." })
                    </div>
                    <div class="col-sm-6">
                        <button type="submit" name="btnBuscar" title="Buscar registros" class="btn btn-simple btn-success btn-outline">
                            <i class="nc-icon nc-zoom-split icon-bold" style="font-size: 20px" aria-hidden="true"></i>
                        </button>
                        <div class="font-icon-detail"></div>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="card table-responsive">
        <div class="card-body table-responsive">
            <table class="table">
                <tr>
                    <th>
                        Nombre
                    </th>
                    <th>
                        Descripción
                    </th>
                    <th>Permisos</th>
                    <th></th>
                </tr>
                @foreach (var item in Model)
                {
                    using (Html.BeginForm("Delete", "Roles", new { id = item.id_rol }))
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.nombre)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.descripcion)
                            </td>
                            <td>
                                <a href="@Url.Action("AgregarPermisos", new { id = item.id_rol })" rel="tooltip" title="" class="btn btn-success btn-link btn-xs" data-original-title="Agregar Permisos">
                                    <i class="fa fa-book"></i>
                                </a>
                            </td>
                            <td class="td-actions text-right">
                                @if (Ejecutar)
                                {
                                    <a href="#" onclick="CargarShowModal(@item.id_rol); return false;" title="Datos Rol" rel="tooltip" data-original-title="Detalles" style="color:forestgreen; font-size:15px;"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                }
                                @if (Editar)
                                {
                                    <a href="@Url.Action("Edit", new { id = item.id_rol })" rel="tooltip" title="" class="btn btn-success btn-link btn-xs" data-original-title="Editar">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                }
                                @if (Eliminar)
                                {
                                    <button type="submit" value="Delete" onclick="return confirm('Está seguro de eliminar?') " rel="tooltip" title="" class="btn btn-danger btn-link btn-xs" data-original-title="Eliminar" />
                                    <i class="fa fa-times"></i>
                                }
                            </td>
                        </tr>
                    }
                }
            </table>
            <div class="pull-right">
                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                @Html.PagedListPager(Model, page => Url.Action("Index",
                   new { page, currentFilter = ViewBag.CurrentFilter }))
            </div>
            @*//modal de popup*@
            <div id="listPopup" class="modal fade" tabindex="-1" role="dialog" ria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Datos</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body" id="PartialPopup">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger pull-right" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div>
        </div>
    </div>
</body>
