﻿@model JaguaEntityModel.usuario_rol
@{
    ViewBag.Title = "Usuario Rol";
}
<head>
</head>
<div class="card table-with-links table-responsive">
    <div class="card-header">
        <fieldset disabled>
            @using (Html.BeginForm())
            {
                <div class="form-horizontal">
                    <h4>Usuario Rol</h4>
                    <div class="pull-right">
                    </div>
                    @Html.HiddenFor(model => model.id_usuario_rol)
                    <div class="form-group">
                        <label>Usuario</label>
                        <div class="col-md-10">
                            @Html.DropDownList("id_usuario", null, htmlAttributes: new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Rol</label>
                        <div class="col-md-10">
                            @Html.DropDownList("id_rol", null, htmlAttributes: new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.descripcion, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.descripcion, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                </div>
            }
        </fieldset>
    </div>
</div>
