﻿@model JaguaEntityModel.usuario_rol

@{
    ViewBag.Title = "Edit";
    var permisos = Jagua.Clases.SessionManager.ValidarPermisos("usuario_rol");
    var Ejecutar = (permisos != null ? permisos.ejecutar : false);
}
<head>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        button {
            background: none;
            border: 0;
            color: #23CCEF;
        }
    </style>
</head>

<div class="card table-with-links table-responsive">
    <div class="card-header">
        @if (!Ejecutar)
        {
            <script>
                $(document).ready(function () {
                    SinAcceso();
                });

            </script>
        }
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>Editar Usuario Rol</h4>

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.id_usuario_rol)
                <div class="form-group">
                    <label>Usuario</label>
                    <div class="col-md-10">
                        @Html.DropDownList("id_usuario", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.id_usuario, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label>Rol</label>
                    <div class="col-md-10">
                        @Html.DropDownList("id_rol", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.id_rol, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.descripcion, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.descripcion, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="pull-right">
                    <button type="submit" title="Guardar" class="btn btn-wd btn-facebook">
                        <i class="fa fa-check-square-o"></i>
                        Guardar
                    </button>
                    <a href="@Url.Action("Index", "Usuario_Rol")" title="" class="btn btn-wd btn-info btn-outline" style="" data-original-title="Atras">
                        Cancelar
                    </a>
                </div>
            </div>
        }

    </div>
</div>
