﻿@model JaguaEntityModel.persona

@{
    ViewBag.Title = "Create";
    var permisos = Jagua.Clases.SessionManager.ValidarPermisos("clientes");
    var Ejecutar = (permisos != null ? permisos.ejecutar : false);
}
@*<script src="~/Content/assets/js/core/jquery.3.2.1.min.js"></script>
<script src="~/Content/assets/js/core/jquery.validate.min.js"></script>
<script src="~/Content/assets/js/core/jquery.validate.js"></script>*@
<head>

</head>
<body>
    @if (!Ejecutar)
    {
        <script>
            $(document).ready(function () {
                SinAcceso();
            });
        </script>
    }
    <div class="container-fluid">
        <div class="card strpied-tabled-with-hover">
            <div class="card-header ">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">
                        <h4><i class="fa fa-male" style="color:mediumpurple"></i><i class="fa fa-female" style="color:mediumpurple"></i> &nbsp;<b>Nuevo Cliente</b></h4>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <label style="color:black">&nbsp;DATOS BASICOS</label>
                        <hr />
                        <div class="row">
                            @*Aca empieza una fila*@
                            <div class="col-md-2">
                                <label>Tipo Doc.</label>
                                @Html.DropDownList("id_tipo_documento", null, "--Seleccionar--", new { @class = "form-control", required = "required" })
                            </div>
                            <div class="col-md-2">
                                <label>Cedula/Ruc</label>
                                @Html.EditorFor(model => model.nro_documento, new { htmlAttributes = new { @class = "form-control", required = "required", placeholder = "Cédula / Ruc", @maxlength = "9" } })
                                @Html.ValidationMessageFor(model => model.nro_documento, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-2">
                                <label>Nombre</label>
                                @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control", required = "required", placeholder = "Nombre", @maxlength = "50" } })
                                @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-2">
                                <label>Apellido</label>
                                @Html.EditorFor(model => model.apellido, new { htmlAttributes = new { @class = "form-control", required = "required", placeholder = "Apellido", @maxlength = "50" } })
                                @Html.ValidationMessageFor(model => model.apellido, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-2">
                                <label>Sexo</label>
                                @Html.DropDownList("sexo", new SelectList(new List<object>
                                        {
                                        new { value = "", text = "--Seleccionar--"},
                                        new { value = "F", text = "Femenino"},
                                        new { value = "M", text = "Masculino"},
                                        },
                                 "value",
                                 "text", (String)ViewBag.ddlSexo), new { @class = "form-control", required = "required" })
                            </div>
                            <div class="col-md-2">
                                <label>Nacionalidad</label>
                                @Html.DropDownList("nacionalidad", null, "--Seleccionar--", new { @class = "form-control" })
                            </div>
                        </div> @*Aca termina esa fila*@
                        <label style="color:black">&nbsp;DATOS DE CONTACTO</label>
                        <hr />
                        <div class="row">
                            <div class="col-md-2">
                                <label>Nro. Teléfono</label>
                                @Html.EditorFor(model => model.nro_telefono, new { htmlAttributes = new { @class = "form-control", placeholder = "Nro Teléfono", @maxlength = "50" } })
                                @Html.ValidationMessageFor(model => model.nro_telefono, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-2">
                                <label>Celular</label>
                                @Html.EditorFor(model => model.nro_celular, new { htmlAttributes = new { @class = "form-control", placeholder = "Nro. Celular", @maxlength = "50" } })
                                @Html.ValidationMessageFor(model => model.nro_celular, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-3">
                                <label>Email</label>
                                @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control", @placeholder = "example@mail.com", @type = "email", @maxlength = "50" } })
                                @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <label style="color:black">&nbsp;DATOS DE LOCALIDAD</label>
                        <hr />
                        <div class="row">
                            <div class="col-md-4">
                                <label>Dirección</label>
                                @Html.EditorFor(model => model.direccion, new { htmlAttributes = new { @class = "form-control", @placeholder = "Dirección", @maxlength = "50" } })
                                @Html.ValidationMessageFor(model => model.direccion, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-2">
                                <label>Pais</label>
                                @Html.DropDownList("ddlPais", null, "--Seleccionar--", new { @class = "form-control" })
                            </div>
                            <div class="col-md-2">
                                <label>Departamento</label>
                                @Html.DropDownList("ddlDepartamento", null, "--Seleccionar--", new { @class = "form-control" })
                            </div>
                            <div class="col-md-2">
                                <label>Ciudad</label>
                                @Html.DropDownList("id_ciudad", null, "--Seleccionar--", new { @class = "form-control" })
                            </div>
                            @*<div class="col-md-2">
                                    <label>Barrio</label>
                                    @Html.DropDownList("id_barrio", null, "--Seleccionar--", new { @class = "form-control" })
                                </div>*@
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <label>Estado</label>
                                <select id="ddlEstado" name="ddlEstado" class="form-control">
                                    <option value="">Seleccionar...</option>
                                    <option value="A" @(ViewBag.estado == "A" ? "selected='selected'" : "")>Activo</option>
                                    <option value="I" @(ViewBag.estado == "I" ? "selected='selected'" : "")>Inactivo</option>
                                </select>
                            </div>
                        </div>
                        <hr />
                    </div>
                    <div class="pull-right">
                        <button type="submit" title="Guardar" class="btn btn-wd btn-facebook">
                            <i class="fa fa-check-square-o"></i>
                            Guardar
                        </button>
                        <a href="@Url.Action("Index", "Clientes")" title="" class="btn btn-wd btn-info btn-outline" style="" data-original-title="Atras">
                            Cancelar
                        </a>
                    </div>
                }

            </div>
        </div>
    </div>
</body>