﻿@model JaguaEntityModel.persona

@{
    ViewBag.Title = "Detalle";
    var permisos = Jagua.Clases.SessionManager.ValidarPermisos("clientes");
    var Ejecutar = (permisos != null ? permisos.ejecutar : false);
}

<head>

</head>
<body>
    <div class="container-fluid">
        <div class="card strpied-tabled-with-hover">
            <div class="card-header ">

                @if (!Ejecutar)
                {
                    <script>
                        $(document).ready(function () {
                            SinAcceso();
                        });
                    </script>
                }
                @using (Html.BeginForm())
                {<fieldset disabled="disabled">
                     <div class="form-horizontal">
                         @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                         @Html.HiddenFor(model => model.id_persona)
                         @Html.Hidden("id_cat_persona", "1")
                         @Html.Hidden("estado")
                         <label style="color:black">&nbsp;<b>DATOS BASICOS</b></label>
                         <hr />
                         <div class="row">
                             @*Aca empieza una fila*@
                             <div class="col-md-3">
                                 <label>Cedula/Ruc</label>
                                 @Html.EditorFor(model => model.nro_documento, new { htmlAttributes = new { @class = "form-control", required = "required", placeholder = "Cédula / Ruc", @maxlength = "9" } })
                                 @Html.ValidationMessageFor(model => model.nro_documento, "", new { @class = "text-danger" })
                             </div>
                             <div class="col-md-4">
                                 <label>Nombre</label>
                                 @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control", required = "required", placeholder = "Nombre", @maxlength = "50" } })
                                 @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
                             </div>
                             <div class="col-md-5">
                                 <label>Apellido</label>
                                 @Html.EditorFor(model => model.apellido, new { htmlAttributes = new { @class = "form-control", required = "required", placeholder = "Apellido", @maxlength = "50" } })
                                 @Html.ValidationMessageFor(model => model.apellido, "", new { @class = "text-danger" })
                             </div>
                         </div> @*Aca termina esa fila*@
                         <label style="color:black">&nbsp;<b>DATOS DE CONTACTO</b></label>
                         <hr />
                         <div class="row">
                             <div class="col-md-4">
                                 <label>Nro. Teléfono</label>
                                 @Html.EditorFor(model => model.nro_telefono, new { htmlAttributes = new { @class = "form-control", placeholder = "Nro Teléfono", @maxlength = "50" } })
                                 @Html.ValidationMessageFor(model => model.nro_telefono, "", new { @class = "text-danger" })
                             </div>
                             <div class="col-md-3">
                                 <label>Celular</label>
                                 @Html.EditorFor(model => model.nro_celular, new { htmlAttributes = new { @class = "form-control", placeholder = "Nro. Celular", @maxlength = "50" } })
                                 @Html.ValidationMessageFor(model => model.nro_celular, "", new { @class = "text-danger" })
                             </div>
                             <div class="col-md-5">
                                 <label>Email</label>
                                 @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control", @placeholder = "example@mail.com", @type = "email", @maxlength = "50" } })
                                 @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                             </div>
                         </div>
                         <label style="color:black">&nbsp;<b>DATOS DE LOCALIDAD</b></label>
                         <hr />
                         <div class="row">
                             <div class="col-md-4">
                                 <label>Dirección</label>
                                 @Html.EditorFor(model => model.direccion, new { htmlAttributes = new { @class = "form-control", @placeholder = "Dirección", @maxlength = "50" } })
                                 @Html.ValidationMessageFor(model => model.direccion, "", new { @class = "text-danger" })
                             </div>
                             <div class="col-md-4">
                                 <label>Departamento</label>
                                 @Html.DropDownList("ddlDepartamento", null, "--Seleccionar--", new { @class = "form-control" })
                             </div>
                             <div class="col-md-4">
                                 <label>Ciudad</label>
                                 @Html.DropDownList("id_ciudad", null, "--Seleccionar--", new { @class = "form-control" })
                             </div>
                         </div>
                         <div class="row">
                             <div class="col-md-6">
                                 <label>Estado</label>
                                 <select id="ddlEstado" name="ddlEstado" class="form-control">
                                     <option value="">Seleccionar...</option>
                                     <option value="A" @(ViewBag.estado == "A" ? "selected='selected'" : "")>Activo</option>
                                     <option value="I" @(ViewBag.estado == "I" ? "selected='selected'" : "")>Inactivo</option>
                                 </select>
                             </div>
                         </div>
                     </div>
                </fieldset>
                }
            </div>
        </div>
    </div>
</body>