﻿﻿@using PagedList.Mvc;
@model PagedList.IPagedList<JaguaEntityModel.persona>
@{
    ViewBag.Title = "Index";
    var permisos = Jagua.Clases.SessionManager.ValidarPermisos("clientes");
    var Insert = (permisos != null ? permisos.insertar : false);
    var Editar = (permisos != null ? permisos.modificar : false);
    var Eliminar = (permisos != null ? permisos.eliminar : false);
    var Ejecutar = (permisos != null ? permisos.ejecutar : false);
}
<head>
    <script type="text/javascript">

        $(document).ready(function () {
            $("[name=btnBuscar]").click(function () {
                $("#frmList").attr("action", "/Clientes/Index/");
                $("#frmList").submit();
            });

            $("#btnCancelar").click(function () {
                $("#modalPuntos").modal('hide');
            });
            $("#btnCanejar").click(function () {
                if ($("#txtCanejar").val() == "" || $("#txtCanejar").val() == "0") {
                    swal({
                        text: "Debe agregar la cantidad de puntos a canjear!",
                        icon: "warning"
                    });
                    $("#txtCanejar").focus();
                } else if ($("#id_promocion").val() == "") {
                    swal({
                        text: "Debe seleccionar una promoción!",
                        icon: "warning"
                    });
                    $("#id_promocion").focus();
                }
                else {
                    var id = $("#hdidCleinte").val();
                    var canje = $("#txtCanejar").val();
                    var idPromocion = $("#id_promocion").val();
                    $.ajax({
                        type: "POST",
                        url: "/Clientes/CanjearPuntos/",
                        data: { idCliente: id, canjear: canje, idPromocion: idPromocion }
                    }).done(function (data) {
                        if (data.success) {
                            swal("Alerta Puntajes!", data.mensaje, "success");
                            $("#modalPuntos").modal('hide');
                        } else {
                            swal("Alerta Puntajes!", data.mensaje, "warning");
                            $("#modalPuntos").modal('hide');
                        }
                    });
                }

            });


        });
        function VerPuntos(id) {
            $("#hdidCleinte").val(id);
            $("#txtCanejar").val("");
            $("select#id_promocion")[0].selectedIndex = 0;
            //document.getElementById("id_promocion").selectedIndex = "0";
            $.ajax({
                type: "POST",
                url: "/Clientes/PuntosCanjeados/",
                data: { idCliente: id }
            }).done(function (data) {
                if (data.success) {
                    $("#cliNombre").html(data.nombre);
                    $("#cliPuntos").html(data.puntos);
                    $("#cliPuntosCanjeados").html(data.puntosCanje);
                    $("#modalPuntos").modal();
                    $("#modalPuntos").modal('show');
                } else {
                    swal("Alerta Puntajes!", data.mensaje, "warning");
                    //alert(data.mensaje);
                }
            });

        }

        function Desactivar(item) {
            swal({
                title: "Estas Seguro?",
                text: "El registro se desactivara!",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn btn-info btn-fill",
                confirmButtonText: "Si, desactivarlo!",
                cancelButtonClass: "btn btn-danger btn-fill",
                cancelButtonText: "Cancelar",
                closeOnConfirm: false,
            }, function (isConfirm) {
                if (isConfirm) {
                        $.ajax({
                            url: '@Url.Action("DisableConfirmed", "Clientes")',
                            type: "POST",
                            data: { id: item },
                            success: function (data) {
                                if (data.success) {
                                    setTimeout(function () {
                                        swal("Desactivado", data.mensaje, "success");
                                    }, 20000);
                                    window.location.reload();
                                } else {
                                    swal("Alerta!", data.mensaje, "warning");
                                }
                            }
                        });
                        //$("#frmList").attr("action", "/Clientes/DisableConfirmed/" + item);
                        //$("#frmList").submit();
                        //window.location.reload();

                    }
                });
        }
         function CargarShowModal(id) {
            if (id > 0) {
                $.ajax({
                    url: '@Url.Action("Details", "Clientes")',
                    data: { id: id },
                    success: function (msg) {
                        debugger
                        $("#PartialPopup").html(msg);
                        $("#listPopup").modal();
                        $("#listPopup").modal('show');
                    }
                });
            }
        }
    </script>
</head>
<body>
    <div class="container-fluid" style="margin-top:-25px;">
        <div class="card strpied-tabled-with-hover">
            <div class="card-header ">
                @if (!Ejecutar)
                {
                    <script>
                        $(document).ready(function () {
                            SinAcceso();
                        });
                    </script>
                }
                @using (Html.BeginForm("Index", "Clientes", FormMethod.Post, new { id = "frmList" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="pull-right">
                        @if (Insert)
                        {
                            <a href="@Url.Action("Create", "Clientes")" title="" rel="tooltip" class="btn btn-wd btn-info btn-outline" data-original-title="Agregar Registro">
                                <i class="fa fa-user-plus" aria-hidden="true"></i>Agregar Cliente
                            </a>
                        }
                    </div>
                    <h4><i class="fa fa-male" style="color:mediumpurple"></i><i class="fa fa-female" style="color:mediumpurple"></i> &nbsp;<b>Clientes</b></h4>
                    <hr>
                    <div class="row">
                        <div class="col-sm-2">
                            <label>Nro. Documento</label>
                            @Html.TextBox("txtCedula", (String)ViewBag.txtCedula, new { @class = "form-control", @placeholder = "Cedula" })
                        </div>
                        <div class="col-sm-3">
                            <label>Nombre</label>
                            @Html.TextBox("txtNombre", (String)ViewBag.txtNombre, new { @class = "form-control", @placeholder = "Nombre" })
                        </div>
                        <div class="col-sm-2">
                            <label>Apellido</label>
                            @Html.TextBox("txtApellido", (String)ViewBag.txtApellido, new { @class = "form-control", @placeholder = "Apellido" })
                        </div>
                        <div class="col-md-2">
                            <label>Estado</label>
                            <select id="ddlEstado" name="ddlEstado" class="form-control">
                                <option value="">Seleccionar...</option>
                                <option value="A" @(ViewBag.estado == "A" ? "selected='selected'" : "")>Activo</option>
                                <option value="I" @(ViewBag.estado == "I" ? "selected='selected'" : "")>Inactivo</option>
                            </select>
                        </div>
                        <button type="submit" name="btnBuscar" title="Buscar registros" class="btn btn-simple btn-success btn-outline" @*style="height:40px;margin-top: 30px;"*@ style="margin-top: 25px;">
                            <i class="nc-icon nc-zoom-split icon-bold" style="font-size: 20px" aria-hidden="true"></i>
                        </button>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="card strpied-tabled-with-hover">
            <div class="card-body table-full-width table-responsive">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>
                                Nombre
                            </th>
                            <th>
                                Apellido
                            </th>
                            <th>
                                Cedula
                            </th>
                            <th>
                                Direccion
                            </th>
                            <th>
                                Telefono
                            </th>
                            <th>
                                Nro. Celular
                            </th>
                            <th>
                                Estado
                            </th>
                            <th>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Count() == 0)
                        {
                            <tr>
                                <td>No existen registros</td>
                            </tr>
                        }
                        else
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.nombre)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.apellido)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.nro_documento)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.direccion)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.nro_telefono)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.nro_celular)
                                    </td>
                                    <td>
                                        @if (item.estado.Equals("A"))
                                        {
                                            <span>@Html.Raw("Activo")</span>
                                        }
                                        else
                                        {
                                            <span>@Html.Raw("Inactivo")</span>
                                        }
                                    </td>
                                    <td>
                                        @if (Editar)
                                        {
                                            <a href="@Url.Action("Editar", "Clientes", new { id = item.id_persona })" style="color:deepskyblue"><i class="fa fa-edit" aria-hidden="true"></i></a>
                                        }
                                        @if (Eliminar)
                                        {
                                            <i class="fa fa-arrow-down" @(item.estado != "I" ? "display" : "hidden") style="color:red" onmouseover="this.style.cursor='pointer';" onclick="Desactivar(@item.id_persona)" aria-hidden="true" rel="tooltip" data-original-title="Anular"></i>
                                        }
                                        @if (Ejecutar)
                                        {
                                            <a href="#" onclick="CargarShowModal(@item.id_persona); return false;" title="Datos Cliente" rel="tooltip" data-original-title="Detalles" style="color:forestgreen; font-size:15px;"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                            @*<a href="@Url.Action("Details", "Clientes", new { id = item.id_persona })" title="Ver datos" rel="tooltip" data-original-title="Detalles" style="color:#5499C7; font-size:15px;"><i class="fa fa-eye" aria-hidden="true"></i></a>*@
                                            <a href="#" title="Ver Puntos" onclick="VerPuntos(@(item.cliente != null ? item.cliente.FirstOrDefault().id_cliente : 0))" rel="tooltip" data-original-title="Puntos" style="color:#5D6D7E; font-size:15px;"><i class="fa fa-calculator" aria-hidden="true"></i></a>
                                        }
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
                <hr />
                <div class="pull-right">
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, currentFilter = ViewBag.CurrentFilter }))
                </div>
            </div>
            <div id="modalPuntos" class="modal" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title"><i class="fa fa-list-ol" style="color:coral; margin-right:10px;"></i><b>Listado de Puntos</b></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <hr />
                        <div class="modal-body">
                            <div id="divPuntos_">
                                <div class="row">
                                    <div class="col-md-8">
                                        <strong style="color:#5D6D7E">Cliente: </strong>
                                        <span id="cliNombre"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <strong style="color:#5D6D7E">Puntos: </strong>
                                        <span id="cliPuntos" style="font-weight:bold;"></span>
                                    </div>
                                    <div class="col-md-6">
                                        <strong style="color:#5D6D7E">Puntos Canjeados: </strong>
                                        <span id="cliPuntosCanjeados" style="font-weight:bold; color:red;"></span>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <hr />
                            <div id="divCanjearPuntos_">
                                <input type="hidden" id="hdidCleinte" name="hdidCleinte" />
                                <h4><i class="fa fa-flag-checkered" style="color:coral; margin-right:10px;"></i><b>Canjear Puntos</b></h4>
                                <hr />
                                <div class="row">
                                    <div class="col-md-8">
                                        <label>Promociones</label>
                                        @Html.DropDownList("id_promocion", null, "Seleccionar...", htmlAttributes: new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-8">
                                        <label>Cuantos puntos desea canjear?</label>
                                        <input type="number" id="txtCanejar" name="txtCanejar" class="form-control" />
                                    </div>
                                </div>
                                <br>
                                <div class="pull-right">
                                    <button id="btnCanejar" name="btnCanejar" class="btn btn-wd btn-success btn-outline" style="margin-right: 50px;">
                                        <i class="fa fa-check-square-o"></i>
                                        Canjear
                                    </button>
                                    <button id="btnCancelar" name="btnCancelar" class="btn btn-wd btn-danger btn-outline" aria-label="Close" style="margin-right: 50px;">
                                        <i class="fa fa-window-close"></i>
                                        Cancelar
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*//modal de popup*@
        <div id="listPopup" class="modal fade" tabindex="-1" role="dialog" ria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4><i class="fa fa-eye" style="color:mediumpurple; margin-right:10px;"></i><b>Datos del Cliente</b></h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body" id="PartialPopup">
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>
    </div>
</body>


