﻿@model JaguaEntityModel.horas_nodisponibles

@{
    ViewBag.Title = "Delete";
}
<div class="content">
    <h3>Está seguro de eliminar el registro?</h3>
    <h4>Caja</h4>
    <hr />
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card strpied-tabled-with-hover">
                    <div class="card-header ">
                        <dl class="dl-horizontal">
                            <dt>
                                Usuario
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.id_usuario)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.fecha_desde)
                            </dt>

                            <dd>
                                Fecha Desde
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.fecha_hasta)
                            </dt>

                            <dd>
                                Fecha Hasta
                            </dd>

                            <dt>
                                Hora Desde
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.hora_desde)
                            </dd>

                            <dt>
                                Hora Hasta
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.hora_hasta)
                            </dd>

                            <dt>
                                Motivo
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.motivo)
                            </dd>

                        </dl>
                    </div>
                </div>
            </div>
        </div>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</div>
