﻿@model JaguaEntityModel.horas_nodisponibles

@{
    ViewBag.Title = "Details";
}

<head>
</head>



<body>
    <div class="card strpied-tabled-with-hover">
        <div class="card-header ">
            <div class="pull-right">
                <a href="@Url.Action("Index", "Horas_NoDisponibles")" title="Atrás" class="btn btn-primary"><i class="fa fa-arrow-left"></i> Atrás</a>
            </div>
            @using (Html.BeginForm("Details", "Horas_NoDisponibles", FormMethod.Post, new { id = "frmList" }))
    {
        <h2>Horas No Disponibles</h2>
}
        </div>
    </div>

    <div class="card strpied-tabled-with-hover">
        <div class="card-body table-full-width table-responsive">
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>Nombre & Apellido</th>
                        <th>Fecha/Hora Desde</th>
                        <th>Fecha/Hora Hasta</th>
                        <th>Motivo</th>
                    </tr>
                </thead>
                
                <tbody>
                    <tr>
                        <td>
                            @Html.DisplayFor(model => model.usuario.nombre)
                            @Html.DisplayFor(model => model.usuario.apellido)
                        </td>
                        <td>@Html.DisplayFor(model => model.fecha_desde)</td>
                        <td>@Html.DisplayFor(model => model.fecha_hasta)</td>
                        <td>@Html.DisplayFor(model => model.motivo)</td>
                    </tr>
                </tbody>
            </table>            
        </div>
    </div>
</body>
