﻿@model JaguaEntityModel.horas_nodisponibles

@{
    ViewBag.Title = "Edit";
}

<head>
</head>

<body>
    <div class="card strpied-tabled-with-hover">
        <div class="card-header ">
            <div class="pull-right">
                <a href="@Url.Action("Index", "Horas_NoDisponibles")" title="Atrás" class="btn btn-primary"><i class="fa fa-arrow-left"></i> Atrás</a>
            </div>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>Modificación de Registro de Ausencia</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.id_hs_nodisp)

                <div class="row">
                    <div class="col-md-2">
                        <label>Fecha Desde</label>
                        @Html.EditorFor(model => model.fecha_desde, new { htmlAttributes = new { @class = "form-control", type = "date", required = "required" } })
                        @Html.ValidationMessageFor(model => model.fecha_desde, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-2">
                        <label>Hora Desde</label>
                        @Html.EditorFor(model => model.hora_desde, new { htmlAttributes = new { @class = "form-control", type = "time", required = "required" } })
                        @Html.ValidationMessageFor(model => model.hora_desde, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-md-2">
                        <label>Fecha Hasta</label>
                        @Html.EditorFor(model => model.fecha_hasta, new { htmlAttributes = new { @class = "form-control", type = "date", required = "required" } })
                        @Html.ValidationMessageFor(model => model.fecha_hasta, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-2">
                        <label>Hora Hasta</label>
                        @Html.EditorFor(model => model.hora_hasta, new { htmlAttributes = new { @class = "form-control", type = "time", required = "required" } })
                        @Html.ValidationMessageFor(model => model.hora_hasta, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-8">
                        <label>Motivo</label>
                        @Html.EditorFor(model => model.motivo, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                        @Html.ValidationMessageFor(model => model.motivo, "", new { @class = "text-danger" })
                    </div>
                </div>

                <button type="submit" class="btn btn-wd btn-success btn-outline">
                    <span class="btn-label"><i class="fa fa-check"></i></span>
                    Guardar
                </button>
            </div>
            }

        </div>
    </div>
</body>

