﻿@using PagedList.Mvc;
@model PagedList.IPagedList<JaguaEntityModel.horas_nodisponibles>

@{
    ViewBag.Title = "Index";
}
<head>
    <script type="text/javascript">
        $(document).ready(function () {
            $("[name=btnBuscar]").click(function () {
                $("#frmList").attr("action", "/Horas_NoDisponibles/Index/");
                $("#frmList").submit();

            });
        });

    </script>
</head>
<body>
    <div class="card strpied-tabled-with-hover">
        <div class="card-header ">
            @using (Html.BeginForm("Index", "Horas_NoDisponibles", FormMethod.Post, new { id = "frmList" }))
            {
                <div class="pull-right">
                    @Html.ActionLink("Agregar nuevo", "Create", null, new { @class = "btn btn-primary" })
                </div>
                <h2>Horas No Disponibles</h2>

                <h6>Filtros de búsqueda</h6>

                <div class="row">
                    <div class="col-sm-3">
                        <label>Nombre</label>
                        @Html.TextBox("txtNombre", (String)ViewBag.txtNombre, new { @class = "form-control" })
                    </div>
                    <div class="col-sm-3">
                        <label>Apellido</label>
                        @Html.TextBox("txtApellido", (String)ViewBag.txtApellido, new { @class = "form-control" })
                    </div>
                    <div class="col-sm-4">
                        <input type="submit" style="margin-top:25px" name="btnBuscar" value="Buscar" class="btn btn-success" />
                    </div>
                </div>
            }
        </div>
    </div>

    <div class="card strpied-tabled-with-hover">
        <div class="card-body table-full-width table-responsive">
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>Nombre & Apellido</th>
                        <th>Fecha/Hora Desde</th>
                        <th>Fecha/Hora Hasta</th>
                        <th>Motivo</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Count() == 0)
                    {
                        <tr>
                            <td>No existen registros</td>
                        </tr>
                    }
                    else
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.usuario.nombre)
                                    @Html.DisplayFor(modelItem => item.usuario.apellido)
                                </td>
                                <td>@item.fecha_desde.Value.AddHours(item.hora_desde.Value.Hours).ToString("dd/MM/yyyy HH:mm")</td>
                                <td>@item.fecha_hasta.Value.AddHours(item.hora_hasta.Value.Hours).ToString("dd/MM/yyyy HH:mm")</td>
                                <td>@Html.DisplayFor(modelItem => item.motivo)</td>
                                <td>@Html.ActionLink("Editar", "Edit", new { id = item.id_hs_nodisp })</td>
                                <td>@Html.ActionLink("Detalles", "Details", new { id = item.id_hs_nodisp })</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <div class="pagination pagination-no-border" style="margin-left: 400px">
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
            </div>
        </div>
    </div>
</body>
