﻿@model List<JaguaEntityModel.persona>
@{
    Layout = "~/Views/Shared/_LayoutModal.cshtml";
    ViewBag.Title = "Index";


}
<head>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#btnBuscarCliEmp").click(function () {
                if ($("#txtNombre").val() != "") {
                    $.ajax({
                        url: '@Url.Action("BuscarCliEmp", "Usuarios")',
                        data: { nombre: $("#txtNombre").val(),tipo: $("#TipoPersona").val() },
                        success: function (datos) {
                            if (datos.success) {
                              
                                $('#bootstrap-table tbody').html("");
                                $('#bootstrap-table tbody').html(datos.mensaje);
                            }
                        }
                    });
                }
            });
        });
        function Sel_Paciente(id, nombre, apellido) {
            $("#nombres").val(nombre).change();
            $("#apellidos").val(apellido).change();
            $("#id_persona").val(id);
            $("#listPersonas").modal('hide');
            
        }

    </script>
</head>
<body>
    <div class="clearfix"></div>

    <div class="x_panel">
        <div class="x_content">
            <div class="form-group">
                <div class="col-sm-10">
                    <label>Nombre/Apellido</label>
                    <input type="text" id="txtNombre" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-10" style="text-align:right;">
                    <p>
                        <input type="button" class="btn btn-primary" id="btnBuscarCliEmp" value="Buscar" />
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>

    <table class="table table-hover" id="bootstrap-table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Tipo Persona</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="datosbody">
            @foreach (var pers in Model)
            {
                <tr>
                    <td><span>@pers.id_persona</span></td>
                    <td><span>@pers.nombre @pers.apellido</span></td>
                    <td>
                        @if (pers.empleado.Any())
                        {<span>Empleado</span>}
                        else if (pers.cliente.Any())
                        {<span>Cliente</span>}
                    </td>
                    <td><a href='javascript:Sel_Paciente(@pers.id_persona,"@pers.nombre","@pers.apellido")' class='btn btn-primary'>Seleccionar</a></td>
                </tr>
            }
        </tbody>
    </table>
</body>