﻿@model JaguaEntityModel.usuarios

@{
    ViewBag.Title = "Ver";
    var permisos = Jagua.Clases.SessionManager.ValidarPermisos("usuarios");
    var Ejecutar = (permisos != null ? permisos.ejecutar : false);
}
<head>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        button {
            background: none;
            border: 0;
            color: #23CCEF;
        }
    </style>
</head>
<div class="card table-with-links table-responsive">
    <div class="card-header">
        @if (!Ejecutar)
        {
            <script>
                $(document).ready(function () {
                    SinAcceso();
                });
               
            </script>
        }
        @using (Html.BeginForm())
        {
            <fieldset disabled="disabled">
                <h4>Ver Usuario</h4>
                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.id_usuario)
                    @Html.ValidationMessageFor(model => model.id_usuario, "", new { @class = "text-danger" })

                    <div class="pull-right">
                        <button type="submit" title="Guardar" class="fa fa-check-square-o" style="font-size: 30px; padding-right:30px"></button>
                        <a href="@Url.Action("Index", "Usuarios")" title="Atrás" class="fa fa-mail-reply" style="font-size: 25px; padding-right:50px "></a>
                    </div>
                    <div class="row">
                        @*Aca empieza una fila*@
                        <div class="col-md-4">
                            <label>Nombre</label>
                            @Html.EditorFor(model => model.nombres, new { htmlAttributes = new { @class = "form-control", required = "required", placeholder = "Nombre", @maxlength = "50" } })
                            @Html.ValidationMessageFor(model => model.nombres, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-4">
                            <label>Apellido</label>
                            @Html.EditorFor(model => model.apellidos, new { htmlAttributes = new { @class = "form-control", required = "required", placeholder = "Apellido", @maxlength = "50" } })
                            @Html.ValidationMessageFor(model => model.apellidos, "", new { @class = "text-danger" })
                        </div>
                    </div> @*Aca termina esa fila*@
                    <div class="row">
                        @*Aca empieza una fila*@
                        <div class="col-md-2">
                            <label>Usuario</label>
                            @Html.EditorFor(model => model.usuario, new { htmlAttributes = new { @class = "form-control", required = "required", placeholder = "Usuario", @maxlength = "20" } })
                            @Html.ValidationMessageFor(model => model.usuario, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-2">
                            <label>Contraseña</label>
                            <input type="password" id="PasswordEdit" name="PasswordEdit" class="form-control" placeholder="Contraseña" maxlength="60" />

                        </div>
                    </div> @*Aca termina esa fila*@
                    <div class="row">
                        <div class="col-md-2">
                            <label>Nro. Teléfono</label>
                            @Html.EditorFor(model => model.nro_telefono, new { htmlAttributes = new { @class = "form-control", placeholder = "Nro Teléfono", @maxlength = "50" } })
                            @Html.ValidationMessageFor(model => model.nro_telefono, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-2">
                            <label>Celular</label>
                            @Html.EditorFor(model => model.nro_celular, new { htmlAttributes = new { @class = "form-control", placeholder = "Nro. Celular", @maxlength = "50" } })
                            @Html.ValidationMessageFor(model => model.nro_celular, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-4">
                            <label>Email</label>
                            @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control", @placeholder = "example@mail.com", @type = "email", @maxlength = "150" } })
                            @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <label>Dirección</label>
                            @Html.EditorFor(model => model.direccion, new { htmlAttributes = new { @class = "form-control", @placeholder = "Dirección", @maxlength = "50" } })
                            @Html.ValidationMessageFor(model => model.direccion, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-10">
                            <label>Rol</label>
                            @Html.DropDownList("id_rol", null, htmlAttributes: new { @class = "form-control", required = "required" })

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <label>Cliente</label>
                            @Html.DropDownList("idCliente", null, "Seleccionar...", htmlAttributes: new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label>Estado</label>
                            <select id="ddlEstado" name="ddlEstado" class="form-control">
                                <option value="">Seleccionar...</option>
                                <option value="A" @(ViewBag.estado == "A" ? "selected='selected'" : "")>Activo</option>
                                <option value="I" @(ViewBag.estado == "I" ? "selected='selected'" : "")>Inactivo</option>
                            </select>
                        </div>
                    </div>
                </div>
            </fieldset>
        }
    </div>
</div>

