﻿@model JaguaEntityModel.usuarios

@{
    ViewBag.Title = "Editar";
    var permisos = Jagua.Clases.SessionManager.ValidarPermisos("usuarios");
    var Ejecutar = (permisos != null ? permisos.ejecutar : false);
}
<head>

</head>

<div class="card table-with-links table-responsive">
    @if (!Ejecutar)
    {
        <script>
            $(document).ready(function () {
                SinAcceso();
            });
        </script>
    }
        <div class="card-header">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <h4>Modificar Usuario</h4>
                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.id_usuario)
                    @Html.ValidationMessageFor(model => model.id_usuario, "", new { @class = "text-danger" })
                    <div class="row">
                        <div class="col-md-2">
                            <label>Nombre</label>
                            @Html.EditorFor(model => model.nombres, new { htmlAttributes = new { @class = "form-control", required = "required", placeholder = "Nombre", @maxlength = "50" } })
                            @Html.ValidationMessageFor(model => model.nombres, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-2">
                            <label>Apellido</label>
                            @Html.EditorFor(model => model.apellidos, new { htmlAttributes = new { @class = "form-control", required = "required", placeholder = "Apellido", @maxlength = "50" } })
                            @Html.ValidationMessageFor(model => model.apellidos, "", new { @class = "text-danger" })
                        </div>
                    </div> 
                    <div class="row">
                        <div class="col-md-2">
                            <label>Usuario</label>
                            @Html.EditorFor(model => model.usuario, new { htmlAttributes = new { @class = "form-control", required = "required", placeholder = "Usuario", @maxlength = "20" } })
                            @Html.ValidationMessageFor(model => model.usuario, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-2">
                            <label>Contraseña</label>
                            <input type="password" id="PasswordEdit" name="PasswordEdit" class="form-control" placeholder="Contraseña" maxlength="60" />
                            @*@Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control", required = "required", placeholder = "Contraseña", @type = "password", @maxlength = "60" } })
                        @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })*@
                        </div>
                    </div> @*Aca termina esa fila*@
                    <div class="row">
                        <div class="col-md-2">
                            <label>Nro. Teléfono</label>
                            @Html.EditorFor(model => model.nro_telefono, new { htmlAttributes = new { @class = "form-control", placeholder = "Nro Teléfono", @maxlength = "50" } })
                            @Html.ValidationMessageFor(model => model.nro_telefono, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-2">
                            <label>Celular</label>
                            @Html.EditorFor(model => model.nro_celular, new { htmlAttributes = new { @class = "form-control", placeholder = "Nro. Celular", @maxlength = "50" } })
                            @Html.ValidationMessageFor(model => model.nro_celular, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-4">
                            <label>Email</label>
                            @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control", @placeholder = "example@mail.com", @type = "email", @maxlength = "150" } })
                            @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <label>Dirección</label>
                            @Html.EditorFor(model => model.direccion, new { htmlAttributes = new { @class = "form-control", @placeholder = "Dirección", @maxlength = "50" } })
                            @Html.ValidationMessageFor(model => model.direccion, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label>Rol</label>
                            @Html.DropDownList("id_rol", null, htmlAttributes: new { @class = "form-control", required = "required" })
                        </div>
                        <div class="col-md-4">
                            <div class="row" id="divCliente">
                                <label>Cliente</label>
                                @Html.DropDownList("idCliente", null, "Seleccionar...", htmlAttributes: new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label>Estado</label>
                            <select id="ddlEstado" name="ddlEstado" class="form-control">
                                <option value="">Seleccionar...</option>
                                <option value="A" @(ViewBag.estado == "A" ? "selected='selected'" : "")>Activo</option>
                                <option value="I" @(ViewBag.estado == "I" ? "selected='selected'" : "")>Inactivo</option>
                            </select>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="pull-right">
                    <button type="submit" title="Guardar" class="btn btn-wd btn-facebook">
                        <i class="fa fa-check-square-o"></i>
                        Guardar
                    </button>
                    <a href="@Url.Action("Index", "Usuarios")" title="" class="btn btn-wd btn-info btn-outline" style="" data-original-title="Atras">
                        Cancelar
                    </a>
                </div>
            }
        </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        if ($("#id_rol option:selected").text() == "CLIENTE")
            $("#divCliente").show();
        else
            $("#divCliente").hide();
        $("#id_rol").change(function () {
            var optionText = $("#id_rol option:selected").text();
            if (optionText == "CLIENTE")
                $("#divCliente").show();
            else
                $("#divCliente").hide();
        });
    });

</script>
