﻿@using PagedList.Mvc;
@model PagedList.IPagedList<JaguaEntityModel.usuarios>

@{
    ViewBag.Title = "Index";
    var permisos = Jagua.Clases.SessionManager.ValidarPermisos("usuarios");
    var Insert = (permisos!=null? permisos.insertar:false);
    var Editar = (permisos != null ? permisos.modificar : false);
    var Eliminar = (permisos != null ? permisos.eliminar : false);
    var Ejecutar = (permisos != null ? permisos.ejecutar : false);

}
<head>
    <script type="text/javascript">
        function Desactivar(item) {
            swal({
                title: "Estas Seguro?",
                text: "El registro se desactivara!",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn btn-info btn-fill",
                confirmButtonText: "Si, desactivarlo!",
                cancelButtonClass: "btn btn-danger btn-fill",
                cancelButtonText: "Cancelar",
                closeOnConfirm: false,
            }, function (isConfirm) {
                debugger
                if (isConfirm) {
                    $("#frmList").attr("action", "/Usuarios/DisableConfirmed/" + item);
                    $("#frmList").submit();
                    swal({
                        text: "El registro fue desactivado",
                        type: "success"
                    });
                    window.location.reload();
                } else {
                    swal({
                        text: "Cancelado",
                        type: "warning"
                    });
                }
            });
        } /*Fin Function*/
        $(document).ready(function () {
            $("[name=btnBuscar]").click(function () {
                $("#frmList").attr("action", "/Usuarios/Index/");
                $("#frmList").submit();

            });
        });
    </script>
</head>

<body>
    <div class="container-fluid">
        <div class="card strpied-tabled-with-hover">
            <div class="card-header">
                @if (!Ejecutar)
                {
                    <script>
                        $(document).ready(function () {
                            SinAcceso();
                        });
                        //alert("Usted no tiene permisos para ver esta página consulte con el Administrador!");
                        //location.href = "/Home"
                    </script>
                }
                @using (Html.BeginForm("Index", "Usuarios", FormMethod.Post, new { id = "frmList" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="pull-right">
                        @if (Insert)
                        {
                            <div class="pull-right">
                                <a href="@Url.Action("Create", "Usuarios")" class="btn btn-wd btn-info btn-outline" title="" rel="tooltip" data-original-title="Agregar Registro">
                                    <i class="fa fa-plus" aria-hidden="true"></i>Crear Usuarios
                                </a>
                            </div>
                        }
                    </div>
                    <h4><i class="fa fa-user-plus" style="color:mediumpurple"></i> &nbsp;<b>Usuarios</b></h4>
                    <hr />
                    <div class="row">
                        <div class="col-sm-3">
                            @Html.TextBox("searchString", (String)ViewBag.searchString, new { @class = "form-control", @placeholder = "Buscar..." })
                        </div>
                        <div class="col-lg-2">
                            <select id="searchEstado" name="searchEstado" class="form-control">
                                <option value="">Seleccionar...</option>
                                <option value="A" @(ViewBag.estado == "A" ? "selected='selected'" : "")>Activo</option>
                                <option value="I" @(ViewBag.estado == "I" ? "selected='selected'" : "")>Inactivo</option>
                            </select>

                        </div>

                        <div class="col-sm-2">
                            <button type="submit" name="btnBuscar" title="Buscar registros" class="btn btn-simple btn-success btn-outline">
                                <i class="nc-icon nc-zoom-split icon-bold" style="font-size: 20px" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="card strpied-tabled-with-hover">
            <div class="card-body table-full-width table-responsive">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>
                                Id
                            </th>
                            <th>
                                Nombre
                            </th>
                            <th>
                                Apellido
                            </th>
                            <th>
                                Email
                            </th>
                            <th>
                                Direccion
                            </th>
                            <th>
                                Telefono
                            </th>
                            <th>
                                Nro. Celular
                            </th>
                            <th>
                                Rol
                            </th>
                            <th>
                                Estado
                            </th>
                            <th>

                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Count() == 0)
                        {
                            <tr>
                                <td>No existen registros</td>
                            </tr>
                        }
                        else
                        {
                            foreach (var item in Model)
                            {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.id_usuario)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.nombres)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.apellidos)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.email)
                                </td>
                                <td>
                                    @if (!string.IsNullOrEmpty(item.direccion) && item.direccion.Length > 20)
                                    {
                                        @Html.Raw(item.direccion.Substring(0, 20))
                                    }
                                    else
                                    {
                                        @Html.Raw(item.direccion)
                                    }
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.nro_telefono)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.nro_celular)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.usuario_rol.FirstOrDefault().rol.nombre)
                                </td>
                                <td>
                                    @if (item.estado.Equals("A"))
                                    {
                                        <span>@Html.Raw("Activo")</span>
                                    }
                                    else
                                    {
                                        <span>@Html.Raw("Inactivo")</span>
                                    }
                                </td>
                                <td class="td-actions text-right">
                                    @if (Editar)
                                    {
                                        <a href="@Url.Action("Edit", new { id = item.id_usuario })" rel="tooltip" title="Editar" class="btn btn-success btn-link btn-xs" data-original-title="Editar">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                    }
                                    @if (Eliminar)
                                    {
                                        <button type="submit" value="Delete" onclick="Desactivar(@item.id_usuario)" rel="tooltip" title="Desactivar" class="btn btn-danger btn-link btn-xs" data-original-title="Eliminar" />
                                        <i class="fa fa-arrow-down"></i>
                                    }
                                </td>
                            </tr>
                            }
                        }
                    </tbody>
                </table>
                <hr />
                <div class="pull-right">
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, currentFilter = ViewBag.CurrentFilter }))
                </div>
            </div>
        </div>
    </div>
</body>
