﻿
@{
    ViewBag.Title = "Index";
}
<div class="container-fluid">
    <div class="card ">
        <div class="card-header" style="text-align:center">
            <h3><i class="fa fa-gears" style="color:mediumpurple"></i> &nbsp;Ajustes</h3>
        </div>
    </div>
    <div class="container-fluid">
        <h4>Administración</h4>
        <hr />
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-lg-2">
                <div class="box">
                    <div class="icon">
                        <div class="image" style="background-color:white">
                            <img src="~/Content/assets/img/vets_icon/forma de pago.png" style="height:40px;width:40px;margin-bottom:10px" />
                        </div>
                        <div class="info" style="border-color:darkmagenta">
                            <div class="more">
                                <a href="~/MedioPago/Index" title="">
                                    <h6 class="title">Medio de Pago</h6>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-2">
                <div class="box">
                    <div class="icon">
                        <div class="image" style="background-color:white">
                            <img src="~/Content/assets/img/vets_icon/Tipo_Producto.png" style="height:40px;width:40px;margin-bottom:10px" />
                        </div>
                        <div class="info" style="border-color:darkmagenta">
                            <div class="more">
                                <a href="~/TipoProducto/Index" title="">
                                    <h6 class="title">Tipo de Producto</h6>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-2">
                <div class="box">
                    <div class="icon">
                        <div class="image" style="background-color:white">
                            <img src="~/Content/assets/img/vets_icon/Tipo_Producto.png" style="height:40px;width:40px;margin-bottom:10px" />
                        </div>
                        <div class="info" style="border-color:darkmagenta">
                            <div class="more">
                                <a href="~/TipoPersona/Index" title="">
                                    <h6 class="title">Tipo de Persona</h6>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-2">
                <div class="box">
                    <div class="icon">
                        <div class="image" style="background-color:white">
                            <img src="~/Content/assets/img/vets_icon/Tipo_Producto.png" style="height:40px;width:40px;margin-bottom:10px" />
                        </div>
                        <div class="info" style="border-color:darkmagenta">
                            <div class="more">
                                <a href="~/TipoDocumento/Index" title="">
                                    <h6 class="title">Tipo de Documento Cliente</h6>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-lg-2">
                <div class="box">
                    <div class="icon">
                        <div class="image" style="background-color:white">
                            <img src="~/Content/assets/img/vets_icon/Tipo_Producto.png" style="height:40px;width:40px;margin-bottom:10px" />
                        </div>
                        <div class="info" style="border-color:darkmagenta">
                            <div class="more">
                                <a href="~/NumeracionDocumentos/Index" title="">
                                    <h6 class="title">Numeracion de documentos</h6>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-2">
                <div class="box">
                    <div class="icon">
                        <div class="image" style="background-color:white">
                            <img src="~/Content/assets/img/vets_icon/Tipo_Producto.png" style="height:40px;width:40px;margin-bottom:10px" />
                        </div>
                        <div class="info" style="border-color:darkmagenta">
                            <div class="more">
                                <a href="~/ProveedorTimbrado/Index" title="">
                                    <h6 class="title">Proveedor Timbrado</h6>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-2">
                <div class="box">
                    <div class="icon">
                        <div class="image" style="background-color:white">
                            <img src="~/Content/assets/img/vets_icon/Tipo_Producto.png" style="height:40px;width:40px;margin-bottom:10px" />
                        </div>
                        <div class="info" style="border-color:darkmagenta">
                            <div class="more">
                                <a href="~/ProveedorTimbrado/Index" title="">
                                    <h6 class="title">Tipo Comprobante</h6>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    <div class="container-fluid" style="margin-top:30px;">
        <h4>Localización</h4>
        <hr />
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-lg-2">
                <div class="box">
                    <div class="icon">
                        <div class="image" style="background-color:white">
                            <img src="~/Content/assets/img/vets_icon/Pais.png" style="height:40px;width:40px;margin-bottom:10px" />
                        </div>
                        <div class="info" style="border-color:darkmagenta">
                            <div class="more">
                                <a href="~/Paises/Index" title="">
                                    <h6 class="title">Paises</h6>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-2">
                <div class="box">
                    <div class="icon">
                        <div class="image" style="background-color:white">
                            <img src="~/Content/assets/img/vets_icon/departamento.png" style="height:40px;width:40px;margin-bottom:10px" />
                        </div>
                        <div class="info" style="border-color:darkmagenta">
                            <div class="more">
                                <a href="~/Departamentos/Index" title="">
                                    <h6 class="title">Departamento</h6>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-2">
                <div class="box">
                    <div class="icon">
                        <div class="image" style="background-color:white">
                            <img src="~/Content/assets/img/vets_icon/barrio.png" style="height:50px;width:50px;margin-bottom:10px" />
                        </div>
                        <div class="info" style="border-color:darkmagenta">
                            <div class="more">
                                <a href="~/Ciudades/Index" title="">
                                    <h6 class="title">Ciudades</h6>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" style="margin-top:30px;">
        <h4>Mascotas</h4>
        <hr />
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-lg-2">
                <div class="box">
                    <div class="icon">
                        <div class="image" style="background-color:white">
                            <img src="~/Content/assets/img/vets_icon/aseo.png" style="height:40px;width:40px;margin-bottom:10px" />
                        </div>
                        <div class="info" style="border-color:darkmagenta">
                            <div class="more">
                                <a href="~/Servicios/Index" title="">
                                    <h6 class="title">Servicios</h6>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-2">
                <div class="box">
                    <div class="icon">
                        <div class="image" style="background-color:white">
                            <img src="~/Content/assets/img/vets_icon/especies.png" style="height:40px;width:40px;margin-bottom:10px" />
                        </div>
                        <div class="info" style="border-color:darkmagenta">
                            <div class="more">
                                <a href="~/Especies/Index" title="">
                                    <h6 class="title">Especies</h6>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-2">
                <div class="box">
                    <div class="icon">
                        <div class="image" style="background-color:white">
                            <img src="~/Content/assets/img/vets_icon/razas.png" style="height:40px;width:40px;margin-bottom:10px" />
                        </div>
                        <div class="info" style="border-color:darkmagenta">
                            <div class="more">
                                <a href="~/Razas/Index" title="">
                                    <h6 class="title">Razas</h6>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-2">
                <div class="box">
                    <div class="icon">
                        <div class="image" style="background-color:white">
                            <img src="~/Content/assets/img/vets_icon/patologias.png" style="height:40px;width:40px;margin-bottom:10px" />
                        </div>
                        <div class="info" style="border-color:darkmagenta">
                            <div class="more">
                                <a href="~/Patologias/Index" title="">
                                    <h6 class="title">Patologias</h6>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-2">
                <div class="box">
                    <div class="icon">
                        <div class="image" style="background-color:white">
                            <img src="~/Content/assets/img/vets_icon/vacunas.png" style="height:40px;width:40px;margin-bottom:10px" />
                        </div>
                        <div class="info" style="border-color:darkmagenta">
                            <div class="more">
                                <a href="~/Vacunas/Index" title="">
                                    <h6 class="title">Vacunas</h6>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-2">
                <div class="box">
                    <div class="icon">
                        <div class="image" style="background-color:white">
                            <img src="~/Content/assets/img/vets_icon/vacunas.png" style="height:40px;width:40px;margin-bottom:10px" />
                        </div>
                        <div class="info" style="border-color:darkmagenta">
                            <div class="more">
                                <a href="~/Laboratorios/Index" title="">
                                    <h6 class="title">Laboratorios</h6>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" style="margin-top:30px;">
        <h4>Promociones</h4>
        <hr />
        <div class="col-xs-12 col-sm-6 col-lg-2">
            <div class="box">
                <div class="icon">
                    <div class="image" style="background-color:white">
                        <img src="~/Content/assets/img/vets_icon/promocion.png" style="height:40px;width:40px;margin-bottom:10px" />
                    </div>
                    <div class="info" style="border-color:darkmagenta">
                        <div class="more">
                            <a href="~/Parametros/Index" title="">
                                <h6 class="title">Promoción</h6>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
      