﻿@model JaguaEntityModel.rol_permiso

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>rol_permiso</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.id_rol)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_rol)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.id_permiso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_permiso)
        </dd>

        

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_rol_permiso }) |
    @Html.ActionLink("Back to List", "Index")
</p>
