﻿@using PagedList.Mvc;
@model PagedList.IPagedList<JaguaEntityModel.rol_permiso>

@{
    ViewBag.Title = "Index";
}
<head>

    <!--En esta parte se define el estilo del botón de búsqueda-->
    <style>
        button {
            background: none; /*no tiene color de fondo*/
            border: 0; /*no tiene borde*/
        }
    </style>
    <script type="text/javascript">
        $(document).ready(function () {
            $("[name=btnBuscar]").click(function () {
                $("#frmList").attr("action", "/rol_permiso/Index/");
                $("#frmList").submit();

            });
        });
    </script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">

    <meta name="viewport" content="width=device-width" />
    <!--Bootstrap css cdn--->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!---Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!--Bootstrap js cdn-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="card table-with-links table-responsive">
        <div class="card-header">
        </div>
    </div>
    <div class="card table-with-links table-responsive">
        <div class="card-header">
            @using (Html.BeginForm("Index", "rol_permiso", FormMethod.Post, new { id= "frmList" }))
            {
            <div class="pull-right">
                <a href="@Url.Action("Create", "Rol_Permiso")" class="btn btn-wd btn-info btn-outline" title="" rel="tooltip" data-original-title="Agregar Registro">
                    <i class="fa fa-plus" aria-hidden="true"></i>Crear Rol
                </a>
            </div>
                <h2>Rol Permisos</h2>
                <div class="row">
                    <div class="col-sm-3">
                        @Html.TextBox("searchString", (String)ViewBag.searchString, new { @class = "form-control", @placeholder = "Buscar..." })
                    </div>
                    <button type="button" style="" class="btn btn-info btn-outline" id="btnBuscaProd">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </button>
                </div>
            }
        </div>
    </div>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <div class="card table-responsive">
        <div class="card-body table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.Raw("Rol")
                        </th>
                        <th>
                            @Html.Raw("Permiso")
                        </th>

                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.rol.nombre)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.permiso.nombre)
                            </td>

                            <td class="td-actions text-right">
                                <a href="@Url.Action("Edit", new { id = item.id_rol_permiso })" rel="tooltip" title="" class="btn btn-success btn-link btn-xs" data-original-title="Editar">
                                    <i class="fa fa-edit"></i>
                                </a>
                                <button type="submit" value="Delete" onclick="return confirm('Está seguro de eliminar al usuario @item.permiso.nombre') " rel="tooltip" title="" class="btn btn-danger btn-link btn-xs" data-original-title="Eliminar" />
                                <i class="fa fa-times"></i>

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="pull-right">
                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

                @Html.PagedListPager(Model, page => Url.Action("Index",
                   new { page, currentFilter = ViewBag.CurrentFilter }))
            </div>
        </div>
    </div>
</body>