﻿@model JaguaEntityModel.promocion

@{
    ViewBag.Title = "Crear";
    var permisos = Jagua.Clases.SessionManager.ValidarPermisos("Promociones");
    var Ejecutar = (permisos != null ? permisos.ejecutar : false);
}

<head>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        button {
            background: none;
            border: 0;
            color: #23CCEF;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="card strpied-tabled-with-hover">
            <div class="card-header">

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">
                        <h4><i class="fa fa-tags" style="color:mediumpurple"></i> &nbsp;<b>Promoción</b></h4>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            <div class="col-md-10">
                                <label>Descripción</label>
                                @Html.EditorFor(model => model.descripcion, new { htmlAttributes = new { @class = "form-control", required = "required", placeholder = "Descripción Promoción", @maxlength = "200" } })
                                @Html.ValidationMessageFor(model => model.descripcion, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <label>Producto</label>
                                @Html.DropDownList("id_producto", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.id_producto, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-4">
                                <label>Puntos</label>
                                @Html.EditorFor(model => model.puntos, new { htmlAttributes = new { @class = "form-control", @type = "number", @min = "0" } })
                                @Html.ValidationMessageFor(model => model.puntos, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-4">
                                <label>Fecha Desde</label>
                                @Html.EditorFor(model => model.fecha_desde, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                                @Html.ValidationMessageFor(model => model.fecha_desde, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-4">
                                <label>Fecha Hasta</label>
                                @Html.EditorFor(model => model.fecha_hasta, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                                @Html.ValidationMessageFor(model => model.fecha_hasta, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-4">
                                <label>Estado</label>
                                <select id="estado" name="estado" class="form-control" required>
                                    <option value="">Seleccionar...</option>
                                    <option value="A" @(ViewBag.estado == "A" ? "selected='selected'" : "")>Activo</option>
                                    <option value="I" @(ViewBag.estado == "I" ? "selected='selected'" : "")>Inactivo</option>
                                </select>

                            </div>
                        </div>
                        <hr />
                        <div class="pull-right">
                            <button type="submit" title="Guardar" class="btn btn-wd btn-facebook"><i class="fa fa-check-square-o"></i>Guardar</button>
                            <a href="@Url.Action("Index", "Promociones")" title="" class="btn btn-wd btn-info btn-outline" style="" data-original-title="Atras">Cancelar</a>
                        </div>
                        @*<div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Create" class="btn btn-default" />
                                </div>
                            </div>*@
                    </div>
                }

            </div>
        </div>
    </div>
</body>
