﻿@model JaguaEntityModel.promocion
@{
    ViewBag.Title = "Editar";
    var permisos = Jagua.Clases.SessionManager.ValidarPermisos("Promociones");
    var Ejecutar = (permisos != null ? permisos.ejecutar : false);
}
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>

        button {
            background: none;
            border: 0;
            color: #23CCEF;
        }
    </style>
</head>
<div class="card table-with-links table-responsive">
    <div class="card-header">
        @using (Html.BeginForm())
        {
            <fieldset disabled>
                <div class="form-horizontal">
                    <h4>Promoción</h4>
                    <div class="pull-right">
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <label>Descripción</label>
                            <label>@Model.descripcion</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label>Producto</label>
                            @Html.DropDownList("id_producto", null, htmlAttributes: new { @class = "form-control" })
                        </div>
                        <div class="col-md-4">
                            <label>Puntos</label>
                            <input type="number" id="puntos" name="puntos" class="form-control" min="0" value="@ViewBag.puntos" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <label>Fecha Desde</label>
                            <input type="date" id="fecha_desde" name="fecha_desde" class="form-control" min="0" value="@ViewBag.Desde" />
                        </div>
                        <div class="col-md-5">
                            <label>Fecha Hasta</label>
                            <input type="date" id="fecha_hasta" name="fecha_hasta" class="form-control" min="0" value="@ViewBag.Hasta" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label>Estado</label>
                            <select id="estado" name="estado" class="form-control" required>
                                <option value="">Seleccionar...</option>
                                <option value="A" @(ViewBag.estado == "A" ? "selected='selected'" : "")>Activo</option>
                                <option value="I" @(ViewBag.estado == "I" ? "selected='selected'" : "")>Inactivo</option>
                            </select>
                        </div>
                    </div>

                </div>
            </fieldset>
        }
    </div>
</div>
