﻿@using PagedList.Mvc;
@model PagedList.IPagedList<JaguaEntityModel.promocion>
@{
    ViewBag.Title = "Index";
    var permisos = Jagua.Clases.SessionManager.ValidarPermisos("Promociones");
    var Insert = (permisos != null ? permisos.insertar : false);
    var Editar = (permisos != null ? permisos.modificar : false);
    var Eliminar = (permisos != null ? permisos.eliminar : false);
    var Ejecutar = (permisos != null ? permisos.ejecutar : false);

}
<head>
    <script type="text/javascript">
        $(document).ready(function () {
            $("[name=btnBuscar]").click(function () {
                $("#frmList").attr("action", "/Promociones/Index/");
                $("#frmList").submit();

            });
            $("#btnLimpiar").click(function () {
                $("#searchString").val("");
                $("#searchEstado").val("");
                $("#desde").val("");
                $("#hasta").val("");
            });
        });
        function EliminarRegistro(idPromocion) {
            swal({
                title: "Eliminar Registro",
                text: "Está seguro de eliminar el registro?",
                icon: "warning",
                buttons: true,
                dangerMode: true,
                buttons: {
                    confirm: "Aceptar",
                    cancel: "Cancelar"
                },
                showCancelButton: true  
            }).then((willDelete) => {
                    if (willDelete) {
                        $.ajax({
                            url: "/Promociones/Delete/",
                            type: "POST",
                            data: {
                                id: idPromocion
                            }
                        }).done(function (data) {
                            if (data.success) {
                                //alert(data.mensaje);
                                swal({
                                    title: "Eliminar",
                                    text: data.mensaje,
                                    icon: "success",
                                    button: "Ok",
                                });
                                location.reload();
                            } else {
                                swal({
                                    title: "Eliminar",
                                    text: data.mensaje,
                                    icon: "warning",
                                    button: "Ok",
                                });
                            }
                        });
                    } else {
                        //swal("Your imaginary file is safe!");
                    }
                });

        }
        function WindowsPopup(url, windowName) {
            debugger;
            newwindow = window.open(url, windowName, 'height=200,width=150');
            if (window.focus) { newwindow.focus() }
            return false;
        }
         function CargarShowPacientes(id) {
            if (id > 0) {

                $.ajax({
                    url: '@Url.Action("PartialShow", "Promociones")',
                    data: { id: id },
                    success: function (msg) {
                        $("#PartialPopup").html(msg);
                        $("#listPopup").modal();
                        $("#listPopup").modal('show');
                    }
                });
            }
        }
    </script>
</head>
<body>
    <div class="container-fluid">
        <div class="card strpied-tabled-with-hover">
            <div class="card-header">
                @if (!Ejecutar)
                {
                    <script>
                    $(document).ready(function () {
                        SinAcceso();
                    });

                    </script>
                }
                @using (Html.BeginForm("Index", "Promociones", FormMethod.Post, new { id = "frmList" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="pull-right">
                        <a href="@Url.Action("Create", "Promociones")" class="btn btn-wd btn-info btn-outline" title="" rel="tooltip" data-original-title="Agregar Registro">
                            <i class="fa fa-plus" aria-hidden="true"></i>Nueva Promoción
                        </a>
                    </div>
                    <h4><i class="fa fa-tags" style="color:mediumpurple"></i> &nbsp;<b>Promociones</b></h4>
                    <hr/>
                    <div class="row">
                        <div class="col-sm-3">
                            <label>Descripción</label>
                            @Html.TextBox("searchString", (String)ViewBag.searchString, new { @class = "form-control", @placeholder = "Descripción..." })
                        </div>
                        <div class="col-lg-3">
                            <label>Estado</label>
                            <select id="searchEstado" name="searchEstado" class="form-control">
                                <option value="">--Seleccionar--</option>
                                <option value="A" @(ViewBag.estado == "A" ? "selected='selected'" : "")>Activo</option>
                                <option value="I" @(ViewBag.estado == "I" ? "selected='selected'" : "")>Inactivo</option>
                            </select>
                        </div>
                        @*<div class="col-sm-2">
                            <label>Fecha desde</label>
                            <input type="date" id="desde" name="desde" class="form-control" min="0" value="@ViewBag.desde" required />
                        </div>
                        <div class="col-sm-2">
                            <label>Fecha hasta</label>
                            <input type="date" id="hasta" name="hasta" class="form-control" min="0" value="@ViewBag.hasta" required />
                        </div>*@
                        <button type="submit" name="btnBuscar" title="Buscar registros" class="btn btn-simple btn-success btn-outline" style="margin-top: 25px;">
                            <i class="nc-icon nc-zoom-split icon-bold" style="font-size: 20px" aria-hidden="true"></i>
                        </button>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="card strpied-tabled-with-hover">
            <div class="card-body table-full-width table-responsive">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Promoción</th>
                            <th>Puntos</th>
                            <th>Fecha Desde</th>
                            <th>Fecha Hasta</th>
                            <th>Estado</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Count() == 0)
                        {
                            <tr>
                                <td colspan="6">No existen registros</td>
                            </tr>
                        }
                        else
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>@Html.Raw(item.descripcion)</td>
                                    <td>@Html.Raw(item.puntos.ToString("N0"))</td>
                                    <td>
                                        @if (item.fecha_desde != null)
                                        {
                                            @Html.Raw(item.fecha_desde.Value.ToString("dd/MM/yyyy"))
                                        }
                                    </td>
                                    <td>
                                        @if (item.fecha_hasta != null)
                                        {
                                            @Html.Raw(item.fecha_hasta.Value.ToString("dd/MM/yyyy"))
                                        }
                                    </td>
                                    <td>
                                        @if (item.estado.Equals("A"))
                                        {
                                            <span>@Html.Raw("Activo")</span>
                                        }
                                        else
                                        {
                                            <span>@Html.Raw("Inactivo")</span>
                                        }
                                    </td>
                                    <td class="td-actions text-right">
                                        @if (Ejecutar)
                                        {
                                            <a href="#" onclick="CargarShowPacientes(@item.id_promocion); return false;" title="Datos Promociones" rel="tooltip" data-original-title="Detalles" style="color:forestgreen; font-size:15px;"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                        }
                                        @if (Editar)
                                        {
                                            <a href="@Url.Action("Edit", new { id = item.id_promocion })" style="color:deepskyblue"><i class="fa fa-edit" aria-hidden="true"></i></a>
                                        }
                                        @if (Eliminar)
                                        {
                                            <button type="button" value="Delete" onclick="EliminarRegistro(@item.id_promocion);return false;" rel="tooltip" title="" class="btn btn-danger btn-link btn-xs" data-original-title="Eliminar" /><i class="fa fa-times"></i>
                                        }
                                    </td>
                                </tr>

                            }
                        }
                    </tbody>
                </table>
                <div class="pull-right">
                    @*Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount*@
                    @Html.PagedListPager(Model, page => Url.Action("Index",new { page, currentFilter = ViewBag.CurrentFilter }))
                </div>                
            </div>
        </div>
    </div>
</body>
@*//modal de popup*@
<div id="listPopup" class="modal fade" tabindex="-1" role="dialog" ria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Datos</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body" id="PartialPopup">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger pull-right" data-dismiss="modal">Cerrar</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>