﻿﻿
<html lang="es">
<head>
    <meta charset="utf-8">
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="../assets/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no" name="viewport">
    <link href='~/fullcalendar-4.1.0/packages/core//main.css' rel='stylesheet' />
    <link href='~/fullcalendar-4.1.0/packages/daygrid/main.css' rel='stylesheet' />
    <script src='~/fullcalendar-4.1.0/packages/core//main.js'></script>
    <script src='~/fullcalendar-4.1.0/packages/interaction/main.js'></script>
    <script src='~/fullcalendar-4.1.0/packages/daygrid/main.js'></script>
    <script src='~/fullcalendar-4.1.0/packages/core/locales-all.js'></script>
    <script src='~/fullcalendar-4.1.0/packages/timegrid/main.js'></script>
    <script src='~/fullcalendar-4.1.0/packages/list/main.js'></script>
    <script type="text/javascript">
        var eventos;
        $(document).ready(function () {
            //var datos = {
            //    id: 0
            //};
            $.ajax({
                type: "POST",
                url: "/Agenda/DatosCalendario/",
                data: { id: 0 }
            }).done(function (data) {
                if (data.success) {
                    eventos = data.Eventos_;
                    //alert('Has introducido un nuevo coche!!' + data.Eventos_);
                    CrearCalendario();

                } else {
                    alert(data.mensaje);
                }
            });
        });
        /*document.addEventListener('DOMContentLoaded', function () {*/
        function CrearCalendario() {
            //var initialLocaleCode = 'es';
            //var localeSelectorEl = 'es';//document.getElementById('locale-selector');
            var calendarEl = document.getElementById('calendar');

            var today = new Date();
            //console.log(eventos);
            //    [{
            //    title: 'Long Event',
            //    start: today,
            //    end: today
            //}];
            var calendar = new FullCalendar.Calendar(calendarEl, {
                plugins: ['interaction', 'dayGrid', 'timeGrid', 'list'],
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
                    //right: 'dayGridMonth,timeGridWeek,timeGridDay,listMonth'
                },
                defaultDate: today,//'2019-04-12',
                locale: 'es',
                buttonIcons: false, // show the prev/next text
                //weekNumbers: true,
                navLinks: true, // can click day/week names to navigate views
                editable: true,
                eventLimit: true, // allow "more" link when too many events
                events: eventos,
                eventClick: function (info) {
                    //set the values and open the modal
                    $("#eventInfo").html("");
                    if (info.event.title.includes("Promoción")) {
                        CargarShowPromocion(info.event.id);
                        //alert('Event: ' + info.event.title);
                    } else if (info.event.title.includes("Cita")) {
                        CargarShowCita(info.event.id);
                    } else {
                        $("#eventInfo").html(info.event.title);
                        $("#eventContent").modal("show");
                        $("#PartialPopup").hide();
                    }
                    //$("#eventContent").dialog({ modal: true, title: 'Eventos' });
                }

            });
            calendar.render();
        }

        function CerrarModal() {
            $('#eventContent').modal('hide');
            return false;
        }
        function CargarShowCita(id) {
            if (id > 0) {
                $.ajax({
                    url: '@Url.Action("PartialShow", "Agenda")',
                    data: { id: id },
                    success: function (data) {
                        $("#eventInfo").html(data);
                        $("#eventContent").modal("show");
                    }
                }).fail(function (jqXHR, textStatus, errorThrown) {
                    alert('Error!!' + jqXHR + textStatus + errorThrown);
                });
            }
        }
         function CargarShowPromocion(id) {
            if (id > 0) {
                $.ajax({
                    url: '@Url.Action("PartialShowPromocion", "Agenda")',
                    data: { id: id },
                    success: function (data) {
                        $("#eventInfo").html(data);
                        $("#eventContent").modal("show");
                    }
                }).fail(function (jqXHR, textStatus, errorThrown) {
                    alert('Error!!' + jqXHR + textStatus + errorThrown);
                });
            }
        }
    </script>
</head>
<body>
    
    <div class="container-fluid">
        <div class="pull-right">
            <a href="@Url.Content("/Citas/CargarCita") " rel="tooltip" title="" class="fa fa-address-book" style="font-size: 30px; margin-bottom:10px; margin-right: 10px;" ;></a>
        </div>
        <div class="header text-center">
            <h3 class="title">AGENDA MÉDICA</h3>
            <hr>
        </div>
        <br>
        <center>
            <div id='calendar' style="height:75%; width:75%;">
            </div>
        </center>
        <div class="modal" tabindex="-1" role="dialog" id="eventContent">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"><i class="fa fa-calendar-check-o" style="color:mediumpurple"></i>&nbsp;Eventos</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div id="eventInfo"></div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-info" data-dismiss="modal" aria-label="Close">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*<div id="eventContent" title="Event Details">
            <div id="eventInfo"></div>
        </div>*@
</body>
</html>
