﻿﻿@model JaguaEntityModel.cita
@{
    ViewBag.Title = "Detalle";
}
<head>


</head>
<body>
    @using (Html.BeginForm())
    {
        @*Cabecera*@
        <div class="card strpied-tabled-with-hover">
            <div class="card-header ">
                <div class="form-horizontal">
                    <h4>Cita</h4>
                    <hr />
                    <div class="row">
                        <div class="col-sm-4">
                            <label>Cliente</label>
                            @Html.TextBox("cedula", null, new { @class = "form-control", @required = "true", @placeholder = "Cedula", @readonly = "true" })
                            @Html.Hidden("id_cliente", null, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        <div class="col-sm-4">
                            <label> </label>
                            @Html.TextBox("nombre", (String)ViewBag.nombre, new { @class = "form-control", @placeholder = "Nombre y Apellido", @maxlength = "20", @readonly = "true" })
                        </div>
                        <div class="col-sm-4">
                            <label>Mascota</label>
                            @Html.TextBox("txtMascota", null, new { @class = "form-control", @required = "true", @placeholder = "Nombre de la Mascota", @readonly = "true" })
                            @Html.HiddenFor(model => model.id_paciente, new { htmlAttributes = new { @class = "fidDetalleol" } })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <label>Fecha</label>
                            @Html.TextBox("txtFecha", null, new { @class = "form-control", type = "date", @readonly = "true" })
                        </div>
                        <div class="col-sm-4">
                            <label>Hora</label>
                            @Html.TextBox("txtHora", null, new { @class = "form-control", type = "time", @readonly = "true" })
                        </div>
                        <div class="col-sm-4">
                            <label>Estado Cita</label>
                            @Html.DropDownList("ddlEstado", null, new { @class = "form-control", @readonly = "true" })
                        </div>
                    </div>
                    <hr/>
                    <b>Detalles</b>
                    <hr/>
                    <div class="table-responsive">
                        <table class="table" id="detailsTable">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col"></th>
                                    <th scope="col">Servicio</th>
                                    <th scope="col">Costo</th>
                                    <th scope="col">Encargado</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    var nro_item = 0;
                                }
                                @foreach (var item in Model.cita_detalle)
                                {
                                    nro_item = nro_item + 1;
                                    <tr>
                                        <td scope="row">@Html.Raw(nro_item)</td>
                                        <td>@Html.Raw(item.id_servicio)</td>
                                        <td>@Html.Raw(item.producto.descripcion)</td>
                                        <td>@Html.Raw(item.producto.precio.Value.ToString("N0"))</td>
                                        @*<td>@Html.Raw((item.id_encargado != null) ? item.empleado.persona.nro_documento : "")</td>*@
                                        <td>@Html.Raw((item.id_encargado != null) ? item.empleado.persona.nombre + " " + item.empleado.persona.apellido : "")</td>
                                        <td style="display:none;">@Html.Raw(item.id_cita_detalle)</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    }

</body>
