﻿@model JaguaEntityModel.patologia

@{
    ViewBag.Title = "Delete";
}
<div class="content">
    <h3>Está seguro de eliminar el registro?</h3>

    <h4>Patologia</h4>
    <hr />

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card strpied-tabled-with-hover">
                    <div class="card-header ">
                        <dl class="dl-horizontal">
                            <dt>
                                Descripción
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.descripcion)
                            </dd>

                        </dl>

                    </div>
                </div>
            </div>
        </div>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Atrás", "Index")
        </div>
    }

</div>
