﻿@using PagedList.Mvc;
@model PagedList.IPagedList<JaguaEntityModel.patologia>

@{
    ViewBag.Title = "Index";
}

<head>
    <script type="text/javascript">
    $(document).ready(function () {
        $("[name=btnBuscar]").click(function () {
            $("#frmList").attr("action", "/Patologias/Index/");
            $("#frmList").submit();

        });
    });

    </script>
</head>

<body>
    <div class="container-fluid">
        <div class="card strpied-tabled-with-hover">
            <div class="card-header ">
                @using (Html.BeginForm("Index", "Patologias", FormMethod.Post, new { id = "frmList" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="pull-right">
                        <a href="@Url.Action("Create", "Patologias")" class="btn btn-wd btn-info btn-outline" title="" rel="tooltip" data-original-title="Agregar Registro">
                            <i class="fa fa-plus" aria-hidden="true"></i>Nueva Patología
                        </a>
                    </div>
                    <h4><i class="fa fa-paw" style="color:mediumpurple"></i> &nbsp;<b>Patologias</b></h4>
                    <hr/>
                    <div class="row">
                        <div class="col-sm-3">
                            <label>Descripción</label>
                            @Html.TextBox("txtNombre", (String)ViewBag.txtNombre, new { @class = "form-control" })
                        </div>
                        <button type="submit" name="btnBuscar" title="Buscar registros" class="btn btn-simple btn-success btn-outline" style="margin-top: 25px;">
                            <i class="nc-icon nc-zoom-split icon-bold" style="font-size: 20px" aria-hidden="true"></i>
                        </button>
                    </div>
                }
            </div>
        </div>
    </div>
    
    <div class="container-fluid">
        <div class="card strpied-tabled-with-hover">
            <div class="card-body table-full-width table-responsive">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Descripción</th>
                            <th>Estado</th>
                            <th>Usuario Alta</th>
                            <th>Fecha Alta</th>
                            <th>Usuario Mod</th>
                            <th>Fecha Mod</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Count() == 0)
                        {
                            <tr>
                                <td>No existen registros</td>
                            </tr>
                        }
                        else
                        {
                            foreach (var item in Model)
                            {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.id_patologia)</td>
                                <td>@Html.DisplayFor(modelItem => item.descripcion)</td>
                                <td>
                                    <a href="@Url.Action("Edit", "Patologias", new {id = item.id_patologia})" style="color:deepskyblue"><i class="fa fa-edit" aria-hidden="true"></i></a>
                                </td>
                            </tr>
                            }
                        }
                    </tbody>
                </table>
                <div class="pagination" style="margin-left: 400px">
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
                </div>
            </div>
        </div>
    </div>
</body>