﻿@{
    ViewBag.Title = "Index";
}
<head>
    <link href="~/Content/assets/css/light-bootstrap-dashboard.css" rel="stylesheet" />
    @* <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
         <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>*@
    <style>
        .carousel-inner > .carousel-item > img {
            object-fit: contain !important;
            height: 80vh;
            width: 70%;
        }

        .carousel slide > .carousel-control-next-icon, .carousel-control-prev-icon {
            color: mediumpurple !important;
        }

        .fondo {
            background-color: transparent;
            background-image: url(/Content/slides/backgro.jpg);
            background-repeat: no-repeat;
            background-position: center top;
            background-attachment: fixed;
            background-size: cover;
        }
    </style>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#carouselmain").carousel({
                interval: 4000
            });
        });
    </script>
    <script type="text/javascript">
        //Comentario de la bienvenida
        $(document).ready(function () {
            demo.showNotification();
        });
    </script>
</head>
<body>
    <div class="content fondo">
        <div class="container-fluid">
            <center>
                <div id="carouselmain" class="carousel slide" data-ride="carousel" style="max-height:600px;">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselmain" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselmain" data-slide-to="1"></li>
                        <li data-target="#carouselmain" data-slide-to="2"></li>
                        <li data-target="#carouselmain" data-slide-to="3"></li>
                        <li data-target="#carouselmain" data-slide-to="4"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block w-100" src="~/Content/slides/1.jpg" alt="First slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="~/Content/slides/2.jpg" alt="Second slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="~/Content/slides/3.jpg" alt="Third slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="~/Content/slides/4.jpg" alt="Third slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="~/Content/slides/5.jpg" alt="Third slide">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselmain" role="button" data-slide="prev" >
                        <span class="carousel-control-prev-icon" aria-hidden="true" ></span>
                        <span class="sr-only" style="font-size:50%; color:mediumpurple;">Anterior</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselmain" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Siguiente</span>
                    </a>
                </div>
            </center>
        </div>
    </div>
</body>