﻿@model JaguaEntityModel.usuarios
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<head>

</head>
<div class="wrapper wrapper-full-page">
	<!-- Navbar -->
	<nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute">
		<div class="container">
			<div class="navbar-wrapper">
				<a class="navbar-brand" href="">
					<img style="height:50px; width:50px; margin-right:10px;" src="~/Content/assets/img/pet_dash.png" />JAGUA
				</a>
				<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-bar burger-lines"></span>
					<span class="navbar-toggler-bar burger-lines"></span>
					<span class="navbar-toggler-bar burger-lines"></span>
				</button>
			</div>
		</div>
	</nav>
	<!-- End Navbar -->
	<div class="full-page  section-image" data-color="black" data-image="~/Content/assets/img/full-screen-image-2.jpg" ;="">
		<!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
		<div class="content">
			<div class="container">
				<div class="col-md-4 col-sm-6 ml-auto mr-auto">
					
                    <div class="card card-login">
                        <div class="card-header ">
                            <h3 class="header text-center">Login <i class="fa fa-paw" aria-hidden="true"></i></h3>
                        </div>
                        @using (Html.BeginForm("Autenticar", "Login", FormMethod.Post, new { @class = "form-horizontal form-label-left" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="card-body ">
                                <div class="card-body">
                                    <div class="form-group">
                                        <i class="fa fa-user" aria-hidden="true"></i>@Html.Label("Usuario", "Usuario", new { @class = "control-label" })
                                        @Html.EditorFor(model => model.usuario, new { htmlAttributes = new { @class = "form-control", required = "required", placeholder = "Usuario" } })
                                        @Html.ValidationMessageFor(model => model.usuario, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        <i class="fa fa-lock" aria-hidden="true"></i>@Html.Label("Contraseña", "Contraseña", new { @class = "control-label" })
                                        @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control", required = "required", @type = "password", placeholder = "Contraseña" } })
                                        @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                                    </div>

                                </div>
                            </div>
                            <div class="card-footer ml-auto mr-auto" style="text-align:center;">
                                <input type="submit" value="Ingresar" class="btn btn-success btn-outline" />
                                @Html.ActionLink("Olvidé mi contraseña", "RecuperarPassword", new { controller = "Login" }, new { @class = "btn btn-warning btn-outline" })
                            </div>
                            @*<div class="card-footer ml-auto mr-auto" style="text-align:center;">
                                @Html.ActionLink("Modificar Contraseña", "ModificarPassword", new { controller = "Login" })
                            </div>*@
                        }
                    </div>
			
				</div>
			</div>
		</div>
		<div class="full-page-background" style="background-image: url(../../Content/assets/img/full-screen-image-2.jpg) "></div>
	</div>
</div>