﻿@model JaguaEntityModel.usuarios
@{
    ViewBag.Title = "Index";
    ViewBag.usuario = Jagua.Clases.SessionManager.SessionData.usuario;
}
<head>

</head>
<div class="content" style="padding-top: 10vh;">
    <div class="container">
        <div class="col-md-4 col-sm-6 ml-auto mr-auto">
            <div class="card card-login">
                <div class="card-header ">
                    <a href="@Url.Action("Index", "Home")" title="Cerrar" class="close" style="" data-original-title="Atras">&times;</a>
                    <h5 class="header text-center"><i class="fa fa-paw" aria-hidden="true"></i>Modificar Contraseña</h5>
                </div>
                @using (Html.BeginForm("ModificarPassword", "Login", FormMethod.Post, new { @class = "form-horizontal form-label-left" }))
                {

                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    if (ViewBag.modificar == false)
                    {
                        <div class="card-body ">

                            <div class="form-group">
                                <i class="fa fa-user" aria-hidden="true"></i>@Html.Label("Usuario", "Usuario", new { @class = "control-label" })
                                @Html.EditorFor(model => model.usuario, new { htmlAttributes = new { @class = "form-control", required = "required", @Value = ViewBag.usuario, disabled = "disabled" } })
                                @Html.ValidationMessageFor(model => model.usuario, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <i class="fa fa-lock" aria-hidden="true"></i>@Html.Label("Contraseña", "Contraseña Actual", new { @class = "control-label" })
                                @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control", required = "required", @type = "password", placeholder = "Contraseña Actual" } })
                                @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <i class="fa fa-lock" aria-hidden="true"></i>@Html.Label("Contraseña", "Contraseña Nueva", new { @class = "control-label" })
                                @Html.TextBox("nuevopassword", "", new { @class = "form-control", required = "required", @type = "password", placeholder = "Contraseña Nueva" })

                            </div>
                            <div class="form-group">
                                <i class="fa fa-lock" aria-hidden="true"></i>@Html.Label("Contraseña", "Confirmar Contraseña", new { @class = "control-label" })
                                @Html.TextBox("repetirpassword", "", new { @class = "form-control", required = "required", @type = "password", placeholder = "Contraseña Nueva" })

                            </div>

                        </div>
                        <div class="card-footer ml-auto mr-auto pull-right">
                            <button class="btn btn-success" type="submit"><i class="fa fa-spinner" aria-hidden="true"></i>Cambiar</button>
                        </div>
                    }
                    else
                    {
                        @Html.Raw(TempData["msg"]);
                        @*<div class="form-group">
                        <div class="alert alert-primary">
                            <h4>La contraseña se modificó correctamente, puede volver a ingresar con la contraseña nueva!</h4>
                        </div>
                    </div>
                    <div class="card-footer ml-auto mr-auto">
                        @Html.ActionLink("Ir al Login", "Index", new { controller = "Login" }, new { @class = "btn btn-primary" })
                    </div>*@
                    }


                }
            </div>

        </div>
    </div>
</div>
@*<div class="full-page-background" style="background-image: url(../../Content/assets/img/full-screen-image-2.jpg) "></div>
        </div>
    </div>*@

