﻿@model JaguaEntityModel.usuarios
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<div class="wrapper wrapper-full-page">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute">
        <div class="container">
            <div class="navbar-wrapper">
                <a class="navbar-brand" href="">
                    <img style="height:50px; width:50px; margin-right:10px;" src="~/Content/assets/img/pet_dash.png" />JAGUA
                </a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-bar burger-lines"></span>
                    <span class="navbar-toggler-bar burger-lines"></span>
                    <span class="navbar-toggler-bar burger-lines"></span>
                </button>
            </div>

        </div>
    </nav>
    <!-- End Navbar -->
    <div class="full-page  section-image" data-color="black" data-image="~/Content/assets/img/full-screen-image-2.jpg" ;="">
        <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
        <div class="content">
            <div class="container">
                <div class="col-md-4 col-sm-6 ml-auto mr-auto">
                    <div class="card card-login">
                        <div class="card-header ">
                            <h3 class="header text-center">Login</h3>
                        </div>
                        @if (ViewBag.msg != null)
                        {
                            <div class="alert alert-danger">
                                @ViewBag.msg
                            </div>
                        }
                        @using (Html.BeginForm("RecuperarPassword", "Login", FormMethod.Post, new { @class = "form-horizontal form-label-left" }))
                        {
                            <div class="card-body ">
                                <div class="card-body">
                                    <h5>Recuperar Contraseña</h5>
                                    <hr />
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    @Html.AntiForgeryToken()
                                    @if (ViewBag.recuperar == "recuperar")
                                    {
                                        <div class="form-group">
                                            @Html.Label("Usuario", "Usuario", new { @class = "control-label" })

                                            @Html.EditorFor(model => model.usuario, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                            @Html.ValidationMessageFor(model => model.usuario, "", new { @class = "text-danger" })

                                        </div>
                                        <div class="card-footer ml-auto mr-auto">
                                            <input type="submit" value="Enviar" class="btn btn-success" />
                                            @Html.ActionLink("Ir al inicio", "Index", new { controller = "Login" }, new { @class = "btn btn-primary" })
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="form-group">
                                            <h4>La contraseña se modificó correctamente, verifique su correo electrónico para obtener más información</h4>
                                        </div>

                                        <div class="form-group">
                                            <div class="card-footer ml-auto mr-auto">
                                                @Html.ActionLink("Ir al Login", "Index", new { controller = "Login" }, new { @class = "btn btn-primary" })
                                            </div>
                                        </div>

                                    }
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="full-page-background" style="background-image: url(../../Content/assets/img/full-screen-image-2.jpg) "></div>
    </div>
    <footer class="footer">
        <div class="container">
            <nav>
                <ul class="footer-menu">
                    <li>
                        <a href="#">
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Company
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Portfolio
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Blog
                        </a>
                    </li>
                </ul>
                <p class="copyright text-center">
                    ©
                    <script>
                        document.write(new Date().getFullYear())
                    </script>2018
                    <a href="https://www.creative-tim.com">Creative Tim</a>, made with love for a better web
                </p>
            </nav>
        </div>
    </footer>
</div>
