﻿@model List<JaguaEntityModel.paciente>
@{
    Layout = "~/Views/Shared/_LayoutModal.cshtml";
    ViewBag.Title = "Index";
    
    //JaguaEntityModel.JaguaEntities db = new JaguaEntityModel.JaguaEntities();
    //var listaPacientes = db.paciente.Where(t=>t.id_cliente.Equals(idCliente)).ToList();
}
<head>
    <script type="text/javascript">

        function Sel_Paciente(id, nombre) {
            $("#txtMascota").val("" + nombre + "").change();
            $("#id_paciente").val("" + id + "");
            $("#listPaciente").modal('hide');
        }

    </script>
</head>
<body>
    <table class="table table-hover" id="bootstrap-table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var p in Model)
            {
                <tr>
                    <td><span id=@p.id_paciente>@p.id_paciente </span></td>
                    <td><span id='no@sc.id'>@p.nombre</span></td>
                    <td><a href='javascript:Sel_Paciente(@p.id_paciente ,"@p.nombre")' class='btn btn-primary'>Seleccionar</a></td>
                </tr>
            }
        </tbody>
    </table>
</body>