﻿@model JaguaEntityModel.cita

@{
    ViewBag.Title = "Create";
}
<head>
    <script type="text/javascript">
		$(document).ready(function () {
		    var nro_item = 0;

			//Modal Pacientes
			$("#btnBuscaPaciente").click(function () {
				$("#listPaciente").modal();
				$("#listPaciente").modal('show');
			});
			//Modal Productos
			$("#btnBuscaProd").click(function () {
				$("#listProd").modal();
				$("#listProd").modal('show');
			});
		    //Modal Encargados
			$("#btnBuscaEncargado").click(function () {
			    $("#listEmpl").modal();
			    $("#listEmpl").modal('show');
			});

		    //Agregar a grilla
			$("#btnAgregarDetalle").click(function (e) {
			    e.preventDefault();
			    if ($("#producto").val() == "" || $("#id_producto").val() == "") {
                    swal("","Debe ingresar un Servicio! ", "warning");
			    }
			    //else if ($("#encargado").val() == "") {
			    //    swal("Debe ingresar un Encargado! ");
			    //}
			    else {
			        nro_item = nro_item + 1;
			        var id_producto = $("#id_producto").val();
			        var descripcion = $("#descripcion").val();
			        var precio = $("#precio").val().split('.').join("");
			        var id_empleado = $("#id_empleado").val();
			        var ci_empleado = $("#ci_empleado").val();
			        var encargado = $("#encargado").val();
			        var detalle = $("#detailsTable tbody");
                    var productItem = '<tr><td>' + nro_item + '</td><td>' + id_producto + '</td><td>' + descripcion + '</td><td>' + precio + '</td><td>' + ci_empleado + '</td><td>' + encargado +
                        '</td><td><a data-itemId="0" href="#" class="deleteItem"><i class="fa fa-times" style="color:red; font-size:20px" aria-hidden="true"></i></a></td>' +
                        '<input type="hidden" id="hidEmp_' + nro_item + '" value="' + id_empleado +'"/></tr>';
			        detalle.append(productItem);
			        clearItem();
			    }
			});

			//Borrar caja de elementos para cargar mas
			function clearItem() {
			    $("#producto").val('');
				$("#id_producto").val('');
				$("#descripcion").val('');
				$("#precio").val('');
				$("#id_empleado").val('');
				$("#encargado").val('');
			}

		    //Setea la cabecera
			function clearHead() {
			    $("#cedula").val('');
			    $("#nombre").val('');
			    $("#txtMascota").val('');
			    $("#txtFecha").val('');
			    $("#txtHora").val('');
			}

		    // Eliminar una fila de la grilla
			$(document).on('click', 'a.deleteItem', function (e) {
			    e.preventDefault();
			    nro_item = nro_item - 1;
				var $self = $(this);
				if ($(this).attr('data-itemId') == "0") {
					$(this).parents('tr').css("background-color", "#ff6347").fadeOut(800, function () {
						$(this).remove();
					});
				}
			});

			//validar que la cabecera tenga datos


			//guardar los detalles en la bd
			function guardar(data) {
				return $.ajax({
					contentType: 'application/json',
					type: 'POST',
					url: "/Citas/Create",
					data: data,
					success: function (result) {
                        if (result.success) {
                            //swal("Agendar Cita!", result.mensaje, "success").fadeOut(800, function () {
                            //    location.reload();
                            //});
                            swal({
                                title: "Agendar Cita!",
                                text: result.mensaje,
                                type: "success",
                                showCancelButton: false,
                                //closeOnConfirm: true,
                                showLoaderOnConfirm: true
                            }, function (isConfirm) {
                                if (isConfirm) {
                                    location.reload();
                                } else {
                                    location.reload();
                                }
                            });
                        } else {
                            swal("Alerta!", "Error al guardar por favor verifique!", "warning");
                        }
					},
					error: function () {
						alert("Error!")
					}
				});
			}

			//Enviar la lista al controlaor
			$("#btnGuardar").click(function (e) {
				if ($("#cedula").val() == "") {
                    swal("","Debe ingresar el Cliente! ", "warning");
				    $("#cedula").focus();
				}
				else if ($("#txtMascota").val() == "") {
                    swal("","Debe ingresar una Mascota! ", "warning");
				    $("#txtMascota").focus();
				}
				else if ($("#txtFecha").val() == "") {
                    swal("","Debe ingresar la fecha de la cita! ", "warning");
				    $("#txtFecha").focus();
				}
				else if ($("#txtHora").val() == "") {
				    swal("","Debe ingresar la hora de la cita! ");
				    $("#txtHora").focus();
				}
				else if (nro_item == 0) {
                    swal("","Debe completar el detalle de la cita! ", "warning");
				    $("#producto").focus();
                } else {
                    debugger;
				    //swal("Listo para Guardar! ");
				    e.preventDefault();
				    var detalleArray = [];
				    detalleArray.length = 0;
                    var nroitem;
                    var idEmpleado;
                    $.each($("#detailsTable tbody tr"), function () {
                        nroitem = $(this).find('td:eq(0)').html();
				        detalleArray.push({
				            id_servicio: $(this).find('td:eq(1)').html(),
                            id_encargado: $("#hidEmp_" + nroitem).val()
				        });
				    });

				    cabecera = {
                        fecha_cita: $("#txtFecha").val(),
				        hora: $("#txtHora").val(),
				        id_paciente: $("#id_paciente").val(),
				        id_cliente: $("#id_cliente").val()
				    }

				    var data = JSON.stringify({
				        datosDetalle: detalleArray,
				        datos: cabecera
				    });
				    //envío datos
				    guardar(data);
				}
			});

		});
    </script>


    @*<script type="text/javascript">
		$(function () {
		    $('#txtFecha').datetimepicker();
		});
    </script>*@
</head>
<body>
    @using (Html.BeginForm())
    {
        @*Cabecera*@
    <div class="container-fluid">
        <div class="card strpied-tabled-with-hover">
            <div class="card-header ">
                <div class="form-horizontal">

                   @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <h4><i class="fa fa-calendar" style="color:mediumpurple"></i> &nbsp;<b>Citas</b></h4>
                    <hr />
                    <div class="row">
                        <div class="col-sm-3">
                            <label>Cliente</label>
                            @Html.TextBox("cedula", null, new { @class = "form-control", @required = "true", @placeholder = "Cedula", @Value = "" })
                            @Html.Hidden("id_cliente", null, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        <div class="col-sm-3">
                            <label> </label>
                            @Html.TextBox("nombre", (String)ViewBag.nombre, new { @class = "form-control", @placeholder = "Nombre y Apellido", @maxlength = "20", @readonly = "true" })
                        </div>
                        <div class="col-sm-3">
                            <label>Mascota</label>
                            @Html.TextBox("txtMascota", null, new { @class = "form-control", @required = "true", @placeholder = "Nombre de la Mascota", @readonly = "true" })
                            @Html.HiddenFor(model => model.id_paciente, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.id_paciente, "", new { @class = "text-danger" })
                        </div>
                        <button type="button" id="btnBuscaPaciente" title="Buscar registros" class="btn btn-simple btn-success btn-outline" style="margin-top: 20px;">
                            <i class="nc-icon nc-zoom-split icon-bold" style="font-size: 20px" aria-hidden="true"></i>
                        </button>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <label>Fecha</label>
                            @Html.TextBox("txtFecha", null, new { @class = "form-control", type = "date" })
                            @Html.ValidationMessageFor(model => model.fecha_cita, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-sm-3">
                            <label>Hora</label>
                            @Html.TextBox("txtHora", null, new { @class = "form-control", type = "time", @required = "true" })
                        </div>
                        <div class="col-sm-3">
                            <label>Estado Cita</label>
                            @Html.DropDownList("ddlEstado", new SelectList(new List<object> { new { value = "P", text = "PENDIENTE" } }, "value", "text", (String)ViewBag.estado),
                                               new { @class = "form-control", @disabled = "disabled", @Value = "P" })
                            @Html.ValidationMessageFor(model => model.cita_estado.estado, "", new { @class = "text-danger" })

                        </div>
                    </div>


                    <hr style="outline-color:aqua" />
                    <b>Detalles</b>
                    @*detalle_cabecera*@
                    @* @Html.Hidden("Id_Compras_Detalle","0")*@
                    <div class="row">
                        <div class="col-sm-5">
                            <label>Servicio</label>
                            @Html.TextBox("producto", null, new { @class = "form-control", @placeholder = "Descripción del Servicio", @maxlength = "30" })
                            @Html.Hidden("id_producto", null, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.Hidden("descripcion", "0")
                            @Html.Hidden("precio", "0")
                        </div>
                        <button type="button" id="btnBuscaProd" title="Buscar productos" class="btn btn-simple btn-success btn-outline" style="margin-top: 20px;">
                            <i class="nc-icon nc-zoom-split icon-bold" style="font-size: 20px" aria-hidden="true"></i>
                        </button>
                        <div class="col-sm-4">
                            <label>Encargado</label>
                            @Html.TextBox("encargado", null, new { @class = "form-control", @placeholder = "Nombre y Apellido", @maxlength = "30", @readonly = "true" })
                            @Html.Hidden("id_empleado", null, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.Hidden("ci_empleado", null, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        <button type="button" id="btnBuscaEncargado" title="Buscar Encargados" class="btn btn-simple btn-success btn-outline" style="margin-top: 20px;">
                            <i class="nc-icon nc-zoom-split icon-bold" style="font-size: 20px" aria-hidden="true"></i>
                        </button>
                        <div class="col-md-1">
                            <button type="button" style="margin-top:20px" class="btn btn-info btn-outline" id="btnAgregarDetalle"><i class="fa fa-plus" aria-hidden="true"></i> </button>
                        </div>
                    </div>


                    <hr style="outline-color:aqua" />
                    @*detalle_cuerpo*@
                    <table class="table" id="detailsTable">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Códido</th>
                                <th>Servicio</th>
                                <th>Costo</th>
                                <th>Nro. CI Encargado</th>
                                <th>Nombre y Apellido</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <hr>
                    <div class="pull-right">
                        <button type="submit" title="Guardar" class="btn btn-wd btn-facebook">
                            <i class="fa fa-check-square-o"></i>
                            Guardar
                        </button>
                        <a href="@Url.Action("Index", "Citas")" title="" class="btn btn-wd btn-info btn-outline" style="" data-original-title="Atras">
                            Cancelar
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    }

    @*Aca empieza modal*@
    @*//modal de mascota*@
    <div id="listPaciente" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close; pull-right" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 @*class="modal-title"*@ style="text-align:center">Listado de Pacientes</h4>
                </div>
                <div class="modal-body" id="PartialPacientes">
                    @*@Html.Partial("~/Views/Citas/_modalPacientes.cshtml")*@
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger pull-right" data-dismiss="modal">Cancelar</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    @*//modal de servicios*@
    <div id="listProd" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close; pull-right" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" style="text-align:center">Listado de Servicios</h4>
                </div>
                <div class="modal-body">
                    @Html.Partial("~/Views/Modals/_modalServicios.cshtml")
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger pull-right" data-dismiss="modal">Cancelar</button>
                </div>
            </div><!-- /.modal-content -->
        </div>
    </div>
    @*//modal de encargado*@
    <div id="listEmpl" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close; pull-right" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" style="text-align:center">Lista de Encargados</h4>
                </div>
                <div class="modal-body">
                    @Html.Partial("~/Views/Modals/_modalEncargado.cshtml")
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger pull-right" data-dismiss="modal">Cancelar</button>
                </div>
            </div><!-- /.modal-content -->
        </div>
    </div>
</body>


@*funciones de autocompletado*@
<script src="~/Content/assets/js/core/jquery-ui.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#cedula").autocomplete({
            source: function (request, response) {
                    $.ajax({
                        url: '@Url.Action("ClienteSearch", "Citas")',
                        dataType: "json",
                        data: { search: request.term },
                        success: function (data) {
							response($.map(data, function (item) {
								var AC = new Object();

								//autocomplete default values REQUIRED
								AC.label = item.nro_documento + ' ' + item.nombre + ' ' + item.apellido;
								AC.value = item.nro_documento;

								//extend values
								AC.nombre = item.nombre;
								AC.apellido = item.apellido;
                                AC.id_cliente = item.id_cliente; 
                                
								return AC
                                //return { label: item.nro_documento + ' ' + item.nombre + ' ' + item.apellido, value: item.nro_documento};
                            }
                            ));
                        },
                        error: function (xhr, status, error) {
                            alert("Error");
                        }
                   });
                },
            minLength: 2,
            select: function (event, ui) {
				$('#cedula').val(ui.item.value);
				$('#nombre').val(ui.item.nombre + ' ' + ui.item.apellido);
				$('#id_cliente').val(ui.item.id_cliente);
                $("#txtMascota").focus();
                CargarShowPacientes();
            }
		});/*Fin Cedula*/

        /*Datos de Producto*/
        $("#producto").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '@Url.Action("ProductDetails", "Citas")',
                    dataType: "json",
                    data: { search: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            var AC = new Object();

                            //autocomplete default values REQUIRED
                            AC.label = item.descripcion;
                            AC.value = item.descripcion;

                            //extend values
                            AC.id_producto = item.id_producto;
                            AC.descripcion = item.descripcion;
                            AC.precio = item.precio;
                           
                            return AC
                        }
                        ));
                    },
                    error: function (xhr, status, error) {
                        alert("Error");
                    }
                });
            },
            minLength: 2,
            select: function (event, ui) {
                debugger;
                $("#id_producto").val(ui.item.id_producto);
                $("#descripcion").val(ui.item.descripcion);
                $("#precio").val(ui.item.precio);
                $("#medico").focus;
               
            }

        });/*Fin Datos de Producto*/
        function CargarShowPacientes() {
          
            if ($("#id_cliente").val() != "") {
                $.ajax({
                    url: '@Url.Action("PartialShowPacientes", "Citas")',
                    data: { idCliente: $("#id_cliente").val() },
                    success: function (msg) {
                        $("#PartialPacientes").html(msg);
                    }
                });
            }
        }
    });
</script>