﻿@model JaguaEntityModel.cita

@{
    ViewBag.Title = "Detalle";
}
<head>
    


</head>
<body>
    @using (Html.BeginForm())
    {
        @*Cabecera*@
        <div class="card strpied-tabled-with-hover">
            <div class="card-header ">
                <div class="form-horizontal">
                    <fieldset disabled="disabled">
                        <div class="row">
                            <div class="col-sm-4">
                                <label>Cliente</label>
                                @Html.TextBox("cedula", null, new { @class = "form-control", @required = "true", @placeholder = "Cedula", })
                                @Html.Hidden("id_cliente", null, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="col-sm-4">
                                <label> </label>
                                @Html.TextBox("nombre", (String)ViewBag.nombre, new { @class = "form-control", @placeholder = "Nombre y Apellido", @maxlength = "20", @readonly = "true" })
                            </div>
                            <div class="col-sm-4">
                                <label>Mascota</label>
                                @Html.TextBox("txtMascota", null, new { @class = "form-control", @required = "true", @placeholder = "Nombre de la Mascota", @readonly = "true" })
                                @Html.HiddenFor(model => model.id_paciente, new { htmlAttributes = new { @class = "fidDetalleol" } })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <label>Fecha</label>
                                @Html.TextBox("txtFecha", null, new { @class = "form-control", type = "date" })
                                
                            </div>
                            <div class="col-sm-4">
                                <label>Hora</label>
                                @Html.TextBox("txtHora", null, new { @class = "form-control", type = "time", @required = "true" })
                            </div>
                            <div class="col-sm-4">
                                <label>Estado Cita</label>
                                @Html.DropDownList("ddlEstado", null,new { @class = "form-control", @readonly = "true", @Value = "P" })
                            </div>
                        </div>
                        <hr/>
                        <b>Detalles</b>

                        @*<div class="row">
                            <div class="col-sm-5">
                                <label>Servicio</label>
                                @Html.TextBox("producto", null, new { @class = "form-control", @placeholder = "Descripción del Servicio", @maxlength = "30" })
                                @Html.Hidden("id_producto", null, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.Hidden("descripcion", "0")
                                @Html.Hidden("precio", "0")
                            </div>
                            <button type="button" style="margin-top:25px" class="btn btn-info btn-outline" id="btnBuscaProd">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </button>
                            <div class="col-sm-4">
                                <label>Encargado</label>
                                @Html.TextBox("encargado", null, new { @class = "form-control", @placeholder = "Nombre y Apellido", @maxlength = "30", @readonly = "true" })
                                @Html.Hidden("id_empleado", null, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.Hidden("ci_empleado", null, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <button type="button" style="margin-top:25px" class="btn btn-info btn-outline" id="btnBuscaEncargado">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </button>
                            <div class="col-md-1">
                                <button type="button" style="margin-top:25px" class="btn btn-info btn-outline" id="btnAgregarDetalle"><i class="fa fa-plus" aria-hidden="true"></i> </button>
                            </div>
                        </div>*@


                        <hr/>
                        @*detalle_cuerpo*@
                        <table class="table" id="detailsTable">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col"></th>
                                    <th scope="col">Servicio</th>
                                    <th scope="col">Costo</th>
                                    <th scope="col">Encargado</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    var nro_item = 0;
                                }
                                @foreach (var item in Model.cita_detalle)
                                {
                                    nro_item = nro_item + 1;
                                    <tr>
                                        <td>@Html.Raw(nro_item)</td>
                                        <td>@Html.Raw(item.id_servicio)</td>
                                        <td>@Html.Raw(item.producto.descripcion)</td>
                                        <td>@Html.Raw(item.producto.precio.Value.ToString("N0"))</td>
                                        @*<td>@Html.Raw((item.id_encargado != null) ? item.empleado.persona.nro_documento : "")</td>*@
                                        <td>@Html.Raw((item.id_encargado != null) ? item.empleado.persona.nombre + " " + item.empleado.persona.apellido : "")</td>
                                        <td style="display:none;">@Html.Raw(item.id_cita_detalle)</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </fieldset>
                </div>
            </div>
        </div>
    }


</body>


