﻿@model JaguaEntityModel.cita

@{
    ViewBag.Title = "Editar";
}
<head>
    <script src="~/Scripts/sweetalert.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var nro_item = 0;
            nro_item = $('#detailsTable tbody tr').length;
            //Modal Pacientes
            $("#btnBuscaPaciente").click(function () {
                $("#listPaciente").modal();
                $("#listPaciente").modal('show');
            });
            //Modal Productos
            $("#btnBuscaProd").click(function () {
                $("#listProd").modal();
                $("#listProd").modal('show');
            });
            //Modal Encargados
            $("#btnBuscaEncargado").click(function () {
                $("#listEmpl").modal();
                $("#listEmpl").modal('show');
            });

            //Agregar a grilla
            $("#btnAgregarDetalle").click(function (e) {
                e.preventDefault();
                if ($("#producto").val() == "" || $("#id_producto").val() == "") {
                    swal("", "Debe ingresar un Servicio! ", "warning");
                }
                //else if ($("#encargado").val() == "") {
                //    swal("Debe ingresar un Encargado! ", "warning");
                //}
                else {
                    var rows = $('#detailsTable tbody tr').length;
                    nro_item = rows;
                    nro_item = nro_item + 1;
                    var id_producto = $("#id_producto").val();
                    var descripcion = $("#descripcion").val();
                    var precio = $("#precio").val().split('.').join("");
                    var id_empleado = $("#id_empleado").val();
                    var ci_empleado = $("#ci_empleado").val();
                    var encargado = $("#encargado").val();
                    var detalle = $("#detailsTable tbody");
                    var productItem = '<tr><td>' + nro_item + '</td><td>' + id_producto + '</td><td>' + descripcion + '</td><td>' + precio + '</td><td>' + ci_empleado + '</td><td>' + encargado +
                        '</td><td><a data-itemId="0" href="#" class="deleteItem"><i class="fa fa-times" style="color:red; font-size:20px" aria-hidden="true"></i></a></td>' +
                        '<td style="display:none;">0</td>' +
                        '<input type="hidden" id="hidEmp_' + nro_item + '" value="' + id_empleado + '"/></tr>';
                    detalle.append(productItem);
                    clearItem();
                }
            });

            //Borrar caja de elementos para cargar mas
            function clearItem() {
                $("#producto").val('');
                $("#id_producto").val('');
                $("#descripcion").val('');
                $("#precio").val('');
                $("#id_empleado").val('');
                $("#encargado").val('');
            }

            //Setea la cabecera
            function clearHead() {
                $("#cedula").val('');
                $("#nombre").val('');
                $("#txtMascota").val('');
                $("#txtFecha").val('');
                $("#txtHora").val('');
            }

            // Eliminar una fila de la grilla
            $(document).on('click', 'a.deleteItem', function (e) {
                e.preventDefault();
                nro_item = nro_item - 1;
                var $self = $(this);
                if ($(this).attr('data-itemId') == "0") {
                    var tr = $(this).parents('tr');
                    swal({
                        title: "Esta seguro de Eliminar?",
                        //text: "Usted no tiene permisos para ver esta página consulte con el Administrador!",
                        icon: "warning",
                        buttons: true,
                        confirmButtonText: "Aceptar",
                        cancelButtonText: "Cancelar",
                        showCancelButton: true,
                        dangerMode: true,
                        closeOnConfirm: true,
                        closeOnCancel: true,

                    },
                        function (isConfirm) {
                            if (isConfirm) {
                                tr.css("background-color", "#ff6347").fadeOut(800, function () {
                                    var idCitaDetalle = tr.find('td:eq(7)').html();
                                    //alert(tr.find('td:eq(7)').html());
                                    if (idCitaDetalle != "" && idCitaDetalle != "0") {
                                        $.ajax({
                                            url: '@Url.Action("DeleteCitasDet", "Citas")',
                                            data: { idCitaDet: idCitaDetalle },
                                            success: function (data) {
                                                if (data.success) {
                                                    $(this).remove();
                                                    //swal("Eliminado!", data.mensaje, "success");
                                                } else {
                                                    swal("Alerta!", data.mensaje, "warning");
                                                }
                                            }
                                        });
                                    } else {
                                        $(this).remove();
                                    }
                                });
                            }
                        });

                }

            });

            //validar que la cabecera tenga datos


            //guardar los detalles en la bd
            function guardar(data) {
                return $.ajax({
                    contentType: 'application/json',
                    type: 'POST',
                    url: "/Citas/Edit",
                    data: data,
                    success: function (result) {
                        if (result.success) {//aca hay que hacer 
                            swal("Actualizar Cita!", result.mensaje, "success");
                            setTimeout(function () {
                                window.location.href = '@Url.Action("Index", "Citas")'; // you can pass true to reload function to ignore the client cache and reload from the server
                            }, 1000);
                        } else {
                            swal("Alerta!", result.mensaje, "warning");
                        }

                    },
                    error: function () {
                        swal("Alerta!", "Error al editar por favor verifique!", "warning");
                    }
                });
            }

            //Enviar la lista al controlaor
            $("#btnGuardar").click(function (e) {
                if ($("#cedula").val() == "") {
                    swal("", "Debe ingresar el Cliente! ", "warning");
                    $("#cedula").focus();
                }
                else if ($("#txtMascota").val() == "") {
                    swal("", "Debe ingresar una Mascota! ", "warning");
                    $("#txtMascota").focus();
                }
                else if ($("#txtFecha").val() == "") {
                    swal("", "Debe ingresar la fecha de la cita! ", "warning");
                    $("#txtFecha").focus();
                }
                else if ($("#txtHora").val() == "") {
                    swal("", "Debe ingresar la hora de la cita! ", "warning");
                    $("#txtHora").focus();
                }
                else if (nro_item == 0) {
                    swal("", "Debe completar el detalle de la cita! ", "warning");
                    $("#producto").focus();
                } else {
                    //swal("Listo para Guardar! ");
                    e.preventDefault();
                    var detalleArray = [];
                    detalleArray.length = 0;

                    $.each($("#detailsTable tbody tr"), function () {
                        nroitem = $(this).find('td:eq(0)').html();
                        detalleArray.push({
                            id_servicio: $(this).find('td:eq(1)').html(),
                            id_encargado: $("#hidEmp_" + nroitem).val(),
                            id_cita_detalle: $(this).find('td:eq(7)').html()
                        });
                    });

                    cabecera = {
                        id_cita: $("#id_cita").val(),
                        fecha_cita: $("#txtFecha").val(),
                        hora: $("#txtHora").val(),
                        id_paciente: $("#id_paciente").val(),
                        id_cliente: $("#id_cliente").val(),
                        id_estado: $("#id_estado").val()
                    }

                    var data = JSON.stringify({
                        datosDetalle: detalleArray,
                        datos: cabecera
                    });
                    //envío datos
                    guardar(data);
                }
            });
            @*$("#btnConfirmar").click(function (e) {
                CancelarCita($("#id_cita").val(), 'C', 'Confirmar');
            });
            $("#btnCancelar").click(function (e) {
                CancelarCita($("#id_cita").val(), 'X', 'Cancelar');
            });
            $("#btnFinalizar").click(function (e) {
                CancelarCita($("#id_cita").val(), 'F', 'Finalizar');
            });

            function CancelarCita(idCita, estado, tipo) {
                swal({
                    title: "Estas seguro de " + tipo + " la cita?",
                    text: "",
                    type: "warning",
                    confirmButtonText: "Aceptar",
                    cancelButtonText: "Cancelar",
                    closeOnConfirm: true,
                    closeOnCancel: true,
                    showCancelButton: true,
                },
                    function (isConfirm) {
                        if (isConfirm) {
                           $.ajax({
                            url: '@Url.Action("EstadoConfirmed", "Citas")',
                            type: "POST",
                            data: { id:idCita,estado: estado },
                            success: function (data) {
                                if (data.success) {
                                    swal(tipo, data.mensaje, "success");
                                    setTimeout(function () {
                                        window.location.reload(); // you can pass true to reload function to ignore the client cache and reload from the server
                                    }, 3000);
                                } else {
                                    swal("Alerta!", data.mensaje, "warning");
                                }
                            }
                        });
                        }
                    });
            }*@

            @*swal({
                title: "Estas seguro de "+tipo+" la cita?",
                text: "",
                icon: "warning",
                confirmButtonText: "Aceptar",
                cancelButtonText: "Cancelar",
                buttons: true,
                dangerMode: true,

            })
                .then((willDelete) => {
                    if (willDelete) {



                    }
                });*@


        });

    </script>
</head>
<body>
    @using (Html.BeginForm())
    {
        @*Cabecera*@
    <div class="container-fluid">
        <div class="card strpied-tabled-with-hover">
            <div class="card-header ">
                <div class="form-horizontal">

                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.id_cita)
                    <h4><i class="fa fa-calendar" style="color:mediumpurple"></i> &nbsp;<b>Editar Cita</b></h4>
                    <hr />
                    <div class="row">
                        <div class="col-sm-3">
                            <label>Cliente</label>
                            @Html.TextBox("cedula", null, new { @class = "form-control", @required = "true", @placeholder = "Cedula", })
                            @Html.Hidden("id_cliente", null, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        <div class="col-sm-3">
                            <label> </label>
                            @Html.TextBox("nombre", (String)ViewBag.nombre, new { @class = "form-control", @placeholder = "Nombre y Apellido", @maxlength = "20", @readonly = "true" })
                        </div>
                        <div class="col-sm-3">
                            <label>Mascota</label>
                            @Html.TextBox("txtMascota", null, new { @class = "form-control", @required = "true", @placeholder = "Nombre de la Mascota", @readonly = "true" })
                            @Html.HiddenFor(model => model.id_paciente, new { htmlAttributes = new { @class = "fidDetalleol" } })
                            @Html.ValidationMessageFor(model => model.id_paciente, "", new { @class = "text-danger" })
                        </div>
      
                        @*<div class="col-md-1; row" style="margin-top:25px">
                <input type="button" class="btn btn-info btn-outline " id="btnBuscaPaciente" value="Seleccionar" />
                <a href="@Url.Action("Create", "Proveedores")" title="Crear" class="btn btn-success btn-outline">Crear Proveedor</a>
        </div>*@
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <label>Fecha</label>
                            @Html.TextBox("txtFecha", null, new { @class = "form-control", type = "date" })
                            @Html.ValidationMessageFor(model => model.fecha_cita, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-sm-3">
                            <label>Hora</label>
                            @Html.TextBox("txtHora", null, new { @class = "form-control", type = "time", @required = "true" })
                        </div>
                        <div class="col-sm-3">
                            <label>Estado Cita</label>
                            @Html.DropDownList("id_estado", null, new { @class = "form-control", @disabled = "disabled" })
                            @Html.ValidationMessageFor(model => model.cita_estado.estado, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <hr style="outline-color:aqua" />
                    <b>Detalles</b>
                    @*detalle_cabecera*@
                    @* @Html.Hidden("Id_Compras_Detalle","0")*@
                    <div class="row">
                        <div class="col-sm-5">
                            <label>Servicio</label>
                            @Html.TextBox("producto", null, new { @class = "form-control", @placeholder = "Descripción del Servicio", @maxlength = "30" })
                            @Html.Hidden("id_producto", null, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.Hidden("descripcion", "0")
                            @Html.Hidden("precio", "0")
                        </div>
                        <button type="button" name="btnBuscar" title="Buscar registros" class="btn btn-simple btn-success btn-outline" @*style="height:40px;margin-top: 30px;"*@ style="margin-top: 25px;" id="btnBuscaProd">
                            <i class="nc-icon nc-zoom-split icon-bold" style="font-size: 20px" aria-hidden="true"></i>
                        </button>
                        <div class="col-sm-4">
                            <label>Encargado</label>
                            @Html.TextBox("encargado", null, new { @class = "form-control", @placeholder = "Nombre y Apellido", @maxlength = "30", @readonly = "true" })
                            @Html.Hidden("id_empleado", null, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.Hidden("ci_empleado", null, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        @*<button type="button" style="margin-top:25px" class="btn btn-simple btn-success btn-outline" id="btnBuscaEncargado">
            <i class="fa fa-search" aria-hidden="true"></i>
        </button>*@
                        <button type="button" name="btnBuscar" title="Buscar registros" class="btn btn-simple btn-success btn-outline" @*style="height:40px;margin-top: 30px;"*@ style="margin-top: 25px;" id="btnBuscaEncargado">
                            <i class="nc-icon nc-zoom-split icon-bold" style="font-size: 20px" aria-hidden="true"></i>
                        </button>
                        <div class="col-md-1">
                            <button type="button" style="margin-top:25px" class="btn btn-info btn-outline" id="btnAgregarDetalle"><i class="fa fa-plus" aria-hidden="true"></i> </button>
                        </div>
                    </div>

                    <hr style="outline-color:aqua" />
                    @*detalle_cuerpo*@
                    <table class="table" id="detailsTable">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Códido</th>
                                <th>Servicio</th>
                                <th>Costo</th>
                                <th>Nro. CI Encargado</th>
                                <th>Nombre y Apellido</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                var nro_item = 0;
                            }
                            @foreach (var item in Model.cita_detalle)
                            {
                                nro_item = nro_item + 1;
                                <tr>
                                    <td>@Html.Raw(nro_item)</td>
                                    <td>@Html.Raw(item.id_servicio)</td>
                                    <td>@Html.Raw(item.producto.descripcion)</td>
                                    <td>@Html.Raw(item.producto.precio.Value.ToString("N0"))</td>
                                    <td>@Html.Raw((item.id_encargado != null) ? item.empleado.persona.nro_documento : "")</td>
                                    <td>@Html.Raw((item.id_encargado != null) ? item.empleado.persona.nombre + " " + item.empleado.persona.apellido : "")</td>
                                    <td><a data-itemId="0" href="#" class="deleteItem" title="Eliminar"><i class="fa fa-times" style="color:red; font-size:20px" aria-hidden="true"></i></a></td>
                                    <td style="display:none;">@Html.Raw(item.id_cita_detalle)</td>
                                    <input type="hidden" id="hidEmp_@nro_item" value="@item.id_encargado" />
                                </tr>


                            }
                        </tbody>
                    </table>
                    <hr>
                    @*<div class="pull-left">

                        @if (Model.cita_estado.descripcion == "PENDIENTE" || Model.cita_estado.descripcion == "ENVIADO")
                        {
                            <button type="button" style="margin-top:25px" class="btn btn-wd btn-primary" id="btnConfirmar">
                                <i class="fa fa-check-square-o"></i>
                                Confirmar
                            </button>
                        }
                        @if (Model.cita_estado.descripcion == "PENDIENTE" || Model.cita_estado.descripcion == "ENVIADO")
                        {
                            <button type="button" style="margin-top:25px" class="btn btn-wd btn-danger" id="btnCancelar">
                                <i class="fa fa-times"></i>
                                Cancelar
                            </button>
                        }
                        @if (Model.cita_estado.descripcion == "CONFIRMADA")
                        {
                            <button type="button" style="margin-top:25px" class="btn btn-wd btn-success" id="btnFinalizar">
                                <i class="fa fa-thumbs-up"></i>
                                Finalizar
                            </button>
                        }
                    </div>*@
                    <div class="pull-right">
                        <button type="submit" title="Guardar" class="btn btn-wd btn-facebook" id="btnGuardar">
                            <i class="fa fa-check-square-o"></i>
                            Guardar
                        </button>
                        <a href="@Url.Action("Index", "Citas")" title="" class="btn btn-wd btn-info btn-outline" style="" data-original-title="Atras">
                            Cancelar
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    }

    @*Aca empieza modal*@
    @*//modal de mascota*@
    <div id="listPaciente" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close; pull-right" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 @*class="modal-title"*@ style="text-align:center">Listado de Pacientes</h4>
                </div>
                <div class="modal-body" id="PartialPacientes">
                    @*@Html.Partial("~/Views/Modals/_modalPacientes.cshtml",Model.paciente)*@
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger pull-right" data-dismiss="modal">Cancelar</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    @*//modal de servicios*@
    <div id="listProd" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close; pull-right" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" style="text-align:center">Listado de Servicios</h4>
                </div>
                <div class="modal-body">
                    @Html.Partial("~/Views/Modals/_modalServicios.cshtml")
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger pull-right" data-dismiss="modal">Cancelar</button>
                </div>
            </div><!-- /.modal-content -->
        </div>
    </div>
    @*//modal de encargado*@
    <div id="listEmpl" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close; pull-right" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" style="text-align:center">Lista de Encargados</h4>
                </div>
                <div class="modal-body">
                    @Html.Partial("~/Views/Modals/_modalEncargado.cshtml")
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger pull-right" data-dismiss="modal">Cancelar</button>
                </div>
            </div><!-- /.modal-content -->
        </div>
    </div>
</body>


@*funciones de autocompletado*@
<script src="~/Content/assets/js/core/jquery-ui.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#cedula").autocomplete({
            source: function (request, response) {
                    $.ajax({
                        url: '@Url.Action("ClienteSearch", "Citas")',
                        dataType: "json",
                        data: { search: request.term },
                        success: function (data) {
							response($.map(data, function (item) {
								var AC = new Object();

								//autocomplete default values REQUIRED
								AC.label = item.nro_documento + ' ' + item.nombre + ' ' + item.apellido;
								AC.value = item.nro_documento;

								//extend values
								AC.nombre = item.nombre;
								AC.apellido = item.apellido;
								AC.id_cliente = item.id_cliente;

								return AC
                                //return { label: item.nro_documento + ' ' + item.nombre + ' ' + item.apellido, value: item.nro_documento};
                            }
                            ));
                        },
                        error: function (xhr, status, error) {
                            alert("Error");
                        }
                   });
                },
            minLength: 2,
            select: function (event, ui) {
				$('#cedula').val(ui.item.value);
				$('#nombre').val(ui.item.nombre + ' ' + ui.item.apellido);
				$('#id_cliente').val(ui.item.id_cliente);
                $("#txtMascota").focus();
                CargarShowPacientes();
            }
		});/*Fin Cedula*/

        /*Datos de Producto*/
        $("#producto").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '@Url.Action("ProductDetails", "Citas")',
                    dataType: "json",
                    data: { search: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            var AC = new Object();

                            //autocomplete default values REQUIRED
                            AC.label = item.descripcion;
                            AC.value = item.descripcion;

                            //extend values
                            AC.id_producto = item.id_producto;
                            AC.descripcion = item.descripcion;
                            AC.precio = item.precio;

                            return AC
                        }
                        ));
                    },
                    error: function (xhr, status, error) {
                        alert("Error");
                    }
                });
            },
            minLength: 2,
            select: function (event, ui) {
                $("#id_producto").val(ui.item.id_producto);
                $("#descripcion").val(ui.item.descripcion);
                $("#precio").val(ui.item.precio);
                $("#medico").focus()
            }

        });/*Fin Datos de Producto*/
            function CargarShowPacientes() {

            if ($("#id_cliente").val() != "") {
                $.ajax({
                    url: '@Url.Action("PartialShowPacientes", "Citas")',
                    data: { idCliente: $("#id_cliente").val() },
                    success: function (msg) {
                        $("#PartialPacientes").html(msg);
                    }
                });
            }
        }
        CargarShowPacientes();
    });
</script>