﻿﻿@using PagedList.Mvc;
@model PagedList.IPagedList<JaguaEntityModel.cita>
@{
    ViewBag.Title = "Listado";
    var permisos = Jagua.Clases.SessionManager.ValidarPermisos("Citas");
    var Insert = (permisos != null ? permisos.insertar : false);
    var Editar = (permisos != null ? permisos.modificar : false);
    var Eliminar = (permisos != null ? permisos.eliminar : false);
    var Ejecutar = (permisos != null ? permisos.ejecutar : false);
    //SACAR DESPUES DE CREAR LOS PERMISOS
    Insert = true;
    Editar = true;
    Eliminar = true;
    Ejecutar = true;
}
<head>
    <script type="text/javascript">
        $(document).ready(function () {
            $("[name=btnBuscar]").click(function () {
                $("#frmList").attr("action", "/Citas/Index/");
                $("#frmList").submit();

            });
        });
        function CancelarCita(idCita,estado,tipo) {
            swal({
                title: "Estas seguro de "+tipo+" la cita?",
                text: "",
                type: "warning",
                dangerMode: true,
                buttons: {
                    confirm: "Aceptar",
                     cancel: "Cancelar"
                },
                showCancelButton: true
            }, function (isConfirm) {
                    if (isConfirm) {
                        $.ajax({
                            url: '@Url.Action("EstadoConfirmed", "Citas")',
                            type: "POST",
                            data: { id:idCita,estado: estado },
                            success: function (data) {
                                if (data.success) {
                                    swal({
                                        text: data.mensaje,
                                        type: "success"
                                    });
                                    //swal(tipo, data.mensaje, "success");
                                    setTimeout(function () {
                                        window.location.reload(); // you can pass true to reload function to ignore the client cache and reload from the server
                                    }, 3000);
                                } else {
                                    swal({
                                        text: data.mensaje,
                                        type: "warning"
                                    });
                                    //swal("Alerta!", data.mensaje, "warning");
                                }
                            }
                        });
                    }
                });
        }

        function CargarShowModal(id) {
            if (id > 0) {
                $.ajax({
                    url: '@Url.Action("Details", "Citas")',
                    data: { id: id },
                    success: function (msg) {
                        $("#PartialPopup").html(msg);
                        $("#listPopup").modal();
                        $("#listPopup").modal('show');
                    }
                });
            }
        }
    </script>
</head>
<body>
    <div class="container-fluid" style="margin-top:-25px;">
        <div class="card strpied-tabled-with-hover">
            <div class="card-header ">
                @using (Html.BeginForm("Index", "Citas", FormMethod.Post, new { id = "frmList" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="pull-right">
                        <a href="@Url.Action("Create", "Citas")" class="btn btn-wd btn-info btn-outline" title="" rel="tooltip" data-original-title="Agregar Citas">
                            <i class="fa fa-plus" aria-hidden="true"></i>Crear Cita
                        </a>
                    </div>
                    <h4><i class="fa fa-calendar" style="color:mediumpurple"></i> &nbsp;<b>Citas</b></h4>
                    <hr>
                    <div class="row">
                        <div class="col-md-3">
                            <label>Nombre</label>
                            @Html.TextBox("txtNombre", (String)ViewBag.txtNombre, new { @class = "form-control" })
                        </div>
                        <div class="col-md-3">
                            <label>Apellido</label>
                            @Html.TextBox("txtApellido", (String)ViewBag.txtApellido, new { @class = "form-control" })
                        </div>
                        <div class="col-md-3">
                            <label>Estado Cita</label>
                            @Html.DropDownList("ddlEstado", null, "--Seleccionar--", new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label>Fecha Desde</label>
                            @Html.TextBox("txtFechaDesde", null, new { @class = "form-control", type = "date" })
                        </div>
                        <div class="col-md-2">
                            <label>Fecha Desde</label>
                            @Html.TextBox("txtFechaHasta", null, new { @class = "form-control", type = "date" })
                        </div>
                        <div class="col-md-3">
                            <label>Servicio</label>
                            @Html.DropDownList("id_producto", null, "Seleccionar....", new { @class = "form-control" })
                        </div>
                        <button type="submit" name="btnBuscar" title="Buscar registros" class="btn btn-simple btn-success btn-outline" @*style="height:40px;margin-top: 30px;"*@ style="margin-top: 25px;">
                            <i class="nc-icon nc-zoom-split icon-bold" style="font-size: 20px" aria-hidden="true"></i>
                        </button>
                    </div>

                }
            </div>
        </div>
    </div>       
    <div class="container-fluid">
        <div class="card strpied-tabled-with-hover">
            <div class="card-body table-full-width table-responsive">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Nro. Cita</th>
                            <th>Nombre & Apellido</th>
                            <th>Fecha/Hora Cita</th>
                            <th>Paciente</th>
                            <th>Estado Cita</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Count() == 0)
                        {
                            <tr>
                                <td>No existen registros</td>
                            </tr>
                        }
                        else
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.id_cita)</td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.cliente.persona.nombre)
                                        @Html.DisplayFor(modelItem => item.cliente.persona.apellido)
                                    </td>
                                    <td>@item.fecha_cita.Value.ToString("dd/MM/yyyy") @item.hora.ToString(@"hh\:mm")</td>
                                    <td>@Html.DisplayFor(modelItem => item.paciente.nombre)</td>
                                    <td>@Html.DisplayFor(modelItem => item.cita_estado.descripcion)</td>
                                    <td>
                                        @if (Editar && item.cita_estado.descripcion != "FINALIZADA")
                                        {
                                            <a href="@Url.Action("Edit", "Citas", new { id = item.id_cita })" title="Editar" style="color:deepskyblue; font-size:15px;"><i class="fa fa-edit" aria-hidden="true"></i></a>
                                        }
                                    </td>
                                    @if (Ejecutar)
                                    {
                                        <td>
                                            @*<a href="@Url.Action("Details", "Citas", new { id = item.id_cita })" title="Ver datos" rel="tooltip" data-original-title="Detalles" style="color:#5499C7; font-size:15px;"><i class="fa fa-eye" aria-hidden="true"></i></a>*@
                                            <a href="#" onclick="CargarShowModal(@item.id_cita); return false;" title="Datos Cita" style="color:forestgreen; font-size:15px;"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                        </td>
                                        <td>
                                            @if (item.cita_estado.descripcion == "PENDIENTE" || item.cita_estado.descripcion == "ENVIADO")
                                            {
                                                <a href="#" onclick="CancelarCita(@item.id_cita,'C','Confirmar'); return false;" title="Confirmar" data-itemId="0" class="deleteItem"><i class="fa fa-check-square-o" style="color:forestgreen; font-size:15px" aria-hidden="true"></i></a>
                                            }
                                        </td>
                                        <td>
                                            @if (item.cita_estado.descripcion == "PENDIENTE" || item.cita_estado.descripcion == "ENVIADO")
                                            {
                                                <a href="#" onclick="CancelarCita(@item.id_cita,'X','Cancelar'); return false;" title="Cancelar" data-itemId="0" class="deleteItem"><i class="fa fa-times" style="color:red; font-size:15px" aria-hidden="true"></i></a>
                                            }
                                        </td>
                                        <td>
                                            @if (item.cita_estado.descripcion == "CONFIRMADA")
                                            {
                                                <a href="#" onclick="CancelarCita(@item.id_cita,'F','Finalizar'); return false;" title="Finalizar" data-itemId="0" class="deleteItem"><i class="fa fa-thumbs-up" style="color:darkgreen; font-size:15px" aria-hidden="true"></i></a>
                                            }
                                        </td>
                                    }
                                </tr>
                            }
                        }
                    </tbody>
                </table>
                <hr />
                <div class="pull-right" style="margin-left: 400px">
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, currentFilter = ViewBag.CurrentFilter }))
                </div>
            </div>
        </div>
    </div>
</body>
@*//modal de popup*@
<div id="listPopup" class="modal fade" tabindex="-1" role="dialog" ria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><i class="fa fa-calendar-check-o" style="color:mediumpurple"></i>&nbsp;Datos de Cita</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body" id="PartialPopup">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal" aria-label="Close">Cerrar</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
