﻿@model JaguaEntityModel.parametros

@{
    ViewBag.Title = "Edit";
}

<head>
</head>

<body>
    <div class="card strpied-tabled-with-hover">
        <div class="card-header ">

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <h4>Parametros</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.id_parametro)

                    <div class="row">
                        <div class="col-md-4">
                            <label>Monto</label>
                            @Html.EditorFor(model => model.monto, new { htmlAttributes = new { @class = "form-control", required = "required", placeholder = "Monto", } })
                            @Html.ValidationMessageFor(model => model.monto, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-md-4">
                            <label>Puntos</label>
                            @Html.EditorFor(model => model.puntos, new { htmlAttributes = new { @class = "form-control", required = "required", placeholder = "Puntos"} })
                            @Html.ValidationMessageFor(model => model.puntos, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="pull-right">
                        <button type="submit" title="Guardar" class="btn btn-wd btn-facebook">
                            <i class="fa fa-check-square-o"></i>
                            Guardar
                        </button>
                        <a href="@Url.Action("Index", "Parametros")" title="" class="btn btn-wd btn-info btn-outline" style="" data-original-title="Atras">
                            Cancelar
                        </a>
                    </div>
                </div>
            }

        </div>
    </div>
</body>