﻿@using PagedList.Mvc;
@model PagedList.IPagedList<JaguaEntityModel.parametros>

@{
    ViewBag.Title = "Index";
}
<head>
    <script type="text/javascript">
        $(document).ready(function () {
            $("[name=btnBuscar]").click(function () {
                $("#frmList").attr("action", "/Parametros/Index/");
                $("#frmList").submit();

            });
        });

    </script>
</head>
<body>
    <div class="container-fluid">
        <div class="card strpied-tabled-with-hover">
            <div class="card-header ">
                @using (Html.BeginForm("Index", "Parametros", FormMethod.Post, new { id = "frmList" }))
                {
                    <div class="pull-right">
                        <a href="@Url.Action("Create", "Parametros")" class="btn btn-wd btn-info btn-outline" title="" rel="tooltip" data-original-title="Agregar Registro">
                            <i class="fa fa-plus" aria-hidden="true"></i>Crear Parametros
                        </a>
                    </div>
                    <h4><i class="fa fa-podcast" style="color:mediumpurple"></i> &nbsp;<b>Parametros</b></h4>
                    <hr />
                    <div class="row">
                        <div class="col-sm-4">
                            <label>Descripcion</label>
                            @Html.TextBox("txtPar", (String)ViewBag.txtUsuario, new { @class = "form-control", placeholder = "Parametro" })
                        </div>
                        <button type="submit" name="btnBuscar" title="Buscar registros" class="btn btn-simple btn-success btn-outline" style="margin-top: 25px;">
                            <i class="nc-icon nc-zoom-split icon-bold" style="font-size: 20px" aria-hidden="true"></i>
                        </button>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="card-body table-full-width table-responsive">
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Monto</th>
                        <th>Puntos</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Count() == 0)
                    {
                        <tr>
                            <td>No existen registros</td>
                        </tr>
                    }
                    else
                    {
                        foreach (var item in Model)
                        {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.id_parametro)</td>
                            <td>@Html.DisplayFor(modelItem => item.monto)</td>
                            <td>@Html.DisplayFor(modelItem => item.puntos)</td>
                            <td><a href="@Url.Action("Edit", "Parametros", new {id = item.id_parametro})" style="color:deepskyblue"><i class="fa fa-edit" aria-hidden="true"></i></a></td>
                        </tr>
                        }
                    }
                </tbody>
            </table>
            <div class="pull-right">
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page, currentFilter = ViewBag.CurrentFilter }))
            </div>
        </div>
    </div>
</body>
