﻿@model JaguaEntityModel.producto

@{
    ViewBag.Title = "Create";
}
<head>
    <script>
        function validar() {
            if (document.getElementById('descripcion').value != "" && document.getElementById('id_usuario').value != "" && document.getElementById('ddlEstado').value != "") {
                swal("¡Registro Agregado! ", " ", "success", "OK");
                $("#frmList").submit();
            }
        }
    </script>
</head>
<body>
    <div class="container-fluid">
        <div class="card strpied-tabled-with-hover">
            <div class="card-header">
                @using (Html.BeginForm())
                {
                @Html.AntiForgeryToken()
               
                <div class="form-horizontal">
                    <h4><i class="fa fa-product-hunt" style="color:mediumpurple"></i> &nbsp;<b>Producto</b></h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group row">
                        <div class="col-md-3">
                            <label>Descripción</label>
                            @Html.TextBox("descripcion", null, new { @class = "form-control", required = "required", @maxlength = "100", @type = "string" })
                        </div>
                        <div class="col-md-3">
                            <label>Marca</label>
                            @Html.TextBox("marca", null, new { @class = "form-control", required = "required", @maxlength = "50" })
                        </div>
                        <div class="col-md-3">
                            <label>Tipo</label>
                            @Html.DropDownList("id_tipo_producto", null, "--Seleccionar--", new { @class = "form-control", required = "required" })
                        </div>
                        <div class="col-md-3">
                            <label>Categoria</label>
                            @Html.DropDownList("id_cat_producto", null, "--Seleccionar--", new { @class = "form-control", required = "required" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-3">
                            <label>Código de Barra</label>
                            @Html.TextBox("codigo_barra", null, new { @class = "form-control", required = "required", @maxlength = "100" })
                        </div>
                        <div class="col-md-3">
                            <label>Stock Actual</label>
                            @Html.TextBox("stock", null, new { @class = "form-control", required = "required", @type = "number" })
                        </div>
                        <div class="col-md-3">
                            <label>Stock Mínimo</label>
                            @Html.TextBox("stock_minimo", null, new { @class = "form-control", required = "required", @type = "number" })
                        </div>
                        <div class="col-md-3">
                            <label>Controlar Stock</label>
                            @Html.DropDownList("controla_stock", new SelectList(new List<object>
                                        {
                                        new { value = "", text = "--Seleccionar--"},
                                        new { value = "S", text = "SI"},
                                        new { value = "N", text = "NO"},
                                        },
                                 "value",
                                 "text",
                                 (String)ViewBag.controla_stock), new { @class = "form-control", required = "required" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-3">
                            <label>Precio</label>
                            @Html.TextBox("precio", null, new { @class = "form-control", required = "required", @type = "number" })
                        </div>
                        <div class="col-md-3">
                            <label>Precio Ult Compra</label>
                            @Html.TextBox("precio_ult_compra", null, new { @class = "form-control", @type = "number" })
                        </div>
                        <div class="col-md-3">
                            <label>Iva</label>
                            @Html.DropDownList("iva", new SelectList(new List<object>
                                        {
                                        new { value = 0, text = "--Seleccionar--"},
                                        new { value = 5, text = "5%"},
                                        new { value = 10, text = "10%"},
                                        },
                                 "value",
                                 "text",
                                 (String)ViewBag.iva), new { @class = "form-control", required = "required" })
                        </div>
                        <div class="col-md-3">
                            <label>Duración<small>&nbsp; Para servicios</small></label>
                            @Html.TextBox("duracion", null, new { @class = "form-control", required = "required", type = "time" })
                            @Html.ValidationMessageFor(model => model.duracion, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <hr/>
                <div class="pull-right">
                    <button type="submit" title="Guardar" class="btn btn-wd btn-facebook">
                        <i class="fa fa-check-square-o"></i>
                        Guardar
                    </button>
                    <a href="@Url.Action("Index", "Productos")" title="" class="btn btn-wd btn-info btn-outline" style="" data-original-title="Atras">
                        Cancelar
                    </a>
                </div>
                }
            </div>
        </div>
    </div>
</body>