﻿@using PagedList.Mvc;
@model PagedList.IPagedList<JaguaEntityModel.producto>

@{
    ViewBag.Title = "Index";
}
<head>
	<script type="text/javascript">
		function Desactivar(item) {
			swal({
				title: "Estas Seguro?",
				text: "El registro se desactivara!",
				type: "warning",
				showCancelButton: true,
				confirmButtonClass: "btn btn-info btn-fill",
				confirmButtonText: "Si, desactivarlo!",
				cancelButtonClass: "btn btn-danger btn-fill",
				cancelButtonText: "Cancelar",
				closeOnConfirm: false,
			}, function (isConfirm) {
				if (isConfirm) {
					$("#frmList").attr("action", "/Productos/DisableConfirmed/" + item);
					$("#frmList").submit();
					swal("Desactivado", "El registro fue desactivado", "success");
					window.location.reload();
				} else {
					swal("Cancelado", " ", "error");
				}
			});
		}

		$(document).ready(function () {
			$("[name=btnBuscar]").click(function () {
				$("#frmList").attr("action", "/Productos/Index/");
				$("#frmList").submit();

			});

			$("#btnImprimir").click(function () {
				$("#modalreporte").modal();
				$("#modalreporte").modal('show');
			});


		});

	</script>
</head>
<body>
    <div class="container-fluid">
        <div class="card strpied-tabled-with-hover">
            <div class="card-header ">
                @using (Html.BeginForm("Index", "Productos", FormMethod.Post, new { id = "frmList" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="pull-right">
                        <a href="@Url.Action("Create", "Productos")" title="" rel="tooltip" class="btn btn-wd btn-info btn-outline" data-original-title="Agregar Registro">
                            <i class="fa fa-plus" aria-hidden="true"></i>Agregar Producto
                        </a>
                    </div>
                    <h4><i class="fa fa-product-hunt" style="color:mediumpurple"></i> &nbsp;<b>Productos</b></h4>
                    <hr/>
                    <div class="row">
                        <div class="col-sm-3">
                            <label>Descripción</label>
                            @Html.TextBox("txtDescripción", (String)ViewBag.txtDescripcion, new { @class = "form-control" })
                        </div>
                        <div class="col-sm-2">
                            <label>Codigo Barra</label>
                            @Html.TextBox("txtCodigo", (String)ViewBag.txtCodigo, new { @class = "form-control" })
                        </div>
                        <div class="col-sm-2">
                            <label>Categoria</label>
                            @Html.DropDownList("ddlCategoria", null, "--Seleccionar--", new { @class = "form-control" })
                        </div>
                        <button type="submit" name="btnBuscar" title="Buscar registros" class="btn btn-simple btn-success btn-outline" style= "margin-left:6px; margin-top:25px;">
                            <i class="nc-icon nc-zoom-split icon-bold" style="font-size: 22px" aria-hidden="true"></i>
                        </button>
                        <a href="@Url.Action("Index", "Productos")" title="" rel="tooltip" class="btn btn-warning btn-outline" style="height:40px;margin-top: 25px;margin-left:12px" data-original-title="Listado de Productos" target="_blank">
                            <i class="nc-icon nc-paper-2 icon-bold" style="font-size: 22px" aria-hidden="true"></i>&nbsp;Reporte
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="card strpied-tabled-with-hover">
            <div class="card-body table-full-width table-responsive">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Descripción</th>
                            <th>Marca</th>
                            <th>Código de Barra</th>
                            <th>Stock</th>
                            <th>Precio</th>
                            <th>Tipo</th>
                            <th>Categoria</th>
                            <th>Estado</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Count() == 0)
                        {
                            <tr>
                                <td>No existen registros</td>
                            </tr>
						}
						else
						{
							foreach (var item in Model)
							{
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.id_producto)</td>
                                <td>@Html.DisplayFor(modelItem => item.descripcion)</td>
                                <td>@Html.DisplayFor(modelItem => item.marca)</td>
                                <td>@Html.DisplayFor(modelItem => item.codigo_barra)</td>
                                <td>@Html.DisplayFor(modelItem => item.stock)</td>
                                <td>@Html.DisplayFor(modelItem => item.precio)</td>
                                <td>@Html.DisplayFor(modelItem => item.tipo_producto.descripcion)</td>
                                <td>@Html.DisplayFor(modelItem => item.categoria_producto.nombre)</td>
                                <td>@Html.DisplayFor(modelItem => item.estado)</td>
                                <td>
                                    <a href="@Url.Action("Editar", "Productos", new {id = item.id_producto})" style="color:deepskyblue"><i class="fa fa-edit" aria-hidden="true"></i></a>
                                    <i class="fa fa-arrow-down" @(item.estado != "I" ? "display" : "hidden") style="color:red" onmouseover="this.style.cursor='pointer';" onclick="Desactivar(@item.id_producto)" aria-hidden="true" rel="tooltip" data-original-title="Anular"></i>
                                </td>
                            </tr>
							}
						}
                    </tbody>
                </table>
                <hr />
                <div class="pull-right" style="margin-right:10px;">
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, currentFilter = ViewBag.CurrentFilter }))
                </div>
            </div>
        </div>
    </div>
    <div id="modalreporte" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" style="vertical-align:central">Vista de Impresion </h4>
                </div>
                <div class="modal-body">
                    <iframe src="~/reportes.aspx" width="100%" height="500px"></iframe>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                </div>
            </div><!-- /.modal-content -->
        </div>
    </div>

</body>