﻿@model JaguaEntityModel.tipo_producto

@{
    ViewBag.Title = "Create";
}
<head></head>
<body>
    <div class="container-fluid">
        <div class="card strpied-tabled-with-hover">
            <div class="card-header ">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">
                        <h4><i class="fa fa-paw" style="color:mediumpurple"></i> &nbsp;<b>Tipo de Producto</b></h4>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            <div class="col-md-3">
                                <label>Descripción</label>
                                @Html.EditorFor(model => model.descripcion, new { htmlAttributes = new { @class = "form-control", required = "required", placeholder = "Descripción", @maxlength = "50" } })
                                @Html.ValidationMessageFor(model => model.descripcion, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <hr />
                        <div class="pull-right">
                            <button type="submit" title="Guardar" class="btn btn-wd btn-facebook">
                                <i class="fa fa-check-square-o"></i>
                                Guardar
                            </button>
                            <a href="@Url.Action("Index", "TipoProducto")" title="" class="btn btn-wd btn-info btn-outline" style="" data-original-title="Atras">
                                Cancelar
                            </a>
                        </div>
                    </div>
                 }
            </div>
        </div>
    </div>
</body>