﻿@model JaguaEntityModel.tipo_producto

@{
    ViewBag.Title = "Edit";
}

<head></head>
<body>
    <div class="container-fluid">
        <div class="card strpied-tabled-with-hover">
            <div class="card-header ">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">
                        <h4><i class="fa fa-paw" style="color:mediumpurple"></i> &nbsp;<b>Editar Tipo de Producto</b></h4>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.id_tipo_producto)
                        @Html.HiddenFor(model => model.usuario_alta)
                        @Html.HiddenFor(model => model.fecha_alta)
                        <div class="form-group">
                            <div class="col-md-3">
                                <label>Descripción</label>
                                @Html.EditorFor(model => model.descripcion, new { htmlAttributes = new { @class = "form-control", required = "required", placeholder = "Descripción", @maxlength = "50" } })
                                @Html.ValidationMessageFor(model => model.descripcion, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <label>Estado</label>
                                @Html.DropDownList("estado", new SelectList(new List<object>
                                                {
                                                new { value = "", text = "--Seleccionar--"},
                                                new { value = "A", text = "ACTIVO"},
                                                new { value = "I", text = "INACTIVO"},
                                                },
                                     "value",
                                     "text"), new { @class = "form-control", required = "required" })
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="pull-right">
                        <button type="submit" title="Guardar" class="btn btn-wd btn-facebook">
                            <i class="fa fa-check-square-o"></i>
                            Guardar
                        </button>
                        <a href="@Url.Action("Index", "TipoProducto")" title="" class="btn btn-wd btn-info btn-outline" style="" data-original-title="Atras">
                            Cancelar
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
</body>