﻿@model JaguaEntityModel.vacuna

@{
    ViewBag.Title = "Create";
}
<head>
    <script>
        function validar() {
            if (document.getElementById('descripcion').value != "" && document.getElementById('id_usuario').value != "" && document.getElementById('ddlEstado').value != "") {
                swal("¡Registro Agregado! ", " ", " éxito ", "OK");
                $("#frmList").submit();
            }
        }
    </script>
</head>
<body>
    <div class="container-fluid">
        <div class="card strpied-tabled-with-hover">
            <div class="card-header">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">
                        <h4><i class="fa fa-podcast" style="color:mediumpurple"></i> &nbsp;<b>Vacuna</b></h4>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @*<div class="form-group">*@
                            <div class="col-md-3">
                                <label>Nombre</label>
                                @Html.TextBox("nombre", null, new { @class = "form-control", required = "required", @maxlength = "50" })
                                @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
                            </div>
                        @*</div>*@
                        @*<div class="form-group">*@
                            <div class="col-md-6">
                                <label>Descripción</label>
                                @Html.TextBox("descripcion", null, new { @class = "form-control", required = "required", @maxlength = "50" })
                                @Html.ValidationMessageFor(model => model.descripcion, "", new { @class = "text-danger" })
                            </div>
                        @*</div>*@
                        @*<div class="form-group">*@
                            <div class="row">
                                <label>.....</label>
                                <div class="col-md-1">
                                    <label>Edad</label>
                                    @Html.TextBox("edad", null, new { @class = "form-control", required = "required", @maxlength = "50" })
                                    @Html.ValidationMessageFor(model => model.edad, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-2">
                                    <label>Tiempo</label>
                                    @Html.DropDownList("tiempo", new SelectList(new List<object>
                                    {
                                    new { value = "", text = "--Seleccionar--"},
                                    new { value = "Años", text = "Años"},
                                    new { value = "Meses", text = "Meses"},
                                    }, "value", "text"), new { @class = "form-control", required = "required" })
                                </div>
                            </div>
                        @*</div>*@
                        @*<div class="form-group">*@
                            <div class="col-md-3">
                                <label>Especie</label>
                                @Html.DropDownList("id_especie", (SelectList)ViewBag.id_especie, "--Seleccionar--", new { @class = "form-control", required = "required" })
                                @Html.ValidationMessageFor(model => model.id_especie, "", new { @class = "text-danger" })
                            </div>
                        @*</div>*@
                    </div>
                    <hr />
                    <div class="pull-right">
                        <button type="submit" title="Guardar" class="btn btn-wd btn-facebook"><i class="fa fa-check-square-o"></i>Guardar</button>
                        <a href="@Url.Action("Index", "Vacunas")" title="" class="btn btn-wd btn-info btn-outline" style="" data-original-title="Atras">Cancelar</a>
                    </div>
                }
            </div>
        </div>
    </div>
</body>