﻿@model JaguaEntityModel.vacuna

@{
    ViewBag.Title = "Edit";
}
<body>
    <div class="container-fluid">
        <div class="card strpied-tabled-with-hover">
            <div class="card-header">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">
                        <h4><i class="fa fa-podcast" style="color:mediumpurple"></i> &nbsp;<b>Editar Vacuna</b></h4>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.id_vacuna)
                        @Html.HiddenFor(model => model.usuario_alta)
                        @Html.HiddenFor(model => model.fecha_alta)
                    
                        <div class="col-md-3">
                            <label>Nombre</label>
                            @Html.TextBox("nombre", null, new { @class = "form-control", required = "required", @maxlength = "50" })
                            @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-6">
                            <label>Descripción</label>
                            @Html.TextBox("descripcion", null, new { @class = "form-control", required = "required", @maxlength = "50" })
                            @Html.ValidationMessageFor(model => model.descripcion, "", new { @class = "text-danger" })
                        </div>                    
                        <div class="row">
                            <label>.....</label>
                            <div class="col-md-1">
                                <label>Edad</label>
                                @Html.TextBox("edad", null, new { @class = "form-control", required = "required", @maxlength = "50" })
                                @Html.ValidationMessageFor(model => model.edad, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-2">
                                <label>Tiempo</label>
                                @Html.DropDownList("tiempo", new SelectList(new List<object>
                                {
                                new { value = "", text = "--Seleccionar--"},
                                new { value = "Años", text = "Años"},
                                new { value = "Meses", text = "Meses"},
                                },"value","text"), new { @class = "form-control", required = "required" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label>Especie</label>
                            @Html.DropDownList("id_especie", null, "--Seleccionar--", new { @class = "form-control", required = "required" })
                            @Html.ValidationMessageFor(model => model.id_especie, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-3">
                            <label>Estado</label>
                            @Html.DropDownList("estado", new SelectList(new List<object>
                            {
                            new { value = "", text = "--Seleccionar--"},
                            new { value = "A", text = "ACTIVO"},
                            new { value = "I", text = "INACTIVO"},
                            },"value","text", (String)ViewBag.estado), new { @class = "form-control", required = "required", @maxlength = "1" })
                        </div>                    
                    </div>
                    <hr />
                    <div class="pull-right">
                        <button type="submit" title="Guardar" class="btn btn-wd btn-facebook">
                            <i class="fa fa-check-square-o"></i>
                            Guardar
                        </button>
                        <a href="@Url.Action("Index", "Vacunas")" title="" class="btn btn-wd btn-info btn-outline" style="" data-original-title="Atras">
                            Cancelar
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
</body>