body{

    background-color: #eee; 
    font-family:'Open Sans';
}

table th , table td{
    text-align: center;
}

table tr:nth-child(even){
    background-color: #BEF2F5
}

.pagination li:hover{
    cursor: pointer;
}
.container { margin-top:150px;}