﻿@model JaguaEntityModel.proveedor

@{
    ViewBag.Title = "Details";
}
<head></head>
<body>
    <div class="container-fluid">
        <div class="card strpied-tabled-with-hover">
            <div class="card-header">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()                   
                    <div class="form-horizontal">
                        <h4><i class="fa fa-truck" style="color:mediumpurple"></i> &nbsp;<b>Proveedor</b></h4>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.id_proveedor)
                        <div class="row" style="margin-left:0px">
                            <div class="col-md-4">
                                <label>Ruc</label>
                                @Html.EditorFor(model => model.ruc, new { htmlAttributes = new { @class = "form-control", @readonly = "true" } })
                            </div>                            
                        </div>
                        <div class="row" style="margin-left:0px">
                            <div class="col-md-4">
                                <label>Razón Social</label>
                                @Html.EditorFor(model => model.razon_social, new { htmlAttributes = new { @class = "form-control", @readonly = "true" } })
                            </div>
                        </div>
                        <div class="row" style="margin-left:0px">
                            <div class="col-md-4">
                                <label>Dirección</label>
                                @Html.EditorFor(model => model.direccion, new { htmlAttributes = new { @class = "form-control", @readonly = "true" } })
                            </div>
                        </div>
                        <div class="row" style="margin-left:0px">
                            <div class="col-md-4">
                                <label>Email</label>
                                @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control", @readonly = "true" } })
                            </div>
                        </div>
                        <div class="row" style="margin-left:0px">
                            <div class="col-md-4">
                                <label>Contacto</label>
                                @Html.EditorFor(model => model.contacto, new { htmlAttributes = new { @class = "form-control", @readonly = "true" } })
                            </div>
                            <div class="col-md-2" style="margin-left:100px">
                                <label>Usuario Alta</label>
                                @Html.EditorFor(model => model.usuario_alta, new { htmlAttributes = new { @class = "form-control", @readonly = "true" } })
                            </div>
                            <div class="col-md-3">
                                <label>Fecha Alta</label>
                                @Html.EditorFor(model => model.fecha_alta, new { htmlAttributes = new { @class = "form-control", @readonly = "true" } })
                            </div>
                        </div>
                        <div class="row" style="margin-left:0px">
                            <div class="col-md-4">
                                <label>Teléfono</label>
                                @Html.EditorFor(model => model.telefono, new { htmlAttributes = new { @class = "form-control", @readonly = "true" } })
                            </div>
                            <div class="col-md-2" style="margin-left:100px">
                                <label>Usuario Mod</label>
                                @Html.EditorFor(model => model.usuario_mod, new { htmlAttributes = new { @class = "form-control", @readonly = "true" } })
                            </div>
                            <div class="col-md-3">
                                <label>Fecha Mod</label>
                                @Html.EditorFor(model => model.fecha_mod, new { htmlAttributes = new { @class = "form-control", @readonly = "true" } })
                            </div>
                        </div>
                        <div class="row" style="margin-left:0px">
                            <div class="col-md-2">
                                <label>Estado</label>
                                @Html.DropDownList("estado", new SelectList(new List<object>
                                {
                                new { value = "", text = "--Seleccionar--"},
                                new { value = "A", text = "ACTIVO"},
                                new { value = "I", text = "INACTIVO"},
                                },"value","text"), new { @class = "form-control", @readonly = "true" })
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="pull-right">
                        <a href="@Url.Action("Editar", "Proveedores", new {id = Model.id_proveedor})" style="" class="btn btn-wd btn-youtube btn-outline">Editar</a>
                        <a href="@Url.Action("Index", "Proveedores")" title="" class="btn btn-wd btn-info btn-outline" style="" data-original-title="Atras">Cancelar</a>
                    </div>
                 }
            </div>
        </div>
    </div>
</body>
    