﻿@model JaguaEntityModel.proveedor

@{
    ViewBag.Title = "Editar";
}
<head>
    <script>
        function validar() {
			if (document.getElementById('razon_social').value != "" && document.getElementById('ruc').value != "") {
				swal({
					title: "",
					type: "success",
					text: "Registro actualizado correctamente!",
                });
                $("#frmList").submit();
            }
        }
    </script>
</head>
<body>
    <div class="container-fluid">
        <div class="card strpied-tabled-with-hover">
            <div class="card-header">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">
                        <h4><i class="fa fa-truck" style="color:mediumpurple"></i> &nbsp;<b>Editar Proveedor</b></h4>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.id_proveedor)
                        @Html.HiddenFor(model => model.usuario_alta)
                        @Html.HiddenFor(model => model.fecha_alta)
                        <div class="row" style="margin-left:0px">
                            <div class="col-md-4">
                                <label>Ruc</label>
                                @Html.EditorFor(model => model.ruc, new { htmlAttributes = new { @class = "form-control", required = "required", @maxlength = "50" } })
                                @Html.ValidationMessageFor(model => model.ruc, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row" style="margin-left:0px">
                            <div class="col-md-4">
                                <label>Razón Social</label>
                                @Html.EditorFor(model => model.razon_social, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                @Html.ValidationMessageFor(model => model.razon_social, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row" style="margin-left:0px">
                            <div class="col-md-4">
                                <label>Dirección</label>
                                @Html.EditorFor(model => model.direccion, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.direccion, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row" style="margin-left:0px">
                            <div class="col-md-4">
                                <label>Email</label>
                                @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row" style="margin-left:0px">
                            <div class="col-md-4">
                                <label>Contacto</label>
                                @Html.EditorFor(model => model.contacto, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.contacto, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row" style="margin-left:0px">
                            <div class="col-md-4">
                                <label>Teléfono</label>
                                @Html.EditorFor(model => model.telefono, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.telefono, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row" style="margin-left:0px">
                            <div class="col-md-2">
                                <label>Estado</label>
                                @Html.DropDownList("estado", new SelectList(new List<object>
                                {
                                new { value = "", text = "--Seleccionar--"},
                                new { value = "A", text = "ACTIVO"},
                                new { value = "I", text = "INACTIVO"},
                                },"value","text"), new { @class = "form-control", required = "required" })
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="pull-right">
                        <button type="submit" title="Guardar" class="btn btn-wd btn-facebook"><i class="fa fa-check-square-o"></i>Guardar</button>
                        <a href="@Url.Action("Index", "Proveedores")" title="" class="btn btn-wd btn-info btn-outline" style="" data-original-title="Atras">Cancelar</a>
                    </div>
                }
            </div>
        </div>
    </div>
</body>