﻿@using PagedList.Mvc;
@model PagedList.IPagedList<JaguaEntityModel.proveedor>

@{
    ViewBag.Title = "Index";
}
<head>
	<script type="text/javascript">
		function Desactivar(item) {
			swal({
				title: "Estas Seguro?",
				text: "El registro se desactivara!",
				type: "warning",
				showCancelButton: true,
				confirmButtonClass: "btn btn-info btn-fill",
				confirmButtonText: "Si, desactivarlo!",
				cancelButtonClass: "btn btn-danger btn-fill",
				cancelButtonText: "Cancelar",
				closeOnConfirm: false,
			}, function (isConfirm) {
				if (isConfirm) {
					$("#frmList").attr("action", "/Proveedores/DisableConfirmed/" + item);
					$("#frmList").submit();
					swal({
					    text: "El registro fue desactivado",
					    type: "success"
					});
					window.location.reload();
				} else {					
				    swal({
				        text: "Cancelado",
				        type: "warning"
				    });
				}
			});
		}
		$(document).ready(function () {
			$("[name=btnBuscar]").click(function () {
				$("#frmList").attr("action", "/Proveedores/Index/");
				$("#frmList").submit();
			});
		});
	</script>
</head>
<body>
	<div class="container-fluid">
		<div class="card strpied-tabled-with-hover">
			<div class="card-header ">
				@using (Html.BeginForm("Index", "Proveedores", FormMethod.Post, new { id = "frmList" }))
				{
					@Html.AntiForgeryToken()
					<div class="pull-right">
						<a href="@Url.Action("Create", "Proveedores")" title="" rel="tooltip" class="btn btn-wd btn-info btn-outline" data-original-title="Agregar Proveedor">
							<i class="fa fa-plus" aria-hidden="true"></i>Agregar Proveedor
						</a>
					</div>
                    <h4><i class="fa fa-truck" style="color:mediumpurple"></i> &nbsp;<b>Proveedores</b></h4>
                    <hr/>
					<div class="row">
						<div class="col-sm-3">
							<label>Razón Social</label>
							@Html.TextBox("txtNombre", (String)ViewBag.txtNombre, new { @class = "form-control" })
						</div>
						<div class="col-sm-3">
							<label>Ruc</label>
							@Html.TextBox("txtRuc", (String)ViewBag.txtRuc, new { @class = "form-control" })
						</div>
                        <button type="submit" name="btnBuscar" title="Buscar registros" class="btn btn-simple btn-success btn-outline" style="margin-top:25px; margin-left:6px">
                            <i class="nc-icon nc-zoom-split icon-bold" style="font-size: 20px" aria-hidden="true"></i>
                        </button>
						<a href="@Url.Action("Reporte", "Proveedores")" title="" rel="tooltip" class="btn btn-warning btn-outline" style="height:40px; margin-top:25px; margin-left:12px" data-original-title="Listado de Proveedores">
							<i class="nc-icon nc-paper-2 icon-bold" style="font-size: 22px" aria-hidden="true"></i>&nbsp;Reporte
						</a>
					</div>
				}
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="card strpied-tabled-with-hover">
			<div class="card-body table-full-width table-responsive">
				<table class="table table-hover table-striped">
					<thead>
                        <tr>
                            <th>ID</th>
                            <th>Ruc</th>
                            <th>Razón Social
                            <th>Contacto</th>
                            <th>Teléfono</th>
                            <th>Timbrado</th>
                            <th>Estado</th>
                        </tr>
					</thead>
					<tbody>
						@if (Model.Count() == 0)
						{
							<tr>
								<td>No existen registros</td>
							</tr>
						}
						else
						{
							foreach (var item in Model)
							{
								<tr>
									<td>@Html.DisplayFor(modelItem => item.id_proveedor)</td>
                                    <td>@Html.DisplayFor(modelItem => item.ruc)</td>
									<td>@Html.DisplayFor(modelItem => item.razon_social)</td>
									<td>@Html.DisplayFor(modelItem => item.contacto)</td>
									<td>@Html.DisplayFor(modelItem => item.telefono)</td>
									<td>@Html.DisplayFor(modelItem => item.proveedor_timbrado.timbrado)</td>
									<td>@Html.DisplayFor(modelItem => item.estado)</td>
									<td>
                                        <a href="@Url.Action("Details","Proveedores", new {id = item.id_proveedor})" style="color:deepskyblue"><i class="fa fa-eye"  aria-hidden="true"></i></a>
                                        <a href="@Url.Action("Editar", "Proveedores", new {id = item.id_proveedor})" style="color:deepskyblue"><i class="fa fa-edit" aria-hidden="true"></i></a>
                                        <i class="fa fa-arrow-down" @(item.estado != "I" ? "display" : "hidden") style="color:red" onmouseover="this.style.cursor='pointer';" onclick="Desactivar(@item.id_proveedor)" aria-hidden="true" rel="tooltip" data-original-title="Anular"></i>
									</td>
								</tr>
							}
						}
					</tbody>
				</table>
				<div class="pull-right">
					@Html.PagedListPager(Model, page => Url.Action("Index", new { page, currentFilter = ViewBag.CurrentFilter }))
				</div>
			</div>
		</div>	
	</div>
</body>