﻿@model JaguaEntityModel.departamento

@{
    ViewBag.Title = "Create";
}
<head>

</head>
<body>
    <div class="container-fluid">
        <div class="card strpied-tabled-with-hover">
            <div class="card-header ">
                @using (Html.BeginForm())
                {
                @Html.AntiForgeryToken()
                <div class="form-horizontal">
                    <h4><i class="fa fa-map-o" style="color:mediumpurple"></i> &nbsp;<b>Agregar Departamento</b></h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <div class="col-md-3">
                            <label>Nombre</label>
                            @Html.EditorFor(model => model.descripcion, new { htmlAttributes = new { @class = "form-control", required = "required", placeholder = "Nombre", @maxlength = "50" } })
                            @Html.ValidationMessageFor(model => model.descripcion, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <label>Pais</label>
                            @Html.DropDownList("id_pais", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.id_pais, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <hr />
                <div class="pull-right">
                    <button type="submit" title="Guardar" class="btn btn-wd btn-facebook">
                        <i class="fa fa-check-square-o"></i>
                        Guardar
                    </button>
                    <a href="@Url.Action("Index", "Departamentos")" title="" class="btn btn-wd btn-info btn-outline" style="" data-original-title="Atras">
                        Cancelar
                    </a>
                </div>
                }
            </div>
        </div>
    </div>
</body>
