﻿@model List<JaguaEntityModel.paciente_tratamientos_detalles>
<head>
    <script src="~/Content/Minimal-Bootstrap-Table-Pagination/js/pagination.js"></script>
    <script type="text/javascript">
        $(function () {
            getPagination('#tbpagedetalle', 10); //Aca se pagina
        });
        $(document).ready(function () {
            $("#btnAgregarProceso").click(function () {
                $("#modalAgregarProceso").modal();
                $("#modalAgregarProceso").modal('show');
            });
        });
    </script>
</head>
<body>
    <div class="pull-right">
        <button id="btnAgregarProceso" type="button" style="margin-right:10px;margin-left:10px; background-color:mediumpurple" class="btn">
            <i class="fa fa-plus-square" aria-hidden="true"></i>
            Agregar Proceso
        </button>
    </div>
    <h4><i class="fa fa-user-md " style="color:mediumpurple"></i>&nbsp;<b>Detalle de Tratamiento</b></h4>
    <hr />
    <div class="card strpied-tabled-with-hover">
        <div class="card-body table-full-width table-responsive">
            <table id="tbpagedetalle" class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Detalles</th>
                        <th>Medicacion</th>
                        <th>Avances</th>
                        <th>Observaciones</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Count() == 0)
                    {
                        <tr>
                            <td>No existen registros</td>
                        </tr>
                    }
                    else
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.fecha)</td>
                                <td>@Html.DisplayFor(modelItem => item.detalles)</td>
                                <td>@Html.DisplayFor(modelItem => item.medicacion)</td>
                                <td>@Html.DisplayFor(modelItem => item.avances)</td>
                                <td>@Html.DisplayFor(modelItem => item.observaciones)</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <hr />
            <div class="pull-right">
                <div class='pagination-container'>
                    <nav>
                        <ul class="pagination">
                            <!--	Here the JS Function Will Add the Rows -->
                        </ul>
                    </nav>
                </div>
            </div>
            <hr />
            <div class="pull-right">
                <a href="@Url.Action("Tratamientos", "Clinica")" title="" class="btn btn-wd btn-info btn-outline" style="" data-original-title="Atras">
                    Volver
                </a>
            </div>
        </div>
    </div>

    <div id="modalAgregarProceso" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"><i class="fa fa-tasks" style="color:mediumpurple"></i>Agregar proceso al Tratamiento</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <hr />
                <div class="modal-body">
                    <div class="card card-body">
                        <div class="form-horizontal">
                            <div class="row">
                                <div class="col-md-3">
                                    <label>fecha</label>
                                    @Html.TextBox("fecha", DateTime.Now.ToShortDateString(), new { @class = "form-control", @type = "date" })
                                </div>
                                <div class="col-md-6">
                                    <label>Detalles</label>
                                    @Html.TextBox("detalles", null, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group" style="margin-bottom:0px;">
                                <div class="col-md-6">
                                    <label>Medicacion</label>
                                    @Html.TextBox("medicacion", null, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group" style="margin-bottom:0px;">
                                <div class="col-md-6">
                                    <label>Avances</label>
                                    @Html.TextBox("avances", null, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group" style="margin-bottom:0px;">
                                <div class="col-md-6">
                                    <label>Observaciones</label>
                                    @Html.TextBox("observaciones", null, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="pull-right">
                        <button id="btnGuardarProceso" class="btn btn-simple"><i class="fa fa-check"></i>GUARDAR</button>
                    </div>
                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>
</body>
