﻿@model List<JaguaEntityModel.paciente_tratamientos>
@{
    Layout = null;
    ViewBag.Title = "Index";
}
<head>
    @*<script src="~/Scripts/jquery-3.4.1.min.js"></script>*@
    <script src="~/Content/Minimal-Bootstrap-Table-Pagination/js/pagination.js"></script>
    <script type="text/javascript">
        $(function () {
            getPagination('#tbpage', 10); //Aca se pagina
        });
        $(document).ready(function () {
            if (@Model.Count() == 0) {
                debugger
                $("#btnProceso").prop('display', false);
            }
    });
    </script>
    <script type="text/javascript">
        function CargarProceso(id_ficha_trat) {
            var id_ficha_trat = parseInt(id_ficha_trat);
            $.ajax({
                url: '@Url.Action("getDetalleTratamiento", "Clinica")',
                data: { id_ficha_trat: id_ficha_trat},
                success: function (data) {
                    $("#encabezado").hide("fast");
                    $('#cabecera').hide('fast');
                    $('#listado').html('');
                    $('#detalle').html('');//clear old html content first..
                    $('#detalle').append(data);
                    $("#detalle").show("fast");
                },
			    error: function (xhr, status, error) {
                    swal({text: "No se pueden obtener los tratamientos",type: "warning"});
                }
            });
        }
    $(document).ready(function () {

    })
    </script>


</head>
<body>
    @*<div class="card card-body">*@
        
    <div class="card strpied-tabled-with-hover">
        <div class="row">
            <div class="col-md-6" style="margin-top:5px;">
                <h6 style="font-size:12px;"><i class="fa fa-list" style="color:mediumpurple"></i>Lista de tratamientos</h6>
            </div>
        </div>
        <hr/>
        <div class="table-full-width table-responsive" style="padding-top: 0px !important; margin-bottom:0px; margin-top:0px;">
            <table id="tbpage" class="table table-hover table-striped" style="margin-bottom:0px;">
                <thead>
                    <tr>
                        <th>
                            Id
                        </th>
                        <th>
                            Fecha
                        </th>
                        <th>
                            Enfermedad
                        </th>
                        <th>
                            Medico
                        </th>
                        <th>
                            Tratamiento
                        </th>
                        <th>
                            Fecha Inicio
                        </th>
                        <th>
                            Fecha Fin
                        </th>
                        <th>
                            Estado
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Count() == 0)
                    {
                        <tr>
                            <td>No existen registros</td>
                        </tr>
                    }
                    else
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.id_ficha_trat)</td>
                                <td>@Html.DisplayFor(modelItem => item.fecha)</td>
                                <td>@Html.DisplayFor(modelItem => item.patologia.nombre)</td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.empleado.persona.nombre)
                                    @Html.DisplayFor(modelItem => item.empleado.persona.apellido)
                                </td>
                                <td>@Html.DisplayFor(modelItem => item.nombre_tratamiento)</td>
                                <td>@item.fecha_inicio.Value.ToString("dd/MM/yyyy")</td>
                                <td>@(item.fecha_fin != null ? item.fecha_fin.Value.ToString("dd/MM/yyyy") : "")</td>
                                <td>@Html.DisplayFor(modelItem => item.estado)</td>
                                <td>
                                    <a href="@Url.Action("TratamientoDetalles", "Clinica", new {id = item.id_ficha_trat})" style="color:mediumpurple; font-weight:bolder; margin-bottom:0px; font-size:30px;"><i class="fa fa-plus" aria-hidden="true"></i></a>
                                    @*<h5 id="addProceso" onclick="CargarProceso(@item.id_ficha_trat)"@(item.estado == "P" ? "display" : "hidden") style="color:mediumpurple; font-weight:bolder; margin-bottom:0px; font-size:30px;" onmouseover="this.style.cursor='pointer';" aria-hidden="true" rel="tooltip">+</h5>*@
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <hr />
            <div class="pull-right">
                <div class='pagination-container'>
                    <nav>
                        <ul class="pagination">
                            <!--	Here the JS Function Will Add the Rows -->
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    @*</div>*@
</body>