﻿@model List<JaguaEntityModel.paciente_vacuna>   
    @{
        Layout = "~/Views/Shared/_LayoutModal.cshtml";
        ViewBag.Title = "Index";
    }
<head>
    @*<script src="~/Scripts/jquery-3.4.1.min.js"></script>*@
    <script src="~/Content/Minimal-Bootstrap-Table-Pagination/js/pagination.js"></script>
    <script type="text/javascript">
        $(function () {
            getPagination('#tbgrilla', 10); //Aca se pagina
        });
    </script>
</head>
    <table class="table" id="tbgrilla">
        <thead>
            <tr>
                <th>Id</th>
                <th style="width:200px;">Nombre</th>
                <th style="width:200px;">Fecha Aplicacion</th>
            </tr>
        </thead>
        <tbody>
            @if (Model == null)
            {
                <tr>
                    <td>No existen registros</td>
                </tr>
            }
            else
            {
                foreach (var m in Model)
                {
                    <tr>
                        <td><span id=@m.id_vacuna>@m.id_vacuna </span></td>
                        <td><span id='no@sc.id'>@m.vacuna.nombre</span></td>
                        <td><span id='no@sc.id'>@m.fecha_aplicacion</span></td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <div class='pagination-container'>
        <nav>
            <ul class="pagination">
                <!--	Here the JS Function Will Add the Rows -->
            </ul>
        </nav>
    </div>
   