﻿@model JaguaEntityModel.persona

@{
    ViewBag.Title = "Create";
}
@*<script src="~/Content/assets/js/core/jquery.3.2.1.min.js"></script>
<script src="~/Content/assets/js/core/jquery.validate.min.js"></script>
<script src="~/Content/assets/js/core/jquery.validate.js"></script>*@
<head>

</head>
<body>
    <div class="container">
        <div class="card strpied-tabled-with-hover">
            <div class="card-header ">
                <div class="pull-right">
                    <a href="@Url.Action("Empleados", "Clinica")" title="Atrás" class="fa fa-mail-reply" style="font-size:30px; padding-right:100px"></a>
                </div>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                <div class="form-horizontal">
                    <h4><i class="fa fa-user-plus" style="color:coral"></i><b>&nbsp;Nuevo Funcionario</b></h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <label style="color:black">&nbsp;DATOS BASICOS</label>
                    <hr />
                    <div class="row">
                        @*Aca empieza una fila*@
                        <div class="col-md-2">
                            <label>Tipo Doc.</label>
                            @Html.DropDownList("id_tipo_documento", null, "--Seleccionar--", new { @class = "form-control", required = "required" })
                        </div>
                        <div class="col-md-2">
                            <label>Cedula/Ruc</label>
                            @Html.EditorFor(model => model.nro_documento, new { htmlAttributes = new { @class = "form-control", required = "required", placeholder = "Cédula / Ruc", @maxlength = "9" } })
                            @Html.ValidationMessageFor(model => model.nro_documento, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-2">
                            <label>Nombre</label>
                            @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control", required = "required", placeholder = "Nombre", @maxlength = "50" } })
                            @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-2">
                            <label>Apellido</label>
                            @Html.EditorFor(model => model.apellido, new { htmlAttributes = new { @class = "form-control", required = "required", placeholder = "Apellido", @maxlength = "50" } })
                            @Html.ValidationMessageFor(model => model.apellido, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-2">
                            <label>Sexo</label>
                            @Html.DropDownList("sexo", new SelectList(new List<object>
                                    {
                                    new { value = "", text = "--Seleccionar--"},
                                    new { value = "F", text = "Femenino"},
                                    new { value = "M", text = "Masculino"},
                                    },
                             "value",
                             "text", (String)ViewBag.ddlSexo), new { @class = "form-control", required = "required" })
                        </div>
                        <div class="col-md-2">
                            <label>Nacionalidad</label>
                            @Html.DropDownList("nacionalidad", null, "--Seleccionar--", new { @class = "form-control" })
                        </div>
                    </div> @*Aca termina esa fila*@
                    <label style="color:black">&nbsp;DATOS DE CONTACTO</label>
                    <hr />
                    <div class="row">
                        <div class="col-md-2">
                            <label>Nro. Teléfono</label>
                            @Html.EditorFor(model => model.nro_telefono, new { htmlAttributes = new { @class = "form-control", placeholder = "Nro Teléfono", @maxlength = "50" } })
                            @Html.ValidationMessageFor(model => model.nro_telefono, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-2">
                            <label>Celular</label>
                            @Html.EditorFor(model => model.nro_celular, new { htmlAttributes = new { @class = "form-control", placeholder = "Nro. Celular", @maxlength = "50" } })
                            @Html.ValidationMessageFor(model => model.nro_celular, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-3">
                            <label>Email</label>
                            @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control", @placeholder = "example@mail.com", @type = "email", @maxlength = "50" } })
                            @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <label style="color:black">&nbsp;DATOS DE LOCALIDAD</label>
                    <hr />
                    <div class="row">
                        <div class="col-md-4">
                            <label>Dirección</label>
                            @Html.EditorFor(model => model.direccion, new { htmlAttributes = new { @class = "form-control", @placeholder = "Dirección", @maxlength = "50" } })
                            @Html.ValidationMessageFor(model => model.direccion, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-2">
                            <label>Pais</label>
                            @Html.DropDownList("ddlPais", null, "--Seleccionar--", new { @class = "form-control" })
                        </div>
                        <div class="col-md-2">
                            <label>Departamento</label>
                            @Html.DropDownList("ddlDepartamento", null, "--Seleccionar--", new { @class = "form-control" })
                        </div>
                        <div class="col-md-2">
                            <label>Ciudad</label>
                            @Html.DropDownList("id_ciudad", null, "--Seleccionar--", new { @class = "form-control" })
                        </div>
                        <div class="col-md-2">
                            <label>Barrio</label>
                            @Html.DropDownList("id_barrio", null, "--Seleccionar--", new { @class = "form-control" })
                        </div>
                    </div>
                    <hr />
                    <label style="color:black">&nbsp;DATOS LABORALES</label>
                    <hr />
                    <div class="row">
                        <div class="col-md-2">
                            <label>Tipo de Funcionario</label>
                            @Html.DropDownList("id_cat_persona", null, "--Seleccionar--", new { @class = "form-control", required = "required" })
                        </div>
                        <div class="col-md-2">
                            <label>Fecha de Ingreso</label>
                            @Html.TextBox("fecha_ingreso", null,new { @class = "form-control", type="date", @maxlength = "50"})
                        </div>

                        <div class="col-md-2">
                            <label>Sueldo</label>
                            @Html.TextBox("sueldo", null,new { @class = "form-control", @placeholder="Sueldo", @maxlength = "50"})
                        </div>
                    </div>
                    <hr />
                    <div class="pull-right">
                        <button class="btn btn-wd btn-success btn-outline" style="margin-right: 50px;">
                            <i class="fa fa-check-square-o"></i>
                            Guardar
                        </button>
                    </div>
                </div>
                }

            </div>
        </div>
    </div>
</body>