﻿@using PagedList.Mvc;
@model PagedList.IPagedList<JaguaEntityModel.persona>

@{
    ViewBag.Title = "Index";
}
<head>
    <script type="text/javascript">
        function Desactivar(item) {
            swal({
                title: "Estas Seguro?",
                text: "El registro se desactivara!",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn btn-info btn-fill",
                confirmButtonText: "Si, desactivarlo!",
                cancelButtonClass: "btn btn-danger btn-fill",
                cancelButtonText: "Cancelar",
                closeOnConfirm: false,
            }, function (isConfirm) {
                if (isConfirm) {
                    debugger
                    $("#frmList").attr("action", "/Clinica/DisableConfirmed/" + item);
                    $("#frmList").submit();
                    swal("Desactivado", "El registro fue desactivado", "success");
                    window.location.reload();
                } else {
                    swal("Cancelado", " ", "error");
                }
            });
        }
        $(document).ready(function () {
            $("[name=btnBuscar]").click(function () {
                $("#frmList").attr("action", "/Clinica/Empleados/");
                $("#frmList").submit();

            });
        });

    </script>
</head>
<body>
    <div class="container">
        <div class="card strpied-tabled-with-hover">
            <div class="card-header ">
                @using (Html.BeginForm("Empleados", "Clinica", FormMethod.Post, new { id = "frmList" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="pull-right">
                        <a href="@Url.Action("AgregarEmpleado", "Clinica")" title="" rel="tooltip" class="btn btn-wd btn-info btn-outline" data-original-title="Agregar Registro">
                            <i class="fa fa-user-plus" aria-hidden="true"></i>Agregar Empleado
                        </a>
                    </div>
                    <h4>Empleados</h4>
                    <div class="row">
                        <div class="col-sm-2">
                            <label>Nro. Documento</label>
                            @Html.TextBox("txtCedula", (String)ViewBag.txtCedula, new { @class = "form-control", @placeholder = "Cedula" })
                        </div>
                        <div class="col-sm-3">
                            <label>Nombre</label>
                            @Html.TextBox("txtNombre", (String)ViewBag.txtNombre, new { @class = "form-control", @placeholder = "Nombre" })
                        </div>
                        <div class="col-sm-2">
                            <label>Apellido</label>
                            @Html.TextBox("txtApellido", (String)ViewBag.txtApellido, new { @class = "form-control", @placeholder = "Apellido" })
                        </div>
                        <button type="submit" name="btnBuscar" title="Buscar registros" class="btn btn-simple btn-success btn-outline" @*style="height:40px;margin-top: 30px;"*@ style="margin-top: 25px;">
                            <i class="nc-icon nc-zoom-split icon-bold" style="font-size: 20px" aria-hidden="true"></i>
                        </button>
                        <a href="@Url.Action("Reporte", "Clientes")" title="" rel="tooltip" class="btn btn-warning btn-outline" @*style="height:40px;margin-top: 30px;margin-left:15px"*@ style="margin-top: 25px;margin-left:15px; align-content:center" data-original-title="Listado de Cajas">
                            <i class="nc-icon nc-paper-2 icon-bold" style="font-size: 20px" aria-hidden="true"></i>&nbsp;Reporte
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card strpied-tabled-with-hover">
            <div class="card-body table-full-width table-responsive">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>
                                Nombre
                            </th>
                            <th>
                                Apellido
                            </th>
                            <th>
                                Cedula
                            </th>
                            <th>
                                Direccion
                            </th>
                            <th>
                                Telefono
                            </th>
                            <th>
                                Nro. Celular
                            </th>
                            <th>
                                Estado
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Count() == 0)
                        {
                            <tr>
                                <td>No existen registros</td>
                            </tr>
                        }
                        else
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.nombre)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.apellido)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.nro_documento)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.direccion)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.nro_telefono)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.nro_celular)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.estado)
                                    </td>
                                    <td>
                                        <a href="@Url.Action("EditarEmpleado", "Clinica", new {id = item.id_persona})" style="color:deepskyblue"><i class="fa fa-edit" aria-hidden="true"></i></a>
                                        <i class="fa fa-arrow-down" @(item.estado != "I" ? "display" : "hidden") style="color:red" onmouseover="this.style.cursor='pointer';" onclick="Desactivar(@item.id_persona)" aria-hidden="true" rel="tooltip" data-original-title="Anular"></i>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
                <hr />
                <div class="pull-right">
                    @Html.PagedListPager(Model, page => Url.Action("Empleados", new { page, currentFilter = ViewBag.CurrentFilter }))
                </div>
            </div>
        </div>
    </div>
</body>