﻿@model JaguaEntityModel.paciente_laboratorio

@{
    ViewBag.Title = "Create";
}
<head>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#btnNuevoCliente").click(function () {
                $("#modalNuevoCliente").modal();
                $("#modalNuevoCliente").modal('show');
			});
            $("#btnPorPaciente").click(function () {
                clearItems()
				$("#seccionPaciente").show("fast");
				$("#seccionCliente").hide("fast");
				$("#seccionFicha").hide("fast");
			});
            $("#btnPorCliente").click(function () {
                clearItems()
				$("#seccionCliente").show("fast");
				$("#seccionFicha").hide("fast");
				$("#seccionPaciente").hide("fast");
			});
            $("#btnPorFicha").click(function () {
                clearItems()
				$("#seccionFicha").show("fast");
				$("#seccionPaciente").hide("fast");
				$("#seccionCliente").hide("fast");

            });
            //Obtener mascota
            $("#clientec").change(function () {
                if ($("#clientec").val() == "") {
                    $("#id_pacientec").html("");
                    $("#id_pacientec").prepend("<option value='' selected='selected'>--Seleccionar--</option>");
                }
                else {
                    $.ajax({
                        url: '@Url.Action("getMascotas", "Clinica")',
						data: { id_cliente: $("#id_clientec").val() },
						type: 'get',
					success: function (pacientes) {
                        //$("#id_paciente").html(pacientes);// si quiero cargar del lado del servidor descomentar estas lineas y comentar each
                        $("#id_pacientec").html(""); //borrar lista antes de cargarla de nuevo
                        $("#id_pacientec").prepend("<option value='' selected='selected'>--Seleccionar--</option>");

						$.each(pacientes, function (i, item) {
                            $("#id_pacientec").append("<option value='" + item.id_paciente + "'>" + item.nombre + "</option>")
                        });
                        $("#id_pacientec").val("");
                        },
					error: function (xhr, status, error) {
						alert("Error")
                    }
                   });
                }
            });//Fin Obtener Mascota

            $("#pacientep").change(function () {
                if ($("#pacientep").val() == "") {
                    $("#id_cliente").val("")
                    $("#id_paciente").val("")
                    $("#clientep").val("")
                }
                $("#id_paciente").val($("#id_pacientep").val());
                $("#id_pacientec").val("");
				$("#pacientec").val("");
				$("#id_clientec").val("");
				$("#clientec").val("");
                $("#id_pacientef").val("");
				$("#pacientef").val("");
				$("#id_clientef").val("");
				$("#clientef").val("");
            });

            $("#clientec").change(function () {
                if ($("#clientec").val() == "") {
                    $("#id_cliente").val("")
                    $("#id_clientec").val("")
                    $("#id_paciente").val("")
                    $("#id_pacientec").val("")
                }
                $("#id_paciente").val($("#id_pacientec").val());
				$("#id_pacientef").val("");
				$("#pacientef").val("");
				$("#id_clientef").val("");
				$("#clientef").val("");
				$("#id_pacientep").val("");
				$("#pacientep").val("");
				$("#id_clientep").val("");
                $("#clientep").val("");
                $("#id_pacientec").focus();
            });

            $("#id_ficha").change(function () {
                $("#id_cliente").val("")
                $("#clientef").val("")
                $("#id_paciente").val("")
                $("#pacientef").val("")
            });

            $("#btnGuardarNuevoCliente").click(function () {
				if ($("#id_tipo_documento_nuevo").val() == "" || $("#nro_documento_nuevo").val() == "" || $("#nombre_nuevo").val() == "" || $("#apellido_nuevo").val() == "") {
					swal({
						text: "Campos de cliente requeridos!",
						type: "warning"
					});
				}
				else {
				var id_tipo_documento = parseInt($("#id_tipo_documento_nuevo").val());
				var nro_documento = $("#nro_documento_nuevo").val();
				var nombre = $("#nombre_nuevo").val();
				var apellido = $("#apellido_nuevo").val();

				$.ajax({
					type: 'POST',
					url: '@Url.Action("guardarNuevoCliente","Clinica")',
					data: ({ id_tipo_documento: id_tipo_documento, nro_documento: nro_documento, nombre: nombre, apellido: apellido  }),
					dataType: 'JSON',
					success: function (data) {
						if (data == "0") { //si el controlador retorno 0 es porque la ci ya esta agregada
							swal({
								text: "El cliente ya existe!",
								type: "warning"
							});
							$("#modalNuevoCliente").modal('hide');
							$("#cedula").focus();
						} else {
							var nombre_cliente = nombre + ' ' + apellido;
							$("#cliente").val(nombre_cliente);
							swal({
								text: "Cliente Agregado Correctamente!",
								type: "success"
							});
							$("#modalNuevoCliente").modal('hide');
						}
					},
					error: function () {
                        swal({
                            text: "Error al guardar el cliente",
                            type: "error"
                        });
					}
					});
				}
			});//Fin Nuevo Cliente

			function clearItems() {
				$("#id_cliente").val("");
				$("#id_paciente").val("");
				$("#id_pacientep").val("");
				$("#pacientep").val("");
				$("#id_clientep").val("");
				$("#clientep").val("");
				$("#id_pacientec").val("");
				$("#pacientec").val("");
				$("#id_clientec").val("");
				$("#clientec").val("");
				$("#id_pacientef").val("");
				$("#pacientef").val("");
				$("#id_clientef").val("");
                $("#clientef").val("");
                $("#id_ficha").val("");
				$("#fecha").val("");
				$("#id_medico").val("");
				$("#peso").val("");
				$("#temperatura").val("");
				$("#sintomas").val("");
				$("#diagnostico").val("");
				$("#indicaciones").val("");
				$("#prox_consulta").val("");
				$("#id_tipo_documento_nuevo").val("");
				$("#nro_documento_nuevo").val("");
				$("#nombre_nuevo").val("");
                $("#apellido_nuevo").val("");
            }

            function validarCabecera() {
                if ($("#id_cliente").val() == "") {
                    swal({
                        text: "Debe cargar el cliente!",
                        type: "warning"
                    });
                    $("#id_cliente").focus();
                }
                else if ($("#id_paciente").val() == "") {
                    swal({
                        text: "Debe cargar el paciente!",
                        type: "warning"
                    });
                    $("#id_paciente").focus();
                }
                else if ($("#fecha").val() == "") {
                    swal({
                        text: "Debe cargar la fecha!",
                        type: "warning"
                    });
                    $("#fecha").focus();
                }
                else if ($("#id_doctor").val() == "") {
                    swal({
                        text: "Debe cargar el medico!",
                        type: "warning"
                    });
                    $("#id_doctor").focus();
                }
                else if ($("#resultado").val() == "") {
                    swal({
                        text: "Debe cargar el resultado!",
                        type: "warning"
                    });
                    $("#resultado").focus();
                }
                else { 
                    return true
                }
            }

            $("#btnAgregarLab").click(function (e) {
                if (validarCabecera() == true) {
                    if (($("#id_laboratorio").val() != "") == true) {
                        var bodydetalles = $("#bodyTabla tbody");
                        var detalle = '<tr><td>' + $("#id_laboratorio").val() + '</td><td>' + $("#id_laboratorio option:selected").text() + '</td><td><a data-itemId="0" href="#" class="deleteItem"><i class="fa fa-times" style="color:red; font-size:20px" aria-hidden="true"></i></a></td></tr>';
                        bodydetalles.append(detalle);
                        $("#bodyTabla").show();
                    }
                    else {
                        swal({ text: "Debe seleccionar un analisis!", type: "warning" });
                    }
                }
            });

            $(document).on('click', 'a.deleteItem', function (e) {
                e.preventDefault();
                var $self = $(this);
                if ($(this).attr('data-itemId') == "0") {
                    $(this).parents('tr').css("background-color", "#ff6347").fadeOut(800, function () {
                        $(this).remove();
                    });
                }
                var rowCount = $('#bodyTabla tr').length;
                if (rowCount == 2) { //Es igual a 2 porque esta eliminando el ultimo
                    $('#bodyTabla').hide();
                }
            });

            $('#archivo').change(function () {
                var archivo = $('#archivo').val();
                var pdf = archivo.substr(archivo.lastIndexOf(".") + 1, archivo.lastIndexOf(".") + 3);
                if (pdf.toLowerCase() != "pdf") {
                    swal({
                        text: "El archivo debe ser pdf!",
                        type: "warning"
                    });
                    $('#archivo').val("");
                }
            });

            $("#btnSubmit").click(function (e) {
                if (validarCabecera() == true) {
                    var rowCount = $('#bodyTabla tr').length;
                    if (rowCount > 1) {
                        debugger
                        e.preventDefault();
                        var detalleArray = [];
                        detalleArray.length = 0;

                        $.each($("#bodyTabla tbody tr"), function () {
                            detalleArray.push({
                                id_laboratorio: $(this).find('td:eq(0)').html(),
                            });
                        });
                        var cabecera = {
                            id_paciente: $("#id_paciente").val(),
                            fecha: $("#fecha").val(),
                            doctor_solicitante: $("#id_proveedor").val(),
                            id_doctor: $("#id_doctor").val(),
                            //archivo: $("#archivo").val(),
                            resultado: $("#resultado").val()
                        }

                        var data = JSON.stringify({
                            detalle: detalleArray,
                            laboratorio: cabecera
                        });  

                        //envío datos
                        $.ajax({
                            contentType: 'application/json',
                            type: 'POST',
                            url: "/Clinica/Laboratorio",
                            data: data,
                            success: function (result) {
                                if (result == "0") {
                                    swal({
                                        text: "Faltan datos",
                                        icon: "warning",
                                    });
                                } else if (result == "1") {
                                    swal({
                                        text: "Ha habido errores en la carga",
                                        icon: "warning",
                                    });
                                }
                                else {
                                    clearItems();
                                    window.location.href = "/Clinica/Laboratorio";
                                    swal({ tittle: "", text: "Analisis agregados exitosamente", type: "success" })
                                }
                            },
                            error: function (xhr, textStatus, errorThrown) {
                                console.error(textStatus + "\n" + errorThrown);
                            }
                        });
                    }
                    else {
                        swal({
                            text: "Debe cargar los analisis",
                            type: "warning"
                        });
                    }
                }
            });
        });

    </script>
</head>
<body>
    <div class="container-fluid">
        <div class="card strpied-tabled-with-hover">
            <div class="card-header ">
                @using (Html.BeginForm())
                {
                    @Html.Hidden("id_paciente")
                    @Html.Hidden("id_cliente")
                    <div class="form-horizontal">
                        <h4><i class="fa fa-flask" style="color:mediumpurple"></i>&nbsp;<b>Laboratorios</b></h4>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <h6 style="font-size:12px; margin-top:15px;">Datos del Paciente</h6>
                        <div class="card card-body" style="margin-bottom:10px;">
                            <div class="row">
                                <button type="button" style="margin-right:10px;margin-left:10px;" class="btn btn-outline btn-info" id="btnPorPaciente">
                                    <i class="fa fa-paw" aria-hidden="true"></i>
                                    Buscar Por Paciente
                                </button>
                                <button type="button" style="margin-right:10px;" class="btn btn-outline btn-success" id="btnPorCliente">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                    Buscar Por Cliente
                                </button>
                                <button type="button" style="margin-right:10px;" class="btn btn-outline btn-warning" id="btnPorFicha">
                                    <i class="fa fa-files-o " aria-hidden="true"></i>
                                    Buscar Por Ficha
                                </button>
                                <button type="button" style="background-color:mediumpurple; color:black; margin-right:10px;" class="btn btn-outline btn-info" id="btnNuevoCliente">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                    Nuevo Cliente
                                </button>
                                <button type="button" style="background-color:turquoise; color:black; margin-right:10px;" class="btn btn-outline btn-info" id="btnNuevoPaciente">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                    Nuevo Paciente
                                </button>
                            </div>
                            <div id="seccionPaciente" class="row">
                                <div class="col-md-4">
                                    <label>Nombre</label>
                                    @Html.TextBox("pacientep", null, "--Seleccionar--", new { @class = "form-control" })
                                    @Html.Hidden("id_pacientep")
                                    @Html.ValidationMessageFor(model => model.id_paciente, "", new { @class = "text-danger" })
                                </div>

                                <div class="col-md-4">
                                    <label>Dueño</label>
                                    @Html.TextBox("clientep", null, "--Seleccionar--", new { @class = "form-control", disabled = "true" })
                                    @Html.Hidden("id_clientep")
                                </div>
                            </div>
                            <div id="seccionCliente" class="row" style="display:none">
                                <div class="col-md-4">
                                    <label>Dueño</label>
                                    @Html.TextBox("clientec", null, "--Seleccionar--", new { @class = "form-control", required = "required" })
                                    @Html.Hidden("id_clientec")
                                </div>
                                <div class="col-md-3">
                                    <label>Nombre</label>
                                    @Html.DropDownList("id_pacientec", new SelectList(""), "--Seleccionar--", new { @class = "form-control", required = "required" })
                                    @Html.ValidationMessageFor(model => model.id_paciente, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div id="seccionFicha" class="row" style="display:none">
                                <div class="col-md-2">
                                    <label>Nro. Ficha</label>
                                    @Html.TextBox("id_ficha", null, "--Seleccionar--", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.id_ficha, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-4">
                                    <label>Nombre</label>
                                    @Html.TextBox("pacientef", null, "--Seleccionar--", new { @class = "form-control", disabled = "true" })
                                    @Html.Hidden("id_pacientef")
                                    @Html.ValidationMessageFor(model => model.id_paciente, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-4">
                                    <label>Dueño</label>
                                    @Html.TextBox("clientef", null, "--Seleccionar--", new { @class = "form-control", disabled = "true" })
                                    @Html.Hidden("id_clientef")
                                </div>
                                <button type="submit" id="btnBuscarFicha" title="Buscar registros" class="btn btn-simple btn-success btn-outline" style="margin-top:25px;height:30px">
                                    <i class="nc-icon nc-zoom-split icon-bold" aria-hidden="true"></i>
                                </button>

                            </div>
                        </div>
                        <h6 style="font-size:12px;">Analisis</h6>
                        <div class="row">
                            <div class="col-md-2">
                                <label>Fecha</label>
                                @Html.TextBox("fecha", DateTime.Now.ToShortDateString(), new { @class = "form-control", @type = "date" })
                            </div>
                            <div class="col-md-4">
                                <label>Doctor Solicitante</label>
                                @Html.TextBox("doctor_solicitante", null, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <label>Doctor Lectura</label>
                                @Html.DropDownList("id_doctor", null, "--Seleccionar--", new { @class = "form-control" })
                            </div>
                            <div class="col-md-8">
                                <label>Adjuntar Archivo</label>
                                @Html.TextBox("archivo", null, new { @class = "form-control-file", @type = "file" })
                                @*<input type="file" class="form-control-file" name="file" id="file" />*@
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-4">
                            <label>Resultado</label>
                            <div class="row" style="margin-left:4px;">
                                @Html.TextArea("resultado", new { cols = 25, @rows = 3, })
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Laboratorio</label>
                                    @Html.DropDownList("id_laboratorio", null, "--Seleccionar--", new { @class = "form-control" })
                                </div>
                                <button type="submit" id="btnAgregarLab" title="Buscar registros" class="btn btn-simple btn-success btn-outline" style="margin-top:25px;height:30px">
                                    <i class="nc-icon nc-simple-add icon-bold" aria-hidden="true"></i>
                                </button>
                            </div>
                            <div class="row">
                                <div class="container-fluid" id="bodyTabla" style="display:none;">
                                    <div class="card strpied-tabled-with-hover">
                                        <div class="card-body table-full-width table-responsive">
                                            <table class="table table-hover table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>Id</th>
                                                        <th>Descripcion</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody id="bodyLab"></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="pull-right">
                        <button type="button" id="btnSubmit" title="Guardar" class="btn btn-wd btn-facebook">
                            <i class="fa fa-check-square-o"></i>
                            Guardar
                        </button>
                        <a href="@Url.Action("Index", "Home")" title="" class="btn btn-wd btn-info btn-outline" style="" data-original-title="Atras">
                            Cancelar
                        </a>
                    </div>
                }

            </div>
        </div>
    </div>
    <div id="modalNuevoCliente" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Nuevo Cliente</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <hr />
                <div class="modal-body">
                    <div class=row>
                        <div class="col-sm-3">
                            <label>Tipo Doc</label>
                            @Html.DropDownList("id_tipo_documento_nuevo", (SelectList)ViewBag.id_tipo_documento, new { @class = "form-control", required = "required" })
                        </div>
                        <div class="col-sm-3">
                            <label>Nro. Documento</label>
                            @Html.TextBox("nro_documento_nuevo", null, new { @class = "form-control", required = "required" })

                        </div>
                        <div class="col-sm-3">
                            <label>Nombre</label>
                            @Html.TextBox("nombre_nuevo", null, new { @class = "form-control", required = "required" })
                        </div>
                        <div class="col-sm-3">
                            <label> Apellido</label>
                            @Html.TextBox("apellido_nuevo", null, new { @class = "form-control", required = "required" })
                        </div>
                    </div>
                    <div class="row pull-right">
                        <div class="col-sm-3" style="margin-top:38px;">
                            <button id="btnGuardarNuevoCliente" class="btn btn-wd btn-primary "><i class="fa fa-add-user"></i>GUARDAR</button>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript">
    $(document).ready(function () {
        $("#clientec").autocomplete({
            source: function (request, response) {
                    $.ajax({
                        url: '@Url.Action("ClienteSearch", "Clinica")',
                        dataType: "json",
                        data: { search: request.term },
                        success: function (data) {
							response($.map(data, function (item) {
                                var AC = new Object();

                                //autocomplete default values REQUIRED
                                AC.label = item.nro_documento + ' ' + item.cliente_nombre + ' ' + item.cliente_apellido;
								AC.value = item.cliente_nombre + ' ' + item.cliente_apellido;

                                //extend values
                                AC.id_paciente = item.id_paciente;
                                AC.paciente = item.paciente;
                                AC.id_cliente = item.id_cliente;
                                AC.cliente_nombre = item.cliente_nombre;
                                AC.cliente_apellido = item.cliente_apellido;

                                return AC
                                //return { label: item.nro_documento + ' ' + item.nombre + ' ' + item.apellido, value: item.nro_documento};
                            }
                            ));
                        },
                        error: function (xhr, status, error) {
                            alert("Error");
                        }
                   });
                },
            minLength: 2,
            select: function (event, ui) {
                $('#id_cliente').val(ui.item.id_cliente);
                $("#pacientec").val(ui.item.paciente);
                $("#id_pacientec").val(ui.item.id_paciente);
                $('#clientec').val(ui.item.cliente_nombre + ' ' + ui.item.cliente_apellido);
                $('#id_clientec').val(ui.item.id_cliente);
                $("#id_pacientec").focus();
            }
		});/*Fin Cliente*/
		$("#pacientep").autocomplete({
            source: function (request, response) {
                    $.ajax({
                        url: '@Url.Action("PacienteSearch", "Clinica")',
                        dataType: "json",
                        data: { search: request.term },
                        success: function (data) {
							response($.map(data, function (item) {
                                var AC = new Object();
                                //autocomplete default values REQUIRED
								AC.label = item.paciente + ' ' + 'Dueño: ' + ' ' + item.cliente_nombre + ' ' +item.cliente_apellido;
                                AC.value = item.paciente;

                                //extend values
                                AC.id_paciente = item.id_paciente;
                                AC.paciente = item.paciente;
                                AC.id_cliente = item.id_cliente;
                                AC.cliente_nombre = item.cliente_nombre;
                                AC.cliente_apellido = item.cliente_apellido;


                                return AC
                                //return { label: item.nro_documento + ' ' + item.nombre + ' ' + item.apellido, value: item.nro_documento};
                            }
                            ));
                        },
                        error: function (xhr, status, error) {
                            alert("Error");
                        }
                   });
                },
            minLength: 2,
            select: function (event, ui) {
                $('#id_cliente').val(ui.item.id_cliente);
                $("#id_paciente").val(ui.item.id_paciente);
                $("#pacientep").val(ui.item.paciente);
                $("#id_pacientep").val(ui.item.id_paciente);
                $('#clientep').val(ui.item.cliente_nombre + ' ' + ui.item.cliente_apellido);
                $('#id_clientep').val(ui.item.id_cliente);
                $("#fecha").focus();
            }
        });/*Fin Paciente*/
        $("#btnBuscarFicha").click(function () {
            var id_ficha = parseInt($("#id_ficha").val());
            $.ajax({
                url: '@Url.Action("FichaSearch", "Clinica")',
                dataType: "json",
                data: { search: id_ficha },
                success: function (data) {
                    $('#id_cliente').val(data[0].id_cliente);
                    $("#id_paciente").val(data[0].id_paciente);
                    $("#id_ficha").val(data[0].id_ficha);
                    $("#pacientef").val(data[0].paciente);
                    $("#id_pacientef").val(data[0].id_paciente);
                    $('#clientef').val(data[0].cliente_nombre + ' ' + data[0].cliente_apellido);
                    $('#id_clientef').val(data[0].id_cliente);
                    $("#fecha").focus();
                },
                error: function (xhr, status, error) {
                    alert("Error");
                }
            })
        });/*Fin Ficha*/
    });
</script>

