﻿@model List<JaguaEntityModel.paciente_tratamientos_detalles>
@{
}
<head>
    <script src="~/Content/Minimal-Bootstrap-Table-Pagination/js/pagination.js"></script>
    <script type="text/javascript">

        function Eliminar(id_ficha_trat_det) {
            swal({
                title: "Estas Seguro?",
                text: "El registro se desactivara!",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn btn-info btn-fill",
                confirmButtonText: "Si, desactivarlo!",
                cancelButtonClass: "btn btn-danger btn-fill",
                cancelButtonText: "Cancelar",
                closeOnConfirm: false,
            }, function (isConfirm) {
                if (isConfirm) {
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("DeleteDetalle", "Clinica")',
                        data: ({ id_ficha_trat_det: id_ficha_trat_det }),
                        success: function (data) {
                            swal({ text: data.mensaje, type: "success" });
                            setTimeout(function () {
                                window.location.reload();
                            }, 3000);
                        },
                        error: function (xhr, status, error) {
                            swal({ text: "Error al finalizar el tratamiento", type: "error" });
                        }
                    });
                }
            });

        } /*Fin Function*/

        $(document).ready(function () {
            $(function () {
                getPagination('#tbpagedetalle', 5); //Aca se pagina
            });
            $("#btnAgregarProceso").click(function () {
                $("#modalAgregarProceso").modal();
                $("#modalAgregarProceso").modal('show');
            });
            $("#btnFinalizarProceso").click(function () {
                var id_ficha_trat = parseInt($("#id_ficha_trat").val())
                $.ajax({
                    type: 'POST',
					url: '@Url.Action("FinalizarProceso", "Clinica")',
                    data: ({ id_ficha_trat: id_ficha_trat}),
                    success: function (data) {
                        swal({ text: data.mensaje, type: "success" });
                        setTimeout(function () {
                            window.location.reload();
                        }, 3000);
					},
                    error: function (xhr, status, error) {
                        swal({text:"Error al finalizar el tratamiento", type:"error"});
                    }
                });
               
            });
        });

    </script>
</head>
<body>
    <div class="card strpied-tabled-with-hover">
        <div class="card-header" style="margin-bottom:10px;">
            <div class="pull-right">
                @*<button id="btnVerTratamientos" type="button" style="margin-right:10px;margin-left:10px;" class="btn btn-simple">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                        Ver Tratamientos
                    </button>*@
                <button id="btnAgregarProceso" type="button" style="margin-right:10px;margin-left:10px; background-color:mediumpurple" class="btn">
                    <i class="fa fa-plus-square" aria-hidden="true"></i>
                    Agregar Proceso
                </button>
            </div>
            <h4><i class="fa fa-user-md " style="color:mediumpurple"></i>&nbsp;<b>Detalle de Tratamiento</b></h4>
            <hr />
            <fieldset disabled="disabled">
                <h6 style="font-size:12px;margin-top:10px;">Paciente</h6>
                <div class="row">
                    <div class="col-md-4">
                        <label>Paciente</label>
                        @Html.TextBox("paciente", null, new { @class = "form-control" })
                        @Html.Hidden("id_paciente")
                    </div>
                    <div class="col-md-4">
                        <label>Cliente</label>
                        @Html.TextBox("cliente", null, new { @class = "form-control" })
                    </div>
                </div>
                <h6 style="font-size:12px;margin-top:10px;">Diagnóstico</h6>
                <div class="row">
                    <div class="col-md-2">
                        <label>fecha</label>
                        @Html.TextBox("fecha", DateTime.Now.ToShortDateString(), new { @class = "form-control", @type = "date" })
                    </div>
                    <div class="col-md-4">
                        <label>Enfermedad</label>
                        @Html.TextBox("id_patologia", null, new { @class = "form-control" })
                    </div>
                    <div class="col-md-3">
                        <label>Médico</label>
                        @Html.TextBox("id_medico", null, new { @class = "form-control" })
                    </div>
                    <div class="col-md-2">
                        <label>Tratamiento</label>
                        @Html.TextBox("estado", null, new { @class = "form-control", @style = "color:red" })
                    </div>
                </div>
                <h6 style="font-size:12px;margin-top:10px;">Detalle de Tratamiento</h6>
                <div class="row">
                    <div class="col-md-2">
                        <label>Nombre del Tratamiento</label>
                        @Html.TextBox("nombre_tratamiento", null, new { @class = "form-control" })
                    </div>
                    <div class="col-md-2">
                        <label>Inicio Tratamiento</label>
                        @Html.TextBox("fecha_inicio", null, new { @class = "form-control", @type = "date" })
                    </div>
                    <div class="col-md-2">
                        <label>Fin Tratamiento</label>
                        @Html.TextBox("fecha_fin", null, new { @class = "form-control", @type = "date" })
                    </div>
                    <div class="col-md-5">
                        <label>Estado Enfermedad</label>
                        @Html.TextBox("estado_patologia", null, new { @class = "form-control" })
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
    <div class="card strpied-tabled-with-hover">
        <div class="d-flex justify-content-end" style="margin-top:5px;">
            <button id="btnFinalizarProceso" type="button" style="margin:5px;" class="btn btn-warning">
                <i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
                Finalizar Proceso
            </button>
            <a href="@Url.Action("Tratamientos", "Clinica")" title="" class="fa fa-mail-reply btn btn-wd btn-info" style="margin:5px;" data-original-title="Atras">
                Volver
            </a>
        </div>
        <hr />
        @using (Html.BeginForm("TratamientoDetalles", "Clinica", FormMethod.Post, new { id = "frmList" }))
        {
            <div class="card-body table-full-width table-responsive">
                <table id="tbpagedetalle" class="table table-hover table-striped" style="margin-bottom:10px;">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Fecha</th>
                            <th>Detalles</th>
                            <th>Medicacion</th>
                            <th>Avances</th>
                            <th>Observaciones</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Count() == 0)
                        {
                            <tr>
                                <td>No existen registros</td>
                            </tr>
                        }
                        else
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.id_ficha_trat_det)</td>
                                    <td>@item.fecha.ToString("dd/MM/yyyy")</td>
                                    <td>@Html.DisplayFor(modelItem => item.detalles)</td>
                                    <td>@Html.DisplayFor(modelItem => item.medicacion)</td>
                                    <td>@Html.DisplayFor(modelItem => item.avances)</td>
                                    <td>@Html.DisplayFor(modelItem => item.observaciones)</td>
                                    <td><i class="fa fa-times" style="color:red" onmouseover="this.style.cursor='pointer';" onclick="Eliminar(@item.id_ficha_trat_det); return false;" aria-hidden="true" rel="tooltip" data-original-title="Eliminar"></i></td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
                <hr />
                <div class="pull-right">
                    <div class='pagination-container'>
                        <nav>
                            <ul class="pagination"></ul>
                        </nav>
                    </div>
                </div>
            </div>
        }
    </div>
    @using (Html.BeginForm("TratamientoDetalles", "Clinica", FormMethod.Post, new { id = "frmList" }))
    {
        <div id="modalAgregarProceso" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"><i class="fa fa-tasks" style="color:mediumpurple"></i>Agregar proceso al Tratamiento</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <hr />
                    <div class="modal-body">
                        @Html.Hidden("id_ficha_trat")
                        <div class="card card-body">
                            <div class="form-horizontal">
                                <div class="row">
                                    <div class="col-md-3">
                                        <label>Fecha</label>
                                        @Html.TextBox("fecha", DateTime.Now.ToShortDateString(), new { @class = "form-control", @type = "date", required = "required" })
                                    </div>
                                    <div class="col-md-6">
                                        <label>Detalles</label>
                                        @Html.TextBox("detalles", null, new { @class = "form-control", required = "required" })
                                    </div>
                                </div>
                                <div class="form-group" style="margin-bottom:0px;">
                                    <div class="col-md-6">
                                        <label>Medicacion</label>
                                        @Html.TextBox("medicacion", null, new { @class = "form-control", required = "required" })
                                    </div>
                                </div>
                                <div class="form-group" style="margin-bottom:0px;">
                                    <div class="col-md-6">
                                        <label>Avances</label>
                                        @Html.TextBox("avances", null, new { @class = "form-control", required = "required" })
                                    </div>
                                </div>
                                <div class="form-group" style="margin-bottom:0px;">
                                    <div class="col-md-6">
                                        <label>Observaciones</label>
                                        @Html.TextBox("observaciones", null, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="pull-right">
                            <button type="submit" id="btnGuardarProceso" class="btn btn-simple"><i class="fa fa-check"></i>GUARDAR</button>
                        </div>
                    </div>
                    <div class="modal-footer">

                    </div>
                </div>
            </div>
        </div>
    }
</body>
