﻿@model JaguaEntityModel.paciente_tratamientos

@{
    ViewBag.Title = "Create";
}
<head>
    
</head>
<body>
    <div class="container-fluid">
        <div class="card strpied-tabled-with-hover">
            <div class="card-header ">
                @using (Html.BeginForm("Tratamientos", "Clinica", FormMethod.Post, new { id = "frmList" }))
                {
                    @Html.Hidden("id_paciente")
                    @Html.Hidden("id_cliente")
                    <div class="form-horizontal">
                        @*/*********************************--ENCABEZADO--**********************************************/*@
                        <div id="encabezado">
                            <div class="pull-right">
                                <button type="button" style="margin-right:10px;margin-left:10px; background-color:mediumpurple" class="btn" id="btnNuevoTratamiento">
                                    <i class="fa fa-plus-square" aria-hidden="true"></i>
                                    Nuevo Tratamiento
                                </button>
                            </div>
                            <h4><i class="fa fa-user-md " style="color:mediumpurple"></i>&nbsp;<b>Tratamientos</b></h4>
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <h6 style="font-size:12px; margin-top:15px;">Datos del Paciente</h6>
                            <div class="card card-body" style="margin-bottom:10px; padding-bottom: 0px !important;">
                                <div class="row">
                                    <button type="button" style="margin-right:10px;margin-left:10px;" class="btn btn-outline btn-info" id="btnPorPaciente">
                                        <i class="fa fa-paw" aria-hidden="true"></i>
                                        Buscar Por Paciente
                                    </button>
                                    <button type="button" style="margin-right:10px;" class="btn btn-outline btn-success" id="btnPorCliente">
                                        <i class="fa fa-user" aria-hidden="true"></i>
                                        Buscar Por Cliente
                                    </button>
                                    <button type="button" style="margin-right:10px;" class="btn btn-outline btn-warning" id="btnPorFicha">
                                        <i class="fa fa-files-o " aria-hidden="true"></i>
                                        Buscar Por Ficha
                                    </button>
                                    <button type="button" style="background-color:mediumpurple; color:black; margin-right:10px;" class="btn btn-outline btn-info" id="btnNuevoCliente">
                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                        Nuevo Cliente
                                    </button>
                                    <button type="button" style="background-color:turquoise; color:black; margin-right:10px;" class="btn btn-outline btn-info" id="btnNuevoPaciente">
                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                        Nuevo Paciente
                                    </button>
                                </div>
                                <div class="row">
                                    <div class="col-md-10" style="padding-top: 0px;">
                                        <div id="seccionPaciente" class="row">
                                            <div class="col-md-3">
                                                <label>Nombre</label>
                                                @Html.TextBox("pacientep", null, "--Seleccionar--", new { @class = "form-control", required = "required" })
                                                @Html.Hidden("id_pacientep")
                                                @Html.ValidationMessageFor(model => model.id_paciente, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="col-md-4">
                                                <label>Dueño</label>
                                                @Html.TextBox("clientep", null, "--Seleccionar--", new { @class = "form-control", required = "required", disabled = "true" })
                                                @Html.Hidden("id_clientep")
                                            </div>
                                        </div>
                                        <div id="seccionCliente" class="row" style="display:none">
                                            <div class="col-md-4">
                                                <label>Dueño</label>
                                                @Html.TextBox("clientec", null, "--Seleccionar--", new { @class = "form-control", required = "required" })
                                                @Html.Hidden("id_clientec")
                                            </div>
                                            <div class="col-md-3">
                                                <label>Nombre</label>
                                                @Html.DropDownList("id_pacientec", new SelectList(""), "--Seleccionar--", new { @class = "form-control", required = "required" })
                                                @Html.ValidationMessageFor(model => model.id_paciente, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div id="seccionFicha" class="row" style="display:none">
                                            <div class="col-md-2">
                                                <label>Nro. Ficha</label>
                                                @Html.TextBox("id_ficha", null, "--Seleccionar--", new { @class = "form-control", required = "required" })
                                                @Html.ValidationMessageFor(model => model.id_ficha, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="col-md-3">
                                                <label>Nombre</label>
                                                @Html.TextBox("pacientef", null, "--Seleccionar--", new { @class = "form-control", required = "required", disabled = "true" })
                                                @Html.Hidden("id_pacientef")
                                                @Html.ValidationMessageFor(model => model.id_paciente, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="col-md-4">
                                                <label>Dueño</label>
                                                @Html.TextBox("clientef", null, "--Seleccionar--", new { @class = "form-control", required = "required", disabled = "true" })
                                                @Html.Hidden("id_clientef")
                                            </div>
                                            <button type="submit" id="btnBuscarFicha" title="Buscar registros" class="btn btn-simple btn-success btn-outline" style="margin-top:25px;height:30px">
                                                <i class="nc-icon nc-zoom-split icon-bold" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-md-2" style="padding-top: 0px;">
                                        <button type="button" style="margin-top:25px;" class="btn btn-simple" id="btnVerTratamientos">
                                            <i class="fa fa-eye" aria-hidden="true"></i>
                                            Ver Tratamientos
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*/*********************************--PARTIAL VIEW DE LISTADO DE TRATAMIENTOS--**********************************************/*@
                        <div id="listado">

                        </div>
                        @*/*********************************--NUEVO TRATAMIENTO--**********************************************/*@
                        <div id="cabecera">
                            <div class="card card-body" style="margin-bottom:10px;">
                                <h6 style="font-size:12px;">Diagnóstico</h6>
                               
                                <div class="row">
                                    <div class="col-md-2">
                                        <label>Fecha</label>
                                        @Html.TextBox("fecha", DateTime.Now.ToString("yyyy-MM-dd"), new { @class = "form-control", @type = "date", required = "required" })
                                    </div>
                                    <div class="col-md-4">
                                        <label>Enfermedad</label>
                                        @Html.DropDownList("id_patologia", null, "--Seleccionar--", new { @class = "form-control", required = "required" })
                                    </div>
                                    <div class="col-md-2">
                                        <label>Médico</label>
                                        @Html.DropDownList("id_medico", null, "--Seleccionar--", new { @class = "form-control", required = "required" })
                                    </div>
                                    <div class="col-md-4">
                                        <label>Estado Enfermedad</label>
                                        @Html.TextBox("estado_patologia", null, new { @class = "form-control" })
                                    </div>
                                </div>
                                <h6 style="font-size:12px;">Detalle de Tratamiento</h6>
                                <div class="row">
                                    <div class="col-md-2">
                                        <label>Nombre del Tratamiento</label>
                                        @Html.TextBox("nombre_tratamiento", null, new { @class = "form-control", required = "required" })
                                    </div>
                                    <div class="col-md-2">
                                        <label>Inicio Tratamiento</label>
                                        @Html.TextBox("fecha_inicio", DateTime.Now.ToString("yyyy-MM-dd"), new { @class = "form-control", @type = "date", required = "required" })
                                    </div>
                                    <div class="col-md-2">
                                        <label>Fin Tratamiento</label>
                                        @Html.TextBox("fecha_fin", null, new { @class = "form-control", @type = "date" })
                                    </div>
                                    <div class="col-md-2">
                                        <label>Estado</label>
                                        @Html.DropDownList("estado", new SelectList(new List<object>
                                                {
                                                new { value = "", text = "--Seleccionar--"},
                                                new { value = "P", text = "Proceso"},
                                                new { value = "F", text = "Finalizado"},
                                                },
                                         "value",
                                         "text"), new { @class = "form-control", required = "required" })
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class="pull-right  align-items-end">
                                <button type="button" id="btnGuardarTratamiento" title="Guardar" class="btn btn-wd btn-facebook">
                                    <i class="fa fa-check-square-o"></i>
                                    Guardar
                                </button>
                                <button id="btnCancelar" type="button" title="Guardar" class="btn btn-wd btn-simple">
                                    <i class="fa fa-check-square-o"></i>
                                    Cancelar
                                </button>
                                <a href="@Url.Action("Index", "Home")" title="" class="btn btn-wd btn-info btn-outline" style="" data-original-title="Atras">
                                    Volver
                                </a>
                            </div>
                        </div>

                        @*/*********************************--LISTADO DE DETALLE Y CARGA--**********************************************/*@
                        <div id="detalle">

                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
    <div id="modalNuevoCliente" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Nuevo Cliente</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <hr />
                <div class="modal-body">
                    <div class=row>
                        <div class="col-sm-3">
                            <label>Tipo Doc</label>
                            @Html.DropDownList("id_tipo_documento_nuevo", (SelectList)ViewBag.id_tipo_documento, new { @class = "form-control", required = "required" })
                        </div>
                        <div class="col-sm-3">
                            <label>Nro. Documento</label>
                            @Html.TextBox("nro_documento_nuevo", null, new { @class = "form-control", required = "required" })

                        </div>
                        <div class="col-sm-3">
                            <label>Nombre</label>
                            @Html.TextBox("nombre_nuevo", null, new { @class = "form-control", required = "required" })
                        </div>
                        <div class="col-sm-3">
                            <label> Apellido</label>
                            @Html.TextBox("apellido_nuevo", null, new { @class = "form-control", required = "required" })
                        </div>
                    </div>
                    <div class="row pull-right">
                        <div class="col-sm-3" style="margin-top:38px;">
                            <button id="btnGuardarNuevoCliente" class="btn btn-wd btn-primary "><i class="fa fa-add-user"></i>GUARDAR</button>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript">
        $(document).ready(function () {
            $('.datepicker').datepicker({
                format: "dd/mm/yyyy",
                todayBtn: "linked",
                language: "es",
                calendarWeeks: true,
                autoclose: true
            });

            $("#btnNuevoCliente").click(function () {
                $("#modalNuevoCliente").modal();
                $("#modalNuevoCliente").modal('show');
			});
            $("#btnPorPaciente").click(function () {
                clearItems()
				$("#seccionPaciente").show("fast");
				$("#seccionCliente").hide("fast");
				$("#seccionFicha").hide("fast");
			});
            $("#btnPorCliente").click(function () {
                clearItems()
				$("#seccionCliente").show("fast");
				$("#seccionFicha").hide("fast");
				$("#seccionPaciente").hide("fast");
			});
            $("#btnPorFicha").click(function () {
                clearItems()
				$("#seccionFicha").show("fast");
				$("#seccionPaciente").hide("fast");
				$("#seccionCliente").hide("fast");

            });
            //Obtener mascota
            $("#clientec").change(function () {
                if ($("#clientec").val() == "") {
                    $("#id_pacientec").html("");
                    $("#id_pacientec").prepend("<option value='' selected='selected'>--Seleccionar--</option>");
                }
                else {
                    $.ajax({
                        url: '@Url.Action("getMascotas", "Clinica")',
                        data: { id_cliente: $("#id_clientec").val() },
                        type: 'get',
                        success: function (pacientes) {
                            //$("#id_paciente").html(pacientes);// si quiero cargar del lado del servidor descomentar estas lineas y comentar each
                            $("#id_pacientec").html(""); //borrar lista antes de cargarla de nuevo
                            $("#id_pacientec").prepend("<option value='' selected='selected'>--Seleccionar--</option>");

                            $.each(pacientes, function (i, item) {
                                $("#id_pacientec").append("<option value='" + item.id_paciente + "'>" + item.nombre + "</option>")
                            });
                            $("#id_pacientec").val("");
                        },
                        error: function (xhr, status, error) {
                            alert("Error")
                            alert(error);
                        }
                    });
                }
            });//Fin Obtener Mascota

            $("#pacientep").change(function () {
                if ($("#pacientep").val() == "") {
                    $("#id_cliente").val("")
                    $("#id_paciente").val("")
                    $("#clientep").val("")
                }
                $("#id_paciente").val($("#id_pacientep").val());
                $("#id_pacientec").val("");
				$("#pacientec").val("");
				$("#id_clientec").val("");
				$("#clientec").val("");
                $("#id_pacientef").val("");
				$("#pacientef").val("");
				$("#id_clientef").val("");
				$("#clientef").val("");
            });

            $("#clientec").change(function () {
                if ($("#clientec").val() == "") {
                    $("#id_cliente").val("")
                    $("#id_clientec").val("")
                    $("#id_paciente").val("")
                    $("#id_pacientec").val("")
                }
                $("#id_paciente").val($("#id_pacientec").val());
				$("#id_pacientef").val("");
				$("#pacientef").val("");
				$("#id_clientef").val("");
				$("#clientef").val("");
				$("#id_pacientep").val("");
				$("#pacientep").val("");
				$("#id_clientep").val("");
				$("#clientep").val("");
            });

            $("#btnGuardarNuevoCliente").click(function () {
                if ($("#id_tipo_documento_nuevo").val() == "" || $("#nro_documento_nuevo").val() == "" || $("#nombre_nuevo").val() == "" || $("#apellido_nuevo").val() == "") {
                    swal({ text: "Campos de cliente requeridos!", type: "warning" });
                }
                else {
                    var id_tipo_documento = parseInt($("#id_tipo_documento_nuevo").val());
                    var nro_documento = $("#nro_documento_nuevo").val();
                    var nombre = $("#nombre_nuevo").val();
                    var apellido = $("#apellido_nuevo").val();

                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("guardarNuevoCliente","Clinica")',
                        data: ({ id_tipo_documento: id_tipo_documento, nro_documento: nro_documento, nombre: nombre, apellido: apellido }),
                        dataType: 'JSON',
                        success: function (data) {
                            if (data == "0") { //si el controlador retorno 0 es porque la ci ya esta agregada
                                swal({ text: "El cliente ya existe!", type: "warning" });
                                $("#modalNuevoCliente").modal('hide');
                                $("#cedula").focus();
                            } else {
                                var nombre_cliente = nombre + ' ' + apellido;
                                $("#cliente").val(nombre_cliente);
                                swal({ text: "Cliente Agregado Correctamente!", type: "success" });
                                $("#modalNuevoCliente").modal('hide');
                            }
                        },
                        error: function () {
                            alert("Error al Guardar Cliente!")
                        }
                    });
                }
            });//Fin Nuevo Cliente

			function clearItems() {
				$("#id_cliente").val("");
				$("#id_paciente").val("");
				$("#id_pacientep").val("");
				$("#pacientep").val("");
				$("#id_clientep").val("");
				$("#clientep").val("");
				$("#id_pacientec").val("");
				$("#pacientec").val("");
				$("#id_clientec").val("");
				$("#clientec").val("");
				$("#id_pacientef").val("");
				$("#pacientef").val("");
				$("#id_clientef").val("");
                $("#clientef").val("");
                $("#id_ficha").val("");
                $("#fecha").val("");
                $("#id_patologia").val("");
				$("#id_medico").val("");
				$("#estado_patologia").val("");
				$("#fecha_inicio").val("");
				$("#fecha_fin").val("");
                $("#detalles").val("");
                $("#nombre_tratamiento").val("");
				$("#id_tipo_documento_nuevo").val("");
				$("#nro_documento_nuevo").val("");
				$("#nombre_nuevo").val("");
                $("#apellido_nuevo").val("");
                $("#listado").hide("fast");
                $("#listado").html("");
			}
            $("#btnNuevoTratamiento").click(function () {
                if ($("#id_paciente").val() == "") {
                    swal({ text: "Ingrese un paciente!", type: "warning" });
                } else {
                    $("#listado").hide("fast");
                    $("#cabecera").show("fast");
                    $("#encabezado *").prop('disabled', true);
                }
            });
            $("#btnCancelar").click(function () {
                $("#cabecera").hide("fast");
                $("#encabezado *").prop('disabled', false);
                $("#clientep").prop('disabled', true);
                $("#clientef").prop('disabled', true);
                $("#pacientef").prop('disabled', true);
            });
            $("#btnGuardarTratamiento").click(function () {
                if ($("#id_pacientep").val() == "" || $("#fecha").val() == "" || $("#id_patologia").val() == "" || $("#id_medico").val() == "" || $("#estado_patologia").val() == ""
                    || $("#nombre_tratamiento").val() == "" || $("#fecha_inicio").val() == "" || $("#fecha_fin").val() == "" || $("#estado").val() == "") {
                    swal({ text: "Todos los Campos son requeridos!", type: "warning" });
                }
                else {
                    var fecha = $("#fecha").val();
                    var id_patologia = $("#id_patologia").val();
                    var id_medico = $("#id_medico").val();
                    var estado_patologia = $("#estado_patologia").val();
                    var nombre_tratamiento = $("#nombre_tratamiento").val();
                    var fecha_inicio = $("#fecha_inicio").val();
                    var fecha_fin = $("#fecha_fin").val();
                    var estado = $("#estado").val();

                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("Tratamientos", "Clinica")',
                        data: ({
                            id_paciente: $("#id_pacientep").val(),
                            nombre_tratamiento: nombre_tratamiento,
                            fecha: fecha,
                            id_patologia: id_patologia,
                            estado: estado,
                            estado_patologia: estado_patologia,
                            fecha_inicio: fecha_inicio,
                            fecha_fin: fecha_fin,
                            id_medico: id_medico
                        }),
                        dataType: 'JSON',
                        success: function (data) {
                            if (data.success) { 
                                swal({ text: data.mensajes, type: "success" });                              
                            } else {                               
                                swal({ text: data.mensajes, type: "warning" });
                            }
                        },
                        error: function () {
                            swal({ text: "Error al Guardar Tratamiento!", type: "warning" });
                        }
                    });
                }
               
            });
        });

</script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#clientec").autocomplete({
            source: function (request, response) {
                    $.ajax({
                        url: '@Url.Action("ClienteSearch", "Clinica")',
                        dataType: "json",
                        data: { search: request.term },
                        success: function (data) {
							response($.map(data, function (item) {
                                var AC = new Object();

                                //autocomplete default values REQUIRED
                                AC.label = item.nro_documento + ' ' + item.cliente_nombre + ' ' + item.cliente_apellido;
								AC.value = item.cliente_nombre + ' ' + item.cliente_apellido;

                                //extend values
                                AC.id_paciente = item.id_paciente;
                                AC.paciente = item.paciente;
                                AC.id_cliente = item.id_cliente;
                                AC.cliente_nombre = item.cliente_nombre;
                                AC.cliente_apellido = item.cliente_apellido;

                                return AC
                                //return { label: item.nro_documento + ' ' + item.nombre + ' ' + item.apellido, value: item.nro_documento};
                            }
                            ));
                        },
                        error: function (xhr, status, error) {
                            alert("Error");
                        }
                   });
                },
            minLength: 2,
            select: function (event, ui) {
                $('#id_cliente').val(ui.item.id_cliente);
                $("#pacientec").val(ui.item.paciente);
                $("#id_pacientec").val(ui.item.id_paciente);
                $('#clientec').val(ui.item.cliente_nombre + ' ' + ui.item.cliente_apellido);
                $('#id_clientec').val(ui.item.id_cliente);
                $("#id_pacientec").focus();
            }
		});/*Fin Cliente*/
		$("#pacientep").autocomplete({
            source: function (request, response) {
                    $.ajax({
                        url: '@Url.Action("PacienteSearch", "Clinica")',
                        dataType: "json",
                        data: { search: request.term },
                        success: function (data) {
							response($.map(data, function (item) {
                                var AC = new Object();
                                //autocomplete default values REQUIRED
								AC.label = item.paciente + ' ' + 'Dueño: ' + ' ' + item.cliente_nombre + ' ' +item.cliente_apellido;
                                AC.value = item.paciente;

                                //extend values
                                AC.id_paciente = item.id_paciente;
                                AC.paciente = item.paciente;
                                AC.id_cliente = item.id_cliente;
                                AC.cliente_nombre = item.cliente_nombre;
                                AC.cliente_apellido = item.cliente_apellido;


                                return AC
                                //return { label: item.nro_documento + ' ' + item.nombre + ' ' + item.apellido, value: item.nro_documento};
                            }
                            ));
                        },
                        error: function (xhr, status, error) {
                            alert("Error");
                        }
                   });
                },
            minLength: 2,
            select: function (event, ui) {
                $('#id_cliente').val(ui.item.id_cliente);
                $("#id_paciente").val(ui.item.id_paciente);
                $("#pacientep").val(ui.item.paciente);
                $("#id_pacientep").val(ui.item.id_paciente);
                $('#clientep').val(ui.item.cliente_nombre + ' ' + ui.item.cliente_apellido);
                $('#id_clientep').val(ui.item.id_cliente);
                $("#fecha").focus();
            }
        });/*Fin Paciente*/
        $("#btnBuscarFicha").click(function () {
            var id_ficha = parseInt($("#id_ficha").val());
            $.ajax({
                url: '@Url.Action("FichaSearch", "Clinica")',
                dataType: "json",
                data: { search: id_ficha },
                success: function (data) {
                    $('#id_cliente').val(data[0].id_cliente);
                    $("#id_paciente").val(data[0].id_paciente);
                    $("#id_ficha").val(data[0].id_ficha);
                    $("#pacientef").val(data[0].paciente);
                    $("#id_pacientef").val(data[0].id_paciente);
                    $('#clientef').val(data[0].cliente_nombre + ' ' + data[0].cliente_apellido);
                    $('#id_clientef').val(data[0].id_cliente);
                    $("#fecha").focus();
                },
                error: function (xhr, status, error) {
                    alert("Error");
                }
            });
            event.preventDefault();
        });/*Fin Ficha*/
        $("#btnVerTratamientos").click(function () {
            var id_paciente = parseInt($("#id_paciente").val());
            if ($("#id_paciente").val() == "") {
                swal({ text: "Ingrese el paciente", type: "warning" });
            } else {
                $.ajax({
                    url: '@Url.Action("getListadoTratamientos", "Clinica")',
                    data: { id_paciente: id_paciente },
                    success: function (data) {
                        $('#cabecera').hide('fast');
                        $('#listado').html('');//clear old html content first..
                        $('#listado').append(data);
                        $("#listado").show("fast");
                    },
                    error: function (xhr, status, error) {
                        swal({ text: "No se pueden obtener los tratamientos", type: "warning" });
                    }
                });
            }
                event.preventDefault();
        });//Fin ver Tratamientos
    });
</script>

