﻿@model JaguaEntityModel.paciente_vacuna

@{
    ViewBag.Title = "Create";
    int id_paciente = 0;
}
<html>
<head>
    <script type="text/javascript">
        $(document).ready(function () {

            $("#id_paciente").change(function () {
                debugger
                id_paciente = parseInt$(("#id_paciente").val());
                $("#editar_datos").show("fast");
            });

            $("#btnNuevoCliente").click(function () {
                $("#modalNuevoCliente").modal();
                $("#modalNuevoCliente").modal('show');
			});

            $("#btnPorPaciente").click(function () {
                clearItems()
				$("#seccionPaciente").show("fast");
				$("#seccionCliente").hide("fast");
				$("#seccionFicha").hide("fast");
			});
            $("#btnPorCliente").click(function () {
                clearItems()
				$("#seccionCliente").show("fast");
				$("#seccionFicha").hide("fast");
				$("#seccionPaciente").hide("fast");
			});
            $("#btnPorFicha").click(function () {
                clearItems()
				$("#seccionFicha").show("fast");
				$("#seccionPaciente").hide("fast");
				$("#seccionCliente").hide("fast");

            });
            //Obtener mascota
			$("#clientec").change(function () {
				if ($("#clientec").val() == "") {
                    $("#id_pacientec").html("");
                    $("#id_pacientec").prepend("<option value='' selected='selected'>--Seleccionar--</option>");
                }
                else {
                    $.ajax({
                        url: '@Url.Action("getMascotas", "Clinica")',
						data: { id_cliente: $("#id_clientec").val() },
						type: 'get',
					success: function (pacientes) {
                        //$("#id_paciente").html(pacientes);// si quiero cargar del lado del servidor descomentar estas lineas y comentar each
                        $("#id_pacientec").html(""); //borrar lista antes de cargarla de nuevo
                        $("#id_pacientec").prepend("<option value='' selected='selected'>--Seleccionar--</option>");

						$.each(pacientes, function (i, item) {
                            $("#id_pacientec").append("<option value='" + item.id_paciente + "'>" + item.nombre + "</option>")
                        });
                        $("#id_pacientec").val("");
                        },
					error: function (xhr, status, error) {
						alert("Error")
                    }
                   });
                }

            });//Fin Obtener Mascota

            $("#pacientep").change(function () {
                if ($("#pacientep").val() == "") {
                    $("#id_cliente").val("")
                    $("#id_paciente").val("")
                    $("#clientep").val("")
                }
                $("#id_paciente").val($("#id_pacientep").val());
                $("#id_pacientec").val("");
				$("#pacientec").val("");
				$("#id_clientec").val("");
				$("#clientec").val("");
                $("#id_pacientef").val("");
				$("#pacientef").val("");
				$("#id_clientef").val("");
				$("#clientef").val("");
            });

            $("#clientec").change(function () {
                if ($("#clientec").val() == "") {
                    $("#id_cliente").val("")
                    $("#id_clientec").val("")
                    $("#id_paciente").val("")
                    $("#id_pacientec").val("")
                }
                $("#id_paciente").val($("#id_pacientec").val());
				$("#id_pacientef").val("");
				$("#pacientef").val("");
				$("#id_clientef").val("");
				$("#clientef").val("");
				$("#id_pacientep").val("");
				$("#pacientep").val("");
				$("#id_clientep").val("");
                $("#clientep").val("");
                $("#id_pacientec").focus();
            });

            $("#id_ficha").change(function () {
                $("#id_cliente").val("")
                $("#clientef").val("")
                $("#id_paciente").val("")
                $("#pacientef").val("")
                $("#edadf").val("")
            });

            $("#btnGuardarNuevoCliente").click(function () {
				if ($("#id_tipo_documento_nuevo").val() == "" || $("#nro_documento_nuevo").val() == "" || $("#nombre_nuevo").val() == "" || $("#apellido_nuevo").val() == "") {
					swal({
						text: "Campos de cliente requeridos!",
						type: "warning"
					});
				}
				else {
				var id_tipo_documento = parseInt($("#id_tipo_documento_nuevo").val());
				var nro_documento = $("#nro_documento_nuevo").val();
				var nombre = $("#nombre_nuevo").val();
				var apellido = $("#apellido_nuevo").val();

				$.ajax({
					type: 'POST',
					url: '@Url.Action("guardarNuevoCliente","Clinica")',
					data: ({ id_tipo_documento: id_tipo_documento, nro_documento: nro_documento, nombre: nombre, apellido: apellido  }),
					dataType: 'JSON',
					success: function (data) {
						if (data == "0") { //si el controlador retorno 0 es porque la ci ya esta agregada
							swal({
								text: "El cliente ya existe!",
								type: "warning"
							});
							$("#modalNuevoCliente").modal('hide');
							$("#cedula").focus();
						} else {
							var nombre_cliente = nombre + ' ' + apellido;
							$("#cliente").val(nombre_cliente);
							swal({
								text: "Cliente Agregado Correctamente!",
								type: "success"
							});
							$("#modalNuevoCliente").modal('hide');
						}
					},
					error: function () {
                        swal({
                            text: "Error al guardar el cliente",
                            type: "error"
                        });
					}
					});
				}
			});//Fin Nuevo Cliente

			function clearItems() {
				$("#id_cliente").val("");
				$("#id_paciente").val("");
				$("#id_pacientep").val("");
				$("#pacientep").val("");
				$("#id_clientep").val("");
				$("#clientep").val("");
				$("#id_pacientec").val("");
				$("#pacientec").val("");
				$("#id_clientec").val("");
				$("#clientec").val("");
				$("#id_pacientef").val("");
				$("#pacientef").val("");
				$("#id_clientef").val("");
                $("#clientef").val("");
                $("#id_ficha").val("");
				$("#fecha").val("");
				$("#id_medico").val("");
				$("#id_vacuna").val("");
				$("#prox_aplicacion").val("");
				$("#id_tipo_documento_nuevo").val("");
				$("#nro_documento_nuevo").val("");
				$("#nombre_nuevo").val("");
                $("#apellido_nuevo").val("");
                $("#edadp").val("");
                $("#edadc").val("");
                $("#edadf").val("");
                $("#btnVerVacunas").hide();
			}

            $("#btnSubmit").click(function () {
                if ($("#id_cliente").val() == "") {
                    swal({
                        text: "Debe cargar el cliente!",
                        type: "warning"
                    });
                    $("#id_cliente").focus();
                }
                else if ($("#id_paciente").val() == "") {
                    swal({
                        text: "Debe cargar el paciente!",
                        type: "warning"
                    });
                    $("#id_paciente").focus();
                }
                else if ($("#fecha").val() == "") {
                    swal({
                        text: "Debe cargar la fecha!",
                        type: "warning"
                    });
                    $("#fecha").focus();
                }
                else if ($("#id_medico").val() == "") {
                    swal({
                        text: "Debe cargar el medico!",
                        type: "warning"
                    });
                    $("#id_medico").focus();
                }
                else if ($("#id_vacuna").val() == "") {
                    swal({
                        text: "Debe cargar la vacuna",
                        type: "warning"
                    });
                    $("#id_vacuna").focus();
                }
                else {
                    $("form").submit();
                    clearItems();
                }
            });
        });

    </script>
</head>
<body>
    <div class="container-fluid">
        <div class="card strpied-tabled-with-hover">
            <div class="card-header ">
                @using (Html.BeginForm("Vacunas", "Clinica", FormMethod.Post, new { id = "frmList" }))
                {
                    @Html.Hidden("id_paciente")
                    @Html.Hidden("id_cliente")
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">
                        <h4><i class="fa fa-user-md " style="color:mediumpurple"></i>&nbsp;<b>Agregar Vacunación</b></h4>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <h6 style="font-size:12px; margin-top:15px;">Datos del Paciente</h6>
                        <div class="card card-body" style="margin-bottom:10px;">
                            <div class="row">
                                <button type="button" style="margin-right:10px;margin-left:10px;" class="btn btn-outline btn-info" id="btnPorPaciente">
                                    <i class="fa fa-paw" aria-hidden="true"></i>
                                    Buscar Por Paciente
                                </button>
                                <button type="button" style="margin-right:10px;" class="btn btn-outline btn-success" id="btnPorCliente">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                    Buscar Por Cliente
                                </button>
                                <button type="button" style="margin-right:10px;" class="btn btn-outline btn-warning" id="btnPorFicha">
                                    <i class="fa fa-files-o " aria-hidden="true"></i>
                                    Buscar Por Ficha
                                </button>
                                <button type="button" style="background-color:mediumpurple; color:black; margin-right:10px;" class="btn btn-outline btn-info" id="btnNuevoCliente">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                    Nuevo Cliente
                                </button>
                                <button type="button" style="background-color:turquoise; color:black; margin-right:10px;" class="btn btn-outline btn-info" id="btnNuevoPaciente">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                    Nuevo Paciente
                                </button>
                            </div>
                            <div id="seccionPaciente" class="row">
                                <div class="col-md-2">
                                    <label>Nombre</label>
                                    @Html.TextBox("pacientep", null, "--Seleccionar--", new { @class = "form-control" })
                                    @Html.Hidden("id_pacientep")
                                    @Html.ValidationMessageFor(model => model.id_paciente, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-3">
                                    <label>Dueño</label>
                                    @Html.TextBox("clientep", null, "--Seleccionar--", new { @class = "form-control", disabled = "true" })
                                    @Html.Hidden("id_clientep")
                                </div>
                                <div class="col-md-2">
                                    <label>Edad</label>
                                    @Html.TextBox("edadp", null, "--Seleccionar--", new { @class = "form-control", disabled = "true" })
                                </div>
                                <a id="editar_datos" href="@Url.Action("Editar", "Pacientes", id_paciente)" @(id_paciente != 0 ? "display" : "hidden") class="btn btn-simple btn-info btn-outline" style="margin-top:20px;height:30px" title="Editar" rel="tooltip">
                                    <i class="fa fa-edit" aria-hidden="true"></i>
                                </a>
                            </div>
                            <div id="seccionCliente" class="row" style="display:none">
                                <div class="col-md-3">
                                    <label>Dueño</label>
                                    @Html.TextBox("clientec", null, "--Seleccionar--", new { @class = "form-control" })
                                    @Html.Hidden("id_clientec")
                                </div>
                                <div class="col-md-2">
                                    <label>Nombre</label>
                                    @Html.DropDownList("id_pacientec", new SelectList(""), "--Seleccionar--", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.id_paciente, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-2">
                                    <label>Edad</label>
                                    @Html.TextBox("edadc", null, "--Seleccionar--", new { @class = "form-control", disabled = "true" })
                                </div>
                                <a href="@Url.Action("Editar", "Pacientes", id_paciente)" @(id_paciente != 0 ? "display" : "hidden") class="btn btn-simple btn-info btn-outline" style="margin-top:20px;height:30px" title="Editar" rel="tooltip">
                                    <i class="fa fa-edit" aria-hidden="true"></i>
                                </a>
                            </div>
                            <div id="seccionFicha" class="row" style="display:none">
                                <div class="col-md-1">
                                    <label>Nro. Ficha</label>
                                    @Html.TextBox("id_ficha", null, "--Seleccionar--", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.id_ficha, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-2">
                                    <label>Nombre</label>
                                    @Html.TextBox("pacientef", null, "--Seleccionar--", new { @class = "form-control", disabled = "true" })
                                    @Html.Hidden("id_pacientef")
                                    @Html.ValidationMessageFor(model => model.id_paciente, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-3">
                                    <label>Dueño</label>
                                    @Html.TextBox("clientef", null, "--Seleccionar--", new { @class = "form-control", disabled = "true" })
                                    @Html.Hidden("id_clientef")
                                </div>
                                <div class="col-md-2">
                                    <label>Edad</label>
                                    @Html.TextBox("edadf", null, "--Seleccionar--", new { @class = "form-control", disabled = "true" })
                                </div>
                                <button type="button" id="btnBuscarFicha" title="Buscar registros" class="btn btn-simple btn-success btn-outline" style="margin-right:10px; margin-top:20px;height:30px" rel="tooltip">
                                    <i class="nc-icon nc-zoom-split icon-bold" aria-hidden="true"></i>
                                </button>
                                <a href="@Url.Action("Editar", "Pacientes", id_paciente)" @(id_paciente != 0 ? "display" : "hidden") class="btn btn-simple btn-info btn-outline" style="margin-top:20px;height:30px" title="Editar" rel="tooltip">
                                    <i class="fa fa-edit" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                        <h6 style="font-size:12px;">Detalles</h6>
                        <div class="row">
                            <div class="col-md-2">
                                <label>fecha</label>
                                @Html.TextBox("fecha", DateTime.Now.ToShortDateString(), new { @class = "form-control", @type = "date" })
                            </div>
                            <div class="col-md-4">
                                <label>Doctor</label>
                                @Html.DropDownList("id_medico", null, "--Seleccionar--", new { @class = "form-control" })
                            </div>
                            <button id="btnVerVacunas" type="button" class="btn" style="background-color:mediumpurple; color:black; margin-right:10px; margin-top:20px; display:none;">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                                Ver Vacunas
                            </button>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label>Vacuna</label>
                                @Html.DropDownList("id_vacuna", new SelectList(""), "--Seleccionar--", new { @class = "form-control" })
                            </div>
                            <div class="col-md-2">
                                <label>Proxima Aplicacion</label>
                                @Html.TextBox("prox_aplicacion", null, new { @class = "form-control", @type = "date" })
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="pull-right">
                        <button type="button" id="btnSubmit" title="Guardar" class="btn btn-wd btn-facebook">
                            <i class="fa fa-check-square-o"></i>
                            Guardar
                        </button>
                        <a href="@Url.Action("Index", "Home")" title="" class="btn btn-wd btn-info btn-outline" style="" data-original-title="Atras">
                            Cancelar
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
    <div id="modalNuevoCliente" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Nuevo Cliente</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <hr />
                <div class="modal-body">
                    <div class=row>
                        <div class="col-sm-3">
                            <label>Tipo Doc</label>
                            @Html.DropDownList("id_tipo_documento_nuevo", (SelectList)ViewBag.id_tipo_documento, new { @class = "form-control", required = "required" })
                        </div>
                        <div class="col-sm-3">
                            <label>Nro. Documento</label>
                            @Html.TextBox("nro_documento_nuevo", null, new { @class = "form-control", required = "required" })

                        </div>
                        <div class="col-sm-3">
                            <label>Nombre</label>
                            @Html.TextBox("nombre_nuevo", null, new { @class = "form-control", required = "required" })
                        </div>
                        <div class="col-sm-3">
                            <label> Apellido</label>
                            @Html.TextBox("apellido_nuevo", null, new { @class = "form-control", required = "required" })
                        </div>
                    </div>
                    <div class="row pull-right">
                        <div class="col-sm-3" style="margin-top:38px;">
                            <button id="btnGuardarNuevoCliente" class="btn btn-wd btn-primary "><i class="fa fa-add-user"></i>GUARDAR</button>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>
    <div id="modalVacunas" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"><i class="fa fa-podcast" style="color:mediumpurple"></i>&nbsp;<b>Tarjeta de Vacunacion</b></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <hr />
                <div id="partialView" class="modal-body">
                    
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script type="text/javascript">
    function calcular_edad(fecha) {
        var hoy = moment().format('YYYY');
        var nacimiento = moment(fecha).format('YYYY');
        var edad = hoy - nacimiento;
        var mes = moment(fecha).format('MM');
        var meses = parseInt(moment().format('MM')) - parseInt(mes);
        var edad_calculada = ""
        if (edad === 0) {
            edad_calculada = meses + " meses";
        } else {
            edad_calculada = edad + " años y " + meses + " meses";
        }
        if (meses < 0) {
            edad_calculada--;
            meses = 12 - Math.abs(meses)
            edad_calculada = edad + " años y " + meses + " meses";
        } 
        return edad_calculada;
    }

    function obtener_vacunas(id_paciente) {
        $.ajax({
            url: '@Url.Action("getVacunas", "Clinica")',
            data: { id_paciente: id_paciente},
			type: 'get',
            success: function (vacunas) {
            $("#id_vacuna").html(""); //borrar lista antes de cargarla de nuevo
            $("#id_vacuna").prepend("<option value='' selected='selected'>--Seleccionar--</option>");

			$.each(vacunas, function (i, item) {
                $("#id_vacuna").append("<option value='" + item.id_vacuna + "'>" + item.nombre + "</option>")
            });
            $("#id_vacuna").val("");
            },
			error: function (xhr, status, error) {
				alert("Error")
            }
        });
    }
    $(document).ready(function () {
        $("#pacientep").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '@Url.Action("PacienteSearch", "Clinica")',
                    dataType: "json",
                    data: { search: request.term },
                    success: function (data) {
					    response($.map(data, function (item) {
                            var AC = new Object();
                            //autocomplete default values REQUIRED
						    AC.label = item.paciente + ' ' + 'Dueño: ' + ' ' + item.cliente_nombre + ' ' +item.cliente_apellido;
                            AC.value = item.paciente;

                            //extend values
                            AC.id_paciente = item.id_paciente;
                            AC.paciente = item.paciente;
                            AC.id_cliente = item.id_cliente;
                            AC.cliente_nombre = item.cliente_nombre;
                            AC.cliente_apellido = item.cliente_apellido;
                            AC.fecha_nac = item.fecha_nac;

                            return AC
                            //return { label: item.nro_documento + ' ' + item.nombre + ' ' + item.apellido, value: item.nro_documento};
                        }
                        ));
                    },
                    error: function (xhr, status, error) {
                        alert("Error");
                    }
                });
            },
        minLength: 2,
        select: function (event, ui) {
            $('#edadp').val(calcular_edad(ui.item.fecha_nac));
            $('#id_cliente').val(ui.item.id_cliente);
            $("#id_paciente").val(ui.item.id_paciente);
            $("#pacientep").val(ui.item.paciente);
            $("#id_pacientep").val(ui.item.id_paciente);
            $('#clientep').val(ui.item.cliente_nombre + ' ' + ui.item.cliente_apellido);
            $('#id_clientep').val(ui.item.id_cliente);
            $("#fecha").focus();
            $("#btnVerVacunas").show();
            }
        });/*Fin Paciente*/

        $("#clientec").autocomplete({
            source: function (request, response) {
                    $.ajax({
                        url: '@Url.Action("ClienteSearch", "Clinica")',
                        dataType: "json",
                        data: { search: request.term },
                        success: function (data) {
							response($.map(data, function (item) {
                                var AC = new Object();

                                //autocomplete default values REQUIRED
                                AC.label = item.nro_documento + ' ' + item.cliente_nombre + ' ' + item.cliente_apellido;
								AC.value = item.cliente_nombre + ' ' + item.cliente_apellido;

                                //extend values
                                AC.id_paciente = item.id_paciente;
                                AC.paciente = item.paciente;
                                AC.id_cliente = item.id_cliente;
                                AC.cliente_nombre = item.cliente_nombre;
                                AC.cliente_apellido = item.cliente_apellido;
                                AC.fecha_nac = item.fecha_nac;

                                return AC
                                //return { label: item.nro_documento + ' ' + item.nombre + ' ' + item.apellido, value: item.nro_documento};
                            }
                            ));
                        },
                        error: function (xhr, status, error) {
                            alert("Error");
                        }
                   });
                },
            minLength: 2,
            select: function (event, ui) {
                $('#id_cliente').val(ui.item.id_cliente);
                $("#pacientec").val(ui.item.paciente);
                $("#id_pacientec").val(ui.item.id_paciente);
                $('#clientec').val(ui.item.cliente_nombre + ' ' + ui.item.cliente_apellido);
                $('#id_clientec').val(ui.item.id_cliente);
                $("#id_pacientec").focus();
            }
        });/*Fin Cliente*/

        $("#btnBuscarFicha").click(function () {
            var id_ficha = parseInt($("#id_ficha").val());
            $.ajax({
                url: '@Url.Action("FichaSearch", "Clinica")',
                dataType: "json",
                data: { search: id_ficha },
                success: function (data) {
                    if (data != 0) {
                        $('#edadf').val(calcular_edad(data[0].fecha_nac));
                        $('#id_cliente').val(data[0].id_cliente);
                        $("#id_paciente").val(data[0].id_paciente);
                        $("#id_ficha").val(data[0].id_ficha);
                        $("#pacientef").val(data[0].paciente);
                        $("#id_pacientef").val(data[0].id_paciente);
                        $('#clientef').val(data[0].cliente_nombre + ' ' + data[0].cliente_apellido);
                        $('#id_clientef').val(data[0].id_cliente);
                        $("#fecha").focus();
                        obtener_vacunas($("#id_paciente").val())
                        $("#btnVerVacunas").show();
                    } else {
                        swal({
                            text: "La ficha no existe!",
                            type: "warning"
                        });
                    }
                },
                error: function (xhr, status, error) {
                    swal({
                        text: "Error",
                        type: "error"
                    });
                }
            })
        });/*Fin Ficha*/

        $("#id_pacientec").change(function () {
            var id_paciente = parseInt($("#id_pacientec").val());
            if ($("#id_pacientec").val() != "") {
                $.ajax({
                    url: '@Url.Action("getEdad", "Clinica")',
                    dataType: "json",
                    data: {id_paciente: id_paciente},
			        type: 'get',
                    success: function (data) {
                        $("#edadc").val(calcular_edad(data[0].fecha_nac));
                        $("#id_paciente").val(id_paciente);
                        $("#btnVerVacunas").show();
                    },
			        error: function (xhr, status, error) {
                        swal({
                            text: "No se puede obtener edad",
                            type: "warning"
                        });
                    }
                });
            }
        });/*Fin Obtener Edad*/

        $("#id_pacientec").change(function () {
            var id_paciente = $("#id_pacientec").val();
            if ($("#id_pacientec").val() == "") {
                $("#id_vacuna").html("");
                $("#id_vacuna").prepend("<option value='' selected='selected'>--Seleccionar--</option>");
                $("#edadc").html("");
            } else {
                obtener_vacunas(id_paciente);
            }

        });//Fin Obtener Vacunas

        $("#pacientep").change(function () {
            var id_paciente = $("#id_pacientep").val();
            if ($("#id_pacientep").val() == "") {
                $("#id_vacuna").html("");
                $("#id_vacuna").prepend("<option value='' selected='selected'>--Seleccionar--</option>");
                $("#edadp").html("");
            } else {
                obtener_vacunas(id_paciente);
            }
        });//Fin Obtener Vacunas

        $("#btnVerVacunas").click(function () {
            var id_paciente = parseInt($("#id_paciente").val());
                $.ajax({
                    url: '@Url.Action("getListadoVacunas", "Clinica")',
                    data: { id_paciente: id_paciente},
                    success: function (data) {
                        $('#partialView').html(data);                       
                        $('#modalVacunas').modal('show');    
                    },
			        error: function (xhr, status, error) {
                        swal({
                            text: "No se pueden obtener las vacunas",
                            type: "warning"
                        });
                    }
                });
        });//Fin Modal Vacunas
    });
</script>

