﻿@model JaguaEntityModel.ventas_cabecera
@{
    ViewBag.Title = "Ventas";
    var usuario_actual = Jagua.Clases.SessionManager.SessionData.id_usuario;
}
<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Cargar_Venta</title>
	<style>
		label {
			color: black !important;
		}

		form-control {
			color: #404040 !important;
			border: #404040 !important;
			border-color: #404040 !important;
		}

		card {
			border-color: #404040 !important;
		}

		table thead tr th {
			color: black !important;
			font-size: xx-small !important;
		}
	</style>
	<script type="text/javascript">
		$(document).ready(function () {
			var nro_item = 0;
			var total = 0;
            var total_art = 0;
            var cant_articulos = 0;

            obtenerCaja();
            obtenerNumeracion();
            clearHead();
            clearItem();

			$("#total").val(0);

            $("#btnClienteCasual").click(function () {
                $("#id_cliente").val("1");
				$("#cedula").val("4444444-5");
				$("#nombre").val("Cliente Casual");
				$("#producto").focus();
			});

			$("#btnNuevoCliente").click(function () {
				$("#modalNuevoCliente").modal();
				$("#modalNuevoCliente").modal('show');
			});

            $("#btnCobrar").click(function () {
                var rowCount = $('#detalle tr').length;
                if ($("#cedula").val() == "") {
                    swal({ text: "Debe cargar los datos del cliente -!", type: "error" });
                    $("#cedula").focus();
                } else if (rowCount == 1) {
                    swal({ text: "Debe cargar los productos -!", type: "error" });
                    $("#producto").focus();
                }
				else {
                    $("#total_cobro").val($("#total").val());
					$("#modalCobrar").modal();
					$("#modalCobrar").modal('show');
				}
			});

			//Agregar a grilla
			$("#btnAgregarDetalle").click(function (e) {
				if ($("#cedula").val() == "") {
					swal({text: "Debe cargar los datos del cliente!",type:"warning"});
					$("#cedula").focus();
				} else if ($("#producto").val() == "") {
					swal({text: "Debe cargar detalles de producto!",type:"warning"});
				}
                else if (Number.isInteger(parseInt($("#cantidad").val())) == false || Number.isInteger(parseInt($("#cantidad").val())) <= 0) {
					swal({text: "Cantidad no valida!",type: "warning"});
				}
				else {
                    agregarDetalle()
                    cant_articulos = cant_articulos + 1;
				}
			});

			function agregarDetalle() {
				nro_item = nro_item + 1;
				var id_producto = $("#id_producto").val();
				var codigo_barra = $("#codigo_barra").val();
				var descripcion = $("#descripcion").val();
				var cantidad = $("#cantidad").val().split('.').join("");
				var precio = $("#precio").val().split('.').join("");
				var iva = $("#iva").val().split('.').join("");
				var exentas;
				var gravadas;
				var iva5;
				var iva10;
				var subtotal;
				if (iva == 0) {
					exentas = precio * cantidad;
					iva10 = 0;
					iva5 = 0;
				} else if (iva == 5) {
					exentas = 0;
					iva10 = 0;
					iva5 = precio * cantidad / 20;
					gravadas = (precio * cantidad) - iva5;
				}
				else {
					exentas = 0;
					iva5 = 0;
					iva10 = precio * cantidad / 10;
					gravadas = (precio * cantidad) - (iva10 * cantidad);
				}
				precio = precio;
				subtotal = cantidad * precio;
				var detalle = $("#detalle tbody");

				var productItem = '<tr><td style="display:none">' + id_producto + '</td><td style="display:none">' + codigo_barra + '</td><td>' + nro_item + '</td><td>' + descripcion + '</td><td>' + cantidad + '</td><td>' + precio + '</td><td>' + iva5 + '</td><td>' + iva10 + '</td><td>' + exentas + '</td><td>' + gravadas + '</td><td>' + subtotal + '</td><td><a data-itemId="0" href="#" class="deleteItem"><i class="fa fa-times" style="color:indigo; font-size:20px" aria-hidden="true"></i></a></td></tr>';
				detalle.append(productItem);
				total = total + subtotal;
				total_art = total_art + 1;
				$("#total").val(total);
				clearItem();

			};

			//Borrar detalles
			function clearItem() {
				$("#nro_item").val('');
				$("#producto").val('');
				$("#cantidad").val('');
				$("#precio_unitario").val('');
				$("#iva").val(0);
				$("#exentas").val('');
				$("#gravadas").val('');
				$("#descuento").val('');
                $("#subtotal").val('');
			}

            //Borrar Cabecera
			function clearHead() {
				$("#id_cliente").val('');
				$("#nombre").val('');
                $("#cedula").val('');
                $("#total_cobro").val('');
                $("#importe").val('');
                $("#vuelto").val('');
                $("#total").val('');
			}

			// Eliminar una fila de la grilla y recalcular el total
			$(document).on('click', 'a.deleteItem', function (e) {
				e.preventDefault();
				var subtotal = $(this).parents("td").parents("tr").find("td:nth-child(11)").html();
				//hago calculos
				var total_actualizado = parseInt($("#total").val());
				total_actualizado = total_actualizado - parseInt(subtotal);
				//actualizo el total de la vista
				$("#total").val(total_actualizado);
				//actualiza la variable global que totaliza !important
                total = total_actualizado;
                cant_articulos = cant_articulos -1;

				var $self = $(this);
				if ($(this).attr('data-itemId') == "0") {
                    $(this).parents('tr').css("background-color", "#b188c9").fadeOut(800, function () {
						$(this).remove();
					});
				}
			});

			//Enviar la lista al controlaor
            $("#btnGuardar").click(function (e) {
                if ($("#importe").val() == "") {
                    swal({ text: "Debe cargar el importe!", type: "warning" });
                }
                else if ($("#comprobante").val() == "") {
                    swal({ text: "Debe cargar el nro de comprobante", type: "warning" });
                }
                else {
                    e.preventDefault();
                    var totales = 0;
                    var detalleArray = [];
                    detalleArray.length = 0;

                    $.each($("#detalle tbody tr"), function () {
                        detalleArray.push({
                            id_producto: $(this).find('td:eq(0)').html(),
                            codigo_barra: $(this).find('td:eq(1)').html(),
                            nro_item: $(this).find('td:eq(2)').html(),
                            descripcion: $(this).find('td:eq(3)').html(),
                            cantidad: $(this).find('td:eq(4)').html(),
                            precio_unitario: $(this).find('td:eq(5)').html(),
                            iva5: $(this).find('td:eq(6)').html(),
                            iva10: $(this).find('td:eq(7)').html(),
                            exentas: $(this).find('td:eq(8)').html(),
                            gravadas: $(this).find('td:eq(9)').html(),
                            subtotal: $(this).find('td:eq(10)').html()
                            //totales = totales + subtotal
                        });

                    });

                    cabecera = {
                        id_caja: $("#id_caja").val(),
                        id_tipo_comprobante: $("#id_tipo_comprobante").val(),
                        comprobante: $("#comprobante").val(),
                        id_cliente: $("#id_cliente").val(),
                        nombres: $("#nombre").val(),
                        cant_articulos: cant_articulos,
                        id_medio_pago: $("#id_medio_pago").val(),
                        importe_total: $("#total").val(),
                        cobrado: "S",
                        estado: "C",
                        fecha: $("#fecha").val()
                    }

                    var data = JSON.stringify({
                        datosDetalle: detalleArray,
                        cabecera: cabecera
                    });

                    //envío datos
                    $.ajax({
                        contentType: 'application/json',
                        type: 'POST',
                        url: "/Facturacion/CargarVenta",
                        data: data,
                        success: function (result) {
                            if (result == "0") {
                                swal({ text: "Faltan datos", type: "warning", });
                            } else if (result == "1") {
                                swal({ text: "Ha habido errores en la carga", type: "warning" });
                            }
                            else {
                                $("#modalCobrar").modal('hide');
                                swal({ text: "Se ha imprimido correctamente!", type: "success" });
                                $("#detalle tbody").html('');
                                clearHead();
                                clearItem();
                            }
                        },
                        error: function () {
                            alert("Error!")
                        }
                    });
                    clearHead();
                    clearItem();
                }
            });

			/* DETALLE DE COBRO*/
            function obtenerCaja() {
				$.ajax({
					contentType: 'application/json',
					type: 'GET',
					url: "/Facturacion/getCaja",
                    success: function (data) {
                        if (data != 0) {
                            $("#caja").val(data[0].descripcion);
                            $("#id_caja").val(data[0].id_caja);
                        } else {
                            swal({ text: "Error en las cajas habilitadas", type: "error" });
                        }
					},
					error: function () {
                        swal({ text: "Error al obtener caja", type: "error" });
					}
				});
            }

			function obtenerNumeracion() {
				var id = $("#id_tipo_comprobante").val();
				$.ajax({
					type: 'GET',
					url: '@Url.Action("getNumeracion","Facturacion")',
					data: ({ id: id }),
					dataType: 'JSON',
					success: function (data) {
						$("#comprobante").val(data[0].nro_actual);
						$("#nro_hasta").val(data[0].nro_hasta);
					},
					error: function () {
						alert("Error al Obtener Numeracion!")
					}
				});
			}

            $("#importe").change(function () {
                var importe = $("#importe").val();
                var cobro = $("#total_cobro").val();
                var vuelto = parseInt(importe) - parseInt(cobro);
				$("#vuelto").val(vuelto);
			});

			$("#id_tipo_comprobante").change(function () {
				obtenerNumeracion();
			});

            $("#btnGuardarNuevoCliente").click(function () {
				if ($("#id_tipo_documento_nuevo").val() == "" || $("#nro_documento_nuevo").val() == "" || $("#nombre_nuevo").val() == "" || $("#apellido_nuevo").val() == "") {
					swal({text: "Campos de cliente requeridos!",type: "warning"});
				}
				else { 
				var id_tipo_documento = parseInt($("#id_tipo_documento_nuevo").val());
				var nro_documento = $("#nro_documento_nuevo").val();
				var nombre = $("#nombre_nuevo").val();
				var apellido = $("#apellido_nuevo").val();

				$.ajax({
					type: 'POST',
					url: '@Url.Action("guardarNuevoCliente","Facturacion")',
					data: ({ id_tipo_documento: id_tipo_documento, nro_documento: nro_documento, nombre: nombre, apellido: apellido  }),
					dataType: 'JSON',
					success: function (data) {
						if (data == "0") { //si el controlador retorno 0 es porque la ci ya esta agregada
							swal({text: "El cliente ya existe!",type: "warning"});
							$("#modalNuevoCliente").modal('hide');
							$("#cedula").focus();
						} else {
							$("#cedula").val(nro_documento);
							var nombre_cliente = nombre + ' ' + apellido;
							$("#nombre").val(nombre_cliente);
							swal({text: "Cliente Agregado Correctamente!",type: "success"});
							$("#modalNuevoCliente").modal('hide');
						}
					},
					error: function () {
                        swal({text: "Error al guardar cliente",type: "error"});
					}
					});
				}
			});

		}); //Fin de script
	</script>
</head>
<body>
    <div class="container-fluid">
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @*Cabecera*@
            <div class="container-fluid">
                <div class="card horizontal-form" style="background-color:lightgray; height:40%;">
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-md-10">
                                <h4><i class="fa fa-shopping-cart  " style="color:mediumpurple"></i>&nbsp;<b>Facturación</b></h4>
                            </div>
                            <div class="col-md-2" ;>
                                @Html.TextBox("fecha", DateTime.Today.ToShortDateString(), new { @class = "form-control", type = "datetime", style = "text-align: right; color:black" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="card card-body col-md-10" style="background-color:lightgray;">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <label>Cliente</label>
                                        @Html.TextBox("cedula", null, new { @class = "form-control", @required = "true", @placeholder = "Cedula", @Value = "" })
                                        @Html.Hidden("id_cliente")
                                    </div>
                                    <div class="col-sm-4">
                                        <label> </label>
                                        @Html.TextBox("nombre", (String)ViewBag.nombre, new { @class = "form-control", @placeholder = "Nombre y Apellido", @maxlength = "20", @readonly = "true", @Value = "" })
                                    </div>
                                    <div class="col-md-1">
                                        <img id="btnClienteCasual" style="border:1px solid black; padding:3px; height:50px;width:50px;" onmouseover="this.style.cursor = 'pointer'; " src="~/Content/assets/img/vets_icon/cliente.png" />
                                    </div>
                                    <button type="button" style="margin-top:20px;background-color:mediumpurple; color:black; margin-right:10px;" class="btn" id="btnNuevoCliente">
                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                        Nuevo Cliente
                                    </button>
                                </div>
                            </div>
                            <div class="card card-body col-md-2" style="align-items:center;background-color:mediumpurple;">
                                <label style="font-size:20px; color:black"><b>TOTAL:</b></label>
                                @Html.TextBox("total", null, new { @class = "form-control", disabled = "disabled", style = "height: 30px; font-size:12px; color:black;" })
                            </div>
                        </div>
                        @*PRODUCTO*@
                        <div class="row">
                            <div class="col-sm-6">
                                <label>Producto</label>
                                @Html.TextBox("producto", null, new { @class = "form-control", @placeholder = "Producto", @maxlength = "30" })
                                @Html.Hidden("id_producto")
                                @Html.Hidden("descripcion")
                                @Html.Hidden("precio")
                                @Html.Hidden("iva")
                                @Html.Hidden("codigo_barra")
                            </div>
                            <div class="col-sm-3">
                                <label>Cantidad</label>
                                @Html.TextBox("cantidad", null, new { @class = "form-control", @pattern = "012345", @required = "required", @placeholder = "Cantidad", @type = "number" })
                            </div>
                            <button type="button" style="margin-top:20px;background-color:mediumpurple; color:black; margin-right:10px;" class="btn" id="btnAgregarDetalle">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                                Agregar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            @*Detalle*@
            <div class="container-fluid">
                <div class="card strpied-tabled-with-hover" style="background-color:lightgray;">
                    <div class="panel-body" style="margin-left:10px;">
                        <table class="table" id="detalle">
                            <thead>
                                <tr>
                                    <th style="display:none">Id Producto</th>
                                    <th>#</th>
                                    <th>Producto</th>
                                    <th>Cantidad</th>
                                    <th>Precio Unitario</th>
                                    <th>IVA 5%</th>
                                    <th>IVA 10%</th>
                                    <th>Exentas</th>
                                    <th>Gravadas</th>
                                    <th>Sub-Total</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                        <hr>
                        <div class="pull-right">
                            <button type="button" id="btnCobrar" class="btn" style="margin-right:50px; background-color:mediumpurple; color:black;"><i class="fa fa-money" style="margin-right:10px;"></i>COBRAR</button>
                        </div>
                    </div>

                </div>
            </div>
        }

    </div>

    <div id="modalCobrar" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">DETALLE DE COBRO</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <hr />
                    <div class="modal-body">
                        <div class=row>
                            <div class="col-sm-3">
                                <label>Caja</label>
                                @Html.TextBox("caja", null, new { @class = "form-control", @disabled = "true" })
                                @Html.Hidden("id_caja")
                                @Html.Hidden("nro_hasta")
                            </div>
                            <div class="col-sm-3">
                                <label>Tipo Doc</label>
                                @Html.DropDownList("id_tipo_comprobante", (SelectList)ViewBag.id_tipo_comprobante, new { @class = "form-control", required = "required" })
                            </div>
                            <div class="col-sm-3">
                                <label>Comprobante</label>
                                @Html.TextBox("comprobante", null, new { @class = "form-control" })
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-sm-3">
                                <label> Total</label>
                                @Html.TextBox("total_cobro", null, new { @class = "form-control", disabled = "disabled", style = "height: 30px; font-size:20px; color:black; weight:600;" })
                            </div>
                            <div class="col-sm-3">
                                <label>MEDIO PAGO</label>
                                @Html.DropDownList("id_medio_pago", (SelectList)ViewBag.id_medio_pago, new { @class = "form-control", required = "required" })
                            </div>
                            <div class="col-sm-3">
                                <label> IMPORTE</label>
                                @Html.TextBox("importe", null, new { @class = "form-control", style = "height: 30px; font-size:12px; color:black;" })
                            </div>
                            <div class="col-sm-3">
                                <label> VUELTO</label>
                                @Html.TextBox("vuelto", null, new { @class = "form-control", disabled = "disabled", style = "height: 30px; font-size:12px; color:red; weight:600;" })
                            </div>
                        </div>
                        <div class="pull-right">
                            <div class="col-sm-3" style="margin-top:38px;">
                                <button id="btnGuardar" class="btn btn-simple "><i class="fa fa-print"></i>IMPRIMIR</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

	<div id="modalNuevoCliente" class="modal" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Nuevo Cliente</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<hr />
				<div class="modal-body">
					<div class=row>
						<div class="col-sm-3">
							<label>Tipo Doc</label>
							@Html.DropDownList("id_tipo_documento_nuevo", (SelectList)ViewBag.id_tipo_documento, new { @class = "form-control", required = "required" })
						</div>
						<div class="col-sm-3">
							<label>Nro. Documento</label>
							@Html.TextBox("nro_documento_nuevo", null, new { @class = "form-control", required = "required" })

						</div>
						<div class="col-sm-3">
							<label>Nombre</label>
							@Html.TextBox("nombre_nuevo", null, new { @class = "form-control", required = "required" })
						</div>
						<div class="col-sm-3">
							<label> Apellido</label>
							@Html.TextBox("apellido_nuevo", null, new { @class = "form-control", required = "required" })
						</div>
					</div>
					<div class="row pull-right">
						<div class="col-sm-3" style="margin-top:38px;">
							<button id="btnGuardarNuevoCliente" class="btn btn-wd btn-primary "><i class="fa fa-add-user"></i>GUARDAR</button>
						</div>
					</div>

				</div>
				<div class="modal-footer">

				</div>
			</div>
		</div>
	</div>
</body>

</html>
<script type="text/javascript">
    $(document).ready(function () {
        $("#cedula").autocomplete({
            source: function (request, response) {
                    $.ajax({
                        url: '@Url.Action("ClienteSearch", "Facturacion")',
                        dataType: "json",
                        data: { search: request.term },
                        success: function (data) {
							response($.map(data, function (item) {
								var AC = new Object();

								//autocomplete default values REQUIRED
								AC.label = item.nro_documento + ' ' + item.nombre + ' ' + item.apellido;
								AC.value = item.nro_documento;

								//extend values
                                AC.id_cliente = item.id_cliente;
								AC.nombre = item.nombre;
                                AC.apellido = item.apellido;

								return AC
                                //return { label: item.nro_documento + ' ' + item.nombre + ' ' + item.apellido, value: item.nro_documento};
                            }
                            ));
                        },
                        error: function (xhr, status, error) {
                            alert("Error");
                        }
                   });
                },
            minLength: 2,
            select: function (event, ui) {
                $('#cedula').val(ui.item.value);
                $('#id_cliente').val(ui.item.id_cliente);
				$('#nombre').val(ui.item.nombre+' '+ui.item.apellido);
                $("#producto").focus();
            }
		});/*Fin Cedula*/

		        /*Datos de Producto*/
        $("#producto").autocomplete({
            source: function (request, response) {
                    $.ajax({
                        url: '@Url.Action("ProductDetails", "Facturacion")',
                        dataType: "json",
                        data: { search: request.term },
                        success: function (data) {
                            response($.map(data, function (item) {
                                var AC = new Object();

                                //autocomplete default values REQUIRED
                                AC.label = item.descripcion;
                                AC.value = item.descripcion;

                                //extend values
								AC.id_producto = item.id_producto;
								AC.descripcion = item.descripcion;
                                AC.precio = item.precio;
                                AC.iva = item.iva;
                                AC.codigo_barra = item.codigo_barra;

                                return AC
                            }
                            ));
                        },
                        error: function (xhr, status, error) {
                            alert("Error");
                        }
                   });
                },
             minLength: 2,
			select: function (event, ui) {
                $("#id_producto").val(ui.item.id_producto);
                $("#descripcion").val(ui.item.descripcion);
                $("#cantidad").val(1);
                $("#precio").val(ui.item.precio);
                $("#iva").val(ui.item.iva);
                $("#codigo_barra").val(ui.item.codigo_barra);
                $("#cantidad").focus()
             }

        });/*Fin Datos de Producto*/

    });
</script>
