﻿@using PagedList.Mvc;
@model PagedList.IPagedList<JaguaEntityModel.ventas_cabecera>

@{
    ViewBag.Title = "Index";
    //var id_usuario = Jagua.Clases.SessionManager.SessionData.id_usuario;
    //var aperturas
}
<head>
    <script type="text/javascript">
        function Anular(item) {
            swal({
                title: "Estas Seguro?",
                text: "El registro se anulara!",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn btn-info btn-fill",
                confirmButtonText: "Si, anular!",
                cancelButtonClass: "btn btn-danger btn-fill",
                cancelButtonText: "Cancelar",
                closeOnConfirm: false,
            }, function (isConfirm) {
                if (isConfirm) {
                    $("#frmList").attr("action", "/Facturacion/Anular/" + item);
                    $("#frmList").submit();
                    swal({ text: "El registro se anulo", type: "success" });
                    window.location.reload();
                } else {
                    swal({ text: "Cancelado", type: "info" });
                }
            });
        }
        $(document).ready(function () {
            $("[name=btnBuscar]").click(function () {
                $("#frmList").attr("action", "/Facturacion/Index/");
                $("#frmList").submit();

            });
        });
    </script>
</head>
<body>
    <div class="container-fluid">
        <div class="card strpied-tabled-with-hover">
            <div class="card-header">
                @using (Html.BeginForm("Index", "Facturacion", FormMethod.Post, new { id = "frmList" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="pull-right" style="margin-right: 10px;">
                        <a href="@Url.Action("CargarVenta", "Facturacion")" rel="tooltip" style="background-color:mediumpurple" class="btn btn-wd" data-original-title="Agregar Registro">
                            <i class="fa fa-sellsy" aria-hidden="true"></i>Cargar Operación
                        </a>
                    </div>
                    <h4><i class="fa fa-cart-plus" style="color:mediumpurple"></i> &nbsp;<b>Operaciones</b></h4>
                    <hr />
                    <div class="row">
                        <div class="col-sm-3">
                            <label>Fecha Desde</label>
                            @Html.TextBox("txtFechaDesde", "", new { @class = "form-control", type = "date" })
                        </div>
                        <div class="col-sm-3">
                            <label>Fecha Hasta</label>
                            @Html.TextBox("txtFechaHasta", "", new { @class = "form-control", type = "date" })
                        </div>
                        <div class="col-md-3">
                            <label>Estado</label>
                            @Html.DropDownList("ddlEstado", new SelectList(new List<object>
                            {
                                new { value = "", text = "--Seleccionar--"},
                                new { value = "C", text = "COBRADO"},
                                new { value = "A", text = "ANULADO"},
                                },
                            "value","text",(SelectList)ViewBag.ddlEstado),
                            new { @class = "form-control"})
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <label>Cliente</label>
                            @Html.TextBox("txtCliente", (String)ViewBag.txtCliente, new { @class = "form-control", @placeholder = "Cedula, Nombre, Apellido", @maxlength = "10" })
                        </div>
                        <div class="col-sm-3">
                            <label>Factura</label>
                            @Html.TextBox("txtFactura", (String)ViewBag.txtFactura, new { @class = "form-control", @placeholder = "Nro Factura", @maxlength = "10" })
                        </div>
                        <button type="submit" name="btnBuscar" title="Buscar registros" class="btn btn-simple btn-success btn-outline" style="margin-top:30px;height:30px">
                            <i class="nc-icon nc-zoom-split icon-bold" aria-hidden="true"></i>
                        </button>
                        &nbsp;
                        <button type="submit" name="btnBuscar" title="Buscar registros" class="btn btn-simple btn-warning btn-outline" style="margin-top:30px;height:30px">
                            <i class="nc-icon nc-paper-2 icon-bold" aria-hidden="true"></i>&nbsp;Reporte
                        </button>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="card strpied-tabled-with-hover">
            <div class="card-body table-full-width table-responsive">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>
                                Id
                            </th>
                            <th>
                                Fecha
                            </th>
                            <th>
                                Caja
                            </th>
                            <th>
                                Comprobante
                            </th>
                            <th>
                                Cliente
                            </th>
                            <th>
                                Importe Total
                            </th>
                            <th>
                                Medio Pago
                            </th>
                            <th>
                                Usuario
                            </th>
                            <th>
                                Estado
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Count() == 0)
                        {
                            <tr>
                                <td>No existen registros</td>
                            </tr>
                        }
                        else
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.id_ventas_cabecera)
                                    </td>
                                    <td>
                                        @item.fecha.Value.ToString("dd/MM/yyyy")
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.id_caja)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.comprobante)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.cliente.persona.nombre)
                                        @Html.DisplayFor(modelItem => item.cliente.persona.apellido)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.importe_total)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.medio_pago.descripcion)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.usuario_alta)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.estado)
                                    </td>
                                    <td>
                                        <div class="row">
                                            <h5 @(item.estado != "A" ? "display" : "hidden") style="color:red; font-weight:bolder; margin-bottom:0px;" onmouseover="this.style.cursor='pointer';" aria-hidden="true" rel="tooltip" data-original-title="Anular" onclick="Anular(@item.id_ventas_cabecera)">A</h5>
                                            <a href="@Url.Action("ImprimirTicket", "Facturacion", new { id = item.id_ventas_cabecera})" title="" rel="tooltip" data-original-title="Imprimir" target="_blank" style="color:deepskyblue;font-size:15px;"><i class="fa fa-print" aria-hidden="true"></i></a>
                                        </div>
                                        
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
                <hr />
                <div class="pull-right" style="margin-right:10px">
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, currentFilter = ViewBag.CurrentFilter }))
                </div>
            </div>
        </div>
    </div>
</body>