﻿@model JaguaEntityModel.medio_pago

@{
    ViewBag.Title = "Nuevo Medio de Pago";
}
<head>
    <script>
        function validar() {
        if (document.getElementById('descripcion').value != "" && document.getElementById('id_usuario').value != "" && document.getElementById('ddlEstado').value != "") {
            swal("¡Registro Agregado! ", " ", " éxito ", "OK");
            $("#frmList").submit();
            }
        }
    </script>
</head>
<body>
    <div class="container-fluid">
        <div class="card strpied-tabled-with-hover">
            <div class="card-header">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">
                        <h4><i class="fa fa-money" style="color:mediumpurple"></i> &nbsp;<b>Medios de Pago</b></h4>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            <div class="col-md-3">
                                <label>Descripcion</label>
                                @Html.TextBox("descripcion", null, new { @class = "form-control", required = "required", @maxlength = "50" })
                                @Html.ValidationMessageFor(model => model.descripcion, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="pull-right">
                        <button type="submit" title="Guardar" class="btn btn-wd btn-facebook">
                            <i class="fa fa-check-square-o"></i>
                            Guardar
                        </button>
                        <a href="@Url.Action("Index", "MedioPago")" title="" class="btn btn-wd btn-info btn-outline" style="" data-original-title="Atras">
                            Cancelar
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
</body>