﻿@using PagedList.Mvc;
@model PagedList.IPagedList<Jagua.Models.Stock>

@{
    ViewBag.Title = "Index";
}
<head>
    <script type="text/javascript">
        $(document).ready(function () {
            $("[name=btnBuscar]").click(function () {
                $("#frmList").attr("action", "/Stock/Index/");
                $("#frmList").submit();

            });
        });

    </script>
</head>
<body>
	<div class="container-fluid">
        <div class="card card-header ">
            <div class="row" style="align-items:center;"><h4><i class="fa fa-area-chart" style="color:mediumpurple; margin-left:20px; margin-right:10px;" aria-hidden="true"></i>&nbsp;Existencias</h4></div>
            <hr />
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-lg-2">
                    <div class="box">
                        <div class="icon">
                            <div class="image" style="background-color:white">
                                <img src="~/Content/assets/img/vets_icon/cuidar.png" style="height:40px;width:40px;margin-bottom:10px" />
                            </div>
                            <div class="info" style="border-color:darkmagenta">
                                <div class="more">
                                    <a href="~/Productos/Index" title="">
                                        <h6 class="title">Productos</h6>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-2">
                    <div class="box">
                        <div class="icon">
                            <div class="image" style="background-color:white">
                                <img src="~/Content/assets/img/vets_icon/bocadillo.png" style="height:40px;width:40px;margin-bottom:10px" />
                            </div>
                            <div class="info" style="border-color:darkmagenta">
                                <div class="more">
                                    <a href="~/Compras/Index" title="">
                                        <h6 class="title">Compras</h6>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-2">
                    <div class="box">
                        <div class="icon">
                            <div class="image" style="background-color:white">
                                <img src="~/Content/assets/img/vets_icon/perro.png" style="height:40px;width:40px;margin-bottom:10px" />
                            </div>
                            <div class="info" style="border-color:darkmagenta">
                                <div class="more">
                                    <a href="~/Proveedores/Index" title="">
                                        <h6 class="title">Proveedores</h6>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="row">
            <div class="col-xs-12 col-sm-6 col-lg-4">
                <div class="box">
                    <div class="icon">
                        <div class="image" style="background-color:greenyellow">
                            <img src="~/Content/assets/img/vets_icon/cuidar.png" style="height:50px;width:50px;margin-bottom:10px" />
                        </div>
                        <div class="info" style="border-color:greenyellow;">
                            <h4 class="title">Productos</h4>
                            <div class="more">
                                <a href="~/Productos/Index" title="Productos">
                                    <i class="fa fa-plus"></i> Detalles
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-4">
                <div class="box">
                    <div class="icon">
                        <div class="image" style="background-color:violet">
                            <img src="~/Content/assets/img/vets_icon/bocadillo.png" style="height:50px;width:50px;margin-bottom:10px" />
                        </div>
                        <div class="info" style="border-color:darkmagenta">
                            <h4 class="title">Compras</h4>
                            <div class="more">
                                <a href="~/Compras/Index" title="Compras">
                                    <i class="fa fa-plus"></i> Detalles
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-4">
                <div class="box">
                    <div class="icon">
                        <div class="image" style="background-color:coral">
                            <img src="~/Content/assets/img/vets_icon/perro.png" style="height:50px;width:50px;margin-bottom:10px" />
                        </div>
                        <div class="info" style="border-color:orangered">
                            <h4 class="title">Proveedores</h4>
                            <div class="more">
                                <a href="~/Proveedores/Index" title="Proveedores">
                                    <i class="fa fa-plus"></i> Detalles
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
        </div>
	</div>
	<div class="container-fluid">
		<div class="card strpied-tabled-with-hover">
			<div class="card-header ">
				@using (Html.BeginForm("Index", "Stock", FormMethod.Post, new { id = "frmList" }))
				{
				<div class="row" style="align-items:center;"><h4>&nbsp; Listado de Productos</h4></div> 
                <div class="row">
                    <div class="col-sm-3">
                        <label>Codigo Barra</label>
                        @Html.TextBox("txtCodigo", (String)ViewBag.txtCodigo, new { @class = "form-control" })
                    </div>
                    <div class="col-sm-3">
                        <label>Descripción</label>
                        @Html.TextBox("txtDescripcion", (String)ViewBag.txtDescripcion, new { @class = "form-control" })
                    </div>
                    <div class="col-md-3">
                        <label>Cat. Producto</label>
                        @Html.DropDownList("ddlCategoria", null, "--Seleccionar--", new { @class = "form-control" })
                    </div>
                    <button type="submit" name="btnBuscar" title="Buscar registros" class="btn btn-simple btn-success btn-outline" style="height:40px;margin-top: 25px;">
                        <i class="nc-icon nc-zoom-split icon-bold" style="font-size: 22px" aria-hidden="true"></i>
                    </button>
                    <a href="@Url.Action("Reporte", "Stock")" target="_blank" title="Imprimir" rel="tooltip" class="btn btn-warning btn-outline" style="height:40px;margin-top: 25px;margin-left:15px">
                        <i class="nc-icon nc-paper-2 icon-bold" style="font-size: 22px" aria-hidden="true"></i>&nbsp;Reporte
                    </a>
                </div>
				}
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="card strpied-tabled-with-hover">
			<div class="card-body table-full-width table-responsive">
				<table class="table table-hover table-striped">
					<thead>
						<tr>
							<th>
								Id
							</th>
							<th>
								Codigo
							</th>
							<th>
								Categoria
							</th>
							<th>
								Descripción
							</th>
							<th>
								Stock
							</th>
							<th>
								Precio Ult. Compra
							</th>
							<th>
								Detalles
							</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in Model)
						{
						<tr>
							<td>
								@Html.DisplayFor(modelItem => item.id_producto)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.codigo_barra)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.categoria)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.descripcion)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.stock)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.precio_ult_compra)
							</td>
							<td>
								<img style="width:20%; height:20%;" src="~/Content/assets/img/vets_icon/donacion.png" />
							</td>
						</tr>
						}
					</tbody>
				</table>
				<hr />
				<div class="pull-right">
					@Html.PagedListPager(Model, page => Url.Action("Index", new { page, currentFilter = ViewBag.CurrentFilter }))
				</div>
			</div>
		</div>
	</div>
</body>   