﻿@using PagedList.Mvc;
@model PagedList.IPagedList<JaguaEntityModel.caja>

@{
    ViewBag.Title = "Index";
}
<head>

</head>
<body>
    <div class="container-fluid">
        <div class="card strpied-tabled-with-hover" style="margin-bottom: 10px;">
            <div class="card-header">
                <h4><i class="fa fa-print" style="color:mediumpurple"></i> &nbsp;<b>Reporte de Stock</b></h4>
            </div>
            <iframe src="~/reportes.aspx" height="500px;"></iframe>
        </div>
    </div>
</body>
