﻿@model IEnumerable<JaguaEntityModel.ficha>

@{
    Layout = "~/Views/Shared/_LayoutModal.cshtml";
    ViewBag.Title = "Index";

    JaguaEntityModel.JaguaEntities db = new JaguaEntityModel.JaguaEntities();
    var listaVacunas = db.ficha.Include("vacuna").Where(x => x.id_paciente == 1 && x.id_vacuna != null ).ToList();
}
<head>
    <meta name="viewport" content="width=device-width" />
    <title>VacunasHechas</title>
</head>


<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th style="width:200px;">Fecha de aplicacion</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var m in listaVacunas)
        {
            <tr>
                <td>@(m.vacuna.nombre)</td>
                <td>@(m.fecha)</td>
            </tr>
        }
    </tbody>
</table>
