﻿@model JaguaEntityModel.ficha

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>ficha</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.temperatura)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.temperatura)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.kilogramos)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.kilogramos)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.observaciones)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.observaciones)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.fecha)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.fecha)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.usuario_alta)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.usuario_alta)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.usuario_modificacion)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.usuario_modificacion)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.paciente.nombre)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.paciente.nombre)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.id_ficha }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
