﻿@model JaguaEntityModel.ficha
@{
    ViewBag.Title = "Index";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script type="text/javascript">
        $(document).ready(function () {
            //Modal Vacunas
            $("#btnVacunas").click(function () {
                $("#vacunasList").modal();
                $("#vacunasList").modal('show');
            });
        });
    </script>
</head>
<body>
    <div class="card card-header">
        <div class="row">
            <label>PACIENTE:</label>
            @Html.TextBox("paciente", null, new { @class = "form-control",@readonly="true"})
        </div>
    </div>
    <div class="card">
        <div class="card-body content-full-width">
            <ul role="tablist" class="nav nav-tabs">
                <li role="presentation" class="nav-item" aria-expanded="false">
                    <a class="nav-link active" id="info-tab" href="#icon-info" data-toggle="tab" aria-expanded="true"><i class="fa fa-info"></i> Consulta </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="account-tab" href="#icon-account" data-toggle="tab" aria-expanded="false"><i class="fas fa-syringe"></i> Vacuna </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="style-tab" href="#icon-style" data-toggle="tab" aria-expanded="false"><i class="fas fa-microscope"></i> Laboratorio </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="settings-tab" href="#icon-settings" data-toggle="tab" aria-expanded="false"><i class="fab fa-hubspot"></i> Patologia </a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="icon-info" class="tab-pane fade active show" role="tabpanel" aria-labelledby="info-tab" aria-expanded="true">
                    @using (Html.BeginForm())
                    {
                        @Html.HiddenFor(model => model.id_paciente);
                        
                        <div class="row">
                            <div class="col-md-3">
                                <label>fecha</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <label>temperatura</label>
                                @Html.TextBox("temperatura", null, new { @class = "form-control" })
                            </div>
                            <div class="col-md-3">
                                <label>peso</label>
                                @Html.TextBox("temperatura", null, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label>Tratamiento / Observaciones</label>
                        </div>
                        <textarea rows="10" cols="50"></textarea>
                    }
                </div>
                <div id="icon-account" class="tab-pane fade" role="tabpanel" aria-labelledby="account-tab" aria-expanded="false">
                    <div class="row">
                        <div class="col-md-3">
                            <label>Nueva aplicación</label>
                            @Html.DropDownList("Nueva aplicación", (SelectList)ViewBag.vacunas, "--Seleccionar--", new { @class = "form-control", required = "required" })
                            @*//modal*@
                            <div id="vacunasList" class="modal fade" tabindex="-1" role="dialog">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close; pull-right" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" style="text-align:center">Plan de Vacunación</h4>
                                        </div>
                                        <div class="modal-body">
                                            @Html.Partial("~/Views/Fichas/_VacunasHechas.cshtml")
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger pull-right" data-dismiss="modal">Cancelar</button>
                                        </div>
                                    </div><!-- /.modal-content -->
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <a id="btnVacunas" class="btn btn-xs btn-primary btn-block">Plan de Vacunación</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label>Próxima aplicación</label>
                            @Html.TextBox("Próxima aplicación", null, new { @class = "form-control" })
                        </div>
                        <div class="col-md-3">
                            <label>Fecha, que sea un calendario</label>
                            @Html.TextBox("Fecha", null, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div id="icon-style" class="tab-pane fade" role="tabpanel" aria-labelledby="style-tab" aria-expanded="false">
                    <div class="row">
                        <div class="col-md-3">
                            <label>Nuevo Examen(lista desplegable)</label>
                            @Html.TextBox("Nueva aplicación", null, new { @class = "form-control" })
                        </div>
                        <div class="col-md-3">
                            <label>Fecha, que sea un calendario</label>
                            @Html.TextBox("Nueva aplicación", DateTime.Now.ToShortDateString(), new { @class = "form-control", type = "date" })
                        </div>
                    </div>
                </div>
                <div id="icon-settings" class="tab-pane fade" role="tabpanel" aria-labelledby="settings-tab" aria-expanded="false">
                    <div class="row">
                        <div class="col-md-3">
                            <label>Diagnóstico</label>
                            @Html.TextBox("Nueva aplicación", null, new { @class = "form-control" })
                        </div>
                        <div class="col-md-3">
                            <label>Fecha, que sea un calendario</label>
                            @Html.TextBox("Nueva aplicación", null, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label>Tratamiento</label>
                            @Html.TextBox("Nueva aplicación", null, new { @class = "form-control" })
                        </div>
                        <div class="col-md-3">
                            <label>Avances</label>
                            @Html.TextBox("Nueva aplicación", null, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
