﻿<html lang="es">
<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="~/Content/assets/img/apple-icon.png" />
    @*<link rel="pet.jpg" sizes="76x76" href="~/Content/assets/img/pet.jpg" />*@

    @*<link rel="icon" type="image/png" href="~/Content/assets/img/favicon.ico">*@
    <link rel="icon" type="image/jpg" href="~/Content/assets/img/pet.jpg">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Jagua</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <!-- CSS Files -->
    <link href="~/Content/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/assets/css/light-bootstrap-dashboard.css" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="~/Content/assets/css/demo.css" rel="stylesheet" />

    <!--   Core JS Files   -->
    <script src="~/Content/assets/js/core/jquery.3.2.1.min.js"></script>
    <script src="~/Content/assets/js/core/popper.min.js"></script>
    <script src="~/Content/assets/js/core/bootstrap.min.js"></script>

    <!--  Google Maps Plugin    -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
    <!-- Plugin    -->
    <script src="~/Content/assets/js/plugins/bootstrap-datepicker.js"></script>
    <script src="~/Content/assets/js/plugins/bootstrap-datetimepicker.js"></script>
    <script src="~/Content/assets/js/plugins/bootstrap-notify.js"></script>
    <script src="~/Content/assets/js/plugins/bootstrap-selectpicker.js"></script>
    <script src="~/Content/assets/js/plugins/bootstrap-switch.js"></script>
    <script src="~/Content/assets/js/plugins/bootstrap-table.js"></script>
    <script src="~/Content/assets/js/plugins/bootstrap-tagsinput.js"></script>
    <script src="~/Content/assets/js/plugins/chartist.min.js"></script>
    <script src="~/Content/assets/js/plugins/fullcalendar.min.js"></script>
    <script src="~/Content/assets/js/plugins/jquery-jvectormap.js"></script>
    <script src="~/Content/assets/js/plugins/jquery.bootstrap-wizard.js"></script>
    <script src="~/Content/assets/js/plugins/jquery.dataTables.min.js"></script>
    <script src="~/Content/assets/js/plugins/jquery.sharrre.js"></script>
    <script src="~/Content/assets/js/plugins/jquery.validate.min.js"></script>
    <script src="~/Content/assets/js/plugins/moment.min.js"></script>
    <script src="~/Content/assets/js/plugins/nouislider.js"></script>
    <script src="~/Content/assets/js/plugins/nouislider.min.js"></script>
    <script src="~/Content/assets/js/plugins/sweetalert2.min.js"></script>
    <!-- Control Center for Light Bootstrap Dashboard: scripts for the example pages etc -->
    <script src="~/Content/assets/js/light-bootstrap-dashboard.js"></script>
    <!-- Light Bootstrap Dashboard DEMO methods, don't include it in your project! -->
    <script src="~/Content/assets/js/demo.js"></script>
    @*<script type="text/javascript"> Comentario de la bienvenida
            $(document).ready(function () {
                // Javascript method's body can be found in assets/js/demos.js
                demo.initDashboardPageCharts();

                demo.showNotification();

            });
        </script>*@

</head>
<body>
	@RenderBody()
    <!--
       <div class="fixed-plugin">
           <div class="dropdown show-dropdown">
               <a href="#" data-toggle="dropdown">
                   <i class="fa fa-cog fa-2x"> </i>
               </a>

               <ul class="dropdown-menu">
                  <li class="header-title"> Sidebar Style</li>
                   <li class="adjustments-line">
                       <a href="javascript:void(0)" class="switch-trigger">
                           <p>Background Image</p>
                           <label class="switch-image">
                               <input type="checkbox" data-toggle="switch" checked="" data-on-color="info" data-off-color="info"><span class="toggle"></span>
                           </label>
                           <div class="clearfix"></div>
                       </a>
                   </li>
                   <li class="adjustments-line">
                       <a href="javascript:void(0)" class="switch-trigger">
                           <p>Sidebar Mini</p>
                           <label class="switch-mini">
                               <input type="checkbox" data-toggle="switch" data-on-color="info" data-off-color="info">
                               <span class="toggle"></span>
                           </label>
                           <div class="clearfix"></div>
                       </a>
                   </li>
                   <li class="adjustments-line">
                       <a href="javascript:void(0)" class="switch-trigger">
                           <p>Fixed Navbar</p>
                           <label class="switch-nav">
                               <input type="checkbox" data-toggle="switch" data-on-color="info" data-off-color="info">
                               <span class="toggle"></span>
                           </label>
                           <div class="clearfix"></div>
                       </a>
                   </li>
                   <li class="adjustments-line">
                       <a href="javascript:void(0)" class="switch-trigger background-color">
                           <p>Filters</p>
                           <div class="pull-right">
                               <span class="badge filter badge-black" data-color="black"></span>
                               <span class="badge filter badge-azure" data-color="azure"></span>
                               <span class="badge filter badge-green" data-color="green"></span>
                               <span class="badge filter badge-orange active" data-color="orange"></span>
                               <span class="badge filter badge-red" data-color="red"></span>
                               <span class="badge filter badge-purple" data-color="purple"></span>
                           </div>
                           <div class="clearfix"></div>
                       </a>
                   </li>
                   <li class="header-title">Sidebar Images</li>

                   <li class="active">
                       <a class="img-holder switch-trigger" href="javascript:void(0)">
                           <img src="../../assets/img/sidebar-1.jpg" alt="" />
                       </a>
                   </li>
                   <li>
                       <a class="img-holder switch-trigger" href="javascript:void(0)">
                           <img src="../../assets/img/sidebar-3.jpg" alt="" />
                       </a>
                   </li>
                   <li>
                       <a class="img-holder switch-trigger" href="javascript:void(0)">
                           <img src="../../assets/img/sidebar-4.jpg" alt="" />
                       </a>
                   </li>
                   <li>
                       <a class="img-holder switch-trigger" href="javascript:void(0)">
                           <img src="../../assets/img/sidebar-5.jpg" alt="" />
                       </a>
                   </li>

                   <li class="button-container">
                       <div>
                           <a href="http://www.creative-tim.com/product/light-bootstrap-dashboard" target="_blank" class="btn btn-info btn-block">Get free demo!</a>
                       </div>
                   </li>

                   <li class="button-container">
                       <div>
                           <a href="http://www.creative-tim.com/product/light-bootstrap-dashboard-pro" target="_blank" class="btn btn-warning btn-block">Buy now!</a>
                       </div>
                   </li>

                   <li class="button-container">
                       <div>
                           <a href="https://demos.creative-tim.com/light-bootstrap-dashboard-pro/documentation/tutorial-components.html" target="_blank" class="btn btn-danger btn-block">Documention</a>
                       </div>
                   </li>


                   <li class="header-title" id="sharrreTitle">Thank you for sharing!</li>

                   <li class="button-container">
                      <button id="twitter" class="btn btn-social btn-twitter btn-round twitter-sharrre"><i class="fa fa-twitter"></i> · 256</button>
                       <button id="facebook" class="btn btn-social btn-facebook btn-round facebook-sharrre"><i class="fa fa-facebook-square"></i> · 426</button>
                   </li>
               </ul>
           </div>
       </div>
        -->
    <!--   Core JS Files   -->
    <script src="~/Content/assets/js/core/jquery.3.2.1.min.js" type="text/javascript"></script>
    <script src="~/Content/assets/js/core/popper.min.js" type="text/javascript"></script>
    <script src="~/Content/assets/js/core/bootstrap.min.js" type="text/javascript"></script>
    <!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
    <script src="~/Content/assets/js/plugins/bootstrap-switch.js"></script>
    <!--  Google Maps Plugin    -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB2Yno10-YTnLjjn_Vtk0V8cdcY5lC4plU"></script>
    <!--  Chartist Plugin  -->
    <script src="~/Content/assets/js/plugins/chartist.min.js"></script>
    <!--  Notifications Plugin    -->
    <script src="~/Content/assets/js/plugins/bootstrap-notify.js"></script>
    <!--  Share Plugin -->
    <script src="~/Content/assets/js/plugins/jquery.sharrre.js"></script>
    <!--  jVector Map  -->
    <script src="~/Content/assets/js/plugins/jquery-jvectormap.js" type="text/javascript"></script>
    <!--  Plugin for Date Time Picker and Full Calendar Plugin-->
    <script src="~/Content/assets/js/plugins/moment.min.js"></script>
    <!--  DatetimePicker   -->
    <script src="~/Content/assets/js/plugins/bootstrap-datetimepicker.js"></script>
    <!--  Sweet Alert  -->
    <script src="~/Content/assets/js/plugins/sweetalert2.min.js" type="text/javascript"></script>
    <!--  Tags Input  -->
    <script src="~/Content/assets/js/plugins/bootstrap-tagsinput.js" type="text/javascript"></script>
    <!--  Sliders  -->
    <script src="~/Content/assets/js/plugins/nouislider.js" type="text/javascript"></script>
    <!--  Bootstrap Select  -->
    <script src="~/Content/assets/js/plugins/bootstrap-selectpicker.js" type="text/javascript"></script>
    <!--  jQueryValidate  -->
    <script src="~/Content/assets/js/plugins/jquery.validate.min.js" type="text/javascript"></script>
    <!--  Plugin for the Wizard, full documentation here: https://github.com/VinceG/twitter-bootstrap-wizard -->
    <script src="~/Content/assets/js/plugins/jquery.bootstrap-wizard.js"></script>
    <!--  Bootstrap Table Plugin -->
    <script src="~/Content/assets/js/plugins/bootstrap-table.js"></script>
    <!--  DataTable Plugin -->
    <script src="~/Content/assets/js/plugins/jquery.dataTables.min.js"></script>
    <!--  Full Calendar   -->
    <script src="~/Content/assets/js/plugins/fullcalendar.min.js"></script>
    <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="~/Content/assets/js/light-bootstrap-dashboard.js?v=2.0.1" type="text/javascript"></script>
    <!-- Light Dashboard DEMO methods, don't include it in your project! -->
    <script src="~/Content/assets/js/demo.js"></script>
    <script>
        $(document).ready(function () {
            demo.checkFullPageBackgroundImage();

            setTimeout(function () {
                // after 1000 ms we add the class animated to the login/register card
                $('.card').removeClass('card-hidden');
            }, 700)
        });
    </script>
    <!-- Facebook Pixel Code Don't Delete -->
    <script>
        ! function (f, b, e, v, n, t, s) {
            if (f.fbq) return;
            n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n;
            n.push = n;
            n.loaded = !0;
            n.version = '2.0';
            n.queue = [];
            t = b.createElement(e);
            t.async = !0;
            t.src = v;
            s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window,
            document, 'script', '//connect.facebook.net/en_US/fbevents.js');

        try {
            fbq('init', '111649226022273');
            fbq('track', "PageView");

        } catch (err) {
            console.log('Facebook Track Error:', err);
        }
    </script>
    <noscript>
        &lt;img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=111649226022273&amp;ev=PageView&amp;noscript=1" /&gt;
    </noscript>
    <!-- End Facebook Pixel Code -->

</body>
</html>