﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Jagua</title>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="~/Content/assets/img/apple-icon.png" />
    @*<link rel="pet.jpg" sizes="76x76" href="~/Content/assets/img/pet.jpg" />*@

    @*<link rel="icon" type="image/png" href="~/Content/assets/img/favicon.ico">*@
    <link rel="icon" type="image/jpg" href="~/Content/assets/img/pet.jpg">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Jagua</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link href="~/Content/assets/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <!-- CSS Files -->
    <link href="~/Content/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/assets/css/light-bootstrap-dashboard.css" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="~/Content/assets/css/demo.css" rel="stylesheet" />

    <!--   Core JS Files   -->
    <script src="~/Content/assets/js/core/jquery.3.2.1.min.js"></script>
    <script src="~/Content/assets/js/core/popper.min.js"></script>
    <script src="~/Content/assets/js/core/bootstrap.min.js"></script>

    <!--  Google Maps Plugin    -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
    <!-- Plugin    -->
    <script src="~/Content/assets/js/plugins/bootstrap-datepicker.js"></script>
    <script src="~/Content/assets/js/plugins/bootstrap-datetimepicker.js"></script>
    <script src="~/Content/assets/js/plugins/bootstrap-notify.js"></script>
    <script src="~/Content/assets/js/plugins/bootstrap-selectpicker.js"></script>
    <script src="~/Content/assets/js/plugins/bootstrap-switch.js"></script>
    <script src="~/Content/assets/js/plugins/bootstrap-table.js"></script>
    <script src="~/Content/assets/js/plugins/bootstrap-tagsinput.js"></script>
    <script src="~/Content/assets/js/plugins/chartist.min.js"></script>
    <script src="~/Content/assets/js/plugins/fullcalendar.min.js"></script>
    <script src="~/Content/assets/js/plugins/jquery-jvectormap.js"></script>
    <script src="~/Content/assets/js/plugins/jquery.bootstrap-wizard.js"></script>
    <script src="~/Content/assets/js/plugins/jquery.dataTables.min.js"></script>
    <script src="~/Content/assets/js/plugins/jquery.sharrre.js"></script>
    <script src="~/Content/assets/js/plugins/jquery.validate.min.js"></script>
    <script src="~/Content/assets/js/plugins/moment.min.js"></script>
    <script src="~/Content/assets/js/plugins/nouislider.js"></script>
    <script src="~/Content/assets/js/plugins/nouislider.min.js"></script>
    <script src="~/Content/assets/js/plugins/sweetalert2.min.js"></script>
</head>
<body class="nav-md">   
    <div class="container body">
        <div class="main_container">
        
                @RenderBody()
                     
        </div>
    </div>
</body>
</html>