﻿ <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="50x50" href="~/Content/assets/img/apple-icon.png" />
    @*<link rel="pet.jpg" sizes="76x76" href="~/Content/assets/img/pet.jpg" />*@

    @*<link rel="icon" type="image/png" href="~/Content/assets/img/favicon.ico">*@
    <link rel="icon" type="image/jpg" href="~/Content/assets/img/pet.jpg">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Jagua</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />

    <!--   Core JS Files   -->
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Content/assets/js/core/popper.min.js"></script>
    <script src="~/Content/assets/js/core/bootstrap.min.js"></script>
    <!--     Fonts and icons     -->

    <link href="~/Content/assets/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet" />

    <!-- CSS Files -->
    <link href="~/Content/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/assets/css/light-bootstrap-dashboard.css" rel="stylesheet" />
    <link href="~/Content/assets/css/jquery-ui.min.css" rel="stylesheet" />

    <!--  Google Maps Plugin    -->
    <!-- Plugin    -->
    <!--  Plugin for Date Time Picker and Full Calendar Plugin-->
    <script src="~/Content/assets/js/core/jquery-ui.min.js"></script>
    <script src="~/Content/assets/js/plugins/moment.min.js"></script>
    @*<script src="~/Content/assets/js/plugins/moment.js"></script>*@
    <!--  DatetimePicker   -->
    <script src="~/Content/assets/js/plugins/bootstrap-datepicker.js"></script>
    <script src="~/Content/assets/js/plugins/bootstrap-datetimepicker.js"></script>
    <!--  Notifications Plugin    -->
    <script src="~/Content/assets/js/plugins/bootstrap-notify.js"></script>
    <!--  Bootstrap Select  -->
    <script src="~/Content/assets/js/plugins/bootstrap-selectpicker.js"></script>
    <!--  Plugin for Switches, full documentation here: https://www.jque.re/plugins/version3/bootstrap.switch/ -->
    <script src="~/Content/assets/js/plugins/bootstrap-switch.js"></script>
    <!--  Bootstrap Table Plugin -->
    <script src="~/Content/assets/js/plugins/bootstrap-table.js"></script>
    <!--  Tags Input  -->
    <script src="~/Content/assets/js/plugins/bootstrap-tagsinput.js"></script>
    <script src="~/Content/assets/js/plugins/chartist.min.js"></script>
    <!--  Full Calendar   -->
    <script src="~/Content/assets/js/plugins/fullcalendar.min.js"></script>
    <!--  jVector Map  -->
    <script src="~/Content/assets/js/plugins/jquery-jvectormap.js"></script>
    <!--  Plugin for the Wizard, full documentation here: https://github.com/VinceG/twitter-bootstrap-wizard -->
    <script src="~/Content/assets/js/plugins/jquery.bootstrap-wizard.js"></script>
    <!--  DataTable Plugin -->
    <script src="~/Content/assets/js/plugins/jquery.dataTables.min.js"></script>
    <!--  Share Plugin -->
    <script src="~/Content/assets/js/plugins/jquery.sharrre.js"></script>
    <!--  jQueryValidate  -->
    <script src="~/Content/assets/js/plugins/jquery.validate.min.js"></script>
    <script src="~/Content/assets/js/core/jquery.validate.js"></script>
    <!--  Sliders  -->
    <script src="~/Content/assets/js/plugins/nouislider.js"></script>
    <script src="~/Content/assets/js/plugins/nouislider.min.js"></script>
    <!--  Sweet Alert  -->
    <script src="~/Content/assets/js/plugins/sweetalert2.min.js"></script>
    @*<script src="~/Scripts/sweetalert.min.js"></script> Agregado por Carlos, yo no quiero bymar*@

    <!-- Control Center for Light Bootstrap Dashboard: scripts for the example pages etc -->
    <script src="~/Content/assets/js/light-bootstrap-dashboard.js"></script>
    <!-- Light Bootstrap Dashboard DEMO methods, don't include it in your project! -->
    <script src="~/Content/assets/js/demo.js"></script>
    @*<script src="~/Scripts/Mensajes.js"></script>*@

    <script type="text/javascript">

        function SinAcceso() {
            swal({
                title: "Acceso restringido",
                text: "Usted no tiene permisos para ver esta página consulte con el Administrador!",
                type: "warning",
                confirmButtonText: "Aceptar",
                closeOnConfirm: true,
                closeOnCancel: true
            },
                function (isConfirm) {
                    location.href = "/Home";
                });
        }


    </script>
</head>
<body>
    <div class="wrapper">
        <div class="sidebar" data-color="purple" data-image="/Content/assets/img/sidebar-5.jpg">
            <!--

                Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

                Tip 2: you can also add an image using data-image tag
            -->
            <div class="sidebar-wrapper">
                <div class="logo">
                    <center>
                        <a href="~/Home/Index" class="simple-text">
                            <div><img src="~/Content/assets/img/pet_dash.png" style="height:50%; width:50%;position: relative;" /></div>
                            <div style="text-align:center">JAGUA</div>
                        </a>
                    </center>
                </div>
                @{
                    var ingreso = Jagua.Clases.SessionManager.SessionData;
                    var menuPermisos = Jagua.Clases.SessionManager.ValidarPermisos();
                    var EjecutarClinica = (menuPermisos.Any() ? menuPermisos.Any(t => t.pagina.Equals("Clinica") && t.ejecutar == true) : false);
                    var EjecutarAgenda = (menuPermisos.Any() ? menuPermisos.Any(t => t.pagina.Equals("Agenda") && t.ejecutar == true) : false);
                }

                <div class="user">
                    <div class="photo">
                        <img src="~/Content/assets/img/default-avatar.png" />
                    </div>
                    <div class="info ">
                        <a data-toggle="collapse" href="#collapseExample" class="collapsed">
                            <span>
                                @(ingreso != null ? ingreso.nombres + " " + ingreso.apellidos : "")
                                <b class="caret"></b>
                            </span>
                        </a>
                        <div class="collapse" id="collapseExample">
                            <ul class="nav">
                                <li>
                                    <a class="profile-dropdown" href="@Url.Action("Edit", "Usuarios", new {id = ingreso.id_usuario})">
                                        <span class="sidebar-normal">Editar Perfil</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="profile-dropdown" href="@Url.Action("ModificarPassword", "Login", new {id = ingreso.id_usuario})">
                                        <span class="sidebar-normal">Modificar Contraseña</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <ul class="nav">
                    @if (EjecutarAgenda)
                    {
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="collapse" href="#datosAgenda">
                                <i class="fa fa-address-book" aria-hidden="true"></i>
                                <p>
                                    AGENDA
                                    <b class="caret"></b>
                                </p>
                            </a>
                            <div class="collapse " id="datosAgenda">
                                <ul class="nav">
                                    <li class="nav-item">
                                        <a class="nav-link" href="~/Agenda/Calendario">
                                            <i class="fa fa-calendar" aria-hidden="true" style="font-size:20px;"></i>
                                            <p>Agenda</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="~/Citas">
                                            <i class="fa fa-calendar-plus-o" aria-hidden="true" style="font-size:20px;"></i>
                                            <p>Citas</p>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    }
                    @if (EjecutarClinica)
                    {
                        var EjecutarEmpleados = (menuPermisos.Any() ? menuPermisos.Any(t => t.pagina.Equals("Empleados") && t.ejecutar == true) : false);
                        var EjecutarConsulta = (menuPermisos.Any() ? menuPermisos.Any(t => t.pagina.Equals("Consulta") && t.ejecutar == true) : false);
                        var EjecutarVacunas = (menuPermisos.Any() ? menuPermisos.Any(t => t.pagina.Equals("Vacunas") && t.ejecutar == true) : false);
                        var EjecutarLaboratorio = (menuPermisos.Any() ? menuPermisos.Any(t => t.pagina.Equals("Laboratorio") && t.ejecutar == true) : false);
                        var EjecutarTratamientos = (menuPermisos.Any() ? menuPermisos.Any(t => t.pagina.Equals("Tratamientos") && t.ejecutar == true) : false);
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="collapse" href="#datosClinica">
                                <i class="nc-icon nc-bank icon-bold"></i>
                                <p>
                                    CLINICA
                                    <b class="caret"></b>
                                </p>
                            </a>
                            <div class="collapse " id="datosClinica">
                                <ul class="nav">
                                    @if (EjecutarConsulta)
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link" href="~/Clinica/Consulta">
                                                <span class="sidebar-mini"><i class="fa fa-user-md " style="font-size:20px;" aria-hidden="true"></i></span>
                                                <span class="sidebar-normal">Consulta</span>
                                            </a>
                                        </li>
                                    }
                                    @if (EjecutarVacunas)
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link" href="~/Clinica/Vacunas">
                                                <span class="sidebar-mini"><i class="fa fa-id-badge" style="font-size:20px;" aria-hidden="true"></i></span>
                                                <span class="sidebar-normal">Vacunas</span>
                                            </a>
                                        </li>
                                    }
                                    @if (EjecutarLaboratorio)
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link" href="~/Clinica/Laboratorio">
                                                <span class="sidebar-mini"><i class="fa fa-flask" style="font-size:20px;" aria-hidden="true"></i></span>
                                                <span class="sidebar-normal">Laboratorio</span>
                                            </a>
                                        </li>
                                    }
                                    @if (EjecutarTratamientos)
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link" href="~/Clinica/Tratamientos">
                                                <span class="sidebar-mini"><i class="fa fa-medkit" style="font-size:20px;" aria-hidden="true"></i></span>
                                                <span class="sidebar-normal">Tratamientos</span>
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </li>
                    }
                    @{
                        var EjecutarClientes = (menuPermisos.Any() ? menuPermisos.Any(t => t.pagina.Equals("pacientes") && t.ejecutar == true) : false);
                        var EjecutarPaciientes = (menuPermisos.Any() ? menuPermisos.Any(t => t.pagina.Equals("pacientes") && t.ejecutar == true) : false);
                        var EjecutarStock = (menuPermisos.Any() ? menuPermisos.Any(t => t.pagina.Equals("Stock") && t.ejecutar == true) : false);
                        var EjecutarVentas = (menuPermisos.Any() ? menuPermisos.Any(t => t.pagina.Equals("Facturacion") && t.ejecutar == true) : false);
                        var EjecutarPromo = (menuPermisos.Any() ? menuPermisos.Any(t => t.pagina.Equals("Promociones") && t.ejecutar == true) : false);

                    }
                    @if (EjecutarClientes)
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="~/Clientes/Index">
                                <i class="nc-icon nc-single-02 icon-bold"></i>
                                <p>Clientes</p>
                            </a>
                        </li>
                    }
                    @if (EjecutarPaciientes)
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="~/Pacientes/Index">
                                <i class="nc-icon nc-satisfied icon-bold"></i>
                                <p>Pacientes</p>
                            </a>
                        </li>
                    }
                    @if (EjecutarStock)
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="~/Stock/Index">
                                <i class="nc-icon nc-preferences-circle-rotate icon-bold"></i>
                                <p>Stock</p>
                            </a>
                        </li>
                    }
                    @if (EjecutarVentas)
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="~/Facturacion/Index">
                                <i class="nc-icon nc-cart-simple icon-bold"></i>
                                <p>Ventas</p>
                            </a>
                        </li>
                    }
                    @{
                        var EjecutarCaja = (menuPermisos.Any() ? menuPermisos.Any(t => t.pagina.Equals("Caja") && t.ejecutar == true) : false);
                    }
                    @if (EjecutarCaja)
                    {
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="collapse" href="#Caja">
                                <i class="nc-icon nc-preferences-circle-rotate icon-bold"></i>
                                <p>
                                    CAJA
                                    <b class="caret"></b>
                                </p>
                            </a>
                            @{
                                var EjecutarApertura = (menuPermisos.Any() ? menuPermisos.Any(t => t.pagina.Equals("Apertura") && t.ejecutar == true) : false);
                                var EjecutarArqueo = (menuPermisos.Any() ? menuPermisos.Any(t => t.pagina.Equals("Arqueo") && t.ejecutar == true) : false);
                                var EjecutarReporteCaja = (menuPermisos.Any() ? menuPermisos.Any(t => t.pagina.Equals("ReportesCaja") && t.ejecutar == true) : false);
                            }
                            <div class="collapse " id="Caja">
                                <ul class="nav">
                                    @if (EjecutarCaja)
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link" href="~/Cajas/Index">
                                                <span class="sidebar-mini">
                                                    <i class="fa fa-desktop" style="font-size:15px;" aria-hidden="true"></i>
                                                </span>
                                                <span class="sidebar-normal">Caja</span>
                                            </a>
                                        </li>
                                    }
                                    @if (EjecutarApertura)
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link" href="~/Cajas/AperturaCierre">
                                                <span class="sidebar-mini">
                                                    <i class="fa fa-send-o" aria-hidden="true" style="font-size:15px;"></i>
                                                </span>
                                                <span class="sidebar-normal">Apertura - Cierre</span>
                                            </a>
                                        </li>
                                    }
                                    @if (EjecutarArqueo)
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link" href="~/Cajas/ArqueosCaja">
                                                <span class="sidebar-mini"><i class="fa fa-file-text" style="font-size:15px;" aria-hidden="true"></i></span>
                                                <span class="sidebar-normal">Arqueo</span>
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </li>
                    }
                    @if (EjecutarPromo)
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="~/Promociones">
                                <i class="nc-icon nc-tag-content icon-bold"></i>
                                <p>Promociones</p>
                            </a>
                        </li>
                    }
                    @{
                        var EjecutarAjustes = (menuPermisos.Any() ? menuPermisos.Any(t => t.pagina.Equals("Ajustes") && t.ejecutar == true) : false);
                    }
                    @if (EjecutarAjustes)
                    {
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="collapse" href="#Seguridad">
                                <i class="nc-icon nc-key-25 icon-bold"></i>
                                <p>
                                    SEGURIDAD
                                    <b class="caret"></b>
                                </p>
                            </a>
                            @{
                                var EjecutarUsu = (menuPermisos.Any() ? menuPermisos.Any(t => t.pagina.Equals("usuarios") && t.ejecutar == true) : false);
                                var EjecutarRoles = (menuPermisos.Any() ? menuPermisos.Any(t => t.pagina.Equals("roles") && t.ejecutar == true) : false);
                                var EjecutarPaginas = (menuPermisos.Any() ? menuPermisos.Any(t => t.pagina.Equals("paginas") && t.ejecutar == true) : false);
                                var EjecutarUsuRol = (menuPermisos.Any() ? menuPermisos.Any(t => t.pagina.Equals("usuario_rol") && t.ejecutar == true) : false);
                                var EjecutarEmpleados = (menuPermisos.Any() ? menuPermisos.Any(t => t.pagina.Equals("Empleados") && t.ejecutar == true) : false);
                                var EjecutarConfig = (menuPermisos.Any() ? menuPermisos.Any(t => t.pagina.Equals("ajustes") && t.ejecutar == true) : false);
                            }
                            <div class="collapse " id="Seguridad">
                                <ul class="nav">
                                    @if (EjecutarConfig)
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link" href="~/Ajustes/Index">
                                                <span class="sidebar-mini">
                                                    <i class="fa fa-gears" style="font-size:20px;" aria-hidden="true"></i>
                                                </span>
                                                <span class="sidebar-normal">Configuraciones</span>
                                            </a>
                                        </li>
                                    }
                                    @if (EjecutarEmpleados)
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link" href="~/Clinica/Empleados">
                                                <span class="sidebar-mini">
                                                    <i class="fa fa-users" style="font-size:20px;" aria-hidden="true"></i>
                                                </span>
                                                <span class="sidebar-normal">Empleados</span>
                                            </a>
                                        </li>
                                    }
                                    @if (EjecutarUsu)
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link" href="~/Usuarios">
                                                <span class="sidebar-mini">
                                                    <i class="fa fa-user-plus" aria-hidden="true" style="font-size:20px;"></i>
                                                </span>
                                                <span class="sidebar-normal">Usuarios</span>
                                            </a>
                                        </li>
                                    }
                                    @if (EjecutarRoles)
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link" href="~/Roles">
                                                <span class="sidebar-mini"><i class="fa fa-gears" style="font-size:20px;" aria-hidden="true"></i></span>
                                                <span class="sidebar-normal">Roles</span>
                                            </a>
                                        </li>
                                    }
                                    @if (EjecutarPaginas)
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link" href="~/Paginas">
                                                <span class="sidebar-mini"><i class="fa fa-newspaper-o" style="font-size:20px;" aria-hidden="true"></i></span>
                                                <span class="sidebar-normal">Paginas</span>
                                            </a>
                                        </li>
                                    }
                                    @if (EjecutarUsuRol)
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link" href="~/Usuario_rol">
                                                <span class="sidebar-mini"><i class="fa fa-user-circle" style="font-size:20px;" aria-hidden="true"></i></span>
                                                <span class="sidebar-normal">Usuarios Roles</span>
                                            </a>
                                        </li>
                                    }
                                    @if (EjecutarUsuRol)
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link" href="~/Ajustes/Index">
                                                <span class="sidebar-mini"><i class="fa fa-cogs" style="font-size:20px;" aria-hidden="true"></i></span>
                                                <span class="sidebar-normal">Configuración</span>
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </li>
                    }
                </ul>
            </div>
            <div class="sidebar-background" style="background-image: url(/Content/assets/img/sidebar-5.jpg); "></div>
        </div>
        <div class="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg " style="border-color:mediumpurple;">
                <div class="container-fluid">
                    <div class="navbar-wrapper">
                        <div class="navbar-minimize">
                            <button id="minimizeSidebar" class="btn btn-info btn-fill btn-round btn-icon d-none d-lg-block" style="background-color:mediumpurple; border-color:mediumpurple;">
                                <i class="fa fa-ellipsis-v visible-on-sidebar-regular"></i>
                                <i class="fa fa-navicon visible-on-sidebar-mini"></i>
                            </button>
                        </div>
                        <a class="navbar-brand" href="~/Citas/Index"> CITAS </a>
                    </div>
                    <div class="collapse navbar-collapse justify-content-end">
                        <ul class="navbar-nav">
                            <li class="dropdown nav-item">
                                <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                                    <i class="nc-icon nc-bell-55"></i>
                                    <span class="notification">5</span>
                                    <span class="d-lg-none">Notification</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Articulo con Bajo Stock</a>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="https://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="nc-icon nc-bullet-list-67"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                                    <a href="/Login/Logout" class="dropdown-item text-danger">
                                        <i class="nc-icon nc-button-power"></i> Cerrar Sesión
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- End Navbar -->
            <div class="content" style="padding-top:10px;padding-left: 5px;padding-bottom:0px;padding-right: 5px;">
                @*<div class="container-fluid">*@
                @RenderBody()
                @*</div>*@
            </div>
            <footer class="footer">
                <div class="container">
                    <nav>
                        <p class="copyright text-center">
                            ©
                            <script>
                                document.write(new Date().getFullYear())
                            </script>
                        </p>
                    </nav>
                </div>
            </footer>
        </div>
    </div>

</body>
</html>