﻿@model List<Jagua.Models.Aperturas>

@{
    ViewBag.Title = "Apertura/Cierre";
    var user = Jagua.Clases.SessionManager.SessionData.usuario;
    var id_usuario = Jagua.Clases.SessionManager.SessionData.id_usuario;

}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AperturaCierre</title>
    <script type="text/javascript">
        $(document).ready(function () {
            function ValidarCaja() {
                $.ajax({
					type: 'POST',
					url: '@Url.Action("ValidarCajas","Cajas")',
					data: ({ id_usuario: id_usuario }),
					dataType: 'JSON',
					success: function (data) {
						swal({text: "Cajas disponibles para el usuario",type: "success"});
					},
					error: function () {
                        swal({
                            text: "El Usuario No posee ninguna Caja Habilitada",
                            type: "warning"
                        });
                       window.location.href = '@Url.Action("Create", "Cajas")';
					}
					});
            }
        });
    </script>
</head>
<body>
    <div class="container-fluid">
        <div class="card strpied-tabled-with-hover">
            <div class="card-header">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.Raw(TempData["msg"]);
                    <div class="form-horizontal">
                        <h4><i class="fa fa-desktop" style="color:coral"></i>&nbsp;<b>Apertura/Cierre de Cajas</b></h4>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="card strpied-tabled-with-hover">
                            <div class="card-body table-full-width table-responsive">
                                <table class="table table-hover table-striped">
                                    <thead>
                                        <tr>
                                            <th>
                                                Caja
                                            </th>
                                            <th>
                                                Fecha de Apertura
                                            </th>
                                            <th>
                                                Fecha de Cierre
                                            </th>
                                            <th>
                                                Usuario Apertura
                                            </th>
                                            <th>
                                                Usuario Cierre
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model.Count() == 0)
                                        {
                                            <tr>
                                                <td>No existen registros</td>
                                            </tr>
                                        }
                                        else
                                        {
                                            foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Caja)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.FechaApertura)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.FechaCierre)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.UsuarioApertura)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.UsuarioCierre)
                                                    </td>
                                                    <td>
                                                        <button type="button" id="apertura" class="btn btn-wd btn-success btn-outline" @(item.FechaApertura == null ? "display" : "hidden") onclick="Apertura('@item.IdCaja -  @item.Caja')">
                                                            <i class="fa fa-calculator"></i>
                                                            Apertura
                                                        </button>
                                                        <button type="button" id="cierre" class="btn btn-wd btn-info btn-outline" @(item.FechaCierre == null & item.FechaApertura != null ? "display" : "hidden") onclick="Cierre(@item.IdApertura)">
                                                            <i class="fa fa-sign-in"></i>
                                                            Cierre
                                                        </button>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {

            $("#btnImprimirArqueo").hide();

            $("#btnGuardarApertura").click(function () {
				if ($("#txtMontoInicial").val() == "" ) {
					swal({
						text: "Debe cargar Monto Inicial!",
						type: "warning"
					});
				}
                else {
                    var item = $("#IdCaja").html();
                    var n = item.search("-");
                    var id_caja = item.substring(0, n-1);//para eliminar espacios antes y despues
                    var descripcion_caja = item.substring(n + 2)
                    var usuario = '@user';
				    var monto_inicial = parseInt($("#txtMontoInicial").val());
				    var observaciones = $("#txtObservaciones").val();

				$.ajax({
					type: 'POST',
					url: '@Url.Action("guardarAperturaCaja","Cajas")',
					data: ({ id_caja: id_caja, descripcion_caja: descripcion_caja, usuario_apertura: usuario, monto_inicial: monto_inicial, observaciones: observaciones  }),
					dataType: 'JSON',
					success: function (data) {
						swal({
							text: "Apertura de Caja Correcta!",
                            type: "success",
                            icon: "success"
						});
                        $("#modalApertura").modal('hide');
                        window.location.reload();
                        clearItem()
					},
					error: function () {
                        swal({
                            text: "Error en Apertura de Caja",
                            type: "warning",
                            icon: "warning"
                        });
					}
					});
				}
            });

            $("#txtMontoCaja").change(function () {
                var monto_inicial = parseInt($("#montoInicial").html());
                var recaudacion = parseInt($("#recaudacion").html());
                var monto_caja = parseInt($("#txtMontoCaja").val());
                var faltante = monto_inicial + recaudacion - monto_caja;

                $("#faltanteCaja").html(faltante);
            });

             $("#btnGuardarCierre").click(function () {
				if ($("#txtMontoCaja").val() == "" ) {
					swal({
						text: "Debe cargar el Monto en Caja!",
						icon: "warning"
					});
				}
                else {
                    var id_apertura = $("#IdAperturaCierre").html()
                    var caja = $("#cajaCierre").html();
                    var n = caja.search("-");
                    var id_caja = caja.substring(0, n);//para eliminar espacios antes y despues
                    var descripcion_caja = caja.substring(n+1)
                    var monto_caja = parseInt($("#txtMontoCaja").val());
                    var recaudacion = parseInt($("#recaudacion").html());
                    var faltante = parseInt($("#faltanteCaja").html());
				$.ajax({
					type: 'POST',
					url: '@Url.Action("guardarCierreCaja","Cajas")',
                    data: ({id_apertura: id_apertura, id_caja: id_caja, descripcion_caja: descripcion_caja,
                            monto_caja: monto_caja, recaudacion: recaudacion, faltante: faltante}),
					dataType: 'JSON',
                    success: function () {
                        debugger
						swal({
							text: "Cierre Procesado",
                            icon: "success"
                        });
                        $("#btnImprimirArqueo").show();
                        clearItem()
					},
					error: function () {
                        swal({
                            text: "Error en Cierre de Caja",
                            icon: "error"
                        });
					}
					});
				}
            });
        });

        function clearItem() {
            $("#IdCaja").val('');
            $("#Usuario").val('');
            $("#txtMontoInicial").val('');
            $("#txtObservaciones").val('');
            $("#txtMontoCaja").val('');
        }

        function Apertura(item) {
            $("#IdCaja").html(item);
            $("#Usuario").html('@user');

            $("#modalApertura").modal();
            $("#modalApertura").modal('show');
        }

        function Cierre(item) { //IdApertura
            //Obtiene datos de apertura
            $.ajax({
                contentType: 'application/json',
                type: 'GET',
                url: "/Cajas/getApertura",
                data: { IdApertura: item },
                success: function (data) {
                    $("#IdAperturaCierre").html(data[0].id_apertura_cierre);
                    var Caja = data[0].id_caja + '-' + data[0].descripcion_caja
                    $("#cajaCierre").html(Caja);
                    $("#usuarioApertura").html(data[0].usuario_apertura);
                    var fechaApertura = moment(data[0].fecha_apertura).format("DD/MM/YYYY HH:MM:SS")
                    $("#fechaApertura").html(fechaApertura);
                    var fechaCierre = moment().format("DD/MM/YYYY HH:MM:SS")
                    $("#fechaCierre").html(fechaCierre);
                    $("#montoInicial").html(data[0].monto_inicial);
                },
                error: function () {
                    swal({
                        text: "Error en Cierre de Caja",
                        icon: "error"
                    });
                }
            });
            //Obtiene recaudacion
            $.ajax({
                contentType: 'application/json',
                type: 'GET',
                url: "/Cajas/getRecaudacion",
                data: { IdApertura: item },
                success: function (data) {
                    if (data == "0") {
                        swal({
                            text: "Sin recaudaciones en el periodo",
                            icon: "info"
                        });
                        $("#recaudacion").html(0);
                    } else {
                        $("#recaudacion").html(data[0].a);
                    }
                },
                error: function () {
                    swal({
                        text: "Error al obtener recaudacion",
                        icon: "error"
                    });
                    $("#recaudacion").html('');
                }
            });
            $("#modalCierre").modal();
            $("#modalCierre").modal('show');
        }

    </script>
    <div id="modalApertura" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"><i class="fa fa-edit" style="color:blueviolet; margin-right:10px;"></i><b>Apertura de Caja</b></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <hr />
                <div class="modal-body">
                    <span id="IdAperturaCierre" style="display:none"></span>
                    <div class="row">
                        <div class="col-md-12">
                            <strong style="color:#5D6D7E">Caja: </strong>
                            <span id="IdCaja"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <strong style="color:#5D6D7E">Usuario: </strong>
                            <span id="Usuario" style="font-weight:bold;"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label>Monto Inicial</label>
                            @Html.TextBox("txtMontoInicial", "", new { @class = "form-control", @placeholder = "Monto Inicial" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label>Observaciones</label>
                            @Html.TextBox("txtObservaciones", "", new { @class = "form-control", @placeholder = "Observaciones" })
                        </div>
                    </div>
                    <br>
                    <div class="pull-right">
                        <button id="btnGuardarApertura" class="btn btn-wd btn-success btn-outline" style="margin-right: 50px;">
                            <i class="fa fa-check-square-o"></i>
                            Guardar
                        </button>
                        <button type="button" id="btnImprimirArqueo" class="btn btn-wd btn-info btn-outline" style="margin-right: 50px; display:none;">
                            <i class="fa fa-print"></i>
                            Imprimir
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="modalCierre" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"><i class="fa fa-bar-chart" style="color:blueviolet; margin-right:10px;"></i><b>Cierre de Caja</b></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <hr />
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <strong style="color:#5D6D7E">Caja: </strong>
                            <span id="cajaCierre"></span>
                        </div>
                        <div class="col-md-6">
                            <strong style="color:#5D6D7E">Usuario Apertura: </strong>
                            <span id="usuarioApertura"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <strong style="color:#5D6D7E">Fecha de Apertura: </strong>
                            <span id="fechaApertura"></span>
                        </div>
                        <div class="col-md-6">
                            <strong style="color:#5D6D7E">Fecha de Cierre: </strong>
                            <span id="fechaCierre"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <strong style="color:#5D6D7E">Monto Inicial: </strong>
                            <span id="montoInicial"></span>
                        </div>
                        <div class="col-md-6">
                            <strong style="color:#5D6D7E">Recaudacion: </strong>
                            <span id="recaudacion"></span>
                        </div>
                    </div>
                    <br />
                    <div class="col-md-6">
                        <div class="row">
                            <strong style="color:#5D6D7E; margin-right:10px;">Monto en Caja: </strong>
                            @Html.TextBox("txtMontoCaja", "", new { @class = "form-control col-md-6", @placeholder = "Monto en Caja" })
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-6">
                            <strong style="color:#5D6D7E">Faltante: </strong>
                            <span id="faltanteCaja" style="color:red"></span>
                        </div>
                    </div>
                    <br>
                    <div class="pull-right">
                        <button type="button" id="btnGuardarCierre" class="btn btn-wd btn-success btn-outline" style="margin-right: 50px;">
                            <i class="fa fa-check-square-o"></i>
                            Guardar
                        </button>
                        <a href="@Url.Action("Arqueo", "Cajas")" title="" rel="tooltip" class="btn btn-wd btn-info btn-outline" style="margin-right: 50px;" data-original-title="Arqueo" target="_blank">
                            <i class="fa fa-print"></i>&nbsp;Imprimir
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
