﻿@using PagedList.Mvc;
@model PagedList.IPagedList<Jagua.Clases.Reportes.ArqueosCaja>

@{
//ViewBag.Title = "Index";
//var permisos = Jagua.Clases.SessionManager.ValidarPermisos("Pacientes");
//var Insert = (permisos != null ? permisos.insertar : false);
//var Editar = (permisos != null ? permisos.modificar : false);
//var Eliminar = (permisos != null ? permisos.eliminar : false);
//var Ejecutar = (permisos != null ? permisos.ejecutar : false);
}
<html>
<head>
    <script type="text/javascript">
        $(document).ready(function () {
            $("[name=btnBuscar]").click(function () {
                $("#frmList").attr("action", "/Pacientes/Index/");
                $("#frmList").submit();

            });
        });

    </script>
</head>
<body>
    <div class="container-fluid">
        <div class="card strpied-tabled-with-hover">
            <div class="card-header ">
                @*@if (!Ejecutar)
        {
                <script>
                    $(document).ready(function () {
                        SinAcceso();
                    });
                </script>
                //}*@
                @using (Html.BeginForm("ArqueosCaja", "Cajas", FormMethod.Post, new { id = "frmList" }))
                {
                    <h4>Arqueos de Caja</h4>
                    <div class="row">
                        <div class="col-sm-2">
                            <label>Caja</label>
                            @Html.DropDownList("ddlCaja", null, "--Seleccionar--", new { @class = "form-control" })
                        </div>
                        <div class="col-sm-3">
                            <label>Fecha Desde</label>
                            @Html.TextBox("txtFechaDesde", "", new { @class = "form-control", type = "date" })
                        </div>
                        <div class="col-sm-3">
                            <label>Fecha Hasta</label>
                            @Html.TextBox("txtFechaHasta", "", new { @class = "form-control", type = "date" })
                        </div>
                        <div class="col-sm-2">
                            <label>Caja</label>
                            @Html.DropDownList("ddlUsuario", null, "--Seleccionar--", new { @class = "form-control" })
                        </div>
                        <button type="submit" name="btnBuscar" title="Buscar registros" class="btn btn-simple btn-success btn-outline" style="margin-top: 25px;">
                            <i class="nc-icon nc-zoom-split icon-bold" style="font-size: 20px" aria-hidden="true"></i>
                        </button>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="card strpied-tabled-with-hover">
            <div class="card-body table-full-width table-responsive">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Caja</th>
                            <th>Apertura</th>
                            <th>Cierre</th>
                            <th>Usuario Apertura</th>
                            <th>Usuario Cierre</th>
                            <th>Recaudacion</th>
                            <th>Faltante</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Count() == 0)
                        {
                            <tr>
                                <td>No existen registros</td>
                            </tr>
                        }
                        else
                        {
                            foreach (var item in Model)
                            {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.id_caja) -
                                    @Html.DisplayFor(modelItem => item.descripcion_caja)
                                </td>
                                <td>@Html.DisplayFor(modelItem => item.fecha_apertura)</td>
                                <td>@Html.DisplayFor(modelItem => item.fecha_cierre)</td>
                                <td>@Html.DisplayFor(modelItem => item.usuario_apertura)</td>
                                <td>@Html.DisplayFor(modelItem => item.usuario_cierre)</td>
                                <td>@Html.DisplayFor(modelItem => item.recaudacion) </td>
                                <td>@Html.DisplayFor(modelItem => item.faltante)</td>
                                <td>
                                    @*@if (Editar)
                                    {*@
                                    <a href="@Url.Action("ArqueosCajaImprimir", "Cajas", new { id = item.id_arqueo })" title="" rel="tooltip" data-original-title="Imprimir" target="_blank" style="color:deepskyblue;font-size:15px;"><i class="fa fa-print" aria-hidden="true"></i></a>
                                        @*//}*@
                                </td>
                            </tr>
                            }
                        }
                    </tbody>
                </table>
                <hr />
                <div class="pull-right">
                    @Html.PagedListPager(Model, page => Url.Action("ArqueosCaja", new { page, currentFilter = ViewBag.CurrentFilter }))
                </div>
            </div>
        </div>
    </div>
</body>

</html>