﻿@model JaguaEntityModel.caja

@{
    ViewBag.Title = "Nueva Caja";
}
<head>
    <script>
        function validar() {
        if (document.getElementById('descripcion').value != "" && document.getElementById('id_usuario').value != "" && document.getElementById('ddlEstado').value != "") {
            swal("¡Registro Agregado! ", " ", " éxito ", "OK");
            $("#frmList").submit();
            }
        }
    </script>
</head>
<body>
    <div class="container-fluid">
        <div class="card strpied-tabled-with-hover">
            <div class="card-header">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.Raw(TempData["msg"]);
                    <div class="form-horizontal">
                        <h4><i class="fa fa-dashboard" style="color:mediumpurple"></i> &nbsp;<b>Nueva Caja</b></h4>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            <div class="col-md-3">
                                <label>Descripcion de caja</label>
                                @Html.TextBox("descripcion", null, new { @class = "form-control", required = "required", @maxlength = "50" })
                                @Html.ValidationMessageFor(model => model.descripcion, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <label>Usuario Asignado</label>
                                @Html.DropDownList("id_usuario", (SelectList)ViewBag.id_usuario, "--Seleccionar--", new { @class = "form-control", required = "required" })
                                @Html.ValidationMessageFor(model => model.id_usuario, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <label>Estado</label>
                                @Html.DropDownList("ddlEstado", new SelectList(new List<object>
                                        {
                                        new { value = "", text = "--Seleccionar--"},
                                        new { value = "A", text = "ACTIVO"},
                                        new { value = "I", text = "INACTIVO"},
                                        },
                                 "value",
                                 "text"), new { @class = "form-control", required = "required" })
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="pull-right">
                        <button type="submit" title="Guardar" class="btn btn-wd btn-facebook">
                            <i class="fa fa-check-square-o"></i>
                            Guardar
                        </button>
                        <a href="@Url.Action("Index", "Cajas")" title="" class="btn btn-wd btn-info btn-outline" style="" data-original-title="Atras">
                            Cancelar
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
</body>