﻿@model JaguaEntityModel.caja

@{
    ViewBag.Title = "Edit";
}
<head>
    <script>
        function validar() {
            if (document.getElementById('descripcion').value != "" && document.getElementById('id_usuario').value != "" && document.getElementById('estado').value != "") {
				swal({
					title: "",
					type: "success",
					text: "Registro actualizado correctamente!",
				});
                $("#frmList").submit();
            }
        }
    </script>
</head>
<body>
    <div class="container-fluid">
        <div class="card strpied-tabled-with-hover">
            <div class="card-header">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <h4><i class="fa fa-dashboard" style="color:mediumpurple"></i> &nbsp;<b>Editar Caja</b></h4>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.id_caja)
                        <div class="form-group">
                            <div class="col-md-3">
                                <label>Descripcion de Caja</label>
                                @Html.TextBox("descripcion", null, new { @class = "form-control", required = "required", @maxlength = "50" })
                                @Html.ValidationMessageFor(model => model.descripcion, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <label>Usuario Asignado</label>
                                @Html.DropDownList("id_usuario", null, "--Seleccionar--", new { @class = "form-control", required = "required", @maxlength = "50" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <label>Estado</label>
                                @Html.DropDownList("estado", new SelectList(new List<object>
                                                {
                                                new { value = "", text = "--Seleccionar--"},
                                                new { value = "A", text = "ACTIVO"},
                                                new { value = "I", text = "INACTIVO"},
                                                },
                                              "value",
                                              "text", (String)ViewBag.estado), new { @class = "form-control", required = "required", @maxlength = "1" })
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="pull-right">
                        <button type="submit" title="Guardar" class="btn btn-wd btn-facebook">
                            <i class="fa fa-check-square-o"></i>
                            Guardar
                        </button>
                        <a href="@Url.Action("Index", "Cajas")" title="" class="btn btn-wd btn-info btn-outline" style="" data-original-title="Atras">
                            Cancelar
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
</body>
