﻿@using PagedList.Mvc;
@model PagedList.IPagedList<JaguaEntityModel.paciente>

@{
    ViewBag.Title = "Index";
    var permisos = Jagua.Clases.SessionManager.ValidarPermisos("Pacientes");
    var Insert = (permisos != null ? permisos.insertar : false);
    var Editar = (permisos != null ? permisos.modificar : false);
    var Eliminar = (permisos != null ? permisos.eliminar : false);
    var Ejecutar = (permisos != null ? permisos.ejecutar : false);
}
<html>
<head>
    <script type="text/javascript">
        $(document).ready(function () {
            $("[name=btnBuscar]").click(function () {
                $("#frmList").attr("action", "/Pacientes/Index/");
                $("#frmList").submit();

            });
        });

    </script>
</head>
<body>
    <div class="container-fluid">
        <div class="card strpied-tabled-with-hover">
            <div class="card-header ">
                @if (!Ejecutar)
                {
                    <script>
                        $(document).ready(function () {
                            SinAcceso();
                        });
                    </script>
                }
                @using (Html.BeginForm("Index", "Clientes", FormMethod.Post, new { id = "frmList" }))
                {
                    <div class="pull-right">
                        @if (Insert)
                        {
                            <a href="@Url.Action("Create", "Pacientes")" title="" rel="tooltip" class="btn btn-wd btn-info btn-outline" data-original-title="Agregar Registro">
                                <i class="fa fa-paw" aria-hidden="true"></i>Agregar Paciente
                            </a>
                        }
                    </div>
                    <h4>Pacientes</h4>
                    <h7>Filtros de Búsqueda</h7>
                    <div class="row">
                        <div class="col-sm-2">
                            <label>Id Paciente</label>
                            @Html.TextBox("txtPaciente", (String)ViewBag.txtPaciente, new { @class = "form-control" })
                        </div>
                        <div class="col-sm-2">
                            <label>Nombre</label>
                            @Html.TextBox("txtNombre", (String)ViewBag.txtNombre, new { @class = "form-control" })
                        </div>
                        <div class="col-sm-2">
                            <label>Dueño</label>
                            @Html.TextBox("txtCliente", (String)ViewBag.txtCliente, new { @class = "form-control" })
                        </div>
                        <div class="col-sm-2">
                            <label>Raza</label>
                            @Html.DropDownList("ddlRaza", null, "--Seleccionar--", new { @class = "form-control" })
                        </div>

                        <button type="submit" name="btnBuscar" title="Buscar registros" class="btn btn-simple btn-success btn-outline" style="margin-top: 25px;">
                            <i class="nc-icon nc-zoom-split icon-bold" style="font-size: 20px" aria-hidden="true"></i>
                        </button>
                    </div>


                }
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="card strpied-tabled-with-hover">
            <div class="card-body table-full-width table-responsive">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Cliente</th>
                            <th>Raza</th>
                            <th>Ultima Visita</th>
                            <th>Procedimiento</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Count() == 0)
                        {
                            <tr>
                                <td>No existen registros</td>
                            </tr>
                        }
                        else
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.id_paciente)</td>
                                    <td>@Html.DisplayFor(modelItem => item.nombre)</td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.cliente.persona.nombre)
                                        @Html.DisplayFor(modelItem => item.cliente.persona.apellido)
                                    </td>
                                    <td>@Html.DisplayFor(modelItem => item.raza.descripcion)</td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        @if (Editar)
                                        {
                                            <a href="@Url.Action("Editar", "Pacientes", new { id = item.id_paciente })" title="" rel="tooltip" data-original-title="Editar Paciente" style="color:deepskyblue;font-size:15px;"><i class="fa fa-edit" aria-hidden="true"></i></a>
                                        }
                                        @if (Ejecutar)
                                        {
                                            <a href="@Url.Action("Details", "Pacientes", new { id = item.id_paciente })" title="" rel="tooltip" data-original-title="Detalles" style="color:forestgreen; font-size:15px;"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                            <a href="@Url.Action("Historial", "Pacientes", new { id = item.id_paciente })" title="" rel="tooltip" data-original-title="Agregar Registro" style="font-size:30px; padding-right:100px"><img src="~/Content/assets/img/vets_icon/ficha.png" style="height:25px;width:25px;" /></a>
                                        }
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
                <hr />
                <div class="pull-right">
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, currentFilter = ViewBag.CurrentFilter }))
                </div>
            </div>
        </div>
    </div>

</body>

</html>