﻿@using PagedList.Mvc;
@model PagedList.IPagedList<JaguaEntityModel.paginas>
@{
    ViewBag.Title = "Páginas";
    var permisos = Jagua.Clases.SessionManager.ValidarPermisos("paginas");
    var Insert = (permisos != null ? permisos.insertar : false);
    var Editar = (permisos != null ? permisos.modificar : false);
    var Eliminar = (permisos != null ? permisos.eliminar : false);
    var Ejecutar = (permisos != null ? permisos.ejecutar : false);
}
<head>
    <script>

        function CargarShowPacientes(id) {
            if (id > 0) {
                $.ajax({
                    url: '@Url.Action("PartialShow", "Paginas")',
                    data: { id: id },
                    success: function (msg) {
                        $("#PartialPopup").html(msg);
                        $("#listPopup").modal();
                        $("#listPopup").modal('show');
                    }
                });
            }
        }
    </script>
</head>
<body>
    <div class="container-fluid">
        <div class="card strpied-tabled-with-hover">
            <div class="card-header">
                @if (!Ejecutar)
                {
                    <script>
                        $(document).ready(function () {
                            SinAcceso();
                        });

                    </script>
                }
                @using (Html.BeginForm("Index", "paginas", FormMethod.Post, new { id = "frmList" }))
                {
                    <div class="pull-right">
                        @if (Insert)
                        {
                            @Html.AntiForgeryToken()
                            <div class="pull-right">
                                <a href="@Url.Action("Create", "Paginas")" class="btn btn-wd btn-info btn-outline" title="" rel="tooltip" data-original-title="Agregar Registro">
                                    <i class="fa fa-plus" aria-hidden="true"></i>Agregar Pagina
                                </a>
                            </div>
                        }
                    </div>
                    <h4><i class="fa fa-file-text-o" style="color:mediumpurple"></i> &nbsp;<b>Páginas</b></h4>
                    <hr />
                    <div class="row">
                        <div class="col-sm-3">
                            @Html.TextBox("searchString", (String)ViewBag.searchString, new { @class = "form-control", @placeholder = "Buscar..." })
                        </div>
                        <div class="col-sm-6">
                            <button type="submit" name="btnBuscar" title="Buscar registros" class="btn btn-simple btn-success btn-outline">
                                <i class="nc-icon nc-zoom-split icon-bold" style="font-size: 20px" aria-hidden="true"></i>
                            </button>
                            <div class="font-icon-detail"></div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="card strpied-tabled-with-hover">
            <div class="card-body table-full-width table-responsive">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>
                                Página
                            </th>
                            <th>
                                Url
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Count() == 0)
                        {
                            <tr>
                                <td>No existen registros</td>
                            </tr>
                        }
                        else
                        {
                            foreach (var item in Model)
                            {
                                using (Html.BeginForm("Delete", "paginas", new { id = item.id_pagina }))
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.pagina)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.url)
                                        </td>
                                        <td class="td-actions text-right">
                                            @if (Ejecutar)
                                            {
                                                <a href="#" onclick="CargarShowPacientes(@item.id_pagina); return false;" title="Datos Página" rel="tooltip" data-original-title="Detalles" style="color:forestgreen; font-size:15px;"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                            }
                                            @if (Editar)
                                            {
                                                <a href="@Url.Action("Edit", new { id = item.id_pagina })" rel="tooltip" title="" class="btn btn-success btn-link btn-xs" data-original-title="Editar">
                                                    <i class="fa fa-edit"></i>
                                                </a>
                                            }
                                            @if (Eliminar)
                                            {
                                                <button type="submit" value="Delete" onclick="return confirm('Está seguro de eliminar?') " rel="tooltip" title="" class="btn btn-danger btn-link btn-xs" data-original-title="Eliminar" />
                                                <i class="fa fa-times"></i>
                                            }
                                        </td>
                                    </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
                <hr />
                <div class="pull-right">
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, currentFilter = ViewBag.CurrentFilter }))
                </div>
            </div>
        </div>
    </div>
    @*//modal de popup*@
    <div id="listPopup" class="modal fade" tabindex="-1" role="dialog" ria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Datos</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body" id="PartialPopup">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger pull-right" data-dismiss="modal">Cerrar</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</body>
