﻿@*@model IEnumerable<JaguaEntityModel.producto>*@

@{
                /**/

                Layout = "~/Views/Shared/_LayoutModal.cshtml";
                ViewBag.Title = "Index";

                JaguaEntityModel.JaguaEntities db = new JaguaEntityModel.JaguaEntities();
                var listaProd = db.producto.Where(o => o.id_tipo_producto == 2).ToList();
}
<head>
    <script type="text/javascript">

        function Sel_Prod(id, descripcion, precio) {
            $("#producto").val("" + descripcion + "").change();
            $("#descripcion").val("" + descripcion + "").change();
            $("#id_producto").val("" + id + "");
            $("#precio").val("" + precio + "");
            $("#listProd").modal('hide');
        }
    </script>
</head>
<body>
    <table class="table table-hover" id="bootstrap-table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Producto</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (JaguaEntityModel.producto p in listaProd)
            {
                <tr>
                    <td><span id=@p.id_producto>@p.id_producto </span></td>
                    <td><span id='no@sc.id'>@p.descripcion</span></td>
                    <td><a href='javascript:Sel_Prod(@p.id_producto,"@p.descripcion",@p.precio)' class='btn btn-primary'>Seleccionar</a></td>
                </tr>

            }
        </tbody>
    </table>
</body>