﻿@model IEnumerable<JaguaEntityModel.proveedor>

@{
    Layout = "~/Views/Shared/_LayoutModal.cshtml";
    ViewBag.Title = "Index";
    
    JaguaEntityModel.JaguaEntities db = new JaguaEntityModel.JaguaEntities();
    var listaProv = db.proveedor.ToList();
}
<head>
    <script type="text/javascript">

        function Sel_Prov(id, nombre) {
            $("#proveedor").val("" + nombre + "").change();
            $("#id_proveedor").val("" + id + "");
            $("#listProv").modal('hide');
        }

    </script>
</head>
<body>

    <table class="table table-hover" id="bootstrap-table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Proveedor</th>
                <th>Seleccionar</th>
            </tr>
        </thead>
        <tbody>
            @foreach (JaguaEntityModel.proveedor p in listaProv)
            {
                <tr>
                    <td><span id=@p.id_proveedor>@p.id_proveedor </span></td>
                    <td><span id='no@sc.id'>@p.razon_social</span></td>
                    <td><a href='javascript:Sel_Prov(@p.id_proveedor ,"@p.razon_social")' class='btn btn-primary'>Seleccionar</a></td>
                </tr>
            }
        </tbody>
    </table>
</body>