﻿@*@model IEnumerable<JaguaEntityModel.empleado>*@

@{
    Layout = "~/Views/Shared/_LayoutModal.cshtml";
    ViewBag.Title = "Index";
    
    JaguaEntityModel.JaguaEntities db = new JaguaEntityModel.JaguaEntities();
    var listaEmp = db.empleado.ToList();
}
<head>
    <script type="text/javascript">

        function Sel_Empl(id, nombre, apellido, nro_documento) {
            $("#encargado").val("" + nombre + " " + apellido).change();
            $("#id_empleado").val("" + id + "");
            $("#ci_empleado").val("" + nro_documento + "");
            $("#listEmpl").modal('hide');
        }
    </script>
</head>
<body>
    <table class="table table-hover" id="bootstrap-table">
        <thead>
            <tr>
                <th>Nro.CI</th>
                <th>Nombre y Apellido</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (JaguaEntityModel.empleado emp in listaEmp)
            {
                <tr>
                    <td><span id=@emp.id_empleado>@emp.id_empleado </span></td>
                    <td><span id='no@sc.id'>@emp.persona.nombre</span></td>
                    <td><a href='javascript:Sel_Empl(@emp.id_empleado ,"@emp.persona.nombre", "@emp.persona.apellido", "@emp.persona.nro_documento")' class='btn btn-primary'>Seleccionar</a></td>
                </tr>

            }
        </tbody>
    </table>
</body>