﻿@using PagedList.Mvc;
@model PagedList.IPagedList<JaguaEntityModel.ciudad>

@{
    ViewBag.Title = "Index";
}
<head>
    <script type="text/javascript">
        $(document).ready(function () {
            $("[name=btnBuscar]").click(function () {
                $("#frmList").attr("action", "/Ciudades/Index/");
                $("#frmList").submit();

            });
        });
    </script>
    <script type="text/javascript">
		function Desactivar(item) {
			swal({
				title: "Estas Seguro?",
				text: "El registro se desactivara!",
				type: "warning",
				showCancelButton: true,
				confirmButtonClass: "btn btn-info btn-fill",
				confirmButtonText: "Si, desactivarlo!",
				cancelButtonClass: "btn btn-danger btn-fill",
				cancelButtonText: "Cancelar",
				closeOnConfirm: false,
			}, function (isConfirm) {
                debugger
                if (isConfirm) {
                    $("#frmList").attr("action", "/Ciudades/DisableConfirmed/" + item);
                    $("#frmList").submit();
                    swal({
                        text: "El registro fue desactivado",
                        type: "success"
                    });
                    window.location.reload();
                } else {
                    swal({
                        text: "Cancelado",
                        type: "warning"
                    });
                }
			});
        } /*Fin Function*/

        $(document).ready(function () {
            $("[name=btnBuscar]").click(function () {
                $("#frmList").attr("action", "/Ciudades/Index/");
                $("#frmList").submit();
			});
        });
    </script>
</head>
<body>
    <div class="container-fluid">
        <div class="card strpied-tabled-with-hover">
            <div class="card-header ">
                @using (Html.BeginForm("Index", "Ciudades", FormMethod.Post, new { id = "frmList" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="pull-right">
                        <a href="@Url.Action("Create", "Ciudades")" class="btn btn-wd btn-info btn-outline" title="" rel="tooltip" data-original-title="Agregar Registro">
                            <i class="fa fa-plus" aria-hidden="true"></i>Nueva Ciudad
                        </a>
                    </div>
                    <h4><i class="fa fa-map-pin" style="color:mediumpurple"></i> &nbsp;<b>Ciudades</b></h4>
                    <hr />
                    <div class="row">
                        <div class="col-sm-3">
                            <label>Ciudad</label>
                            @Html.TextBox("txtNombre", (String)ViewBag.txtNombre, new { @class = "form-control" })
                        </div>
                        <div class="col-sm-3">
                            <label>Departamento</label>
                            @Html.DropDownList("ddlDepartamento", null, "--Seleccionar--", new { @class = "form-control" })
                        </div>
                        <button type="submit" name="btnBuscar" title="Buscar registros" class="btn btn-simple btn-success btn-outline" style="margin-top: 25px;">
                            <i class="nc-icon nc-zoom-split icon-bold" style="font-size: 20px" aria-hidden="true"></i>
                        </button>
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="card strpied-tabled-with-hover">
            <div class="card-body table-full-width table-responsive">
                <table class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Ciudad</th>
                                <th>Departamento</th>
                                <th>Estado</th>
                                <th>Usuario Alta</th>
                                <th>Fecha Alta</th>
                                <th>Usuario Mod</th>
                                <th>Fecha Mod</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Count() == 0)
                            {
                                <tr>
                                    <td>No existen registros</td>
                                </tr>
                            }
                            else
                            {
                                foreach (var item in Model)
                                {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.id_ciudad)</td>
                                    <td>@Html.DisplayFor(modelItem => item.descripcion)</td>
                                    <td>@Html.DisplayFor(modelItem => item.departamento.descripcion)</td>
                                    <td>@Html.DisplayFor(modelItem => item.estado)</td>
                                    <td>@Html.DisplayFor(modelItem => item.usuario_alta)</td>
                                    <td>@Html.DisplayFor(modelItem => item.fecha_alta)</td>
                                    <td>@Html.DisplayFor(modelItem => item.usuario_mod)</td>
                                    <td>@Html.DisplayFor(modelItem => item.fecha_mod)</td>
                                    <td>
                                        <a href="@Url.Action("Edit", "Ciudades", new {id = item.id_ciudad})" style="color:deepskyblue"><i class="fa fa-edit" aria-hidden="true"></i></a>
                                        <i class="fa fa-arrow-down" @(item.estado != "I" ? "display" : "hidden") style="color:red" onmouseover="this.style.cursor='pointer';" onclick="Desactivar(@item.id_ciudad)" aria-hidden="true" rel="tooltip" data-original-title="Anular"></i>
                                    </td>
                                </tr>
                                }
                            }
                        </tbody>
                    </table>
                    <div class="pull-right">
                        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, currentFilter = ViewBag.CurrentFilter }))
                    </div>
            </div>
        </div>
    </div>
</body>
