﻿@model IEnumerable<Jagua.Models.ComprasDetalle>
@{
    ViewBag.Title = "_GridComprasDetalles";
}

@if (Model.Count() == 0)
{
    <tr>
        <td>No existen Datos</td>
    </tr>

}
else
{
    foreach (Jagua.Models.ComprasDetalle data in Model)
    {
    <tr>

        <td>@Html.DisplayFor(modelItem => data.Id_compras_detalle) </td>

        <td>@Html.DisplayFor(modelItem => data.Id_producto) </td>

        <td>@Html.DisplayFor(modelItem => data.Cantidad)</td>

        <td>@Html.DisplayFor(modelItem => data.Precio_unitario)</td>

        <td>@Html.DisplayFor(modelItem => data.Exentas) </td>

        <td>@Html.DisplayFor(modelItem => data.Iva5) </td>

        <td>@Html.DisplayFor(modelItem => data.Iva10) </td>

        <td>@Html.DisplayFor(modelItem => data.Descuento) </td>

        <td>@Html.DisplayFor(modelItem => data.Subtotal) </td>

        <td>
            <input type="button" class="deleteLink" onclick="modificar('@data.Id_compras_detalle')" value="Modificar">
            <input type="button" class="deleteLink" onclick="eliminar('@data.Id_compras_detalle')" value="Eliminar">
        </td>

    </tr>

    }
}

