﻿@model JaguaEntityModel.compras

@{
    ViewBag.Title = "Create";
}
<head>
    <script type="text/javascript">
        $(document).ready(function () {
            //variables de uso global
            var total = 0;
            controlDetalle = false; //Para saber si la grilla tiene filas
            var cant_articulos = 0;
            $("#total").val(0);

            //Modal Proveedores
            $("#btnBuscaProv").click(function () {
                $("#listProv").modal();
                $("#listProv").modal('show');
            });

            function validarCabecera() {
                if ($("#fecha").val() == "") {
                    swal({
                        text: "Debe cargar la fecha",
                        type: "warning"
                    });
                    $("#fecha").focus();
                } else if ($("#nro_factura").val() == "") {
                    swal({
                        text: "Debe cargar el numero de factura!",
                        type: "warning"
                    });
                    $("#nro_factura").focus();
                } else if ($("#tipo_pago").val() == "") {
                    swal({
                        text: "Debe cargar el tipo de pago!",
                        type: "warning"
                    });
                    $("#tipo_pago").focus();
                } else if ($("#proveedor").val() == "") {
                    swal({
                        text: "Debe cargar el proveedor!",
                        type: "warning"
                    });
                    $("#proveedor").focus();
                } else {
                    return true;
                }
            }

            function validarDetalle() {
                if ($("#id_producto").val() == "") {
                    swal({ text: "Debe ingresar el producto o producto no valido", type: "warning" });
                    $("#producto").val("");
                    $("#producto").focus();
                } else if ($("#precio_unitario").val() == "") {
                    swal({
                        text: "Ingrese Precio",
                        type: "warning"
                    });
                    $("#precio_unitario").focus();
                } else if ($("#cantidad").val() == "") {
                    swal({
                        text: "Ingrese cantidad",
                        type: "warning"
                    });
                    $("#cantidad").focus();
                } else {
                    return true;
                }
            }

            //Agregar a grilla
            $("#btnAgregarDetalle").click(function (e) {
                if (validarCabecera() == true) {
                    if (validarDetalle() == true) {
                        agregarDetalle()
                        cant_articulos = cant_articulos + 1;
                    }
                }
            });

            //Agregar a grilla
            function agregarDetalle() {
                var id_producto = $("#id_producto").val();
                var producto = $("#producto").val();
                var cantidad = $("#cantidad").val().split('.').join("");
                var precio_unitario = $("#precio_unitario").val().split('.').join("");
                var iva = $("#iva").val();
                var iva10 = 0;
                var iva5 = 0;
                var exentas = 0;
                var gravadas = 0;
                if (iva == 10) {
                    iva10 = precio_unitario * cantidad / 10;
                    gravadas = precio_unitario * cantidad - iva5;
                } else if (iva == 5) {
                    iva5 = precio_unitario * cantidad / 20;
                    gravadas = precio_unitario * cantidad - iva5;
                }
                else {
                    exentas = precio_unitario * cantidad;
                }
                var descuento = $("#descuento").val().split('.').join("");
                var subtotal = $("#subtotal").val().split('.').join("");
                var detailsTableBody = $("#detailsTable tbody");

                var productItem = '<tr><td>' + id_producto + '</td><td>' + producto + '</td><td>' + cantidad + '</td><td>' + precio_unitario + '</td><td>' + exentas + '</td><td>' + iva5 + '</td><td>' + iva10 + '</td><td>' + gravadas + '</td><td>' + descuento + '</td><td>' + subtotal + '</td><td><a data-itemId="0" href="#" class="deleteItem"><i class="fa fa-times" style="color:red; font-size:20px" aria-hidden="true"></i></a></td></tr>';
                detailsTableBody.append(productItem);
                total = parseInt(total) + parseInt(subtotal);
                $("#total").val(total);
                clearItem();
                controlDetalle = true;
            }

            //Borrar caja de elementos para cargar mas
            function clearItem() {
                $("#id_producto").val('');
                $("#producto").val('');
                $("#cantidad").val('');
                $("#precio_unitario").val('');
                $("#iva").val(0);
                $("#descuento").val('');
                $("#subtotal").val('');
            }

            //Setea la cabecera
            function clearHead() {
                $("#fecha").val('');
                $("#nro_factura").val('');
                $("#tipo_pago").val('');
                $("#id_proveedor").val('');
                $("#proveedor").val('');
                $("#total").val('');
            }

            // Eliminar una fila de la grilla
            $(document).on('click', 'a.deleteItem', function (e) {
                e.preventDefault();
                debugger
                var subtotal = $(this).parents("td").parents("tr").find("td:nth-child(10)").html();
				//hago calculos
				var total_actualizado = parseInt($("#total").val());
				total_actualizado = total_actualizado - parseInt(subtotal);
				//actualizo el total de la vista
				$("#total").val(total_actualizado);
				//actualiza la variable global que totaliza !important
                total = total_actualizado;
                cant_articulos = cant_articulos - 1;

                var $self = $(this);
                if ($(this).attr('data-itemId') == "0") {
                    $(this).parents('tr').css("background-color", "#ff6347").fadeOut(800, function () {
                        $(this).remove();
                    });
                }
            });

            //Calculo de subtotal
            function CalculoSubtotal() {
                var cantidad = $("#cantidad").val().split('.').join("");
                var precio_unitario = $("#precio_unitario").val().split('.').join("");
                var descuento = $("#descuento").val().split('.').join("");
                var total = (cantidad * precio_unitario) - descuento;
                if (Number.isInteger(total) === true) {
                    document.getElementById("subtotal").value = total;
                }
            }

            //Cambio de eventos en los campos de calculo de subtotal
            $('#cantidad').change(function () {
                CalculoSubtotal()
            });

            $('#precio_unitario').change(function () {
                CalculoSubtotal()
            });

            $('#descuento').change(function () {
                CalculoSubtotal()
            });

            //Enviar la lista al controlaor
            $("#guardar").click(function (e) {
                var rowCount = $('#detailsTable tr').length;
                if (validarCabecera() == true) {
                    if (rowCount > 1) {
                        e.preventDefault();
                        var detalleArray = [];
                        detalleArray.length = 0;

                        $.each($("#detailsTable tbody tr"), function () {
                            detalleArray.push({
                                id_producto: $(this).find('td:eq(0)').html(),
                                producto: $(this).find('td:eq(1)').html(),
                                cantidad: $(this).find('td:eq(2)').html(),
                                precio_unitario: $(this).find('td:eq(3)').html(),
                                exentas: $(this).find('td:eq(4)').html(),
                                iva5: $(this).find('td:eq(5)').html(),
                                iva10: $(this).find('td:eq(6)').html(),
                                gravadas: $(this).find('td:eq(7)').html(),
                                descuento: $(this).find('td:eq(8)').html(),
                                subtotal: $(this).find('td:eq(9)').html()
                            });
                        });

                        cabecera = {
                            fecha: $("#fecha").val(),
                            nro_factura: $("#nro_factura").val(),
                            id_proveedor: $("#id_proveedor").val(),
                            importe_total: $("#total").val(),
                            tipo_pago: $("#tipo_pago").val(),
                        }

                        var data = JSON.stringify({
                            datosDetalle: detalleArray,
                            datos: cabecera
                        });

                        //envío datos
                        $.ajax({
                            contentType: 'application/json',
                            type: 'POST',
                            url: "/Compras/Create",
                            data: data,
                            success: function (result) {
                                if (result == "0") {
                                    swal({ text: "Faltan datos", type: "warning" });
                                } else if (result == "1") {
                                    swal({ text: "Ha habido errores en la carga", type: "warning" });
                                }
                                else {
                                    swal({ tittle: "", text: "Factura agregada exitosamente", type: "success" })
                                    clearHead();
                                    window.location.href = "/Compras/Index";
                                }
                            },
                            error: function () {
                                alert("Error!")
                            }
                        });
                    }
                    else {
                        swal({ tittle: "", text: "Debe cargar el detalle del producto", type: "warning" })
                        $("#producto").focus();
                    }
                }
            });

        });//Fin del ready
    </script>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="card card-body col-md-10">
                <div class="form-horizontal">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <h4><i class="fa fa-calculator" style="color:mediumpurple"></i>&nbsp;<b>Agregar Compra</b></h4>
                    <hr />
                    <div class="row">
                        <div class="col-md-2">
                            <label>Fecha</label>
                            @Html.TextBox("fecha", DateTime.Today.ToShortDateString(), new { @class = "form-control padding:0px;", type = "date" })
                            @Html.ValidationMessageFor(model => model.fecha, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-2">
                            <label>Nro. Factura</label>
                            @Html.TextBox("nro_factura", null, new { @class = "form-control", type = "string" })
                            @Html.ValidationMessageFor(model => model.nro_factura, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-2">
                            <label>Tipo de Pago</label>
                            @Html.DropDownList("tipo_pago", new SelectList(new List<object>
                                            {
                                            new { value = "", text = "--Seleccionar--"},
                                            new { value ="CO", text = "CONTADO"},
                                            new { value ="CR", text = "CREDITO"},
                                            },
                                                "value",
                                                "text",
                                                (String)ViewBag.estado), new { @class = "form-control"})
                            @Html.ValidationMessageFor(model => model.tipo_pago, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-3">
                            <label>Proveedor</label>
                            @Html.TextBox("proveedor", null, new { @class = "form-control", disabled = "disabled" })
                            @Html.HiddenFor(model => model.id_proveedor, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.id_proveedor, "", new { @class = "text-danger" })
                        </div>
                        <button id="btnBuscaProv" type="button" class="btn btn-wd btn-primary btn-outline" style="margin-top:20px; margin-right:20px"><i class="fa fa-hand-o-up" aria-hidden="true"></i>&nbsp; Seleccionar</button>
                    </div>
                </div>
            </div>
            <div class="card card-body col-md-2">
                <a href="@Url.Action("Create", "Proveedores")" target="_blank" title="Crear" class="btn btn-success btn-outline"><i class="fa fa-caret-square-o-up" aria-hidden="true"></i>&nbsp;Crear Proveedor</a>
                <a href="@Url.Action("Create", "Productos")" target="_blank" title="Crear" style="margin-top:10px;" class="btn btn-warning btn-outline"><i class="fa fa-caret-square-o-up" aria-hidden="true"></i>&nbsp;Crear Producto</a>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="card card-body col-md-10">
                    <h6 style="font-size:12px">Detalles</h6>
                    <hr>
                    <div class="row">
                        <div class="col-md-3">
                            <label>Producto</label>
                            @Html.TextBox("producto", null, new { @class = "form-control" })
                            @Html.Hidden("id_producto", null, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        <div class="col-md-2">
                            <label>Precio</label>
                            @Html.TextBox("precio_unitario", null, new { @class = "form-control"})
                        </div>
                        <div class="col-md-1">
                            <label>Cantidad</label>
                            @Html.TextBox("cantidad", null, new { @class = "form-control", @pattern = "0123456789" })
                        </div>
                        <div class="col-md-1">
                            <label>Iva</label>
                            @Html.DropDownList("iva", new SelectList(new List<object>
                                                                    {
                                                                    new { value = 0, text = "0"},
                                                                    new { value = 5, text = "5%"},
                                                                    new { value = 10, text = "10%"},
                                                                    },
                                    "value",
                                    "text",
                                    (String)ViewBag.iva), new { @class = "form-control"})
                        </div>
                        <div class="col-md-2">
                            <label>Descuento</label>
                            @Html.TextBox("descuento", null, new { @class = "form-control", type = "int" })
                        </div>
                        <button type="button" style="margin-top:20px; color:white" class="btn btn-primary" id="btnAgregarDetalle"><i class="fa fa-plus"></i> </button>
                        <div class="col-md-2">
                            <label style="font-size:12px; color:black"><b>SUBTOTAL:</b></label>
                            @Html.TextBox("subtotal", null, new { @class = "form-control", @readonly = "readonly", style = "height: 30px; font-size:12px; color:black;" })
                        </div>
                    </div>
            </div>
            <div class="card card-body col-md-2" style="align-items:center;">
                    <label style="font-size:12px; color:black"><b>TOTAL:</b></label>
                    <hr />
                    @Html.TextBox("total", null, new { @class = "form-control", @readonly = "readonly", style = "height: 30px; font-size:12px; color:black;" })
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="card card-body table-responsive">
                <table class="table table-hover table-striped" id="detailsTable">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Producto</th>
                            <th>Cantidad</th>
                            <th>Precio</th>
                            <th>Exentas</th>
                            <th>IVA 5%</th>
                            <th>IVA 10%</th>
                            <th>Gravadas</th>
                            <th>Descuento</th>
                            <th>Sub-Total</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="detalleBody"></tbody>
                </table>
                <hr />
                <div style="align-self:flex-end;">
                    <button id="guardar" type="submit" title="Guardar" class="btn btn-wd btn-facebook">
                        <i class="fa fa-check-square-o"></i>
                        Guardar
                    </button>
                    <a href="@Url.Action("Index", "Compras")" title="" class="btn btn-wd btn-info btn-outline" style="" data-original-title="Atras">
                        Cancelar
                    </a>
                </div>
            </div>
        </div>
    </div>

    @*Aca termina modal*@
    <div id="listProv" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close; pull-right" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 @*class="modal-title"*@ style="text-align:center">Listado de Proveedores</h4>
                </div>
                <div class="modal-body">
                    @Html.Partial("~/Views/Modals/_modalProveedores.cshtml")
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger pull-right" data-dismiss="modal">Cancelar</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    @*//modal*@
    <div id="listProd" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close; pull-right" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" style="text-align:center">Listado de Productos</h4>
                </div>
                <div class="modal-body">
                    @Html.Partial("~/Views/Modals/_modalProductos.cshtml")
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger pull-right" data-dismiss="modal">Cancelar</button>
                </div>
            </div><!-- /.modal-content -->
        </div>
    </div>
</body>
<script src="~/Content/assets/js/core/jquery-ui.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
    /*Autocomplete de Producto*/
        $("#producto").autocomplete({
            source: function (request, response) {
                    $.ajax({
                        url: '@Url.Action("ProductDetails", "Compras")',
                        dataType: "json",
                        data: { search: request.term },
                        success: function (data) {
                            response($.map(data, function (item) {
                                var AC = new Object();

                                //autocomplete default values REQUIRED
                                AC.label = item.descripcion;
                                AC.value = item.descripcion;

                                //extend values
								AC.id_producto = item.id_producto;
								AC.descripcion = item.descripcion;
                              
                                return AC
                            }
                            ));
                        },
                        error: function (xhr, status, error) {
                            alert("Error");
                        }
                   });
                },
             minLength: 2,
			select: function (event, ui) {
                $("#id_producto").val(ui.item.id_producto);
                $("#producto").val(ui.item.descripcion);
                $("#precio_unitario").focus();
             }
        });/*Fin Datos de Producto*/
    });
    /*Seccion Validaciones, Numericas y de datos*/
    $("#precio_unitario").change(function () {
         var numero = parseInt($("#precio_unitario").val());
        if (Number.isInteger(numero) != true) {
            alert("El numero no es valido");
            $("#precio_unitario").val("");
            $("#precio_unitario").focus();
        }         
    });
    $("#cantidad").change(function () {
        var numero = parseInt($("#cantidad").val());
        if (Number.isInteger(numero) != true) {
            alert("El numero no es valido");
            $("#cantidad").val("");
            $("#cantidad").focus()
        }         
    });
    $("#descuento").change(function () {
        var numero = parseInt($("#descuento").val());
        if (Number.isInteger(numero) != true) {
            alert("El numero no es valido");
            $("#descuento").val("");
            $("#descuento").focus();
        }         
    });

</script>