﻿@using PagedList.Mvc;
@model PagedList.IPagedList<Jagua.Models.Compras>

@{
    ViewBag.Title = "Index";
}
<head>
	<script type="text/javascript">
		function Anular(item) {
			swal({
				title: "Estas Seguro?",
				text: "El registro se anulara!",
				type: "warning",
				showCancelButton: true,
				confirmButtonClass: "btn btn-info btn-fill",
				confirmButtonText: "Si, anular!",
				cancelButtonClass: "btn btn-danger btn-fill",
				cancelButtonText: "Cancelar",
				closeOnConfirm: false,
			}, function (isConfirm) {
				if (isConfirm) {
					$("#frmList").attr("action", "/Compras/Anular/" + item);
					$("#frmList").submit();
                    swal({ text: "El registro se anulo", type: "success" });
					window.location.reload();
				} else {
                    swal({ text: "Cancelado", type: "info" });
				}
			});
		}

        $(document).ready(function () {
			$("[name=btnBuscar]").click(function () {
				$("#frmList").attr("action", "/Compras/Index/");
				$("#frmList").submit();

			});
		});
	</script>
</head>
<body>
	<div class="container-fluid">
		<div class="card strpied-tabled-with-hover">
            <div class="card-header ">
                @using (Html.BeginForm("Index", "Compras", FormMethod.Post, new { id = "frmList" }))
                {
                    <div class="pull-right">
                        <a href="@Url.Action("Create", "Compras")" title="" rel="tooltip" class="btn btn-wd btn-info btn-outline" data-original-title="Agregar Registro">
                            <i class="fa fa-plus" aria-hidden="true"></i>Cargar Compra
                        </a>
                    </div>
                    <h4><i class="fa fa-pie-chart" style="color:mediumpurple"></i> &nbsp;<b>Compras</b></h4>
                    <hr />
                    <div class="row">
                        <div class="col-sm-3">
                            <label>Factura</label>
                            @Html.TextBox("txtFactura", (String)ViewBag.txtFactura, new { @class = "form-control" })
                        </div>
                        <div class="col-sm-3">
                            <label>Proveedor</label>
                            @Html.TextBox("txtProveedor", (String)ViewBag.txtProducto, new { @class = "form-control" })
                        </div>
                        <div class="col-md-3">
                            <label>Estado</label>
                            @Html.DropDownList("ddlEstado", new SelectList(new List<object>
                                       {
                                       new { value = "", text = "Todos"},
                                       new { value = "C", text = "Cerrado"},
                                       new { value = "A", text = "Anulado"},
                                       },
                                "value",
                                "text"), new { @class = "form-control"})
                        </div>
                        <button type="submit" name="btnBuscar" title="Buscar registros" class="btn btn-simple btn-success btn-outline" style="margin-top: 25px;">
                            <i class="nc-icon nc-zoom-split icon-bold" style="font-size: 20px" aria-hidden="true"></i>
                        </button>
                        <a href="@Url.Action("Reporte", "Compras")" target="_blank" title="" rel="tooltip" class="btn btn-warning btn-outline" style="margin-top: 25px;margin-left:15px; align-content:center" data-original-title="Listado de Compras">
                            <i class="nc-icon nc-paper-2 icon-bold" style="font-size: 20px" aria-hidden="true"></i>&nbsp;Reporte
                        </a>
                    </div>
                }
            </div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="card strpied-tabled-with-hover">
			<div class="card-body table-full-width table-responsive">
				<table class="table table-hover table-striped">
					<thead>
                        <tr>
                            <th>Id</th>
                            <th>Fecha</th>
                            <th> Factura</th>
                            <th>Proveedor</th>
                            <th>Tipo Pago</th>
                            <th>Importe Total</th>
                            <th>Estado</th>
                            <th>Usuario alta</th>
                            <th>Fecha alta</th>
                            <th></th>
                        </tr>
					</thead>
					<tbody>
						@if (Model.Count() == 0)
						{
							<tr>
								<td>No existen registros</td>
							</tr>
						}
						else
						{
							foreach (var item in Model)
							{
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.id_compras)</td>
                                <td>@item.fecha.ToString("dd/MM/yyyy")</td>
                                <td>@Html.DisplayFor(modelItem => item.nro_factura)</td>
                                <td>@Html.DisplayFor(modelItem => item.razon_social)</td>
                                <td>@Html.DisplayFor(modelItem => item.tipo_pago)</td>
                                <td>@Html.DisplayFor(modelItem => item.importe_total)</td>
                                <td>@Html.DisplayFor(modelItem => item.estado)</td>
                                <td>@Html.DisplayFor(modelItem => item.usuario_alta)</td>
                                <td>@item.fecha_alta.Value.ToString("dd/MM/yyyy")</td>
                                <td>
                                    <div class="row" style="align-content:center">
                                        @*<a href="@Url.Action("Edit", "Compras", new {id = item.id_compras})" style="color:deepskyblue"><i class="fa fa-edit" aria-hidden="true"></i></a>*@
                                        <h5 @(item.estado != "A" ? "display" : "hidden") style="color:red; font-weight:bolder; margin-bottom:0px;" onmouseover="this.style.cursor='pointer';" aria-hidden="true" rel="tooltip" data-original-title="Anular" onclick="Anular(@item.id_compras)">A</h5>
                                    </div>
                                </td>
                            </tr>
							}
						}
					</tbody>
				</table>
				<hr />
				<div class="pull-right">
					@Html.PagedListPager(Model, page => Url.Action("Index", new { page, currentFilter = ViewBag.CurrentFilter }))
				</div>
			</div>
		</div>
	</div>
</body>
